<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui large steps">
      <div class="step">
        <i class="upload icon"></i>
        <div class="content">
          <div class="title">นำเข้างบทดลอง&nbsp;&nbsp;&nbsp;</div>
        </div>
      </div>
      <div class="active step">
        <i class="list layout icon"></i>
        <div class="content">
          <div class="title">เลือกงบสรุปยอดเงินค่าภาษี</div>
        </div>
      </div>
      <div class="step">
        <i class="table icon"></i>
        <div class="content">
          <div class="title">แสดงผลการตรวจสอบ</div>
        </div>
      </div>
    </div>

    <h2 class="ui header">เลือกงบสรุปยอดเงินค่าภาษี</h2>

    <div class="ui top attached header">
      <span>ระบุเงื่อนไข</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">สำนักงานสรรพสามิตภาค</label>
            <select name="selectZone" id="selectZone" class="ui dropdown">
              <option *ngFor="let item of selectZone; index as i;" value="{{i+1}}">{{item.value}}</option>
            </select>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">สำนักงานสรรพสามิตพื้นที่</label>
            <select name="selectArea" id="selectArea" class="ui dropdown">
              <option *ngFor="let item of selectArea; index as i;" value="{{i+1}}">{{item.value}}</option>
            </select>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <label class="custom-label-w-25">สำนักงานสรรพสามิตพื้นที่สาขา</label>
          </div>
          <div class="five wide field">
            <ul style="margin-left: -6%;">
                <li>159000.50</li>
                <li>400764.00</li>
                <li>100000.00</li>
              </ul>
          </div>
        </div>

        <div class="inline fields">
          <div class="nine wide field">
            <label class="custom-label-w-20" style="margin-right: 5%;">วันที่จัดเก็บรายได้ ตั้งแต่</label>
            <div class="seven wide field">
              <div class="ui icon input">
                <input type="text" class="custom-readonly" placeholder="DD/MM/YYYY" value="03/11/2560" readonly="">
                <i class="add to calendar icon"></i>
              </div>
            </div>
            <div class="eight wide field">
              <label>ถึง</label>
              <div class="ui icon input">
                <input type="text" class="custom-readonly" placeholder="DD/MM/YYYY" value="03/11/2560" readonly="">
                <i class="add to calendar icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="ui center aligned grid">
        <div class="six wide column">
          <button class="ui mini primary button" routerLink="/int03-1-2">
            <i class="checkmark box icon"></i>
            ตรวจสอบ
          </button>
          <button class="ui mini button" routerLink="/int03-1">
            <i class="arrow left icon"></i>
            ย้อนกลับ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>