<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">กระดาษทำการรับสินค้าสำเร็จรูป</h2>

        <div class="ui top attached header segment" style="background: #1e83db;color: white">
            <span>ระบุรายละเอียดกระดาษทำการ</span>
        </div>
        <div class="ui attached segment {{loading ? 'loading' : ''}}">
            <form class="ui form" id="form" [formGroup]="formControl" (submit)="search()">
                <!-- row 1 -->
                <div class="inline fields  ui grid">
                    <div class="three wide field required">
                        <label class="text-right full-width">ทะเบียนสรรพสามิต</label>
                    </div>
                    <div class="four wide field" [ngClass]="{ 'error': submitted && f.exciseId.invalid }">
                        <select name="exciseId" id="exciseId" formControlName="exciseId" class="ui dropdown ai search full-width office"
                            (change)="changeExciseId($event)">
                            <option value="">กรุณาเลือก</option>
                            <option *ngFor="let item of exciseIdList" value="{{item.value}}">{{item.label}}</option>

                        </select>
                    </div>
                    <div class="three wide field ">
                        <label class="text-right full-width">เลขประจำตัวผู้เสียภาษี</label>
                    </div>
                    <div class="four wide field ">
                        <input type="text" class="custom-readonly" formControlName="userNumber" disabled name="userNumber">
                    </div>
                </div>

                <!-- row 2 -->
                <div class="inline fields  ui grid">
                    <div class="three wide field ">
                        <label class="text-right full-width">ผู้ประกอบการ</label>
                    </div>
                    <div class="four wide field ">
                        <input type="text" class="custom-readonly" disabled formControlName="entrepreneur" name="entrepreneur">
                    </div>
                    <div class="three wide field ">
                        <label class="text-right full-width">เลขที่วิเคราะห์</label>
                    </div>
                    <div class="four wide field ">
                        <input type="text" class="custom-readonly" disabled formControlName="anlysisNumber" name="anlysisNumber">
                    </div>
                </div>

                <!-- row 3 -->
                <div class="inline fields  ui grid">
                    <div class="three wide field ">
                        <label class="text-right full-width">ประเภท</label>
                    </div>
                    <div class="four wide field ">
                        <input type="text" class="custom-readonly" disabled formControlName="type" name="type">
                    </div>
                    <div class="three wide field ">
                        <label class="text-right full-width">พิกัด</label>
                    </div>
                    <div class="four wide field ">
                        <input type="text" class="custom-readonly" disabled formControlName="coordinates" name="coordinates">
                    </div>
                </div>

                <!-- row 4 -->
                <div class="inline fields  ui grid">
                    <div class="three wide field required">
                        <label class="text-right full-width">รอบระยะเวลาการตรวจสอบ</label>
                    </div>
                    <div class="four wide field" [ngClass]="{ 'error': submitted && f.dateFrom.invalid }">
                        <div class="ui calendar full-width" id="dateF">
                            <div class="ui input left icon">
                                <i class="clock icon"></i>
                                <input name="dateFrom" type="text" id="dateFrom" formControlName="dateFrom"
                                    autocomplete="off" [attr.readonly]="null" placeholder="ดด/ปปปป" [attr.required]="true">
                            </div>
                        </div>
                    </div>
                    <div class="three wide field required">
                        <label class="text-right full-width">ถึง</label>
                    </div>
                    <div class="four wide field" [ngClass]="{ 'error': submitted && f.dateTo.invalid }">
                        <div class="ui calendar full-width" id="dateT">
                            <div class="ui input left icon">
                                <i class="clock icon"></i>
                                <input name="dateTo" type="text" id="dateTo" formControlName="dateTo" autocomplete="off"
                                    [attr.readonly]="null" placeholder="ดด/ปปปป" [attr.required]="true">
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="ui stackable center aligned page grid">
                    <button class="ui mini primary button" type="submit"><i class="file outline icon"></i>
                        แสดงกระดาษทำการ</button>
                    <button class="ui mini gray button" type="button" (click)="claer()"><i class="sync icon"></i>
                        ล้างข้อมูล</button>
                </div><br>
            </form>
        </div>


        <div class="ui segment" id="showData">
            <div class="ui grid center aligned">
                <div class="sixteen wide column">
                    {{entrepreneur}}
                    <br> กระดาษทำการรับวัตถุดิบ
                    <br> เดือน {{dateFrom}} - {{endDate}}
                </div>
            </div>
            <br>
            <table id="dataTable" class="ui small celled table striped selectable nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับที่</th>
                        <th class="text-center">รายการ</th>
                        <th class="text-center">ปริมาณรับจากการผลิต ตามงบเดือน</th>
                        <th class="text-center">ปริมาณรับจากการผลิต แบบ ภส.07-02</th>                        
                        <th class="text-center">ใบรับสินค้าสำเร็จรูป</th>
                        <th class="text-center">ผลต่างคู่ข้อมูล</th>
                    </tr>
                </thead>

            </table>
            <br>
            <div class="ui center aligned grid">
                <div class="six wide column">
                    <button class="ui mini primary button" (click)="save()" [disabled]="buttonDisabled">
                        <i class="print icon"></i>
                        บันทึกข้อมูล
                    </button>
                </div>
            </div>

        </div>

        <div class="ui top attached header segment" style="background: #1e83db;color: white">
            <span>อัพโหลด Template ข้อมูลสำหรับการรับวัตถุดิบ</span>
        </div>

        <div class="ui attached segment {{loading ? 'loading' : ''}}">
            <form class="ui form" id="upload-form">
                <!-- row 1 -->
                <div class="inline fields  ui grid">
                    <div class="three wide field ">
                        <label class="text-right full-width">ไฟล์อัปโหลด</label>
                    </div>
                    <div class="four wide field {{loading ? 'loading' : ''}}">
                        <input class="inputfile" type="file" name="fileName" id="fileName" (change)="onChangeUpload($event)"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" title="อัปโหลด Template ข้อมูลการตรวจสอบรายการวัตถุดิบที่ขอลดหย่อนภาษีที่ยื่นต่อกรมสรรพสามิต (ภส.05 - 02)">
                    </div>
                    <div class="three wide field ">
                        <button class="ui mini primary button" (click)="upload()" [disabled]="uploadDisabled"><i class="upload icon"></i>อัปโหลด</button>
                    </div>
                    <div class="four wide field ">

                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="ui grid center aligned">
            <div class="sixteen wide column">
                <button class="ui mini button" routerLink="/select-form/สินค้า/สินค้าน้ำมันและผลิตภัณฑ์น้ำมัน">
                    <i class="reply icon"></i>
                    ย้อนกลับ
                </button>
            </div>
        </div>
    </div>
</div>