<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">สร้างกระดาษทำการจ่ายวัตถุดิบ</h2>

    <div class="ui top attached header">
      <span>Criteria</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">ทะเบียนสรรพสามิต</label>
            <input type="text" class="custom-readonly" placeholder="ทะเบียนสรรพสามิต" readonly="" value="2560-00178-5">
          </div>
          <div class="eight wide field ">
            <label class="custom-label-w-20">เลขประจำตัวผู้เสียภาษี</label>
            <input type="text" class="custom-readonly" placeholder="เลขประจำตัวผู้เสียภาษี" readonly="" value="1-5599-00168-99-6">
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">ผู้ประกอบการ </label>
            <input type="text" class="custom-readonly" placeholder="ผู้ประกอบการ" readonly="" value="บ. ฮอนด้า มอเตอร์ ประเทศไทย">
          </div>
          <div class="eight wide field ">
            <label class="custom-label-w-20">เลขที่วิเคราะห์</label>
            <input type="text" class="custom-readonly" placeholder="เลขที่วิเคราะห์" readonly="" value="256000000001">
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field required">
            <label class="custom-label-w-25">รอบระยะเวลาการตรวจสอบ</label>
            <div class="eight wide field">
              <div class="ui icon input">
                <input type="text" class="custom-readonly" placeholder="MM/YYYY" value="11/2560" readonly="">
                <i class="add to calendar icon"></i>
              </div>
            </div>
            <div class="eight wide field">
              <label>-</label>
              <div class="ui icon input">
                <input type="text" class="custom-readonly" placeholder="MM/YYYY" value="11/2560" readonly="">
                <i class="add to calendar icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui top attached header">
      <span>อัพโหลด Template ข้อมูลปริมาณการจำหน่ายสินค้าสำเร็จรูปในประเทศ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">เลือกไฟล์ Template ข้อมูล</label>
            <input type="file" />
          </div>
        </div>
      </div>

      <div class="ui center aligned grid">
        <div class="four wide column">
          <button class="ui mini primary button" (click)="uploadData()">
            <i class="upload icon"></i>
            อัพโหลด
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="trash outline icon"></i>
            ลบไฟล์
          </button>
        </div>
      </div>
    </div>

    <div class="ui segment" *ngIf="showData">
      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          บ. ฮอนด้า มอเตอร์ ประเทศไทย
          <br> กระดาษทำการรับวัตถุดิบ
          <br> เดือน พ.ย. 2559 - ส.ค. 2559
        </div>
      </div>

      <table class="ui small celled table">
        <thead>
          <tr style="text-align: center;">
            <th>ลำดับ</th>
            <th>รายการ</th>
            <th>งบเดือน (ภส.07 - 04)</th>
            <th>Monthly Report CKD Import CBU car</th>
            <th>ผลต่าง</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>C RS CVT ZB7</td>
            <td>60</td>
            <td>90</td>
            <td>
              <span class="ui red horizontal label right aligned" style="float: right;">30</span>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>C 1.8S CVT ZA5</td>
            <td>210</td>
            <td>210</td>
            <td>
              <span class="ui green horizontal label right aligned" style="float: right;">0</span>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>C 1.8E CVT ZB7</td>
            <td>1170</td>
            <td>1170</td>
            <td>
              <span class="ui green horizontal label right aligned" style="float: right;">0</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="ui center aligned grid">
        <div class="six wide column">
          <button class="ui mini primary button" routerLink="/create-new-form">
            <i class="print icon"></i>
            พิมพ์กระดาษทำการ
          </button>
          <button class="ui mini button" routerLink="/select-form">
            <i class="remove icon"></i>
            ล้างข้อมูล
          </button>
        </div>
      </div>
    </div>

    <br>
    <div class="ui grid center aligned">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/select-form">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
      </div>
    </div>
  </div>
</div>