<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดใบเบิกค่าใช้จ่ายในการเดินทางไปราชการ (แบบ 8708)</span>
</div>
<div class="ui form">
  <div class="ui attached  segment">

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>สัญญาเงินยืมเลขที่ </label>
      </div>
      <div class="four wide field">
        <input type="text">
      </div>

      <div class="two wide field">
        <label>วันที่</label>
      </div>
      <div class="four wide field">
        <input type="text">
      </div>
      <div class="three wide field"></div>
      <div class="four wide field">
        <label>ส่วนที่ ๑</label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ชื่อผู้ยืม </label>
      </div>
      <div class="four wide field">
        <input type="text">
      </div>

      <div class="two wide field">
        <label>จำนวนเงิน </label>
      </div>
      <div class="four wide field">
        <input type="text">
      </div>
      <div class="three wide field"></div>
      <div class="four wide field">
        <label>แบบ ๘๗๐๘</label>
      </div>
    </div>
  </div>
  <div class="ui attached   segment">
    <div class="inline fields" style="text-align: center !important;">
      <h2>ใบเบิกค่าใช้จ่ายในการเดินทางไปราชการ </h2>
    </div>
  </div>
  <div class="ui attached   segment">
    <div class="inline fields ">
      <div class="ten    wide field"></div>
      <div class="five wide field">
        <label>ที่ทำการ กลุ่มตรวจสอบภายใน กรมสรรพสามิต </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="ten   wide field"></div>
      <div class="one wide field">
        <label>วันที่</label>
      </div>
      <div class="three wide field">
        <input type="text">
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>เรื่อง </label>
      </div>
      <div class="six wide field">
        <input type="text" value="ขออนุมัติเบิกค่าใช้จ่ายในการเดินทางไปราชการ">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>เรียน </label>
      </div>
      <div class="five wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ตามคำสั่ง/บันทึก ที่ </label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>ลงวันที</label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ได้อนุมัติให้ ข้าพเจ้า </label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>ตำแหน่ง</label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
    </div>


    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>พร้อม </label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="three wide field"></div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>รายระเอียดการเดินทาง </label>
      </div>
      <div class="four wide field">
        <textarea rows="2"></textarea>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ราชการครั้งนี้ </label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
      <div class="two wide field">
        <label>วัน</label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>ชั่งโมง</label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>โดยออกเดินทางจาก </label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>

    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>วัน เวลา ออกเดินทาง </label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>
      <div class="two wide field">
        <label>วัน เวลา กลับถึง</label>
      </div>
      <div class="four wide field">
        <input type="text" value="">
      </div>

    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="one wide field">
        <label>ค่าเบี้ยเลี้ยง </label>
      </div>
      <div class="two wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>จำนวน</label>
      </div>
      <div class="two wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>วัน</label>
      </div>
      <div class="one wide field">
        <label>รวม</label>
      </div>
      <div class="two wide field">
        <input type="text">
      </div>
      <div class="one wide field">
        <label>บาท</label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="one wide field">
        <label>ค่าที่พัก </label>
      </div>
      <div class="two wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>จำนวน</label>
      </div>
      <div class="two wide field">
        <input type="text" value="">
      </div>
      <div class="one wide field">
        <label>วัน</label>
      </div>
      <div class="one wide field">
        <label>รวม</label>
      </div>
      <div class="two wide field">
        <input type="text">
      </div>
      <div class="one wide field">
        <label>บาท</label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="one wide field">
        <label>ค่าพาหนะ </label>
      </div>
      <div class="two wide field">
        <input type="text" value="">
      </div>
      <div class="four wide field">
      </div>
      <div class="one wide field">
        <label>รวม</label>
      </div>
      <div class="two wide field">
        <input type="text">
      </div>
      <div class="one wide field">
        <label>บาท</label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="one wide field">
        <label>ค่าใช้จ่ายอื่น </label>
      </div>
      <div class="two wide field">
        <input type="text" value="">
      </div>
      <div class="four wide field">
      </div>
      <div class="one wide field">
        <label>รวม</label>
      </div>
      <div class="two wide field">
        <input type="text">
      </div>
      <div class="one wide field">
        <label>บาท</label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="five wide field"></div>
      <button class="ui mini primary button">
        คำนวนค่าใช้จ่ายรวม
      </button>
      <div class="two wide field"></div>
      <div class="one wide field">
        <label>รวมเงินทั้งสิ้น</label>
      </div>
      <div class="two wide field">
        <input type="text">
      </div>
      <div class="one wide field">
        <label>บาท</label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>จำนวนเงิน(ตัวอักษร) </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="seven wide field">
        <label>ข้าพเจ้าขอรับรองว่ารายการที่กล่าวมาข้างต้นเป็นความจริง และหลักฐานการจ่ายที่ส่งมาด้วย จำนวน </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
      <div class="six wide field">
        <label> ชุด รวมทั้งจำนวนเงินที่ขอเบิกถูกต้องตามกฎหมายทุกประการ </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="two wide field"></div>
      <div class="five wide field">
        <label>ลงชื่อ....................................................ผู้ขอรับเงิน </label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ผู้ขอรับเงิน </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>นักวิชาการตรวจสอบภายในชำนาญการพิเศษ </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="ten wide field">
        <label>ได้ตรวจสอบหลักฐานการเบิกจ่ายเงินที่แนบถูกต้องแล้วเห็นควรอนมุัติให้เบิก จ่ายได้ </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>ลงชื่อ…………………………………………………………………........ </label>
      </div>
      <div class="three wide field"></div>
      <div class="four wide field">
        <label>ลงชื่อ………………………………………………………………….................. </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="eight wide field"></div>
      <div class="four wide field">
        <input type="text">
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>(…………………………………………………………………...........) </label>
      </div>
      <div class="three wide field"></div>
      <div class="four wide field">
        <label>(………………………………………………………………….................... ...) </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>ตำแหน่ง………………………………………………………………….. </label>
      </div>
      <div class="three wide field"></div>
      <div class="four wide field">
        <label>ตำแหน่ง…………………………………………………………………............</label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>วันที่…………………………………………………………………........ </label>
      </div>
      <div class="three wide field"></div>
      <div class="four wide field">
        <label>วันที่………………………………………………………………….................. </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="four wide field">
        <label>ได้รับเงินค่าใช้จ่ายในการเดินทางไปราชการ </label>
      </div>
      <div class="two wide field">
        <input type="text" readonly>
      </div>
      <div class="one wide field"> </div>
      <div class="three wide field">
        <input type="text" readonly>
      </div>
      <div class="two wide field">
        <label> ไว้เป็นการถูกต้องแล้ว </label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="two wide field"></div>
      <div class="five wide field">
        <label>ลงชื่อ…………………………………………………………………........ผู้ขอรับเงิน </label>
      </div>
      <div class="two wide field"></div>
      <div class="five wide field">
        <label>ลงชื่อ…………………………………………………………………..................ผู้จ่ายเงิน </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ผู้ขอรับเงิน </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
      <div class="three wide field"></div>
      <div class="five wide field">
        <label>(…………………………………………………………………..................)</label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>ตำแหน่ง </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
      <div class="three wide field"></div>
      <div class="five wide field">
        <label>ตำแหน่ง…………………………………………………………………..................</label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>วันที่ </label>
      </div>
      <div class="three wide field">
        <input type="text" value="">
      </div>
      <div class="three wide field"></div>
      <div class="five wide field">
        <label>วันที่…………………………………………………………………..................</label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="two wide field">
        <label>รายระเอียดการเดินทาง </label>
      </div>
      <div class="three wide field">
        <textarea rows="2"></textarea>
      </div>

    </div>
    <div class="inline fields ">
      <div class="three wide field"></div>
      <div class="seven wide field">
        <label>ขอรับรองว่าหลักฐานการจ่าย รวมทั้งจ านวนที่ขอเบิกถูกต้องตามกฎหมายทุกประการ </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="five wide field"></div>
      <div class="seven wide field">
        <label>ลงชื่อ......................................................ผู้บังคับบัญชา </label>
      </div>
    </div>
    <div class="inline fields ">
      <div class="five wide field"></div>
      <div class="seven wide field">
        <label> (..................................................................) </label>
      </div>
    </div>

    <div class="inline fields ">
      <div class="one wide field"></div>
      <div class="oi two wide field">
        <label>คำชี้แจง </label>
      </div>
      <div class="eight wide field">
      <label>1. กรณีเดินทางเป็นหมู่คณะและจัดทำใบเบิกค่าใช้จ่ายรวมฉบับเดยีวกัน หากระยะเวลาในการเริ่มตน้และ สิ้นสุดการเดินทาง	<br>
        ของแต่ละบุคคลแตกตา่งกัน ให้แสดงรายละเอียดของวันเวลาที่แตกต่างกันของบุคคลนั้นในช่องหมายเหตุ					<br>
        2. กรณียื่นขอเบิกค่าใช้จ่ายรายบุคคล ให้ผู้ขอรับเงินเป็นผลู้ งลายมือชื่อผู้รับเงินและวันเดือนปีที่รบั เงิน กรณีที่มีการยมื เงิน					<br>
        ให้ระบุวันที่ที่ไดร้ับเงินยืม เลขที่สญัญายมืและวันที่อนุมัติเงินยืมด้วย 					<br>
        3. กรณีที่ยื่นขอเบิกค่าใช้จ่ายรวมเป็นหมู่คณะ ผู้ขอรับเงินมิต้องลงลายมือชื่อในช่องผู้รับเงิน ทั้งนี้   ให้ผู้มีสิทธิแต่ละคน					<br>
        ลงลายมือชื่อผู้รับเงินในหลักฐานการจ่ายเงิน (ส่วนที่ 2)									</label>
      </div>

    </div>
    <br>
    <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui  primary button" type="button">
            <i class="save icon"></i>บันทึก</button>
          <button class="ui yellow button" type="button">
            <i class="print icon"></i>ส่งออก</button>
            <button class="ui button" type="button" routerLink='/int06/11'>
              <i class="close icon"></i>ยกเลิก</button>
        </div>
      </div>







  </div>

</div>