<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">รายงานการตรวจปฏิบัติการ</h2>
        <div class="ui segment">
            <div class="ui grid">
                <div class="seven wide column">

                    <div class="ui list">
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">ประเภทรายงานการตรวจปฏิบัติการ</div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">สินค้า</div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" (click)="clickMenuMat()">รายงานการตรวจปฏิบัติการรับ-จ่ายวัตถุดิบ</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/2">รายงานการตรวจปฏิบัติการหาความสัมพันธ์
                                                                <br>การเบิกใช้วัตถุดิบกับการรับสินค้าสำเร็จรูป</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" (click)="clickMenuIns()">รายงานการตรวจปฏิบัติการรับ-จ่ายสินค้าสำเร็จรูป</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" (click)="clickMenuTax()">รายงานการตรวจปฏิบัติการตรวจสอบการลดหย่อนภาษี</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/14">รายงานการตรวจปฏิบัติการตรวจสอบด้านราคา</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/5">รายงานการตรวจปฏิบัติการจ่ายสินค้าสำเร็จรูปต่างประเทศ</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/6">รายงานการตรวจปฏิบัติการคำนวณภาษีที่ต้องชำระเพิ่ม</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">บริการ</div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/7">รายงานการตรวจปฏิบัติการตรวจสอบด้านปริมาณ</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/8">รายงานการตรวจปฏิบัติการตรวจสอบด้านราคา</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/9">รายงานการตรวจปฏิบัติการตรวจสอบด้านมูลค่า</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/10">รายงานการตรวจปฏิบัติการตรวจสอบสถานะสมาชิก</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/11">รายงานการตรวจปฏิบัติการตรวจนับสินค้าคงเหลือ</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/12">รายงานการตรวจปฏิบัติการตรวจสอบมูลค่าขอยกเว้นภาษี</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">
                                                            <a href="javascript:;" routerLink="/cop06/13">รายงานการตรวจปฏิบัติการคำนวณภาษีที่ต้องชำระเพิ่ม</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="nine wide column">

                    <table class="ui small celled table striped selectable" *ngIf="showSubMenuMat">
                        <thead>
                            <tr>
                                <th>ลำดับที่</th>
                                <th>กระดาษทำการจำหน่ายสินค้าสำเร็จรูป</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/cop06/1">รายงานการตรวจปฏิบัติการรับวัตถุดิบ </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/cop06/1/1">
                                        รายงานการตรวจปฏิบัติการการจ่ายวัตถุดิบ </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/cop06/1/2">รายงานการตรวจปฏิบัติการตรวจนับวัตถุดิบคงเหลือ
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="ui small celled table striped selectable" *ngIf="showSubMenuIns">
                        <thead>
                            <tr>
                                <th>ลำดับที่</th>
                                <th>กระดาษทำการรับ-จ่ายสินค้าสำเร็จรูป</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/cop06/3">
                                        รายงานการตรวจปฏิบัติการรับสินค้าสำเร็จรูป </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/cop06/3/1">
                                        รายงานการตรวจปฏิบัติการจ่ายสินค้าสำเร็จรูป </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="ui small celled table striped selectable" *ngIf="showSubMenuTax">
                        <thead>
                            <tr>
                                <th>ลำดับที่</th>
                                <th>กระดาษทำการตรวจสอบการลดหย่อนภาษี</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/cop06/4">รายงานการตรวจปฏิบัติการตรวจสอบรายการวัตถุดิบที่ขอลดหย่อนภาษีที่ยื่นต่อกรมสรรพสามิต
                                        (ภส.05 - 02) </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>
</div>>