
<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ข้อมูลวิเคราะห์รายได้ ตามแผนการตรวจสอบภาษี
    </h2>

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>ข้อมูลวิเคราะห์รายได้ ตามแผนการตรวจสอบภาษี
      </span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="three  wide field "></div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>- การวิเคราะห์ข้อมูลรายได้ ตามแผนการตรวจสอบภาษี ประจำปีงบประมาณ 2555
              </label>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three  wide field "></div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>- การวิเคราะห์ข้อมูลรายได้ ตามแผนการตรวจสอบภาษี ประจำปีงบประมาณ 2556
              </label>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three  wide field "></div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>- การวิเคราะห์ข้อมูลรายได้ ตามแผนการตรวจสอบภาษี ประจำปีงบประมาณ 2557
              </label>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three  wide field "></div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>- การวิเคราะห์ข้อมูลรายได้ ตามแผนการตรวจสอบภาษี ประจำปีงบประมาณ 2558
              </label>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three  wide field "></div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>- การวิเคราะห์ข้อมูลรายได้ ตามแผนการตรวจสอบภาษี ประจำปีงบประมาณ 2559
              </label>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three  wide field "></div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>- การวิเคราะห์ข้อมูลรายได้ ตามแผนการตรวจสอบภาษี ประจำปีงบประมาณ 2560
              </label>
            </div>
          </div>
        </div>
        <div class="inline fields">
            <div class="four  wide field "></div>
            <button class="ui mini primary button" routerLink="/cop02/tax-ws-review">ดาวน์โหลดข้อมูล </button>             
            <div class="three wide field "></div>
            <button class="ui mini button">ยกเลิก</button>
        </div>
      </div>
    </div>