<!-- start step -->
<div class="ui ordered steps" style="width: 100%;">
    <div class="completed  step">
      <div class="content">
        <div class="title"></div>
        <div class="description">รายละเอียดหัวกระดาษทำการ</div>
      </div>
    </div>
    <div class="completed  step">
      <div class="content">
        <div class="title"></div>
        <div class="description">หลักฐานการจ่ายเงิน (แบบ 8708 ส่วนที่ 2)</div>
      </div>
    </div>
    <div class="active  step">
      <div class="content">
        <div class="title"></div>
        <div class="description">ใบเบิกค่าใช้จ่ายฯ (แบบ 8708 ส่วนที่ 1)</div>
      </div>
    </div>
    <div class="disabled  step">
        <div class="content">
          <div class="title"></div>
          <div class="description">แนบหลักฐาน</div>
        </div>
      </div>
  </div>
<!-- end step -->

<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
    <span>รายงานประมาณการค่าใช้จ่ายในการเดินทาง</span>
  </div>
  <div class="ui form center aligned" id="int09-1"  ngNativeValidate>
    <div class="ui attached  segment">
     
      <div class="ui form center aligned grid">
          <button class="ui  primary button" routerLink="/int09/2-2-5"  type="button" ><i class="file outline icon"></i> ต่อไป</button>
      </div>  
      <br>      
    </div>
  </div>