<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Baiwa Backend - Session Registry</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>List of Active Session List</h2>
	
	<form action="#" th:action="@{/backend/session-registry.htm}" method="post">
	
	<table border="1">
	<thead>
	<tr>
		<th>#</th>
		<th>Username</th>
		<th>Session ID</th>
		<th>Last Request</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="sessionInfo, rowStat : ${sessionInfoList}">
		<td th:text="${rowStat.count}">1</td>
		<td th:text="${sessionInfo.principal.username}">mock</td>
		<td th:text="${sessionInfo.sessionId}">temp</td>
		<td th:text="${#dates.format(sessionInfo.lastRequest, 'yyyy-MM-dd'' ''HH:mm:ss')}">date</td>
		<td>
			<button type="submit" name="logoutRow" th:value="${sessionInfo.sessionId}">Logout</button>
		</td>
	</tr>
	</tbody>
	</table>
	
	</form>
	
</body>
</html>