<div class="ui grid" style="margin: 1%">
    <div class="sixteen wide column segments">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>                    แบบประเมินระบบการควบคุมภายใน</span>
        </div>
        <div class="ui attached segment">
            <div class="ui centered grid row">
                <div class="ui centered fourteen wide column">
                    <div class="ui centered row grid">
                        <div class="ui centered fifteen wide column" style="padding: 14px 14px 0 14px !important;">
                            <div class="ui form">
                                <div class="inline aligned center fields">
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">สรรพสามิตภาค: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <select class="ui search dropdown ai" aria-placeholder="สรรพสามิตภาค" id="sector"  name="sector"
                                                [(ngModel)]="sectorSelectted">
                                                <option value="">เลือก</option>
                                                <option *ngFor="let item of sectorList" value="{{item.lovId}}">{{item.subTypeDescription}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">สรรพสามิตพื้นที่: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <select class="ui search dropdown ai" aria-placeholder="สรรพสามิตภาค" id="area" name="area" [(ngModel)]="areaSelectted">
                                                <option value="0"></option>
                                                <!-- <option *ngFor="let dat of area; let i=index" value="{{dat.lovId}}">{{dat.subTypeDescription}}</option> -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="inline aligned center fields">
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">สรรพสามิตพื้นที่สาขา: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <select class="ui search dropdown ai" aria-placeholder="สรรพสามิตภาค" id="local" name="local" [(ngModel)]="localSelectted">
                                                <option value="0"></option>
                                                <!-- <option *ngFor="let dat of local; let i=index" value="{{dat.lovId}}">{{dat.subTypeDescription}}</option> -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">ปีงบประมาณ: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui centered row grid">
                    <div class="sixteen aligned center ">
                        <button class="ui mini primary button" (click)="showData()" type="submit">
                            <i class="search icon"></i>
                            ค้นหา
                        </button>
                        <button class="ui mini green button" [routerLink]="[ '/int02/m5/1/1'] " >
                            <i class="add  icon"></i>
                            รายการใหม่</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui attached segment" id="data">
    <table class="ui small collapsing celled table aligned hover striped selectable" id="dataTable" style="width: 100%;">
        <thead>
            <tr style="text-align: center">
                <th>ที่</th>
                <th>หน่วยรับตวจ</th>
                <th>ปีงบประมาณ</th>
                <th>วันที่ทำการ</th>
                <th>ผู้บันทึก</th>
                <th>จัดการ</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <div class="ui centered row grid">
        <div class="sixteen aligned center ">
            <button class="ui mini red button">
                <i class="trash icon"></i>
                ลบ
            </button>

        </div>
    </div>
    <br>


</div>