<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid" style="margin: 2%">
    <div class="sixteen wide column segments">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>รายงานการประเมินผลและการปรับปรุงการควบคุมภายใน (แบบ ปย.2)</span>
        </div>
        <div class="ui attached segment">
            <div class="ui centered grid row">
                <div class="ui centered fourteen wide column">
                    <div class="ui centered row grid">
                        <div class="ui centered fifteen wide column" style="padding: 14px 14px 0 14px !important;">
                            <div class="ui form">
                                <div class="inline aligned center fields">
                                    <div class="six wide centered field">
                                        <label>สรรพสามิตภาค: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="six wide centered field">
                                        <label>สรรพสามิตพื้นที่: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="inline aligned center fields">
                                    <div class="six wide centered field">
                                        <label>สรรพสามิตพื้นที่สาขา: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <input type="text" id="subSectionName" name="subSectionName" [attr.required]="true" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="six wide centered field">
                                        <label>ปีงบประมาณ: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui centered row grid">
                    <div class="ui centered two wide column" style="padding: 0;">
                        <div class="ui form">
                            <div class="inline fields">
                                <div class="sixteen aligned center wide field">
                                    <button class="ui blue button" (click)="search()" type="button">
                                        <i class="search icon"></i>
                                        ค้นหา
                                    </button>
                                    <button class="ui green button" (click)="create()" type="button">ตรวจสอบ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>