<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid" style="margin: 2%">
    <div class="sixteen wide column segments">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>รายงานการประเมินผลและการปรับปรุงการควบคุมภายใน (แบบ ปย.2)</span>
        </div>
        <div class="ui attached segment">
            <div class="ui centered grid row">
                <div class="ui centered fourteen wide column">
                    <div class="ui centered row grid">
                        <div class="ui centered fifteen wide column" style="padding: 14px 14px 0 14px !important;">
                            <div class="ui form">
                                <div class="inline aligned center fields">
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">สรรพสามิตภาค: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <select class="ui search dropdown ai" aria-placeholder="สรรพสามิตภาค" id="sector"
                                                (change)="changeSector()" name="sector" [(ngModel)]="sectorSelectted">
                                                <option value="0"></option>
                                                <option *ngFor="let dat of sector; let i=index" value="{{dat.lovId}}">{{dat.subTypeDescription}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">สรรพสามิตพื้นที่: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <select class="ui search dropdown ai" aria-placeholder="สรรพสามิตภาค" id="area"
                                                name="area" [(ngModel)]="areaSelectted">
                                                <option value="0"></option>
                                                <option *ngFor="let dat of area; let i=index" value="{{dat.lovId}}">{{dat.subTypeDescription}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="inline aligned center fields">
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">สรรพสามิตพื้นที่สาขา: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <select class="ui search dropdown ai" aria-placeholder="สรรพสามิตภาค" id="local"
                                                name="local" [(ngModel)]="localSelectted">
                                                <option value="0"></option>
                                                <option *ngFor="let dat of local; let i=index" value="{{dat.lovId}}">{{dat.subTypeDescription}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="six wide centered field">
                                        <label class="text-right full-width">ปีงบประมาณ: </label>
                                    </div>
                                    <div class="ten centered wide field">
                                        <div class="ui input">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui centered row grid">
                    <div class="ui centered two wide column" style="padding: 0;">
                        <div class="ui form">
                            <div class="inline fields">
                                <div class="sixteen aligned center wide field">
                                    <button class="ui blue button" (click)="search()" type="button">
                                        <i class="search icon"></i>
                                        ค้นหา
                                    </button>
                                    <button class="ui green button" (click)="create()" type="button">ตรวจสอบ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>