<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">จัดทำแผนการตรวจปฏิบัติการ</h2>

    <div class="ui top attached header">
      <span>จัดทำแผนการตรวจปฏิบัติการ</span>
    </div>

    <div class="ui attached segment">
      <table class="ui small celled table striped selectable" style="width: 100%">
        <thead>
          <tr style="text-align: center;">
            <th rowspan="2">ลำดับที่</th>
            <th rowspan="2">เลขทะเบียนสรรพสามิต </th>
            <th rowspan="2">วันที่ออกตรวจ </th>
            <th rowspan="2">เรื่อง</th>
            <th rowspan="2">แสดง</th>

          </tr>
        </thead>
        <tr>
          <td>1</td>
          <td>2559 03154 9 </td>
          <td>21 มิถุนายน 2560</td>
          <td style="text-align: center;">บันทึกผลการตรวจปฏิบัติการ </td>
          <td>
            <button class="ui mini primary button">แสดงบันทึกข้อความ</button>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

      </table>
      <br>
      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button " routerLink="/cop04/1">
            <i class="arrow left icon"></i>
            ย้อนกลับ
          </button>
          <button class="ui mini primary button width-115" routerLink="/cop04/2">
            ถัดไป
            <i class="arrow right icon"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>