<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดใบเบิกเงินสวัสดิการเกี่ยวกับการศึกษาบุตร (แบบ 7223)</span>
</div>
<div class="ui attached  segment">
  <br>
  <div class="inline fields" style="text-align: center !important;">
    <h2>ใบเบิกเงินสวัสดิการเกี่ยวกับการศึกษาบุตรโปรดทำเครื่องหมาย
      <i class="check icon"></i> ลงในช่อง &nbsp;
      <input type="checkbox" disabled> &nbsp; พร้อมทั้งกรอกข้อความเท่าที่จำเป็น</h2>
  </div>



  <br>
  <div class="ui form">

    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>1.</label>
        </div>
        <div class="two wide field">
          <label>ข้าพเจ้า</label>
        </div>
        <div class="four wide field">
          <input type="text" value="นางสาวปริษา  ยังมีสุข ">
        </div>
        <div class="two wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="four wide field">
          <input type="text" value="นักวิชาการตรวจสอบภายในชำนาญการพิเศษ">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>สังกัด</label>
        </div>
        <div class="four wide field">
          <input type="text" value="กลุ่มตรวจสอบภายใน">
        </div>
        <div class="two wide field">
          <label>เบอร์โทรศัพท์</label>
        </div>
        <div class="four wide field">
          <input type="text" value="087 - 5671994">
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>2.</label>
        </div>
        <div class="two wide field">
          <label>คู่สมรสของข้าพเจ้าชื่อ</label>
        </div>
        <div class="four wide field">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="four wide field">
          <label>ไม่เป็นข้าราชการประจำหรือลูกจ้างประจำ</label>
        </div>
      </div>

      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="two wide field">
          <label>เป็นข้าราชการ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="two wide field">
          <label>ลูกจ้างประจำ</label>
        </div>
        <div class="one wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="nine wide field"></div>

        <div class="one wide field">
          <label>สังกัด</label>
        </div>
        <div class="three wide field">
          <input type="text" value="กลุ่มตรวจสอบภานใน">
        </div>
      </div>

      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="ten wide field">
          <label>เป็นพนักงานหรือลูกจ้างใน รัฐวิสาหกิจ/หน่วยงานของทางราชการ ราชการส่วนท้องถิ่น กรุงเทพมหานคร องค์กรอิสระ </label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>

        <div class="ten wide field">
          <label>องค์กรมหาชน หรือหน่วยงานอื่นใด</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="four wide field">
          <input type="text" value="นางสาวปริษา  ยังมีสุข ">
        </div>
        <div class="two wide field">
          <label>สังกัด</label>
        </div>
        <div class="four wide field">
          <input type="text" value="">
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>3.</label>
        </div>
        <div class="five wide field">
          <label>ข้าพเจ้าเป็นผู้มีสิทธิและขอใช้สิทธิเนื่องจาก</label>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="four wide field">
          <label>เป็นบิดาขอบด้วยกฎหมาย</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="four wide field">
          <label>เป็นมารดา</label>
        </div>
      </div>
    </div>

    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>4.</label>
        </div>
        <div class="five wide field">
          <label>ข้าพเจ้าได้จ่ายเงินสาหรับการศึกษาของบุตร ดังนี้</label>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="four wide field">
          <label>(1) เงินบำรุงการศึกษา</label>
        </div>
        <div class="one wide field"></div>
        <div class="four wide field">
          <label> (2) เงินค่าเล่าเรียน</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>1) &nbsp; บุตรชื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เกิดเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label> เป็นบุตรลำดับที่
            <br>(ของบิดา) </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เป็นบุตรลำดับที่
            <br>(ของมารดา) </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="five wide field">
          <label>(กรณีเป็นบุตรแทนที่บุตรซึ่งถึงแก่กรรมแล้ว) &nbsp; &nbsp; แทนที่บุตรลำดับที่ </label>
        </div>
        <div class="five wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เกิดเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ถึงแก่กรรมเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> สถานศึกษา </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>อำเภอ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> จังหวัด </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชั้นที่ศึกษา </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          (1)
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
      </div>
      <div class="inline fields ">
        <div class="seven wide field"></div>
        <div class="one wide field">
          <label>(2)</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>จำนวน</label>
        </div>
        <div class="two wide field">
          <input type="text" name="" id="">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>2) &nbsp; บุตรชื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เกิดเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label> เป็นบุตรลำดับที่
            <br>(ของบิดา) </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เป็นบุตรลำดับที่
            <br>(ของมารดา) </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="five wide field">
          <label>(กรณีเป็นบุตรแทนที่บุตรซึ่งถึงแก่กรรมแล้ว) &nbsp; &nbsp; แทนที่บุตรลำดับที่ </label>
        </div>
        <div class="five wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เกิดเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ถึงแก่กรรมเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> สถานศึกษา </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>อำเภอ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> จังหวัด </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชั้นที่ศึกษา </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          (1)
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
      </div>
      <div class="inline fields ">
        <div class="seven wide field"></div>
        <div class="one wide field">
          <label>(2)</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>จำนวน</label>
        </div>
        <div class="two wide field">
          <input type="text" name="" id="">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>3) &nbsp; บุตรชื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เกิดเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label> เป็นบุตรลำดับที่
            <br>(ของบิดา) </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เป็นบุตรลำดับที่
            <br>(ของมารดา) </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="five wide field">
          <label>(กรณีเป็นบุตรแทนที่บุตรซึ่งถึงแก่กรรมแล้ว) &nbsp; &nbsp; แทนที่บุตรลำดับที่ </label>
        </div>
        <div class="five wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> เกิดเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ถึงแก่กรรมเมื่อ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> สถานศึกษา </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>อำเภอ </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label> จังหวัด </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชั้นที่ศึกษา </label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          (1)
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
      </div>
      <div class="inline fields ">
        <div class="seven wide field"></div>
        <div class="one wide field">
          <label>(2)</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>จำนวน</label>
        </div>
        <div class="two wide field">
          <input type="text" name="" id="">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
      </div>
    </div>


    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>5.</label>
        </div>
        <div class="five wide field">
          <label>ข้าพเจ้าขอรับเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร</label>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>ตามสิทธิ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="three wide field">
          <label>เฉพาะส่วนที่ยังขาดจากสิทธิ เป็นเงิน</label>
        </div>
        <div class="three wide field">
          <input type="text" value="12000.00">
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="three wide field">
          <label>( หนึ่งหมื่นสองพันบาทถ้วน )</label>
        </div>
        <div class="one wide field">
          <table border="1">
            <tr>&nbsp;ก&nbsp;</tr>
          </table>
        </div>
      </div>
    </div>

    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>6.</label>
        </div>
        <div class="two wide field">
          <label>เสนอ</label>
        </div>
        <div class="four wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          <table border="1">
            <tr>&nbsp;ข&nbsp;</tr>
          </table>
        </div>
      </div>
      <br>

      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="" checked>
        </div>
        <div class="ten wide field">
          <label>ข้าพเจ้ามีสิทธิได้รับเงินช่วยเหลือตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตรและข้อความที่ระบุข้างต้นเป็นความจริง</label>
        </div>

      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="ten wide field">
          <label>บุตรของข้าพเจ้าอยู่ในข่ายได้รับการช่วยเหลือตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="ten wide field">
          <label>เป็นผู้ใช้สิทธิเบิกเงินช่วยเหลือตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร แต่เพียงฝ่ ายเดียว</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="ten wide field">
          <label>คู่สมรสของข้าพเจ้าได้รับการช่วยเหลือจากรัฐวิสาหกิจ หน่วยงานของทางราชการ ราชการท้องถิ่นกรุงเทพมหานคร องค์กรอิสระ
            <br> องค์การมหาชน หรือหน่วยงานอื่นใด ต่า กว่าจา นวนที่ได้รับจากทางราชการ </label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="one wide field">
          <label>จำนวน</label>
        </div>
        <div class="four wide field">
          <input type="text" value="12000.00">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="five wide field"></div>
        <div class="five wide field">
          <label>ข้าพเจ้าขอรับรองว่ามีสิทธิเบิกได้ตามกฎหมาย ตามจานวนที่ขอเบิก</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="five wide field">
          <label>(ลงชื่อ)...................................................................ผู้ขอรับเงินสวัสดิการ

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div>
    </div>


    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>7.</label>
        </div>
        <div class="two wide field">
          <label>คำอนุมัติ</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="three wide field">
          <label>อนุมัติให้เบิกได้</label>
        </div>
      </div>

      <br>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="iy four wide field">
          <label>ตำแหน่ง...........................................................................
          </label>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>8.</label>
        </div>
        <div class="two wide field">
          <label>ใบรับเงิน</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="fourteen wide field">
          <label>ได้รับเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร จำนวน...............................................................................................................................บาท</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="fourteen wide field">
          <label>(......................................................................................................................................)
            ไว้ถูกต้องแล้ว
          </label>
        </div>
      </div>

      <br>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้รับเงิน

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้จ่ายเงิน

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(ลงชื่อต่อเมื่อได้รับเงินแล้วเท่านั้น)</label>
        </div>
      </div>
    </div>

    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>คำชี้แจง</label>
        </div>
        <div class="two wide field">
          <table border="1">
            <tr>&nbsp;ก&nbsp;</tr>
          </table>
        </div>
        <div class="ten wide field">
          <label>ให้ระบุการมีสิทธิเพียงใด เมื่อเทียบกับสิทธิที่ได้รับตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการศึกษาของบุตร</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <table border="1">
            <tr>&nbsp;ข&nbsp;</tr>
          </table>
        </div>
        <div class="ten wide field">
          <label>ให้เสนอต่อผู้มีอำนาจอนุมัติ</label>
        </div>

      </div>

   
  </div>

  <br>

  <div class="ui center aligned grid">
    <div class="sixteen wide column">
      <button class="ui  grey button" type="button">
        <i class="close icon"></i>ยกเลิก</button>
      <button class="ui  primary button" type="button">
        <i class="save icon"></i>บันทึก</button>
      <button class="ui  primary button" type="button">
        <i class="print icon"></i>ส่งออก</button>
    </div>
  </div>
</div>



</div>