<app-breadcrumb [route]="breadcrumb" ></app-breadcrumb>

<!-- table -->
    <div class="ui top attached header">
        <span>สรุปแสตมป์รายปีงบประมาณ</span>
    </div>
    <div class="ui attached segment">
        <table id="dataTable" class="ui small celled table nowrap striped" style="width: 100%">
                <thead>
                        <tr style="text-align: center;">
                            <th rowspan="2">ลำดับ</th>
                            <th rowspan="2">ชนิดแสตมป์</th>
                            <th colspan="2">คงเหลือยกมาจากปีก่อน</th>
                            <th colspan="2">ตุลาคม</th>
                            <th colspan="2">พฤศจิกายน</th>
                            <th colspan="2">ธันวาคม</th>
                            <th colspan="2">มกราคม</th>
                            <th colspan="2">กุมภาพันธ์</th>
                            <th colspan="2">มีนาคม</th>
                            <th colspan="2">เมษายน</th>
                            <th colspan="2">พฤษภาคม</th>
                            <th colspan="2">มิถุนายน</th>
                            <th colspan="2">กรกฎาคม</th>
                            <th colspan="2">สิงหาคม</th>
                            <th colspan="2">กันยายน</th>
                            <th colspan="4">รวมรับ-จ่ายปีนี้ (ต.ค. - ก.ย.)</th>
                            <th colspan="4">รวมทั้งปีงบประมาณ</th>
                            <th colspan="2">คงเหลือ ณ ปัจจุบัน </th>
                            <th rowspan="2">หมายเหตุ</th>
                            
                        </tr>
                        <tr>
                            <th>จำนวนแสตมป์ (ดวง)</th>
                            <th>ค่าพิมพ์แสตมป์(บาท)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>

                            <th>รับ (ดวง)</th>
                            <th>จ่าย (ดวง)</th>
                            
                                                
                            <th>รับ (ดวง)</th>
                            <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                            <th>จ่าย (ดวง)</th>
                            <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                            
                            <th>รับ (ดวง)</th>
                            <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                            <th>จ่าย (ดวง)</th>
                            <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                            
                            <th>จำนวนแสตมป์ (ดวง)</th>
                            <th>ค่าพิมพ์แสตมป์ (บาท)</th>
                        </tr>
                    </thead>
        </table>
        <br>
        <div class="ui centered grid">
            <button class="ui mini gray button" type="button"  routerLink="/int05/1">กลับ</button>
            <button class="ui mini blue button" type="button">Export</button>
        </div>
        <br>
    </div>
