<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">รวบรวมข้อมูลเพื่อเตรียมออกตรวจปฏิบัติการ
    </h2>

    <div class="ui top attached header">
      <span>รวบรวมข้อมูลเพื่อเตรียมออกตรวจปฏิบัติการ
      </span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="five wide field ">
            <a routerLink="/cop02/1/1">- ข้อมูลวิเคราะห์รายได้ ตามแผนการตรวจสอบภาษี
            </a>
          </div>
          <div class="four wide field "></div>
          <div class="five wide field ">
            <label>- คำขอรับใบอนุญาตผลิตสุรา (ภส. 04 - 01)
            </label>
          </div>
          <div class="one wide field "></div>
        </div>


        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="five wide field ">
            <a routerLink="/cop02/1/2">- แบบคำขอจดทะเบียนสรรพสามิต (ภส. 01 - 01)
            </a>
          </div>
          <div class="four wide field "></div>
          <div class="five wide field ">
            <label>- ใบอนุญาติผลิตสุรา (ภส. 04 - 02)
            </label>
          </div>
          <div class="one wide field "></div>
        </div>


        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="five wide field ">
            <label>- แบบแจ้งราคาขายปลีกแนะนำ (ภส. 02 - 01)
            </label>
          </div>
          <div class="four wide field "></div>
          <div class="five wide field ">
            <label>- ใบอนุญาตผลิตยาสูบ (ภส. 04 - 06)
            </label>
          </div>
          <div class="one wide field "></div>
        </div>


        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="five wide field ">
            <label>- แบบแจ้งราคาค่าบริการ (ภส. 02 - 02)
            </label>
          </div>
          <div class="four wide field "></div>
          <div class="five wide field ">
            <label>- งบเดือนแสดงรายการเกี่ยวกับวัตถุดิบ การผลิต การจำหน่าย และยอดคงเหลือสินค้า (ภส.07 - 11)
            </label>
          </div>
          <div class="one wide field "></div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="five wide field ">
            <label>- แบบรายการภาษีสรรพสามิต (ภส. 03 - 07)
            </label>
          </div>
          <div class="four wide field "></div>
          <div class="five wide field ">
            <label>- แบบคำขอชำระภาษีสรรพสามิต (ภส. 03 - 10)
            </label>
          </div>
          <div class="one wide field "></div>
        </div>



      </div>
    </div>
  </div>