<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">จัดการข้อมูลต้นทาง
    </h2>

    <div class="ui top attached header">
      <span>จัดการข้อมูลต้นทาง</span>
    </div>
    <div class="ui attached segment">

      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          <h3>ข้อมูลรถขนส่งสินค้า ประจำวันที่ : 28/04/2561</h3>
        </div>
      </div>
      <br>
      <table class="ui small celled table">
        <thead>
          <tr style="text-align: center;">
            <th>รายการที่ </th>
            <th>ทะเบียนรถ</th>
            <th>ทะเบียนพ่วง</th>
            <th>สินค้า</th>
            <th>ด่าน</th>
            <th>ทะเบียนสรรพสามิต </th>
            <th>คลังสินค้า</th>
            <th>จำนวนรวม</th>
            <th>มูลค่ารวม </th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>กข4005</td>
            <td>พม3001</td>
            <td>รถยนต์</td>
            <td>ด่านแม่สอด</td>
            <td>1903940594443 </td>
            <td>Honda thai </td>
            <td>9</td>
            <td>1600000</td>
            <td>
              <button class="ui mini primary button" routerLink="/epa02/1/2">
                ตรวจสอบ
              </button>
            </td>

          </tr>
          <tr>
            <td>2</td>
            <td>กข2020</td>
            <td>พบ2001</td>
            <td>รถยนต์</td>
            <td>ด่านแม่สอด</td>
            <td>1903940594443 </td>
            <td>Honda thai </td>
            <td>8</td>
            <td>170000</td>
            <td>
              <button class="ui mini primary button" routerLink="/epa02/1/2">
                ตรวจสอบ
              </button>
            </td>

          </tr>
          <tr>
            <td>3</td>
            <td>บง9005</td>
            <td>กฮ3001</td>
            <td>มอไซร์</td>
            <td>ด่านแม่สอด</td>
            <td>1903940594443 </td>
            <td>Honda thai </td>
            <td>7</td>
            <td>90000</td>
            <td>
              <button class="ui mini primary button" routerLink="/epa02/1/2">
                ตรวจสอบ
              </button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>บง3005</td>
            <td>กฮ6352</td>
            <td>รถยนต์</td>
            <td>ด่านแม่สอด</td>
            <td>1903940594443 </td>
            <td>Honda thai </td>
            <td>6</td>
            <td>100000</td>
            <td>
              <button class="ui mini primary button" routerLink="/epa02/1/2">
                ตรวจสอบ
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>