<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
    <div class="sixteen wide column">

        <div class="ui top attached text-center header">
            <h4>เพิ่มเลขแบบพิมพ์</h4>
        </div>

        <div class="ui bottom attached segment">
            <div class="ui centered grid">
                <div class="fourteen wide column">
                    <form class="ui form" (submit)="add(f)" #f="ngForm">
                        <div class="inline fields">
                            <div class="two wide field">
                                <label class="full-width text-right">
                                    เลขที่ใบอนุญาต
                                </label>
                            </div>
                            <div class="three wide field {{f.submitted && f.controls.permit_no.invalid ? 'error' : ''}}">
                                <div class="ui input">
                                    <input type="text" name="permit_no" class="full-width" ngModel required>
                                </div>
                            </div>
                            <div class="two wide field">
                                <label class="full-width text-right">
                                    เลขที่แบบพิมพ์
                                </label>
                            </div>
                            <div class="three wide field {{f.submitted && f.controls.print_no.invalid ? 'error' : ''}}">
                                <div class="ui input">
                                    <input type="text" name="print_no" class="full-width" ngModel required>
                                </div>
                            </div>
                            <div class="two wide field">
                                <label class="full-width text-right">
                                    จำนวนเงิน
                                </label>
                            </div>
                            <div class="three wide field {{f.submitted && f.controls.amount.invalid ? 'error' : ''}}">
                                <div class="ui input">
                                    <input type="text" name="amount" class="full-width" ngModel required>
                                </div>
                            </div>
                            <div class="one wide field">
                                <button class="ui mini primary button" type="submit">
                                    เพิ่ม
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="ui {{ loading ? 'loading' : '' }} top attached segment">
            <div class="ui right aligned grid">
                <div class="sixteen wide column">
                    <a class="ui mini primary button widtd-100" routerLink='/int01/1/3'>
                        <i class="checkmark icon"></i>ตรวจสอบงบสรุปยอดภาษี
                    </a>
                    <a class="ui mini primary button widtd-100">
                        <i class="save icon"></i>บันทึก
                    </a>
                    <button class="ui mini primary button widtd-100">
                        <i class="print icon"></i>พิมพ์
                    </button>
                </div>
            </div>

            <div class="ui grid">
                <div class="sixteen wide column">
                    <table id="table" class="ui celled nowrap striped table" style="width: 100%;">
                        <thead>
                            <tr class="center aligned">
                                <th rowspan="2">#</th>
                                <th rowspan="2">ลำดับที่</th>
                                <th rowspan="2">วันที่รับเงิน</th>
                                <th rowspan="2">วันที่นำฝากบัญชี</th>
                                <th rowspan="2">สินค้า/บริการ</th>
                                <th rowspan="2">รหัส</th>
                                <th rowspan="2">เลขแบบพิมพ์</th>
                                <th colspan="2">เลขใบเสร็จ </th>
                                <th rowspan="2">จำนวนเงิน</th>
                                <th rowspan="2">นำส่งมหาดไทย
                                    <br />10% / 98.5%</th>
                                <th rowspan="2">มหาดไทย
                                    <br />95% / 1.5%</th>
                                <th rowspan="2">เงินฝาก/ค่าใช้จ่าย
                                    <br />5% </th>
                                <th rowspan="2">รวม</th>
                                <th rowspan="2">ชดเชยกรมศุลฯ
                                    <br />0.75%</th>
                                <th rowspan="2">ค่าพิมพ์แสตมป์
                                    <br />1%</th>
                                <th rowspan="2">นำส่ง</th>
                                <th rowspan="2">Action</th>
                            </tr>
                            <tr style="display: none;">
                                <th>A</th>
                                <th>B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let data of taxReceipt; let i=index">
                                <td>
                                    <input type="checkbox" name="example">
                                </td>
                                <td>{{ i + 1}}</td>
                                <td>{{ data.recieveDate }}</td>
                                <td>{{ data.depositDate }}</td>
                                <td>{{ data.incomeName }}</td>
                                <td>{{ data.taxReceiptId }}</td>
                                <td>{{ data.taxReceiptId }}</td>
                                <td>{{ data.receiptNo ? data.receiptNo.split("/")[0] : '-' }}</td>
                                <td>{{ data.receiptNo ? data.receiptNo.split("/")[1] : '-' }}</td>
                                <td class="text-right">{{ round(data.netTaxAmount || 0.0) }}</td>
                                <td class="text-right">{{ round(data.netLocAmount || 0.0) }}</td>
                                <td class="text-right">{{ round(data.locOthAmount || 0.0) }}</td>
                                <td class="text-right">{{ round(data.locExpAmount || 0.0) }}</td>
                                <td class="text-right"> 5,375.70 </td>
                                <td class="text-right">{{ round(data.customAmount || 0.0) }}</td>
                                <td class="text-right">{{ round(data.stampAmount || 0.0) }}</td>
                                <td class="text-right">{{ round(data.sendAmount || 0.0) }}</td>
                                <td style="text-align: center;">
                                    <a class="update" href="javascript:;" (click)="popupEditData()">
                                        แก้ไข
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-right">
                                <th rowspan="2">&nbsp;</th>
                                <th rowspan="2">&nbsp;</th>
                                <th rowspan="2">&nbsp;</th>
                                <th rowspan="2">&nbsp;</th>
                                <th rowspan="2">&nbsp;</th>
                                <th rowspan="2">&nbsp;</th>
                                <th rowspan="2">&nbsp;</th>
                                <th colspan="2">รวม</th>
                                <th rowspan="2">{{ round(totalReceipt.netTaxAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.netLocAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.locOthAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.locExpAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.netLocAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.customAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.stampAmount || 0.0) }}</th>
                                <th rowspan="2">{{ round(totalReceipt.sendAmount || 0.0) }}</th>
                                <th rowspan="2">&nbsp;</th>
                            </tr>
                            <tr style="display: none;">
                                <th>A</th>
                                <th>B</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="sixteen wide center aligned column">
                    <a class="ui mini button widtd-100" routerLink='/int01/1/1'>
                        <i class="arrow left icon"></i>กลับ
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>