<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">รายงานผลการตรวจสอบรายได้</h2>

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>รายงานผลการตรวจสอบรายได้</span>
    </div>

    <div class="ui attached segment">
        <form class="ui form">
            <div class="field">
        
              <label>      <input type="checkbox" id="check">&nbsp;&nbsp;&nbsp; 1)ใบเสร็จเสีย</label>
            <textarea cols="5" rows="6"></textarea>
            </div>

            <div class="field">
                <label> <input type="checkbox" id="check"> &nbsp;&nbsp;&nbsp; 2)นำส่งเงิน</label>
           
              <textarea cols="5" rows="6"></textarea>
              </div>
              <div class="ui center aligned grid">
                  <div class="eight wide column">
                    <button class="ui mini primary button" type="button">
                      <i class="save icon"></i>บันทึก</button>
                      <button class="ui mini yellow button" type="button">
                          <i class="print icon"></i>ส่งออก</button>
                  </div>
                </div>


            </form>


            </div>
            

    </div>
  </div>
