<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui large ordered steps" style="width: 280px;">
      <div class=" step">
        <div class="content">
          <div class="title">ข้อมูล</div>
          <div class="description"> เลขอ้างอิง (ฎีกา)</div>
        </div>
      </div>
      <div class="active step" style="width: 200px;">
        <div class="content">
          <div class="title">ข้อมูล</div>
          <div class="description">เจ้าหน้าที่</div>
        </div>
      </div>
      <div class=" step">
        <div class="content">
          <div class="title">ปฏิทินการเบิก</div>
          <div class="description">ค่าตอบแทนผู้ควบคุมงาน
          </div>
        </div>
      </div>
      <div class=" step">
        <div class="content">
          <div class="title">กระดาษทำการตรวจสอบ</div>
          <div class="description">การเบิกค่าตอบแทนผู้ควบคุมงาน
          </div>
        </div>
      </div>
      <div class=" step">
        <div class="content">
          <div class="title"> เปรียบเทียบ</div>
          <div class="description">สรุปรายการขอเบิก
          </div>
        </div>
      </div>
    </div>


    <div class="ui top attached header">
      <span>ข้อมูลเจ้าหน้าที่
      </span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="ui segment">
          <div class="inline fields">
            <div class="one wide field ">
              <label>ชื่อ</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="กนกพรรณ ">

            </div>
            <div class="one wide field ">
              <label>นามสกุล</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="เกตุสัตบรรณ">
            </div>
            <div class="two wide field ">
              <label>ตำแหน่ง</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="นักวิชาการคอมพิวเตอร์ชำนาญการ">
            </div>
          </div>

          <div class="ui form">
            <div class="inline fields">
              <div class="one wide field "></div>
              <div class="two wide field ">
                <label>ประเภท</label>
              </div>
              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency1" checked="checked">
                  <label>ข้าราชการ</label>
                </div>
              </div>

              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency1">
                  <label>พนักงานราชการ</label>
                </div>
              </div>
              <div class="two wide field  ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency1">
                  <label>ลูกจ้างชั่วคราว</label>
                </div>
              </div>
              <div class="one wide field "> </div>
              <div class="two wide field ">
                <label>อัตราเบี้ยเลี้ยง</label>
              </div>
              <div class="four wide field ">
                <input type="text" placeholder="" value="260">
              </div>
            </div>
          </div>
        </div>


        <br>
        <div class="ui segment">
          <div class="inline fields">
            <div class="one wide field ">
              <label>ชื่อ</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="ดลพร">
            </div>
            <div class="one wide field ">
              <label>นามสกุล</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="แหวนวงษ์">
            </div>
            <div class="two wide field ">
              <label>ตำแหน่ง</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="นักวิชาการคอมพิวเตอร์ปฏิบัติการ">
            </div>
          </div>

          <div class="ui form">
            <div class="inline fields">
              <div class="one wide field "></div>
              <div class="two wide field ">
                <label>ประเภท</label>
              </div>
              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency2" checked="checked">
                  <label>ข้าราชการ</label>
                </div>
              </div>

              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency2">
                  <label>พนักงานราชการ</label>
                </div>
              </div>
              <div class="two wide field  ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency2">
                  <label>ลูกจ้างชั่วคราว</label>
                </div>
              </div>
              <div class="one wide field "> </div>
              <div class="two wide field ">
                <label>อัตราเบี้ยเลี้ยง</label>
              </div>
              <div class="four wide field ">
                <input type="text" placeholder="" value="260">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="ui segment">
          <div class="inline fields">
            <div class="one wide field ">
              <label>ชื่อ</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="">
            </div>
            <div class="one wide field ">
              <label>นามสกุล</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="">
            </div>
            <div class="two wide field ">
              <label>ตำแหน่ง</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="นักวิชาการคอมพิวเตอร์ปฏิบัติการ">
            </div>
          </div>

          <div class="ui form">
            <div class="inline fields">
              <div class="one wide field "></div>
              <div class="two wide field ">
                <label>ประเภท</label>
              </div>
              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency5" checked="checked">
                  <label>ข้าราชการ</label>
                </div>
              </div>

              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency5">
                  <label>พนักงานราชการ</label>
                </div>
              </div>
              <div class="two wide field  ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency5">
                  <label>ลูกจ้างชั่วคราว</label>
                </div>
              </div>
              <div class="one wide field "> </div>
              <div class="two wide field ">
                <label>อัตราเบี้ยเลี้ยง</label>
              </div>
              <div class="four wide field ">
                <input type="text" placeholder="" value="260">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="ui segment">
          <div class="inline fields">
            <div class="one wide field ">
              <label>ชื่อ</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="ธนธรณ์">
            </div>
            <div class="one wide field ">
              <label>นามสกุล</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="วงศ์พิทักษ์">
            </div>
            <div class="two wide field ">
              <label>ตำแหน่ง</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="นักวิชาการคอมพิวเตอร์ปฏิบัติการ">
            </div>
          </div>
          <div class="ui form">
            <div class="inline fields">
              <div class="one wide field "></div>
              <div class="two wide field ">
                <label>ประเภท</label>
              </div>
              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency4" checked="checked">
                  <label>ข้าราชการ</label>
                </div>
              </div>

              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency4">
                  <label>พนักงานราชการ</label>
                </div>
              </div>
              <div class="two wide field  ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency4">
                  <label>ลูกจ้างชั่วคราว</label>
                </div>
              </div>
              <div class="one wide field "> </div>
              <div class="two wide field ">
                <label>อัตราเบี้ยเลี้ยง</label>
              </div>
              <div class="four wide field ">
                <input type="text" placeholder="" value="260">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="ui segment">
          <div class="inline fields">
            <div class="one wide field ">
              <label>ชื่อ</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="นภสร">
            </div>
            <div class="one wide field ">
              <label>นามสกุล</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="ศรีสงคราม ">
            </div>
            <div class="two wide field ">
              <label>ตำแหน่ง</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="นักวิชาการคอมพิวเตอร์ปฏิบัติการ">
            </div>
          </div>

          <div class="ui form">
            <div class="inline fields">
              <div class="one wide field "></div>
              <div class="two wide field ">
                <label>ประเภท</label>
              </div>
              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency3" checked="checked">
                  <label>ข้าราชการ</label>
                </div>
              </div>

              <div class="two wide field ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency3">
                  <label>พนักงานราชการ</label>
                </div>
              </div>
              <div class="two wide field  ">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency3">
                  <label>ลูกจ้างชั่วคราว</label>
                </div>
              </div>
              <div class="one wide field "> </div>
              <div class="two wide field ">
                <label>อัตราเบี้ยเลี้ยง</label>
              </div>
              <div class="four wide field ">
                <input type="text" placeholder="" value="260">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>



      <div class="ui center aligned grid">
        <div class="eight wide column">
          <button class="ui mini primary button" routerLink="/int06/5">
            <i class="arrow left icon"></i>
            ย้อนกลับ
          </button>
          <button class="ui mini primary button" routerLink="/int06/5/2">
            ถัดไป
            <i class="arrow right icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>