<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">จัดทำแผนการตรวจปฏิบัติการ</h2>
    <div class="ui top attached header">
      <span>จัดทำแผนการตรวจปฏิบัติการ</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="four wide field "></div>
          <div class="three wide field ">
            <label>เลขทะเบียนสรรพสามิต </label>
          </div>
          <div class="seven wide field ">
            <input type="text" placeholder="" value="">
          </div>
          <div class="four wide field "></div>
        </div>
        <div class="inline fields">
          <div class="four wide field "></div>
          <div class="three wide field ">
            <label> วันที่ออกตรวจ </label>
          </div>
          <div class="seven wide field ">
            <input type="text" placeholder="" value="">
          </div>
          <div class="four wide field "></div>
        </div>
        <div class="inline fields ui center aligned grid">
          <div class="two wide field "></div>
          <button class="ui mini primary button" routerLink="/cop04/2/1">ค้นหา</button>
          <div class="one wide field "></div>
          <button class="ui mini button">ยกเลิก</button>
        </div>
        <br>
        <br>

      </div>
    </div>
  </div>