<div class="ui grid">
  <div class="sixteen wide column">


    <h2 class="ui header">ตรวจแสตมป์รายเดือน </h2>

    <div class="ui tabular menu ">
      <a class="item  " routerLink="/int05/2">
        ตรวจแสตมป์รายเดือน
      </a>
      <a class="item active " routerLink="/int05/1/2">
        ตรวจแสตมป์รายปีงบประมาณ
      </a>
    </div>

    <div class="ui attached segment">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button">
            <i class="print icon"></i>
            พิมพ์
          </button>
          <button class="ui mini primary button">
            <i class="save icon"></i>
            บันทึก
          </button>
          <div id="export" class="ui primary buttons">
            <div class="ui mini button">ส่งออก</div>
            <div class="ui floating dropdown icon button">
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">
                  <i class="file pdf outline icon"></i> PDF</div>
                <div class="item">
                  <i class="file excel outline icon"></i>Excel</div>
              </div>
            </div>
          </div>

          <br>
          <div class="ui grid center aligned">
            <div class="sixteen wide column">
              บันทึกการรับ-จ่ายแสตมป์
              <br>สำนักงานสรรพสามิตภาคที่ 5 พื้นที่ลำปาง สาขาเมืองลำปาง
              <br> งบประมาณปี 2560
            </div>
          </div>
          <br>
          <div style="overflow-x: scroll">
            <table class="ui small celled table" style="width: 180%;">
              <thead>
                <tr style="text-align: center;">
                  <th rowspan="2">ลำดับที่</th>
                  <th rowspan="2">รหัส</th>
                  <th rowspan="2">ชนิดแสตมป์/ขนาดบรรจุ</th>
                  <th colspan="2">คงเหลือยกมาจากปีก่อน</th>
                  <th colspan="2">ตุลาคม</th>
                  <th colspan="2">พฤศจิกายน</th>
                  <th colspan="2">ธันวาคม</th>
                  <th colspan="2">มกราคม</th>
                  <th colspan="4">รวมรับ-จ่ายปีนี้ (ต.ค. - ก.ย.) </th>
                  <th colspan="4">รวมทั้งปีงบประมาณ </th>
                  <th colspan="2">คงเหลือ ณ ปัจจุบัน </th>
                  <th rowspan="2">หมายเหตุ</th>
                  <th rowspan="2">Action</th>
                </tr>
                <tr style="text-align: center;">
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">จำนวนแสตมป์
                    <br>(ดวง)
                  </th>
                  <th>ค่าพิมพ์แสตมป์
                    <br>(บาท)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">รับ
                    <br>(ดวง)
                  </th>
                  <th>จ่าย
                    <br>(ดวง)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">รับ
                    <br>(ดวง)
                  </th>
                  <th>จ่าย
                    <br>(ดวง)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">รับ
                    <br>(ดวง)
                  </th>
                  <th>จ่าย
                    <br>(ดวง)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">รับ
                    <br>(ดวง)
                  </th>
                  <th>จ่าย
                    <br>(ดวง)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">รับ
                    <br>(ดวง)
                  </th>
                  <th>ค่าพิมพ์แสตมป์
                    <br>(บาท)
                  </th>
                  <th>จ่าย
                    <br>(ดวง)
                  </th>
                  <th>ค่าพิมพ์แสตมป์
                    <br>(บาท)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">รับ
                    <br>(ดวง)
                  </th>
                  <th>ค่าพิมพ์แสตมป์
                    <br>(บาท)
                  </th>
                  <th>จ่าย
                    <br>(ดวง)
                  </th>
                  <th>ค่าพิมพ์แสตมป์
                    <br>(บาท)
                  </th>
                  <th style="border-left: 1px solid rgba(34,36,38,.1);">จำนวนแสตมป์
                    <br>(ดวง)
                  </th>
                  <th>ค่าพิมพ์แสตมป์
                    <br>(บาท)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1.11</td>
                  <td>เบียร์</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>90000</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>2.11</td>
                  <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>90000</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>3.11</td>
                  <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>90000</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>30000</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>2.12</td>
                  <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.625 ลิตร ขึ้นไป</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>2.13</td>
                  <td>สุรากลั่นชุมชน 35 ดีกรี ขนาด 0.330 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>2.14</td>
                  <td>สุรากลั่นชุมชน 35 ดีกรี ขนาด 0.625 ลิตร ขึ้นไป</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>2.15</td>
                  <td>สุรากลั่นชุมชน 30 ดีกรี ขนาด 0.330 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>2.16</td>
                  <td>สุรากลั่นชุมชน 30 ดีกรี ขนาด 0.625 ลิตร ขึ้นไป</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>2.17</td>
                  <td>สุรากลั่นชุมชน 28 ดีกรี ขนาด 0.330 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>2.18</td>
                  <td>สุรากลั่นชุมชน 28 ดีกรี ขนาด 0.625 ลิตร ขึ้นไป</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>3.12</td>
                  <td>สุราผสม 40 ดีกรี ขนาด 0.625 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>3.13</td>
                  <td>สุราผสม 40 ดีกรี ขนาด 0.640 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>3.14</td>
                  <td>สุราผสม 30 ดีกรี ขนาด 0.330 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong> / </strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>3.15</td>
                  <td>สุราผสม 30 ดีกรี ขนาด 0.625 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong>/</strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>3.16</td>
                  <td>สุราผสม 30 ดีกรี ขนาด 0.640 ลิตร</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td style="text-align: center;">
                    <a class="update" routerLink="/int05/2/2">
                      แก้ไข
                    </a>
                    <strong>/</strong>
                    <a class="delete" href="javascript:;">
                      ลบ
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="ui center aligned grid">
              <div class="sixteen wide column">
                <button class="ui mini primary button " routerLink="/int05/1">
                  <i class="arrow left icon"></i>
                  กลับ
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>