<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">กระดาษทำการเปรียบเทียบการชำระภาษี {{month}} เดือนย้อนหลังของผู้ประกอบการ</h2>
        <div class="ui top attached header">
            <span>ข้อมูลการวิเคราห์รายได้ของผู้ประกอบการที่มีการชำระภาษีสรรพสามิต</span>
        </div>
        <div class="ui attached segment">
            <div class="ui form">

                <div class="inline fields">
                    <div class="ten wide field">
                    </div>
                    <div class="six wide field">
                        <label class="custom-label-w-25">เลขที่วิเคราะห์ข้อมูล</label>
                        <input value="" readonly="" class="custom-readonly" />
                    </div>
                </div>

                <div class="inline fields">
                    <div class="sixteen wide field required">
                        <label class="custom-label-w-25">ระหว่างวันที่ </label>
                        <div class="four ui action input">
                            <input type="text" placeholder="MM/YYYY" value="{{before}}" readonly="" class="custom-readonly">
                            <button class="ui icon button">
                                <i class="add to calendar icon"></i>
                            </button>
                        </div>
                        <div class="field">
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถึง&nbsp;</label>
                        </div>
                        <div class="four ui action input">
                            <input type="text" placeholder="MM/YYYY" value="{{last}}" class="custom-readonly" [readonly]="true">

                            <button class="ui icon button">
                                <i class="add to calendar icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="two  wide field ">
                        <label>คำค้นหา</label>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div class="seven wide field ">
                        <input type="text" placeholder="" value="">
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="seven wide field ">
                        <button class="ui mini primary button" routerLink="/#/add-data?id=${data}">
                            ค้นหา
                        </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="hidden" id="exciseId" value="EX" />
                        <button id="exciseBtn" class="ui mini primary button" onclick="window.location='/#/add-data?id='+document.getElementById('exciseId').value;">
                            <i class="add icon"></i>
                            เพิ่มข้อมูล
                        </button>
                    </div>
                </div>


            </div>
            <div class="ui attached segment">
                <div class="ui grid">
                    <div class="three wide column" style="padding-right: 0;">
                        <div class="ui vertical menu" style="width: auto">
                            <div class="item">
                                <div class="header">พิกัดสินค้า</div>
                                <div class="menu">
                                    <div class="item" *ngFor="let item of listMenu" (click)="selectExciseProductType(item)">-{{item}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thirteen wide column" style="padding-top: 0">
                        <div style="overflow-x: scroll;overflow-y: hidden;padding-bottom: 14px;">
                            <table id="userManagementDt" class="ui small celled table aligned hover" style="width: 5000px;">
                                <thead id="trDrinamic">
                                    <tr>
                                        <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                                        <th rowspan="2" style="text-align: center !important">ทะเบียนสรรพสามิต เดิม/ใหม่</th>
                                        <th rowspan="2" style="text-align: center !important">ชื่อผู้ประกอบการ</th>
                                        <th rowspan="2" style="text-align: center !important">ชื่อโรงอุตสาหกรรม/สถานบริการ</th>
                                        <th rowspan="2" style="text-align: center !important">พื้นที่</th>
                                        <th colspan="2" style="text-align: center !important">การชำระภาษีในสภาวะปกติ (บาท)</th>
                                        <th rowspan="2" style="text-align: center !important">เปลี่ยนแปลง (ร้อยละ)</th>
                                        <th rowspan="2" style="text-align: center !important">ชำระภาษี(เดือน)</th>
                                        <th colspan="3" style="text-align: center !important">การตรวจสอบภาษีย้อนหลัง 3 ปีงบประมาณ</th>
                                        <th rowspan="2" style="text-align: center !important">ภาค</th>
                                        <th rowspan="2" style="text-align: center !important">พิกัด</th>
                                        <th rowspan="2" style="text-align: center !important">ที่อยู่โรงอุตสาหกรรม/สถานบริการ</th>
                                        <th rowspan="2" style="text-align: center !important">ทุนจดทะเบียน</th>
                                        <th rowspan="2" style="text-align: center !important">สถานะ/วันที่</th>
                                        <th colspan="12" style="text-align: center !important">การชำระภาษี {{ month/2 }} เดือนแรก</th>
                                        <th colspan="12" style="text-align: center !important">การชำระภาษี {{ month/2 }} เดือนหลัง </th>
                                        <th rowspan="2" style="text-align: center !important">เพิ่มข้อมูลภายนอก</th>
                                    </tr>
                                    <tr>
                                        <th style="border-left: 1px solid rgba(34,36,38,.1);">{{ month/2 }} เดือนแรก</th>
                                        <th style="text-align: center !important">{{ month/2 }} เดือนหลัง </th>
                                        <th style="text-align: center !important">2558</th>
                                        <th style="text-align: center !important">2559</th>
                                        <th style="text-align: center !important">2560</th>
                                        <th style="text-align: center !important">พ.ค. 58</th>
                                        <th style="text-align: center !important">มิ.ย. 58</th>
                                        <th style="text-align: center !important">ก.ค. 58</th>
                                        <th style="text-align: center !important">ส.ค. 58</th>
                                        <th style="text-align: center !important">ก.ย. 58</th>
                                        <th style="text-align: center !important">ต.ค. 58</th>
                                        <th style="text-align: center !important">พ.ย. 58</th>
                                        <th style="text-align: center !important">ธ.ค. 58</th>
                                        <th style="text-align: center !important">ม.ค. 59</th>
                                        <th style="text-align: center !important">ก.พ. 59</th>
                                        <th style="text-align: center !important">มี.ค. 59</th>
                                        <th style="text-align: center !important">เม.ย. 59 </th>
                                        <th style="text-align: center !important">พ.ค. 58</th>
                                        <th style="text-align: center !important">มิ.ย. 58</th>
                                        <th style="text-align: center !important">ก.ค. 58</th>
                                        <th style="text-align: center !important">ส.ค. 58</th>
                                        <th style="text-align: center !important">ก.ย. 58</th>
                                        <th style="text-align: center !important">ต.ค. 58</th>
                                        <th style="text-align: center !important">พ.ย. 58</th>
                                        <th style="text-align: center !important">ธ.ค. 58</th>
                                        <th style="text-align: center !important">ม.ค. 59</th>
                                        <th style="text-align: center !important">ก.พ. 59</th>
                                        <th style="text-align: center !important">มี.ค. 59</th>
                                        <th style="text-align: center !important">เม.ย. 59 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui center aligned grid">
                    <div class="sixteen wide column">
                        <button (click)="onSend();" class="ui mini primary button">
                            <i class="add icon"></i>
                            สร้างกระดาษทำการคัดเลือกราย
                        </button>
                        <button class="ui mini button">
                            <i class="refresh icon"></i>
                            ล้างข้อมูล
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>