<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>รายละเอียดหัวกระดาษทำการ</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label class="ui right ">ชื่อกระดาษทำการ</label>
          </div>
          <div class="ten wide field ">
            <input type="text" placeholder="ชื่อกระดาษทำการ" maxlength="100" class="custom" name="riskInfPaperName" id="riskInfPaperName" [(ngModel)]="riskInfPaperName">
          </div>

        </div>
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field">
            <label>ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="ปีงบประมาณ" class="custom" name="budgetYear" id="budgetYear" [(ngModel)]="budgetYear" disabled="disabled">
          </div>
          <div class="two wide field ">
            <label>ผู้ตรวจ</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="ผู้ตรวจ" class="custom" name="userCheck" id="userCheck" [(ngModel)]="userCheck">
          </div>
        </div>

        <div class="inline fields"></div>

      </div>
    </div>
  </div>

  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>เพิ่มข้อมูลกระดาษทำการ</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">

        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="first">เพิ่มข้อมูล</a>
          <a class="item " data-tab="second">เพิ่มข้อมูล Excel File</a>
        </div>

        <div class="ui bottom attached tab segment active" data-tab="first">
          <div class="inline fields">
            <div class="two wide field "></div>
            <div class="two wide field">
              <label>ชื่อระบบสารสนเทศ</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="ชื่อระบบสารสนเทศ" class="custom" name="infName" id="infName" [(ngModel)]="infName" >
            </div>
            <div class="two wide field ">
              <label>ค่าความเสี่ยง</label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="ค่าความเสี่ยง" class="custom" name="riskCost" id="riskCost" [(ngModel)]="riskCost">
            </div>
          </div>
          <br>
          <div class="inline fields">
            <div class="sixteen wide field ">
              <div class="seven wide field "></div>
              <button class="ui mini primary button" (click)="addObjRiskDtl() ">
                <i class="save icon"></i>
                เพิ่ม
              </button>
            </div>
          </div>
        </div>

        <div class="ui bottom attached tab segment " data-tab="second">
          <form id="upload-form" ngNativeValidate (submit)="onUpload($event)">
            <div class="ui attached segment">
              <div class="ui form">
                <div class="inline fields">
                  <div class="eight wide field ">
                    <label class="custom-label-w-15">เลือกไฟล์ Template ข้อมูล</label>
                    <div>
                      <input class="inputfile" type="file" name="fileExel" id="fileExel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        (change)="onChangeUpload($event)" required>
                      <label for="fileExel" class="ui mini blue butt-upload button">
                        <i class="ui fa-file-excel-o icon"></i> เลือกไฟล์
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ui center aligned grid">
                <div class="four wide column">
                  <button class="ui mini primary button" type="submit">
                    <i class="upload icon"></i>
                    อัพโหลด
                  </button>
                  <button class="ui mini primary button" type="reset">
                    <i class="trash alternate icon"></i>
                    ลบไฟล์
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        
        <table id="dataTable"  class="ui small celled table" style="width: 100%;">
          <thead>
            <tr>
              <th  rowspan="2" style="text-align: center !important">ลำดับ</th>
              <th  rowspan="2" style="text-align: center !important" class="ten wide field ">ระบบสารสนเทศฯ ของกรมสรรพสามิต</th>
              <th  rowspan="2" style="text-align: center !important" class="two wide field ">ค่าความเสี่ยง</th>
              <th  colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              <th  rowspan="2" style="text-align: center !important">ลบ</th>
            </tr>
            <tr>
              <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
              <th style="text-align: center !important">แปลค่า</th>
            </tr>
          </thead>
        </table>

        <div class="inline fields"></div>
        <div class="inline fields ">
          <div class="sixteen wide field ">
            <div class="six wide field "></div>
            <button class="ui mini primary button"  (click)="saveRiskAssInfOtherDtl()">
              <i class="save icon"></i>
              บันทึก
            </button>
            <button class="ui mini primary button" (click)="modalConditionRL()">
              <i class="setting icon"></i>
              กำหนดเงื่อนไข RL
            </button>
            <button class="ui mini primary button" (click)="addRiskAssRiskWsHdr()">
              <i class="print icon"></i>
              Export
            </button>
            <button class="ui mini primary button" (click)="cancelFlow()">
              ยกเลิก
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="sixteen wide column" *ngIf="getConditionShow()">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>กำหนดเงื่อนไข RL ปัจจัยเสี่ยงอื่นๆ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <condition [riskId]="id" [riskType]="'OTHER'" [page]="'int08-2-4'" (out)="closeConditionRL($event)"></condition>
      </div>
      <br/>

    </div>
  </div>

</div>
