<!-- row 1 -->
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <label>วันที่</label>
  </div>
  <div class="four wide column">
    <div class="ui calendar" id="date">
      <div class="ui input left icon">
        <i class="time icon"></i>
        <input type="text" name="date-raw" id="dateForm" autocomplete="off" [attr.readonly]="null" placeholder="dd/mm/yyyy" [attr.required]="true">
      </div>
    </div>
  </div>
  <div class="two wide column">
    <label>รับอนุมัติแผนประจำปีงบประมาณ</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
</div>
<!-- row 2  -->
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <label>เลขที่หนังสือ</label>
  </div>
  <div class="four wide column">
    <div class="ui calendar" id="date">
      <div class="ui input left icon">
        <i class="time icon"></i>
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column">
    <label>ลงวันที่</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
</div>
<!-- row 3 -->
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <label>พนักงานขับรถ</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column">
    <label>รถหมายเลขทะเบียน</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
</div>
<!-- row 4 -->
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <label>เงินฝากค่าใช้จ่ายเก็บภาษีท้องถิ่น</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="ten wide column"></div>
</div>
<!-- row 5 -->
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <label>ผู้ลงชื่อขออนุมัติ</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column">
    <label>ตำแหน่ง</label>
  </div>
  <div class="four wide column">
    <div class="ui form">
      <div class="field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
</div>
<!-- row 6 -->
<div class="ui grid center aligned">
  <button type="button" class="ui  green button">Export</button>
</div>