<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>เปรียบเทียบรายงานสรุปรายการขอเบิก </span>
        </div>

        <div class="ui attached segment {{loadingInit? 'loading': ''}}">
            <form (submit)="showData($event)">
                <div class="ui form">
                    <div class="inline fields" *ngFor="let loop of budgetCodeList; let i = index">
                        <div class="two wide field ">
                            <label class="full-width text-right">รหัสงบประมาณ</label>
                        </div>
                        <div class="four wide field ">
                            <div class="ui input">
                                <input type="text" name="budgetCode{{i}}" value="{{loop.budgetCode}}" readonly>
                            </div>
                        </div>
                        <div class="nine wide field ">
                            <select class="ui fluid search dropdown ai" name="TR{{i}}" id="TR{{i}}" multiple="">
                              <option value="">กรุณาเลือก</option>
                              <option *ngFor="let data of budgetDropdown" value="{{data.cwpTblDtlId}}">{{data.ledgerAccountName}}</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="ui center aligned grid">
                    <div class="four wide column">
                        <button class="ui mini primary button" type="submit">
                          <i class="upload icon"></i>
                          เปรียบเทียบ
                        </button>

                        <button class="ui mini button" type="button" (click)="hideData()">
                            <i class="sync icon"></i>
                          ล้างข้อมูล
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ui segment {{loadingTable? 'loading': ''}}" id="Int0621">
    <div class="ui center aligned grid">
        <div class="sixteen wide column">
            <label> ตารางแสดงผลการเปรียบเทียบสรุปรายการขอเบิกกับงบทดลอง</label>
        </div>
    </div>
    <br>
    <div>
        <table id="tableData" class="ui small celled table striped selectable" style="width: 90%">
            <thead>
                <tr style="text-align: center;">
                    <th>รหัสงบประมาณ</th>
                    <th style="width: 180px;">ชื่องบประมาณ</th>
                    <th style="width: 190px;">ผลรวมตามรหัสงบประมาณ</th>
                    <th>TR-งบทดลอง</th>
                    <th style="width: 200px;">จำนวน TR-งบทดลอง</th>
                    <th>ผลต่าง</th>
                </tr>
            </thead>
            <tbody id="tdDataCompare">
                <!-- tdDataCompare -->
            </tbody>
        </table>
    </div>
    <br>
    <div class="ui center aligned grid">
        <div class="sixteen wide column">
            <button class="ui mini primary button" routerLink='/int06/2'>
          <i class="arrow circle left icon"></i>
      กลับ
        </button>
            <button class="ui mini primary button">
          <i class="print icon"></i>
          ส่งออก
        </button>
        </div>
    </div>

</div>