<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>ประเมินความเสี่ยงระบบสารสนเทศฯ ของกรมสรรพสามิต</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
          <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ปีงบประมาณ</label>
              </div>

              <div class="four wide field ">
                <div class="ui calendar" style="width:100%" id="year" >
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="calendar"  id="budgetYear" placeholder="ปี"  maxlength="4"   name="budgetYear" [(ngModel)]="budgetYear" >
                  </div>
                </div>
              </div>



              <div class="two wide field ">
                <label>ปัจจัยเสี่ยง</label>
              </div>
              <div class="four wide field ">
                <select class="ui search dropdown">
                  <option value="0">ปัจจัยเสี่ยงงบประมาณ </option>
    
                </select>
              </div>
            </div>

        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button" (click)="searchDataTable()">
              <i class="add icon"></i>
              ค้นหา
            </button>
            <button class="ui mini button" (click)="clearData()">
              <i class="refresh icon"></i>
              ล้างข้อมูล
            </button>
            <button class="ui mini primary button" (click)="createBudgetYear()">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>
        <br>

        <div style="overflow-x: scroll;">
          <table id="dataTable"  class="ui small celled table" style="width: 140%;">
            <thead>
              <tr>
                <th style="text-align: center !important">#</th>
                <th style="text-align: center !important">ที่</th>
                <th style="text-align: center !important" class="four wide field ">ชื่อกระดาษทำการ</th>
                <th style="text-align: center !important" class="four wide field ">ปัจจัยเสี่ยง</th>
                <th style="text-align: center !important">ปีงบประมาณ</th>
                <th style="text-align: center !important">วันที่สร้าง</th>
                <th style="text-align: center !important">ผู้สร้าง</th>
                <th style="text-align: center !important">Action</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="inline fields"></div>
        <div class="inline fields ">
          <div class="sixteen wide field ">
            <div class="eight wide field "></div>
            <button class="ui mini red button" >
              <i class="trash alternate icon"></i>
              ลบ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>