<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ตรวจการส่งออก
    </h2>

    <div class="ui top attached header">
      <span>ตรวจการส่งออก</span>
    </div>
    <div class="ui attached segment">

      <div class="inline fields">
        <div class="one wide field ">
          <h4>ข้อมูลผู้ส่งออก</h4>
        </div>
      </div>
      <br>
      <div class="ui form">
        <div class="inline fields">
          <div class="four  wide field ">
            <label>ชื่อ:
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="Honda K Motor">
          </div>
          <div class="two  wide field ">
            <label>ประเภท:
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="ส่งออก">
          </div>
        </div>


        <div class="inline fields">
          <div class="four wide field ">
            <label>เลขบัตรประชาชน/เลขทะเบียนนิติบุคคล
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="1908499938043">
          </div>
        </div>

        <div class="inline fields">
          <div class="four wide field ">
            <label>เลขที่สาขาภาษีมูลค่าเพิ่ม (ถ้ามี) </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>


        <div class="inline fields">
          <div class="four  wide field ">
            <label>ที่ตั้ง
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="350 แขวง ถนน พญาไท เขต ราชเทวี กรุงเทพฯ 10400">

          </div>
        </div>

        <div class="inline fields">
          <div class="four  wide field ">
            <h4>ข้อมูลนำสินค้าออก</h4>
          </div>
        </div>


        <div class="inline fields">
          <div class="four  wide field ">
            <label>ขอนำสินค้าออกจาก </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="คลังสินค้า Honda ประเทศไทย">
          </div>
        </div>

        <div class="inline fields">
          <div class="four wide field ">
            <label>ทะเบียนสรรพสามิต
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="190394893331">
          </div>
          <div class="two wide field ">
            <label>คลังสินค้าทัณฑ์บน
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="1123123141">
          </div>
        </div>


        <div class="inline fields">
          <div class="four  wide field ">
            <label>สถานที่เก็บสินค้า </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="350 แขวง ถนน พญาไท เขต ราชเทวี กรุงเทพฯ 10400">
          </div>
        </div>

        <div class="inline fields">
          <div class="four  wide field ">
            <label>เพื่อ</label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="ส่งออก">
          </div>
        </div>

        <div class="inline fields">
          <div class="four  wide field ">
            <label>โดย</label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value=" Honda K Motor">
          </div>
        </div>

        <div class="inline fields">
          <div class="four  wide field ">
            <label>จำนวนเงิน (กรณีขอคืนภาษี)</label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <div class="inline fields">
          <div class="four  wide field ">
            <h4>มีรายการดังนี้</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top attached header">
      <span>มีรายการดังนี้</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <table class="ui small celled table striped">
          <thead>
            <tr style="text-align: center;">
              <th>รายการ</th>
              <th>ประเภท</th>
              <th>ชื่อสินค้าและชนิด</th>
              <th>แบบ/รุ่น</th>
              <th>ขนาด</th>
              <th>จำนวน</th>
              <th>ราคาขายปลีกแนะนำ</th>
              <th>ภาษีตามมูลค่าร้อยละ </th>
              <th>ภาษีตามปริมาณ </th>
              <th>จำนวนภาษี </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>รถยนต์</td>
              <td>CRV-11023</td>
              <td>2000-AVC-VVT</td>
              <td>2000</td>
              <td>2</td>
              <td>2200000</td>
              <td>50000</td>
              <td>100000</td>
              <td>130000</td>
            </tr>
            <tr>
              <td>2</td>
              <td>รถยนต์</td>
              <td>CRV-11023</td>
              <td>2200-AVC-VVT</td>
              <td>2200</td>
              <td>1</td>
              <td>1900000</td>
              <td>450000</td>
              <td>90000</td>
              <td>200000</td>
            </tr>

            <tr>
              <td>3</td>
              <td>รถยนต์</td>
              <td>CRV-11023</td>
              <td>1800-AVC-VVT</td>
              <td>1800</td>
              <td>2</td>
              <td>1300000</td>
              <td>400000</td>
              <td>800000</td>
              <td>190000</td>
            </tr>
            <tr>
              <td colspan="9" style="text-align: right;">รวม</td>
              <td>520000</td>
            </tr>

          </tbody>
        </table>
        <br>
        <div class="ui center aligned grid">
          <div class="four wide column">
            <button class="ui mini primary button" routerLink="/epa01/1/2">
              ตรวจการส่งออก
            </button>
            <button class="ui mini button" style="width: 100px;">
              ยกเลิก
            </button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>