<div class="ui grid">
    <div class="sixteen wide column">
  
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>ตรวจสอบแสตมป์รายเดือน</span>
      </div>
  
      <div class="ui attached segment">
        <div class="ui form">
          <div class="inline fields">
            <div class="three wide field">
              <label class="">ว.ด.ป. รับ - จ่าย </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="">
            </div>
  
            <div class="two wide field">
              <label class="">ชนิดแสตมป์/ขนาดบรรจุ
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร ">	
             
            </div>
            <div class="two wide field">
              <label class="custom-label-w-15">ค่าภาษี (บาท)
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="">
            </div>
          </div>
  
  
          <div class="inline fields">
            <div class="three wide field">
              <label class="">สถานะการรับ - จ่าย </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="จ่าย">
            </div>
  
            <div class="two wide field">
              <label class="">จำนวน
                <br>(เล่ม)</label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="">
            </div>
            <div class="two wide field">
              <label class="custom-label-w-15">รหัสแสตมป์(เริ่ม)	
                </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="10000" >
            </div>
          </div>
  
  
          <div class="inline fields">
            <div class="three wide field">
              <label class="">รหัสผู้ประกอบการ	
                </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="สาขาแจ้งห่ม">
            </div>
  
            <div class="two wide field">
              <label class="">จำนวน (ดวง)
                </label>
            </div>
            <div class="three wide  field">
                <input type="text" placeholder="" value="10000" class="custom-readonly" disabled>
            </div>
            <div class="two wide field">             
                <label class="custom-label-w-15">รหัสแสตมป์(ถึง) </label>	
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="3.75">
            </div>
          </div>
  
  
  
          <div class="inline fields">
            <div class="three wide field">
              <label class="">หน่วยงาน/ผู้ประกอบการ	
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="นาย ข">	         
            </div>
  
            <div class="two wide field">
              <label class="">มูลค่าพิมพ์ (บาทต่อดวง)
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="">
            </div>
            <div class="two wide field">
              <label class="custom-label-w-15">คงเหลือจริง
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="37500" >
            </div>
          </div>
  
  
  
          <div class="inline fields">
            <div class="three wide field">
              <label class="">รหัสชนิดแสตมป์
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="">
            </div>
  
            <div class="two wide field">
              <label class="">รวมค่าพิมพ์แสตมป์ (บาท)	
              </label>
            </div>
            <div class="three wide  field">
              <input type="text" placeholder="" value="37500" class="custom-readonly" disabled>
            </div>
          </div>
          <div class="inline fields">
            <div class="three wide field">
              <label>หมายเหตุ</label>
            </div>
            <div class="three wide field">
              <textarea style="width: 220px;height: 100px;"></textarea>
            </div>
          </div>
  
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button ">
              บันทึก
            </button>
            <button class="ui mini primary button">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>