<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ประเมินความเสี่ยงโครงการ</h2>

    <div class="ui top attached header">
      <span>ประเมินความเสี่ยงโครงการ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui three column center aligned grid">
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-1-1">
            <i class="line chart icon"></i>
            ประเมินความเสี่ยงโครงการด้านงบประมาณ
          </button>
        </div>
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-1-2">
            <i class="line chart icon"></i>
            ประเมินความเสี่ยงโครงการด้านประสิทธิภาพ
          </button>
        </div>
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-1-3">
            <i class="line chart icon"></i>
            ประเมินความเสี่ยงโครงการรวม
          </button>
        </div>
      </div>
    </div>

  </div>
</div>