<div class="ui borderless menu fixed" style="background:#1e83db;z-index: 999;">
    <img class="logo" src="assets/images/Logo3.jpg" style="width: 250px; height: 69px; ">
    <a href="#" class="header item" style=" color:White " *ngIf="authService.getLogin()">
        {{ 'APP_NAME' | translate }}
    </a>
    <a href="#" class="ui header center aligned item grid" style="color:White;width: calc(100% - 500px);font-size: 20px;"
        *ngIf="!authService.getLogin()">
        ระบบบริหารจัดการ&nbsp;&nbsp;การตรวจปฏิบัติการแบบบูรณาการ
    </a>
    <div class="ui simple dropdown item" *ngIf="authService.renderByPage('InternalAudit')" style="color:White; ">
        ตรวจสอบภายใน
        <i class="dropdown icon "></i>
        <div class="menu " style="width: 340px;">
            <!-- <div class="ui simple dropdown item " *ngIf="authService.renderByPage('int02')">
                <i class="dropdown icon "></i> ระบบการควบคุมภายใน
                <div class="menu" style="margin:20px;">
                    <div class="ui simple dropdown item ">
                        แบบสอบถามระบบการควบคุมภายใน<i class="dropdown icon "></i>
                        <div class="menu" style="margin:20px;">
                            <a class="item" [routerLink]="['/int02/1']" *ngIf="authService.renderByPage('int02/1')"
                                routerLinkActive="active">สร้างแบบสอบถามระบบการควบคุมภายใน</a>
                            <a class="item" [routerLink]="['/int02/m2']" *ngIf="authService.renderByPage('int02/m2')"
                                routerLinkActive="active">แบบสอบถามระบบการควบคุมภายใน</a>
                            <a class="item" [routerLink]="['/int02/m4']" *ngIf="authService.renderByPage('int02/m4')"
                                routerLinkActive="active">สรุปผลแบบสอบถามระบบการควบคุมภายใน</a>
                            <a class="item" [routerLink]="['/int02/m3']" *ngIf="authService.renderByPage('int02/m3')"
                                routerLinkActive="active">จัดการข้อมูลแบบสอบถามระบบการควบคุมภายใน</a>
                        </div>
                    </div>
                    <div class="ui simple dropdown item " [routerLink]="['/int02/m5/1']" *ngIf="authService.renderByPage('int02/m5/1')">
                        แบบประเมินระบบการควบคุมภายใน
                    </div>
                </div>
            </div> -->
            <div class="ui simple dropdown item " *ngIf="authService.renderByPage('int08')">
                <i class="dropdown icon "></i> การประเมินความเสี่ยง
                <div class="menu " style="margin:20px; width:120%;">
                    <a class="item " [routerLink]="[ '/int08/1/1'] " *ngIf="authService.renderByPage('int08/1/1')"
                        routerLinkActive="active ">ประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</a>
                    <a class="item " [routerLink]="[ '/int08/2/1'] " *ngIf="authService.renderByPage('int08/2/1')"
                        routerLinkActive="active ">ประเมินความเสี่ยงระบบสารสนเทศฯ ของกรมสรรพสามิต
                    </a>
                    <a class="item " [routerLink]="[ '/int08/3/1'] " *ngIf="authService.renderByPage('int08/1/1')"
                        routerLinkActive="active ">ประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</a>

                </div>
            </div>
            <!-- <a class="item " [routerLink]="[ '/int09/1'] " *ngIf="authService.renderByPage('int09/1')" routerLinkActive="active "
                style="color: #000; ">ประมาณการค่าใช้จ่ายในการเดินทางไปราชการ</a> -->
            <div class="ui dropdown item " *ngIf="authService.renderByPage('int01')">
                <i class="dropdown icon "></i> ตรวจสอบรายได้
                <div class="menu ">
                    <a class="item " [routerLink]="[ '/int01/1/1'] " *ngIf="authService.renderByPage('int01/1/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบใบเสร็จรับเงินภาษีสรรพสามิต</a>

                    <a class="item " [routerLink]="[ '/int01/2/1'] " *ngIf="authService.renderByPage('int01/2/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบใบอนุญาต</a>
                    <!-- <a class="item " [routerLink]="[ '/int01/3/1'] " *ngIf="authService.renderByPage('int01/3/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบใบเสร็จค่าปรับเปรียบเทียบคดี</a> -->
                    <a class="item " [routerLink]="[ '/int01/8/1'] " *ngIf="authService.renderByPage('/int01/8/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบการนำฝาก/ส่งเงินรายได้</a>
                    <!-- <a class="item " [routerLink]="[ '/int01/4/1'] " *ngIf="authService.renderByPage('int01/4/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบงบสรุปยอดเงินค่าภาษีกับงบทดลอง</a> -->
                    <!-- <a class="item " [routerLink]="[ '/int01/5/1'] " *ngIf="authService.renderByPage('int01/5/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบสถิติการชำระภาษีของผู้ประกอบการ</a>
                    <a class="item " [routerLink]="[ '/int01/6/1'] " *ngIf="authService.renderByPage('int01/6/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบสถิติการต่ออายุใบอนุญาต</a>
                    <a class="item " [routerLink]="[ '/int01/7/1'] " *ngIf="authService.renderByPage('int01/7/1')"
                        routerLinkActive="active " style=" color:White ">ตรวจสอบการพิมพ์ใบอนุญาตซ้ำ</a>
                    <a class="item " [routerLink]="[ '/int01/9/1'] " *ngIf="authService.renderByPage('int01/9/1')"
                        routerLinkActive="active " style=" color:White ">รายงานตัดปีงบประมาณเงินผลประโยชน์ </a> -->

                </div>
            </div>
            <div class="ui simple dropdown item " *ngIf="authService.renderByPage('int05')">
                <i class="dropdown icon "></i> ตรวจสอบพัสดุ
                <div class="menu ">            

                        <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('int05')">
                            <i class="dropdown icon "></i> ตรวจสอบแสตมป์
                            <div class="menu ">
                                <a class="item "  [routerLink]="[ '/int05/1/1'] " *ngIf="authService.renderByPage('int05/1/1')" routerLinkActive="active ">ตรวจสอบแสตมป์</a>
                                <!-- <a class="item  "  [routerLink]="[ '/int05/2'] " *ngIf="authService.renderByPage('int05/2')" routerLinkActive="active ">งบเดือนการรับ-จ่ายแสตมป์</a>                               
                                <a class="item "  [routerLink]="[ '/int05/2/1'] " routerLinkActive="active ">บัญชีคุมการรับ-จ่ายแสตมป์</a>     -->
                            </div>
                        </div>

                    <!-- <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('int05-S1')">
                        <i class="dropdown icon "></i> ตรวจสอบสินทรัพย์
                        <div class="menu ">
                            <a class="item " [routerLink]="[ '/int05/3'] " *ngIf="authService.renderByPage('int05/3')"
                                routerLinkActive="active ">ตรวจสอบสินทรัพย์แบบอัพโหลด</a>
                            <a class="item " [routerLink]="[ '/int05/3/1'] " *ngIf="authService.renderByPage('int05/3/1')"
                                routerLinkActive="active ">ตรวจสอบสินทรัพย์แบบเพิ่มข้อมูล</a>
                            <a class="item " [routerLink]="[ '/int05/3/3'] " *ngIf="authService.renderByPage('int05/3/3')"
                                routerLinkActive="active ">บันทึกข้อมูลสินทรัพย์</a>

                        </div>
                    </div> -->
                    <div class="ui dropdown item " routerLinkActive="active " >
                        <i class="dropdown icon "></i> ตรวจสอบจัดซื้อจัดจ้าง
                        <div class="menu ">
                            <a class="item " [routerLink]="[ authService.renderByPage('admin') ? '/int05/4/admin' : '/int05/4']"
                            *ngIf="authService.renderByPage('int05/4')" routerLinkActive="active ">ตรวจสอบผลการจัดซื้อจัดจ้าง</a>
                        <a class="item " [routerLink]="[ '/int05/4']" *ngIf="authService.renderByPage('int05/4')"
                            routerLinkActive="active ">บันทึกผลการจัดซื้อจัดจ้าง</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui simple dropdown item " *ngIf="authService.renderByPage('int07')">
                <i class="dropdown icon "></i> ตรวจสอบบัญชี
                <div class="menu ">
                    <a class="item " [routerLink]="[ '/int07/1'] " *ngIf="authService.renderByPage('int07/1')"
                        routerLinkActive="active ">ตรวจสอบข้อมูลบัญชี
                    </a>
                    <a class="item " [routerLink]="[ '/int07/3'] " *ngIf="authService.renderByPage('int07/3')"
                        routerLinkActive="active ">ตรวจสอบงบทดลองกระทบยอด เดบิต เครดิต บัญชีแยกประเภท</a>
                    <a class="item " [routerLink]="[ '/int07/7'] " *ngIf="authService.renderByPage('int07/7')"
                        routerLinkActive="active ">ตรวจสอบรายงานเคลื่อนไหวเงินฝากคลัง
                    </a>
                    <a class="item " [routerLink]="[ '/int07/6'] " *ngIf="authService.renderByPage('int07/6')"
                        routerLinkActive="active ">ตรวจการนำส่งเงินบัญชีเจ้าหนี้ อปท.
                    </a>
                </div>
            </div>
            <div class="ui simple dropdown item " *ngIf="authService.renderByPage('int06')">
                <i class="dropdown icon "></i> ตรวจสอบเบิกจ่าย
                <div class="menu ">
                    <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('int06-1')">
                        <i class="dropdown icon "></i> ตรวจสอบข้อมูลค่าใช้จ่าย
                        <div class="menu ">
                            <a class="item " [routerLink]="[ '/int06/1/1'] " *ngIf="authService.renderByPage('int06/1')"
                                routerLinkActive="active"> ตรวจสอบข้อมูลค่าใช้จ่าย</a>
                            <a class="item " [routerLink]="['/int06/1/2-1'] " *ngIf="authService.renderByPage('int06/1/2-1')"
                                routerLinkActive="active">บันทึกข้อมูลค่าใช้จ่าย </a>
                        </div>
                    </div>
                    <a class="item " [routerLink]="[ '/int06/2'] " *ngIf="authService.renderByPage('int06/2')"
                        routerLinkActive="active ">ตรวจสอบการเบิกและจ่ายเงิน</a>
                    <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('int06-1')">
                        <i class="dropdown icon "></i> ทะเบียนคุมการรับจ่ายเงิน
                        <div class="menu ">
                            <a class="item " [routerLink]="[ '/int06/9'] " *ngIf="authService.renderByPage('int06/9')"
                                routerLinkActive="active "> บันทึกข้อมูลรับโอนเงิน</a>
                            <!-- <a class="item " [routerLink]="[ '/int06/10'] " *ngIf="authService.renderByPage('int06/10')"
                                routerLinkActive="active ">บันทึกข้อมูลเบิกจ่าย</a> -->
                            <a class="item " [routerLink]="[ '/int06/5'] " *ngIf="authService.renderByPage('int06/5')"
                                routerLinkActive="active "> ทะเบียนคุมเช็ค</a>
                            <a class="item " [routerLink]="[ '/int06/6'] " *ngIf="authService.renderByPage('int06/6')"
                                routerLinkActive="active ">ทะเบียนคุม KTB - Coperate</a>
                            <!-- <a class="item "routerLinkActive="active ">ทะเบียนคุมเงินนอกงบประมาณ</a>    
                            <a class="item " [routerLink]="[ '/int06/11'] " *ngIf="authService.renderByPage('int06/11')"
                                routerLinkActive="active ">ทะเบียนคุมเงินงบประมาณ</a>
                            <a class="item " [routerLink]="[ '/int06/12'] " *ngIf="authService.renderByPage('int06/12')"
                                routerLinkActive="active ">รายงานสรุปการรับจ่ายเงิน</a> -->
                        </div>
                    </div>
                    <!-- <a class="item " [routerLink]="[ '/int06/3'] " *ngIf="authService.renderByPage('int06/3')"
                        routerLinkActive="active ">กระดาษทำการตรวจสอบวันปฏิบัติงาน</a>
                        <a class="item " [routerLink]="[ '/int06/7'] "  *ngIf="authService.renderByPage('int06/3')"
                        routerLinkActive="active ">ตรวจการเบิกค่าสารณูปโภค</a> -->
                </div>
            </div>
            <!-- <a class="item " [routerLink]="[ '/int01/8/1'] " *ngIf="authService.renderByPage('int01/8/1')"
                routerLinkActive="active " style="color: #000; ">ค้นหากระดาษทำการ</a> -->

            <div class="ui simple dropdown item " *ngIf="authService.renderByPage('int11')">
                <i class="dropdown icon "></i> ทะเบียนคุมการติดตามงาน
                <div class="menu ">
                    <a class="item " [routerLink]="[ '/int11/1'] " *ngIf="authService.renderByPage('int11/1')"
                        routerLinkActive="active ">ทะเบียนคุมการติดตามผลการตรวจสอบของโครงการ</a>
                    <a class="item " [routerLink]="[ '/int11/2'] " *ngIf="authService.renderByPage('int11/2')"
                        routerLinkActive="active ">ทะเบียนคุมการติดตามผลการตรวจสอบของหน่วยรับตรวจ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui simple dropdown item " *ngIf="authService.renderByPage('tax-audit')" style=" color:White ">
        ตรวจสอบภาษี
        <i class="dropdown icon "></i>
        <div class="menu ">
            <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('tax-audit-s1')">
                <i class="dropdown icon "></i>การคัดเลือกราย
                <div class="menu ">
                    <a class="item " [routerLink]="[ '/trader-selection'] " *ngIf="authService.renderByPage('trader-selection')"
                        routerLinkActive="active ">สร้างกระดาษทำการคัดเลือกราย</a>
                    <a class="item " [routerLink]="[ '/create-working-paper-trader'] " *ngIf="authService.renderByPage('create-working-paper-trader')"
                        routerLinkActive="active ">กำหนดเงื่อนไขเพื่อวิเคราะห์ความเสี่ยง </a>
                    <a class="item " [routerLink]="[ '/add-external-data'] " *ngIf="authService.renderByPage('add-external-data')"
                        routerLinkActive="active ">ส่งกระดาษทำการคัดเลือกราย </a>
                    <a class="item " [routerLink]="[ '/add-external-data/receive-line-user'] " *ngIf="authService.renderByPage('/add-external-data/receive-line-user')"
                        routerLinkActive="active ">รับกระดาษทำการคัดเลือกราย </a>
                    <a class="item " [routerLink]="[ '/add-external-data/approve-line-user'] " *ngIf="authService.renderByPage('/add-external-data/approve-line-user')"
                        routerLinkActive="active ">รายการที่เลือก </a>
                    <a class="item " [routerLink]="[ '/add-external-data/summary-report'] " *ngIf="authService.renderByPage('/add-external-data/summary-report')"
                        routerLinkActive="active ">ตรวจสอบรายการตอบกลับ </a>

                </div>
            </div>
            <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('tax-audit-s2')">
                <i class="dropdown icon "></i>การตรวจสอบภาษี
                <div class="menu ">
                    <a class="item " *ngIf="authService.renderByPage('analysis')" [routerLink]="[ '/analysis'] "
                        routerLinkActive="active ">การวิเคราะห์ข้อมูลเบื้องต้น
                    </a>
                    <!-- <a class="item " routerLinkActive="active ">รวบรวมข้อมูลเบื้องต้น </a> -->
                    <a class="item " [routerLink]="[ 'tax-audit-manage'] " routerLinkActive="active ">ขออนุมัติออกตรวจสอบภาษี
                    </a>
                    <a class="item " *ngIf="authService.renderByPage('select-form/บริการ/สินค้าน้ำมันและผลิตภัณฑ์น้ำมัน')"
                        [routerLink]="[ '/select-form/บริการ/สินค้าน้ำมันและผลิตภัณฑ์น้ำมัน'] " routerLinkActive="active ">สร้างกระดาษทำการตรวจสอบภาษี
                    </a>
                    <!-- <a class="item " routerLinkActive="active ">สรุปผลการตรวจสอบภาษี</a> -->
                </div>
            </div>
            <!-- <div class="ui dropdown item " routerLinkActive="active " *ngIf="authService.renderByPage('tax-audit-s3')">
                <i class="dropdown icon "></i>รายงานผลการตรวจสอบภาษี
                <div class="menu ">
                    <a class="item " *ngIf="authService.renderByPage('int10/1')" [routerLink]="[ '/int10/1'] "
                        routerLinkActive="active ">รายงานผลการตรวจสอบภาษี
                    </a>
                    <a class="item " routerLinkActive="active ">ติดตามผลการตรวจสอบภาษี </a>
                </div>
            </div>
            <a class="item " routerLinkActive="active ">ทะเบียนคุมหนังสือเรียก</a> -->
            <a class="item " *ngIf="authService.renderByPage('tax-audit-manage')" [routerLink]="[ 'tax-audit-manage'] "
                routerLinkActive="active ">บันทึกข้อความ หนังสือราชการ
            </a>
        </div>
    </div>
    <div class="ui simple dropdown item " *ngIf="authService.renderByPage('check-operation')" style=" color:White ">
        ตรวจปฏิบัติการ
        <i class="dropdown icon "></i>
        <div class="menu ">
                <!-- <a class="item " *ngIf="authService.renderByPage('cop01/1')" [routerLink]="[ '/cop01/1'] " routerLinkActive="active ">จัดทำแผนการตรวจปฏิบัติการ</a>
                <a class="item " *ngIf="authService.renderByPage('cop01/2')" [routerLink]="[ '/cop01/2'] " routerLinkActive="active ">ค้นหาแผนการตรวจสอบภาษี</a>
                <a class="item " *ngIf="authService.renderByPage('cop02/1')" [routerLink]="[ '/cop02/1'] " routerLinkActive="active ">รวบรวมข้อมูลเพื่อเตรียมออกตรวจปฏิบัติการ</a>
                <a class="item " *ngIf="authService.renderByPage('cop03/1')" [routerLink]="[ '/cop03/1'] " routerLinkActive="active ">จัดทำหนังสือขออนุมัติเดินทางไปราชการตรวจปฏิบัติการ</a>
                <a class="item " *ngIf="authService.renderByPage('cop03/1/1')" [routerLink]="[ '/cop03/1/1'] " routerLinkActive="active ">ค้นหาหนังสือขออนนุมัติเดินทางไปราชการ</a> -->
                <a class="item " *ngIf="authService.renderByPage('cop07/1')" [routerLink]="[ '/cop07/1'] " routerLinkActive="active ">แผนการตรวจปฏิบัติการประจำปีงบประมาณ</a>
                <div class="ui dropdown item ">รายงานการตรวจปฏิบัติการ<i class="dropdown icon "></i>
                        <div class="menu">
    
                            <a class="item " [routerLink]="['/cop06/1/1']">รายงานผลการตรวจปฏิบัติการการจ่ายวัตถุดิบ</a>
                            <a class="item " [routerLink]="['/cop06/1/2']">รายงานผลการตรวจปฏิบัติการตรวจนับวัตถุดิบคงเหลือ</a>
                            <a class="item " [routerLink]="['/cop06/3']">รายงานผลการตรวจปฏิบัติการรับสินค้าสำเร็จรูป</a>
                            <a class="item " [routerLink]="['/cop06/3/1']">รายงานผลการตรวจปฏิบัติการจ่ายสินคาสำเร็จรูป</a>
                            <a class="item " [routerLink]="['/cop06/4']">รายงานการตรวจปฏิบัติการตรวจสอบการลดหย่อนภาษี</a>
    
                        </div>
                    </div>
                <!-- <a class="item " *ngIf="authService.renderByPage('cop06')" [routerLink]="[ '/cop06'] " routerLinkActive="active ">รายงานการตรวจปฏิบัติการ</a> -->
                <a class="item " *ngIf="authService.renderByPage('cop06')" [routerLink]="[ '/cop06'] " routerLinkActive="active ">สรุปผลการตรวจปฏิบัติการ</a>
                <a class="item " *ngIf="authService.renderByPage('cop06')" [routerLink]="[ '/tax-audit-manage'] " routerLinkActive="active ">จัดทำหนังสือราชการ บันทึกข้อความ และแบบ ตส.ต่างๆ</a>
                <!-- <a class="item " *ngIf="authService.renderByPage('cop04/1')" [routerLink]="[ '/cop04/1'] " routerLinkActive="active ">บันทึกผลการตรวจปฏิบัติการ</a>
                <a class="item " *ngIf="authService.renderByPage('cop04/2')" [routerLink]="[ '/cop04/2'] " routerLinkActive="active ">ค้นหาบันทึกผลการตรวจปฏิบัติการ</a>
                <a class="item " *ngIf="authService.renderByPage('cop05/1')" [routerLink]="[ '/cop05/1'] " routerLinkActive="active ">รายงานผลการตรวจปฏิบัติการ</a>   -->
    
            </div>
    </div>

    <!-- ///// START Menu Export Checking ///// -->
    <div class="ui simple dropdown item " *ngIf="authService.renderByPage('epa01')" style="color:White;">
        ระบบการตรวจส่งออก
        <i class="dropdown icon "></i>
        <div class="menu" style="width: 400px;">
            <div class="ui dropdown item ">
                การตรวจส่งออกสินค้า ณ โรงอุตสาหกรรม หรือคลังสินค้า<i class="dropdown icon "></i>
                <div class="menu">
                    <a class="item " [routerLink]="['/epa01/1']">
                        ค้นหาข้อมูลแบบคำขอยกเว้น หรือคืนภาษี (ภส.05-01)</a>
                    <a class="item " [routerLink]="['/epa01/2']">
                        บันทึกผลการตรวจส่งออกสินค้า ณ โรงอุตสาหกรรม หรือคลังสินค้า</a>
                    <a class="item " [routerLink]="['/epa01/3']">
                        รายงานผลการตรวจส่งออกสินค้า ณ โรงอุตสาหกรรม หรือคลังสินค้า</a>
                </div>
            </div>
            <div class="ui dropdown item ">
                การตรวจส่งออกสินค้า ณ ด่านส่งออกสินค้า<i class="dropdown icon "></i>
                <div class="menu">
                    <a class="item " [routerLink]="['/epa02/1']">
                        ค้นหาข้อมูลผลการตรวจส่งออกสินค้า ณ โรงอุตสาหกรรม หรือคลังสินค้า</a>
                    <a class="item " [routerLink]="['/epa02/2']">
                        บันทึกผลการตรวจส่งออกสินค้า ณ ด่านส่งออกสินค้า</a>
                    <a class="item " [routerLink]="['/epa02/3']">
                        รายงานผลการตรวจส่งออกสินค้า ณ ด่านส่งออกสินค้า</a>
                    <a class="item " [routerLink]="['/epa02/4']">
                        สรุปผลการตรวจส่งออก ณ ด่านส่งออกสินค้า</a>
                </div>
            </div>
            <div class="ui dropdown item ">
                รายงานผลการตรวจส่งออก<i class="dropdown icon "></i>
                <div class="menu">
                    <a class="item" [routerLink]="['/epa03/1']">ค้นหาข้อมูลการรายงานผลการตรวจส่งออก</a>
                    <a class="item" [routerLink]="['/epa03/2']">ค้นหาข้อมูลใบขนสินค้าขาออก</a>
                    <a class="item" [routerLink]="['/epa03/3']">รายงานสรุปผลการตรวจส่งออก</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ///// END Menu Export Checking ///// -->

    <div class="ui simple dropdown item " style=" color:White " *ngIf="authService.renderByPage('report')">
        ระบบบริหารและควบคุม
        <i class="dropdown icon "></i>
        <div class="menu ">
            <a class="item " [routerLink]="[ '/mgcontrol'] " routerLinkActive="active ">ข้อมูลทางสารสนเทศ</a>
            <a class="item " [routerLink]="[ '/mgReportResult'] " routerLinkActive="active ">รายงานผลการออกตรวจ</a>
            <div class="ui dropdown item " routerLinkActive="active ">
                <i class="dropdown icon "></i> รายงานผลการตรวจ
                <div class="menu ">
                    <a class="item " [routerLink]="[ '/report/tax'] " routerLinkActive="active ">รายงานผลการตรวจสอบภาษี</a>
                    <a class="item " [routerLink]="[ '/report/int'] " routerLinkActive="active ">รายงานผลการตรวจสอบภายใน
                    </a>
                    <a class="item " [routerLink]="[ '/report/out'] " routerLinkActive="active ">รายงานผลการตรวจส่งออก
                    </a>
                    <a class="item " [routerLink]="[ '/report/opt'] " routerLinkActive="active ">รายงานผลการตรวจปฏิบัติการ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui simple dropdown item " *ngIf="authService.renderByPage('admin')" style=" color:White ">
        ผู้ดูแลระบบ
        <i class="dropdown icon "></i>
        <div class="menu ">
            <a class="item " [routerLink]="[ '/message'] " routerLinkActive="active ">ข้อความ</a>
            <a class="item " [routerLink]="[ '/parameterGroup'] " routerLinkActive="active ">ข้อความระบบ</a>
            <a class="item " [routerLink]="[ '/userManagement'] " routerLinkActive="active ">จัดการผู้ใช้</a>
        </div>
    </div>

    <div class="right menu ">
        <a class="item " *ngIf="!authService.getLogin() " style="color:white; " [routerLink]="[ '/login'] ">เข้าสู่ระบบ</a>
        <div class="item " *ngIf="authService.getLogin() " style=" color:White ">

            <div id="userDetail" style="text-align: right"></div>
        </div>
        <a class="item " *ngIf="authService.getLogin() " (click)="logout() " style=" color:White ">ออกจากระบบ</a>
    </div>
</div>
<div class="ui tiny test modal transition hidden baiwa-alert" style="height: 0;">
    <div class="header ">
        Delete Your Account
    </div>
    <div class="content ">
        <p>Are you sure you want to delete your account</p>
    </div>
    <div class="actions ">
        <div class="ui approve button ">OK</div>
    </div>
</div>
<ui-modal [id]="'alert'" [size]="'mini'" [type]="'custom'">
    <div class="ui header" id="alert-header">
        เกิดข้อผิดพลาด
    </div>
    <div class="content" id="alert-content">
        <p></p>
    </div>
    <div class="actions" id="alert-actions">
        <div class="ui mini primary cancel button center floated">
            <i class="remove icon"></i> ปิด
        </div>
    </div>
</ui-modal>
<ui-modal [id]="'confirm'" [size]="'mini'" [type]="'custom'">
    <div class="ui header">
        การยืนยัน
    </div>
    <div class="content">
        <p>ต้องการลบหรือไม่?</p>
    </div>
    <div class="actions">
        <div class="ui mini negative button">
            ยกเลิก
        </div>
        <div class="ui mini positive right labeled icon button">
            ยืนยัน
            <i class="checkmark icon"></i>
        </div>
    </div>
</ui-modal>

<div class="ui main {{loading ? 'blurring' : ''}} container-fluid ">
    <div class="ui active inverted dimmer " *ngIf="loading ">
        <div class="ui text loader ">กำลังโหลด...</div>
    </div>
    <message-bar></message-bar>
    <router-outlet></router-outlet>
</div>

<div class="ui vertical footer " style="background:#1e83db; color: white; ">
    <div class="ui center aligned container ">
        <p id="versionProgram"></p>
    </div>
</div>