<div class="ui borderless menu fixed">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="assets/images/logo.png"> {{ 'APP_NAME' | translate }}
        </a>
        <a class="item" [routerLink]="['/home']" routerLinkActive="active" *ngIf="authService.getLogin()">Home</a>
        <div class="ui simple dropdown item" *ngIf="authService.getLogin()">
            ตรวจสอบภายใน (รายได้)
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i> ตรวจสอบใบเสร็จ
                    <div class="menu">
                        <a class="item" [routerLink]="['/int01-1-1']" routerLinkActive="active">ภาษีสรรพสามิต และรายได้อื่นๆ</a>
                        <a class="item" [routerLink]="['/int01-2-1']" routerLinkActive="active">ใบอนุญาต</a>
                    </div>
                </div>
                <a class="item" [routerLink]="['/2']" routerLinkActive="active">ตรวจสอบการนำส่งรายได้</a>
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i> ตรวจสอบงบสรุปยอดเงินค่าภาษี กับงบทดลองประจำเดือน &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="menu">
                        <a class="item" [routerLink]="['/int03-1']" routerLinkActive="active">ตรวจสอบ</a>
                        <a class="item" [routerLink]="['/int03-2']" routerLinkActive="active">ตั้งค่าจับคู่รหัสภาษี</a>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i> ตรวจสอบสถิติการชำระภาษี
                    <div class="menu">
                        <a class="item" [routerLink]="['/check-company-payment']" routerLinkActive="active">ตรวจสอบสถิติการชำระภาษี</a>
                        <a class="item" [routerLink]="['/check-company-renew']" routerLinkActive="active">ตรวจสอบสถิติการต่ออายุใบอนุญาต</a>
                    </div>
                </div>
                <a class="item" [routerLink]="['/check-reprint-license']" routerLinkActive="active">ตรวจสอบการพิมพ์ใบอนุญาตซ้ำ</a>
                <div class="ui simple dropdown item">
                    <i class="dropdown icon"></i> ตรวจสอบพัสดุ
                    <div class="menu">
                        <div class="ui dropdown item">
                            <i class="dropdown icon"></i> ตรวจสอบแสตมป์
                            <div class="menu">
                                <a class="item" [routerLink]="['/int05-1']" routerLinkActive="active">เปรียบเทียบรวมทั้งปีงบประมาณ</a>
                                <a class="item" [routerLink]="['/int05-2']" routerLinkActive="active">เปรียบเทียบรายสาขา</a>
                            </div>
                        </div>
                        <a class="item" [routerLink]="['/int05-3']" routerLinkActive="active">ตรวจสอบสินทรัพย์</a>
                        <a class="item" [routerLink]="['/int05-4']" routerLinkActive="active">บันทึกผลการจัดซื้อจัดจ้าง</a>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    <i class="dropdown icon"></i> ตรวจเบิกจ่าย
                    <div class="menu">
                        <a class="item" [routerLink]="['/int06-1']" routerLinkActive="active">ตรวจค่าใช้จ่าย</a>
                        <a class="item" [routerLink]="['/int06-2']" routerLinkActive="active">ตรวจสรุปรายการขอเบิก</a>
                        <a class="item" [routerLink]="['/int06-3']" routerLinkActive="active">ตรวจสอบการเบิกค่าเบี้ยเลี้ยง</a>
                        <a class="item" [routerLink]="['/int06-4']" routerLinkActive="active">ตรวจสอบการเบิกค่าตอบแทนปฏิบัติงานนอกเวลาราชการ</a>
                        <a class="item" [routerLink]="['/int06-5']" routerLinkActive="active">ตรวจสอบการเบิกค่าตอบแทนผู้ควบคุมงาน</a>
                        <a class="item" [routerLink]="['/int06-6']" routerLinkActive="active">ตรวจสอบการเบิกค่าตอบแทนบุคคลหรือคณะกรรมการ</a>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    <i class="dropdown icon"></i> บัญชี
                    <div class="menu">
                        <a class="item" [routerLink]="['/int07-1']" routerLinkActive="active">นำเข้าเอกสาร</a>
                        <a class="item" [routerLink]="['/int07-2']" routerLinkActive="active">ตรวจสอบดุลบัญชีที่แสดงในช่อง "ยอดยกไป" ของงบทดลอง</a>
                        <a class="item" [routerLink]="['/int07-3']" routerLinkActive="active">ตรวจสอบความสัมพันธ์ของช่อง "เดบิต" "เครดิต" ในงบทดลอง</a>
                        <a class="item" [routerLink]="['/int07-4']" routerLinkActive="active">ตรวจสอบเปรียบเทียบ "เดบิต" "เครดิต" ในงบทดลองกับบัญชีแยกประเภท</a>
                        <a class="item" [routerLink]="['/int07-5']" routerLinkActive="active">ตรวจสอบเปรียบเทียบบัญชีเคลื่อนไหวเงินฝากคลังกระทบยอด 3 บัญชี</a>
                        <a class="item" [routerLink]="['/int07-6']" routerLinkActive="active">ตรวจสอบการนำส่งเงินบัญชีเจ้าหนี้ อปท.</a>
                        <a class="item" [routerLink]="['/int07-7']" routerLinkActive="active">สร้างกระดาษทำการเงินฝากคลัง</a>
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    <i class="dropdown icon"></i> ประเมินความเสี่ยง
                    <div class="menu">
                        <a class="item" [routerLink]="['/int08-1']" routerLinkActive="active">ประเมินความเสี่ยงโครงการ</a>
                        <a class="item" [routerLink]="['/int08-2']" routerLinkActive="active">ประเมินความเสี่ยงระบบสารสนเทศ</a>
                        <a class="item" [routerLink]="['/int08-3']" routerLinkActive="active">ประเมินความเสี่ยงภาคพื้นที่</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui simple dropdown item" *ngIf="authService.getLogin()">
            ตรวจสอบภาษี
            <i class="dropdown icon"></i>
            <div class="menu">
                <!-- <a class="item" [routerLink]="['/analysis']" routerLinkActive="active">วิเคราะห์ข้อมูลเบื้องต้น(OLD)</a> -->
                <a class="item" [routerLink]="['/trader-selection']" routerLinkActive="active">ระบบคัดเลือกราย</a>
                <!-- /tax-audit-operation -->
                <a class="item" [routerLink]="['/analysis']" routerLinkActive="active">ปฏิบัติการตรวจสอบภาษี</a>
                <a class="item" [routerLink]="['/tax-audit-reporting']" routerLinkActive="active">รายงานผลการตรวจสอบภาษี</a>
            </div>
        </div>
        <div class="ui simple dropdown item" *ngIf="authService.getLogin()">
            Administrator
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" [routerLink]="['/message']" routerLinkActive="active">Message</a>
                <a class="item" [routerLink]="['/parameterGroup']" routerLinkActive="active">Parameter</a>
                <a class="item" [routerLink]="['/userManagement']" routerLinkActive="active">UserManamgement</a>
            </div>
        </div>
        <div class="right menu">
            <div class="ui dropdown item">
                <input type="hidden" name="gender">
                <i class="world icon"></i>
                <div class="default text">Language</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" (click)="changeToEnglish()">
                        <i class="us flag"></i> English</div>
                    <div class="item" (click)="changeToThai()">
                        <i class="th flag"></i> Thai</div>
                </div>
            </div>
            <a class="item" *ngIf="!authService.getLogin()" [routerLink]="['/login']">Login</a>
            <div class="item" *ngIf="authService.getLogin()">{{user.username}}</div>
            <a class="item" *ngIf="authService.getLogin()" (click)="logout()">Logout</a>
        </div>
    </div>
</div>

<div class="ui main container">
    <message-bar></message-bar>
    <router-outlet></router-outlet>

</div>


<div class="ui vertical footer">
    <div class="ui center aligned container">
        <p>Baiwa 2017. All Rights Reserved</p>
    </div>
</div>

<div class="ui mini test modal transition hidden baiwa-confirm-modal">
    <div class="header">
        Delete Your Account
    </div>
    <div class="content">
        <p>Are you sure you want to delete your account</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            No
        </div>
        <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>


<div class="ui tiny test modal transition hidden baiwa-alert">
    <div class="header">
        Delete Your Account
    </div>
    <div class="content">
        <p>Are you sure you want to delete your account</p>
    </div>
    <div class="actions">
        <div class="ui approve button">OK</div>
    </div>
</div>