<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui grid">

  <!-- form 1 -->
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>สร้างกระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label class="text-right full-width">ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <div class="ui calendar" style="width:100%" id="year">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" id="budgetYear" placeholder="ปปปป" maxlength="4" name="budgetYear" [(ngModel)]="budgetYear">
              </div>
            </div>
          </div>
          <div class="two wide field ">
            <label class="text-right full-width">ปัจจัยเสี่ยง</label>
          </div>
          <div class="four wide field ">
            <select class="ui search dropdown ai" [(ngModel)]="selectRiskSearch">
              <option value="0">ปัจจัยเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่ทั้งหมด </option>
              <option *ngFor="let risk of riskList; index as i;" value="{{risk.value}}">{{risk.description}}</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="searchDataTable()">
            <i class="search icon"></i>
            ค้นหา
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
          <button class="ui mini green button" (click)="createBudgetYear()">
            <i class="add icon"></i>
            รายการใหม่
          </button>
        </div>
      </div>

      <!-- table -->
      <table id="dataTable" class="ui small celled table striped selectable" style="width: 100%;">
        <thead>
          <tr>
            <th style="text-align: center !important">ลำดับที่</th>
            <th style="text-align: center !important">ชื่อกระดาษทำการ</th>
            <th style="text-align: center !important">ปัจจัยเสี่ยง</th>
            <th style="text-align: center !important">ปีงบประมาณ</th>
            <th style="text-align: center !important">วันที่สร้าง</th>
            <th style="text-align: center !important">ผู้สร้าง</th>
            <th style="text-align: center !important">จัดการ</th>
          </tr>
        </thead>
      </table>
      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <div class="inline field">
          <button class="ui mini primary button" (click)="queryColumnNameListAndSetColumn()">
            <i class="table icon"></i>
            รายละเอียดปัจจัยเสี่ยงรวมประจำปี
          </button>
          <button class="ui mini primary button" (click)="queryTableInt080313()">
            <i class="table icon"></i>
            รายละเอียดผลการปราบปรามประจำปี
          </button>
        </div>
        </div>
      </div>
    </div>
    <br>

    <!-- form 2 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-3'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ความถี่การเข้าตรวจสอบ</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition -->
        <div class="inline fields">
          <table id="dataTableF1" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">วันที่ออกตรวจ</th>
                <th rowspan="2" style="text-align: center !important">วันที่ปิดตรวจ</th>
                <th rowspan="2" style="text-align: center !important">จำนวนปี</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 3 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-4'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 2 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>งบประมาณที่ใช้ดำเนินงานโครงการ</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 2 -->
        <div class="inline fields">
          <table id="dataTableF2" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ค่าความเสี่ยง</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important ;border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 4 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-6'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 5 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการจัดเก็บรายได้</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 5 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_6" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
                <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
                <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 5 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-7'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 6 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการปราบปรามด้านค่าปรับคดี</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 6 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_7" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
                <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
                <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 6 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-8'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 7 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการจัดเก็บรายได้</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 7 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_8" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
                <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
                <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 7 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-9'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 8 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ระบบการควบคุมภายใน</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 8 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_9" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">จำนวนครั้งที่ส่งเงินเกิน 3 วัน</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 8 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-10'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 9 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="three wide field ">
                <label>แบบสอบถามระบบการควบคุมภายใน</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 9 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_10" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">แบบสอบถามระบบการควบคุมภายใน</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 9 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-11'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 10 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>{{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 10 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_11" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">จำนวนครั้งที่ส่งเงินเกิน 3 วัน</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 10 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-12'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : สำนักงานสรรพสามิตภาคพื้นที่</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 11 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>สำนักงานสรรพสามิตภาคพื้นที่</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 11 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_12" class="ui small celled table striped selectable" style="width: 100%;">
            <thead id="trColumn">
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 11 -->
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-13'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : ผลการปราบปราม</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 12 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการปราบปราม</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 12 -->
        <div class="inline fields">
          <table id="dataTable_int08_3_13" class="ui small celled table striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th colspan="2" style="text-align: center !important">1.ค่าปรับคดี</th>
                <th colspan="2" style="text-align: center !important">2.จำนวนคดี</th>
                <th rowspan="2" style="text-align: center !important">ค่าความเสี่ยงเฉลี่ย</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
                <th style="text-align: center !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
                <th style="text-align: center !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearData() ">
              <i class=" remove icon "></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>