<div class="ui grid">
  <div class="sixteen wide column">

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>สร้างกระดาษทำการประเมินความเสี่ยงความถี่การตรวจ </span>
    </div>


    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="five wide field "></div>
          <div class="five wide field ">
            <input type="file" />
          </div>
          <button class="ui mini primary button">
            ตัวอย่างแบบฟอร์มนำเข้าระบบ
          </button>
        </div>
        <br>
      </div>

      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="popupEditData('#modalInt0831to2')">
            <i class="add  icon"></i>
            เพิ่มข้อมูล
          </button>
          <button class="ui mini primary button" (click)="uploadData()">
            <i class="upload icon"></i>
            อัพโหลด
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
        </div>
      </div>

    </div>

    <div class="ui segment" *ngIf="showData">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="popupEditData('#modalInt0831')">
            <i class="setting icon"></i>
            กำหนด RL
          </button>
          <button class="ui mini primary button">
            <i class=" save icon"></i>
            บันทึก
          </button>
          <button class="ui mini primary button">
            <i class="print icon"></i>
            พิมพ์
          </button>
          <div class="ui mini primary button">
            <div class="ui simple dropdown item">
              ส่งออก
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">PDF</div>
                <div class="item">Excel</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          กระดาษทำการประเมินความเสี่ยงความถี่การตรวจเพื่อพิจารณาคัดเลือกหน่วยงานรับตรวจสำนักงานสรรพสามิตภาค พื้นที่ และสาขา
          <br> ปีงบประมาณ พ.ศ. 2561
          <br> กลุ่มตรวจสอบภายใน กรมสรรพสามิต
        </div>
      </div>

      <div class="ui eight column grid">
        <div class="column right aligned">
          ปัจจัยเสี่ยง:
        </div>

        <div class="column" style="width: 30%;">
          4. ความถี่การเข้าตรวจสอบ
          <br> ได้รับการตรวจสอบภายในแล้ว
          <br> ได้รับการตรวจสอบภายในแล้ว
          <br> ได้รับการตรวจสอบภายในแล้ว
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
          <br> มากกว่า
        </div>

        <div class="column" style="width: 5%;" align="right">
          &nbsp;
          <br>1-2
          <br>3-5
          <br>
          <span style="margin-right: 10%;">5</span>
        </div>

        <div class="column right aligned" style="width: 10%;">
          &nbsp;
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br> 1
          <br> 2
          <br> 3
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br> ต่ำ
          <br> กลาง
          <br> สูง
        </div>
      </div>
      <br>
      <div style="overflow-x: scroll;">
        <table id="tableData" class="ui small celled table" style="width: 145%;">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="2">ลำดับ</th>
              <th rowspan="2">หน่วยงาน</th>
              <th colspan="8">ระยะเวลาตรวจ (ปีงบประมาณ)</th>
              <th rowspan="2">ระยะเวลาการตรวจสอบ (ปี)</th>
              <th colspan="2">ความเสี่ยง</th>
            </tr>
            <tr style="text-align: center;">
              <th style="border-left: 1px solid rgba(34,36,38,.1); width:6%;">2553</th>
              <th style="width:6%;">2554</th>
              <th style="width:6%;">2555</th>
              <th style="width:6%;">2556</th>
              <th style="width:6%;">2557</th>
              <th style="width:6%;">2558</th>
              <th style="width:6%;">2559</th>
              <th style="width:6%;">2560</th>
              <th style="width:8%;">RL</th>
              <th style="width:8%;">แปลค่า</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>ภาคที่ 10</td>
              <td>&nbsp;</td>
              <td>พ.ย.53-ก.พ.54</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>6</td>
              <td class="bg-red">3</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>2</td>
              <td>สสพ.กทม.1</td>
              <td>&nbsp;</td>
              <td>พ.ย.53-ก.พ.54</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>6</td>
              <td class="bg-red">3</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>3</td>
              <td>สสพ.กทม.2</td>
              <td>&nbsp;</td>
              <td>พ.ย.53-ก.พ.54</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>6</td>
              <td class="bg-red">3</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>4</td>
              <td>สสพ.กทม.3</td>
              <td>&nbsp;</td>
              <td>พ.ย.53-ก.พ.54</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>6</td>
              <td class="bg-red">3</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>5</td>
              <td>สสพ.กทม.4</td>
              <td>&nbsp;</td>
              <td>15พย-31ธค53</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>6</td>
              <td class="bg-red">3</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>6</td>
              <td>สสพ.กทม.5</td>
              <td>&nbsp;</td>
              <td>พ.ย.53-ก.พ.54</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>6</td>
              <td class="bg-red">3</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>7</td>
              <td>สสพ.ยะลา</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>23-24/4/55</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>8</td>
              <td>สาขาเบตง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>04 23 55</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>9</td>
              <td>สสพ.นราธิวาส</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>18-20/4/55</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>10</td>
              <td>สสพ.ปัตตานี</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>25-26/4/55</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>11</td>
              <td>สสพ.บึงกาฬ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>19-24 พย 57</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>12</td>
              <td>สาขาปากพนัง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>9-13/2/58</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>13</td>
              <td>สาขาทุ่งสง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>9-13/2/58</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>14</td>
              <td>สส.พท.นครราชสีมา สาขาบัวใหญ่</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>24/6/60</td>
              <td>0</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/int08/3">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
        <button class="ui mini button" routerLink="/int08/3/2">
          ถัดไป
          <i class="arrow right icon"></i>
        </button>
      </div>
    </div>

  </div>
</div>

<div id="modalInt0831" class="ui modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดเงื่อนไข RL และแปลงค่าประเมินความถี่การตรวจ
  </div>

  <div class="content">
    <div class="ui form">

      <table id="tableSetting" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr class="center aligned">
            <th>เงื่อนไขที่</th>
            <th>เงื่อนไข</th>
            <th>ค่าที่ 1</th>
            <th>ถึง</th>
            <th>ค่าที่ 2</th>
            <th>ค่า RL</th>
            <th>แปลงค่า</th>
            <th>สี</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <select id="selectCondition1" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="2">More Than</option>
              </select>
            </td>
            <td>1</td>
            <td>ถึง</td>
            <td>2</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>
              <select id="selectColor1" class="ui dropdown">
                <option value="0">เขียว</option>
                <option value="1">เหลือง</option>
                <option value="2">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <select id="selectCondition2" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="2">More Than</option>
              </select>
            </td>
            <td>3</td>
            <td>ถึง</td>
            <td>5</td>
            <td>2</td>
            <td>กลาง</td>
            <td>
              <select id="selectColor2" class="ui dropdown">
                <option value="0">เหลือง</option>
                <option value="1">เขียว</option>
                <option value="2">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <select id="selectCondition3" class="ui dropdown">
                <option value="0">More Than</option>
                <option value="1">Between</option>
                <option value="2">Less Than</option>
              </select>
            </td>
            <td>5</td>
            <td></td>
            <td></td>
            <td>3</td>
            <td>สูง</td>
            <td>
              <select id="selectColor3" class="ui dropdown">
                <option value="0">แดง</option>
                <option value="1">เหลือง</option>
                <option value="1">เขียว</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button">
          <i class="add icon"></i>
          เพิ่ม
        </button>
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="closePopupEdit()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>


<div id="modalInt0831to2" class="ui modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดเงื่อนไข RL และแปลงค่าประเมินความถี่การตรวจ
  </div>

  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="five wide field "></div>
        <div class="seven wide field ">
          <select id="selectColorto2" class="ui dropdown">
            <option value="0">สรรพสามิตภาคที่ 5 </option>
            <option value="1">สรรพสามิตภาคที่ 4 </option>
            <option value="2">สรรพสามิตภาคที่ 3 </option>
          </select>
        </div>
      </div>
      <div class="inline fields">
        <div class="five wide field "></div>
        <div class="five wide field ">
          <select id="selectColorto3" class="ui dropdown">
            <option value="0">สรรพสามิตพื้นที่เชียงราย</option>
            <option value="1">สรรพสามิตพื้นที่เชียงใหม่</option>
            <option value="2">สรรพสามิตพื้นที่พะเยา</option>
          </select>
        </div>
      </div>

      <table id="tableSetting" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr class="center aligned">
            <th>ที่</th>
            <th>สรรพสามิตภาค</th>
            <th>สรรพสามิตพื้นที่ </th>
            <th>สรรพสามิตพื้นที่สาขา </th>
            <th>วันที่เริ่มตรวจ</th>
            <th>วันที่ปิดตรวจ</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>ภาค5</td>
            <td>เชียงราย</td>
            <td>เมืองเชียงราย</td>
            <td> &nbsp;</td>
            <td>&nbsp;</td>

          </tr>

          <tr>
            <td>2</td>
            <td>ภาค5</td>
            <td>เชียงราย</td>
            <td>เชียงของ </td>
            <td> &nbsp;</td>
            <td>&nbsp;</td>

          </tr>
          <tr>
            <td>3</td>
            <td>ภาค5</td>
            <td>เชียงราย</td>
            <td>แม่สาย</td>
            <td> &nbsp;</td>
            <td>&nbsp;</td>

          </tr>
          <tr>
            <td>4</td>
            <td>ภาค5</td>
            <td>เชียงราย</td>
            <td>เวียงป่าเป่า </td>
            <td> &nbsp;</td>
            <td>&nbsp;</td>

          </tr>

        </tbody>
      </table>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button">
          <i class="add icon"></i>
          เพิ่ม
        </button>
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="closePopupEdit()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>