<div class="ui grid">

  <div class="sixteen wide column">

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>สร้างกระดาษทำการประเมินความเสี่ยงโครงการด้านงบประมาณ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <div class="ui calendar" style="width:100%" id="year">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="calendar" id="budgetYear" placeholder="ปี" maxlength="4" name="budgetYear" [(ngModel)]="budgetYear">
              </div>
            </div>
          </div>
          <div class="two wide field ">
            <label>ปัจจัยเสี่ยง</label>
          </div>
          <div class="four wide field ">
            <select class="ui search dropdown ai" [(ngModel)]="selectRiskSearch">
              <option value="0">ปัจจัยเสี่ยงงบประมาณ </option>
              <option *ngFor="let risk of riskList; index as i;" value="{{risk.value}}">{{risk.description}}</option>

            </select>
          </div>
        </div>
      </div>
      <br>

      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="searchDataTable()">
            <i class="add icon"></i>
            ค้นหา
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
          <button class="ui mini primary button" (click)="createBudgetYear()">
            <i class="add icon"></i>
            สร้าง
          </button>
        </div>
      </div>
      <table id="dataTable" class="ui small celled table">
        <thead>
          <tr>

            <th>ที่</th>
            <th>ชื่อกระดาษทำการ</th>
            <th>ปัจจัยเสี่ยง</th>
            <th>ปีงบประมาณ</th>
            <th>วันที่สร้าง</th>
            <th>ผู้สร้าง</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <BR/>
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-3'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">

          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>


          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>



        <div *ngFor="let con of condition; let i=index">

          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ความถี่การเข้าตรวจสอบ</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '<>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>

        </div>


        <div class="inline fields">
          <table id="dataTableF1" class="ui small celled table">
            <thead>
              <tr>

                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">วันที่ออกตรวจ</th>
                <th rowspan="2" style="text-align: center !important">วันที่ปิดตรวจ</th>
                <th rowspan="2" style="text-align: center !important">จำนวนปี</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>

              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
                <th style="text-align: center !important">แปลค่า</th>
              </tr>


            </thead>
          </table>

        </div>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class=" add icon "></i>
              Export
            </button>
            <button class="ui mini button " (click)="clearData() ">

              กลับ
            </button>

          </div>
        </div>
      </div>
    </div>



    <div class="sixteen wide column" *ngIf="openForm2">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">

          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr.budgetYear}}</label>
            </div>
          </div>


          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr.riskHdrName}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>



        <div *ngFor="let con of condition; let i=index">

          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>งบประมาณที่ใช้ดำเนินงานโครงการ</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '<>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>

        </div>


        <div class="inline fields">
          <table id="dataTableF2" class="ui small celled table">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">โครงการตามยุทธศาสตร์</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ค่าความเสี่ยง</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important ;border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
                <th style="text-align: center !important">แปลค่า</th>
              </tr>


            </thead>
          </table>

        </div>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class=" add icon "></i>
              Export
            </button>
            <button class="ui mini button " (click)="clearData() ">

              กลับ
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-6'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">

          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>


          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>



        <div *ngFor="let con of condition; let i=index">

          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการจัดเก็บรายได้</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '<>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>

        </div>


        <div class="inline fields">
          <table id="dataTable_int08_3_6" class="ui small celled table">
            <thead>
              <tr>

                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
                <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
                <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>

              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
                <th style="text-align: center !important">แปลค่า</th>
              </tr>


            </thead>
          </table>

        </div>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class=" add icon "></i>
              Export
            </button>
            <button class="ui mini button " (click)="clearData() ">

              กลับ
            </button>

          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-7'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">

          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>


          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>



        <div *ngFor="let con of condition; let i=index">

          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการปราบปรามด้านค่าปรับคดี</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '<>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>

        </div>


        <div class="inline fields">
          <table id="dataTable_int08_3_7" class="ui small celled table">
            <thead>
              <tr>

                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
                <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
                <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>

              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
                <th style="text-align: center !important">แปลค่า</th>
              </tr>


            </thead>
          </table>

        </div>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class=" add icon "></i>
              Export
            </button>
            <button class="ui mini button " (click)="clearData() ">

              กลับ
            </button>

          </div>
        </div>
      </div>
    </div>


    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-8'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">

          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>


          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>



        <div *ngFor="let con of condition; let i=index">

          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ผลการจัดเก็บรายได้</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '<>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>

        </div>


        <div class="inline fields">
          <table id="dataTable_int08_3_8" class="ui small celled table">
            <thead>
              <tr>

                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ผลการจัดเก็บรายได้</th>
                <th rowspan="2" style="text-align: center !important">ประมาณการรายได้</th>
                <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>

              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
                <th style="text-align: center !important">แปลค่า</th>
              </tr>


            </thead>
          </table>

        </div>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class=" add icon "></i>
              Export
            </button>
            <button class="ui mini button " (click)="clearData() ">

              กลับ
            </button>

          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column" *ngIf="pageShowPageIndex == 'int08-3-9'">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">

          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>


          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr != null ? riskAssRiskWsHdr.riskHdrName : ''}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>



        <div *ngFor="let con of condition; let i=index">

          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="two wide field ">
                <label>ระบบการควบคุมภายใน</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '<>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="one wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>

        </div>


        <div class="inline fields">
          <table id="dataTable_int08_3_9" class="ui small celled table">
            <thead>
              <tr>

                <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">จำนวนครั้งที่ส่งเงินเกิน 3 วัน</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>

              </tr>
              <tr>
                <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
                <th style="text-align: center !important">แปลค่า</th>
              </tr>


            </thead>
          </table>

        </div>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class=" add icon "></i>
              Export
            </button>
            <button class="ui mini button " (click)="clearData() ">

              กลับ
            </button>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>