<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">สร้างกระดาษทำการคัดเลือกราย</h2>

        <div class="ui top attached header">
            <span>สร้างกระดาษทำการคัดเลือกราย</span>
        </div>

        <div class="ui attached segment">

            <div class="ui form">

                <div class="inline fields">
                    <div class="ten wide field">
                    </div>
                    <div class="six wide field">
                        <label class="custom-label-w-20">เลขที่วิเคราะห์ข้อมูล</label>
                        <input value="" disabled="" />
                    </div>
                </div>

                <div class="inline fields">
                    <div class="three wide required field">
                        <label>ระยะเวลาที่ตรวจสอบ</label>
                    </div>                 
                    <div class="ui calendar" id="calendar">
                            <div class="ui input left icon">
                              <i class="time icon"></i>
                              <input type="text" placeholder="MM/DD">
                            </div>
                          </div>
                          <div class="one wide field"></div>
                    <div class="two wide field required">
                        <label>ย้อนหลังไป</label>
                    </div>
                    <div class="one wide field ">
                        <input type="text" step="2" min="0" placeholder="" (keyup)="onKeyUp($event)" value="">
                    </div>
                    <div class="one wide field">
                        <label>เดือน</label>
                    </div>
                  
                </div>


                <div class="ui center aligned grid">
                    <div class="eight wide column">
                        <button class="ui mini primary button" routerLink="/analyst-basic-data-trader">
                            <i class="search icon"></i>
                            วิเคราะห์ข้อมูลเบื้องต้น
                        </button>
                        <button class="ui mini button">
                            <i class="refresh icon"></i>
                            ล้างข้อมูล
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>