<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>กระดาษทำการประเมินความเสี่ยงสำนักงานสรรพสามิตภาคพื้นที่</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field required">
            <label class="text-right full-width">ชื่อกระดาษทำการ</label>
          </div>
          <div class="ten wide field ">
            <input type="text" placeholder="ชื่อกระดาษทำการ" maxlength="100" class="custom" name="riskHrdPaperName" id="riskHrdPaperName"
              [(ngModel)]="riskAssRiskWsHdr.riskHrdPaperName">
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field required">
            <label class="text-right full-width">ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="ปีงบประมาณ" class="custom" name="budgetYear" id="budgetYear" [(ngModel)]="riskAssRiskWsHdr.budgetYear"
              disabled="disabled">
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field required">
            <label class="text-right full-width">ผู้จัดทำ : ชื่อ </label>
          </div>
          <div class="two wide field ">
            <div class="ui input">
              <select class="ui dropdown ai selection" style="width: 100%;" id="createUserTitle" [(ngModel)]="riskAssRiskWsHdr.createUserTitle">
                <option value="00">เลือก</option>
                <option *ngFor="let data of titleList" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
              </select>
            </div>
          </div>
          <div class="two wide field ">
            <input type="text" placeholder="ชื่อผู้จัดทำ" class="custom" name="createUserName" id="createUserName"
              [(ngModel)]="riskAssRiskWsHdr.createUserName">
          </div>
          <div class="one wide field required">
            <label class="text-right full-width">นามสกุล</label>
          </div>
          <div class="two wide field ">
            <input type="text" placeholder="นามสกุล" class="custom" name="createLastName" id="createLastName"
              [(ngModel)]="riskAssRiskWsHdr.createLastName">
          </div>
          <div class="one wide field required">
            <label class="text-right full-width">ตำแหน่ง</label>
          </div>
          <div class="two wide field ">
            <input type="text" placeholder="ตำแหน่ง" class="custom" name="createPosition" id="createPosition"
              [(ngModel)]="riskAssRiskWsHdr.createPosition">
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field required">
            <label class="text-right full-width">ผู้ตรวจ : ชื่อ </label>
          </div>
          <div class="two wide field ">
            <div class="ui input">
              <select class="ui dropdown ai selection" style="width: 100%;" id="checkUserTitle" [(ngModel)]="riskAssRiskWsHdr.checkUserTitle">
                <option value="00">เลือก</option>
                <option *ngFor="let data of titleList" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
              </select>
            </div>
          </div>
          <div class="two wide field ">
            <input type="text" placeholder="ชื่อผู้ตรวจ" class="custom" name="checkUserName" id="checkUserName"
              [(ngModel)]="riskAssRiskWsHdr.checkUserName">
          </div>
          <div class="one wide field required">
            <label class="text-right full-width">นามสกุล</label>
          </div>
          <div class="two wide field ">
            <input type="text" placeholder="นามสกุล" class="custom" name="checkLastName" id="checkLastName" [(ngModel)]="riskAssRiskWsHdr.checkLastName">
          </div>
          <div class="one wide field required">
            <label class="text-right full-width">ตำแหน่ง</label>
          </div>
          <div class="two wide field ">
            <input type="text" placeholder="ตำแหน่ง" class="custom" name="checkPosition" id="checkPosition" disabled
              [(ngModel)]="riskAssRiskWsHdr.checkPosition">
          </div>
        </div>

        <table id="dataTable" class="ui celled table striped selectable " style="width: 100%;">
          <thead>
            <tr>
              <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
              <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
              <th rowspan="2" style="text-align: center !important">จำนวนค่าปรับ</th>
              <th rowspan="2" style="text-align: center !important">ประมาณการค่าปรับ</th>
              <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
              <th rowspan="2" style="text-align: center !important">อัตราสูงต่ำ</th>
              <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
            </tr>
            <tr>
              <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
              <th style="text-align: center !important">แปลค่า</th>

            </tr>
          </thead>
        </table>

        <div class="inline fields"></div>
        <div class="inline fields ">
          <div class="sixteen wide field ">
            <div class="six wide field "></div>
            <button class="ui mini primary button" (click)="saveRiskAssRiskWsDtl()">
              <i class="save icon"></i>
              บันทึก
            </button>
            <button class="ui mini primary button" (click)="modalConditionRL()">
              <i class="setting icon"></i>
              กำหนดเงื่อนไขความเสี่ยง
            </button>
            <button class="ui mini yellow button" (click)="addRiskAssRiskWsHdr()">
              <i class="print icon"></i>
              ส่งออก
            </button>
            <button class="ui mini  button" (click)="cancelFlow()">
              <i class="remove icon"></i>
              ยกเลิก
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column" *ngIf="getConditionShow()">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>กำหนดเงื่อนไขความเสี่ยง ปัจจัยเสี่ยงความถี่การเข้าตรวจสอบ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <condition [riskId]="id" [riskType]="'MAIN'" [page]="'int08-3-8'" (out)="closeConditionRL($event)"></condition>
      </div>
      <br />

    </div>
  </div>
</div>