<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui ordered steps full-width">
   <div class=" {{processList==1?  'active': 'completed'}} step">
    <div class="content">
      <div class="title">งบทดลอง</div>
      <div class="description">{{processList==1?  'กำลังดำเนินการ': 'อัปโหลดสำเร็จ'}}</div>
    </div>
  </div>
  <div class="{{processList==1?  'disabled': processList==2?  'active': 'completed'}} step">
    <div class="content">
      <div class="title">บัญชีแยกประเภท</div>
      <div class="description">รอดำเนินการ</div>
    </div>
  </div>
  <div class=" {{processList==1?  'disabled': processList==2?  'active': 'completed'}} step">
    <div class="content">
      <div class="title">ตรวจสอบค่าใช้จ่าย</div>
      <div class="description">รอดำเนินการ</div>
    </div>
  </div>
</div>


<div class="ui grid">
  <div class="sixteen wide column">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
          <span>อัพโหลดไฟล์ตรวจสอบงบทดลองกระทบยอด เดบิต เครดิต บัญชีแยกประเภท</span>
      </div>
      <!-- form upload -->
      <div class="ui attached center segment">
        <form id="upload-form" class="ui form" (submit)="onUpload($event)" ngNativeValidate >
              <div class="inline fields ui centered grid">
                  <div class="one wide field "></div>
                  <div class="three wide field required">
                      <label class="text-right full-width">{{processList==1?  'รายงานงบทดลอง': 'รายงานบัญชีแยกประเภท'}}</label>
                  </div>
                  <div class="six wide field ">
                    <input id="fileExel" type="file" name="fileExel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" (change)="onChangeUpload($event)" required>
                  </div>
                  <div class="three wide field "></div>
              </div><br>
              <div class="ui stackable center aligned page grid">
                  <button class="ui mini yellow button" type="submit"><i class="upload icon"></i> อัปโหลด</button>
                  <button class="ui mini gray button" type="reset" (click)="clearData()"><i class="sync icon"></i> ล้างข้อมูล</button>
                  <button class="ui mini primary button"  type="button" [disabled]="dataTrialBalanceSheet.length==0" (click)="nextData()" *ngIf="processList === 1 "><i class="share icon"></i>ถัดไป</button>
                  <button class="ui mini green button"  (click)="checkData()" *ngIf="processList === 2 "><i class="clipboard check icon"></i>ตรวจสอบข้อมูล</button>
            </div><br>
          </form>
 

      </div>
  </div>
</div>

<!--table step 1-->
<div class="ui grid" *ngIf="processList === 1 ">
  <div class="sixteen wide column">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
          <span>ข้อมูลการอัปโหลด</span>
      </div>
      <!-- form upload -->
      <div class="ui attached center segment {{loading ? 'loading' : ''}} ">
          <table id="dataTable" class="ui small celled table nowrap striped selectable" style="width: 100%">
              <thead>
                  <tr>
                    <th style="text-align: center !important">เลขที่บัญชีแยกประเภท</th>
                    <th style="text-align: center !important">ชื่อบัญชีแยกประเภท</th>
                    <th style="text-align: center !important">ยอดยกมา</th>
                    <th style="text-align: center !important">เดบิต</th>
                    <th style="text-align: center !important">เครดิต</th>
                    <th style="text-align: center !important">ยอดยกไป</th>
                  </tr>
              </thead>
          </table>
      </div>
  </div>
</div>
<!-- table -->

<!--table step 2-->
<div class="ui grid" *ngIf="processList === 2 ">
    <div class="sixteen wide column">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>ข้อมูลการอัปโหลด</span>
        </div>
        <!-- form upload -->
        <div class="ui attached center segment {{loading ? 'loading' : ''}} ">
            <table id="dataTable" class="ui small celled table nowrap striped selectable" style="width: 100%">
                <thead>
                    <tr>
                      <th style="text-align: center !important">เลขที่บัญชีแยกประเภท</th>
                      <th style="text-align: center !important">ชื่อบัญชีแยกประเภท</th>
                      <th style="text-align: center !important">ยอดยกมา</th>
                      <th style="text-align: center !important">เดบิต</th>
                      <th style="text-align: center !important">เครดิต</th>
                      <th style="text-align: center !important">ยอดยกไป</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
  <!-- table -->