<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui ordered steps full-width">
   <div class=" {{processList==0?  'active': 'completed'}} step">
    <div class="content">
      <div class="title">งบทดลอง</div>
      <div class="description">{{processList==0?  'กำลังดำเนินการ': 'อัปโหลดสำเร็จ'}}</div>
    </div>
  </div>
  <div class="{{processList==0 || processList==1?  'disabled': processList==2?  'active': 'completed'}} step">
    <div class="content">
      <div class="title">บัญชีแยกประเภท</div>
      <div class="description">{{processList==0 || processList==1?  'รอดำเนินการ': processList==2?  'กำลังดำเนินการ': 'อัปโหลดสำเร็จ'}}</div>
    </div>
  </div>
  <div class=" {{processList==0||processList==1?  'disabled': processList==2?  'disabled': processList==3?  'active': 'completed'}} step">
    <div class="content">
      <div class="title">ตรวจสอบงบทดลองกระทบยอด เดบิต เครดิต บัญชีแยกประเภท</div>
      <div class="description">{{processList==0 || processList==1?  'รอดำเนินการ': processList==2?  'รอดำเนินการ': processList==3?  'รอดำเนินการ': 'ดำเนินการสำเร็จ'}}</div>
    </div>
  </div>
</div>


<div class="ui grid" id="tbUpload">
  <div class="sixteen wide column">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
          <span>อัพโหลดไฟล์ตรวจสอบงบทดลองกระทบยอด เดบิต เครดิต บัญชีแยกประเภท</span>
      </div>
      <!-- form upload -->
      <div class="ui attached center segment">
        <form id="upload-form" class="ui form" (submit)="onUpload($event)" ngNativeValidate >
              <div class="inline fields ui centered grid">
                  <div class="one wide field "></div>
                  <div class="three wide field required">
                      <label class="text-right full-width">{{processList==0 || processList==1?  'รายงานงบทดลอง': 'รายงานบัญชีแยกประเภท'}}</label>
                  </div>
                  <div class="six wide field ">
                    <input id="fileExel" type="file" name="fileExel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" (change)="onChangeUpload($event)" required>
                  </div>
                  <div class="three wide field "></div>
              </div><br>
              <div class="ui stackable center aligned page grid">
                  <button class="ui mini yellow button" type="submit"><i class="upload icon"></i> อัปโหลด</button>
                  <button class="ui mini gray button" type="reset" (click)="clearData()"><i class="sync icon"></i> ล้างข้อมูล</button>
                  <button class="ui mini primary button"  type="button" [disabled]="dataTrialBalanceSheet.length==0" (click)="nextData()" *ngIf="processList === 0 || processList === 1 "><i class="share icon"></i>ถัดไป</button>
                  <button class="ui mini green button"  (click)="checkData()" [disabled]="dataLedgerSheet.length==0" *ngIf="processList === 2 || processList === 3 "><i class="clipboard check icon"></i>ตรวจสอบข้อมูล</button>
            </div><br>
          </form>
 

      </div>
  </div>
</div>


<!--table step 1-->
<div class="ui grid" id="tb1">
    <div class="sixteen wide column">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>ข้อมูลการอัปโหลด</span>
        </div>
        <!-- form upload -->
        <div class="ui attached center segment {{loading ? 'loading' : ''}} ">
            <table id="dataTable1" class="ui small celled table nowrap striped selectable" style="width: 100%">
                <thead>
                    <tr>
                      <th style="text-align: center !important">เลขที่บัญชีแยกประเภท</th>
                      <th style="text-align: center !important">ชื่อบัญชีแยกประเภท</th>
                      <th style="text-align: center !important">ยอดยกมา</th>
                      <th style="text-align: center !important">เดบิต</th>
                      <th style="text-align: center !important">เครดิต</th>
                      <th style="text-align: center !important">ยอดยกไป</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
  <!-- table -->

  <!--table step 2-->
<div class="ui grid" id="tb2">
    <div class="sixteen wide column">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>ข้อมูลการอัปโหลด</span>
        </div>
        <!-- form upload -->
        <div class="ui attached center segment {{loading ? 'loading' : ''}} ">
            <table id="dataTable2" class="ui small celled table nowrap striped selectable" style="width: 100%">
                <thead >
                    <tr>
                      <th style="text-align: center !important">เลขที่บัญชีแยกประเภท</th>
                      <th style="text-align: center !important">ชื่อบัญชีแยกประเภท</th>
                      <th style="text-align: center !important">เดบิต</th>
                      <th style="text-align: center !important">เครดิต</th>
                      <th style="text-align: center !important">ยอดยกไป</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
  </div>
  <!-- table -->

    <!--table step 3-->
<div class="ui grid" id="tb3">
    <div class="sixteen wide column">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>ตรวจสอบงบทดลองกระทบยอด เดบิต เครดิต บัญชีแยกประเภท</span>
        </div>
        <!-- form upload -->
        <div class="ui attached center segment {{loading ? 'loading' : ''}} ">
            <table id="dataTable3" class="ui small celled table nowrap striped selectable" style="width: 100%">
                <thead >
                    <tr>
                        <th rowspan="2" style="text-align: center !important">เลขที่บัญชีแยกประเภท</th>
                        <th rowspan="2" style="text-align: center !important">ชื่อบัญชีแยกประเภท</th>
                        <th rowspan="2" style="text-align: center !important">ยอดยกมา</th>
                        <th rowspan="2" style="text-align: center !important">เดบิต</th>
                        <th rowspan="2" style="text-align: center !important">เครดิต</th>
                        <th rowspan="2" style="text-align: center !important">ยอดยกไป</th>
                        <th colspan="3"  style="text-align: center !important">แยกประเภท</th>
                        <th rowspan="2" style="text-align: center !important">ผลต่าง</th>
                    </tr>
                    <tr>
                        <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">เดบิต</th>
                        <th style="text-align: center !important">เครดิต</th>
                        <th style="text-align: center !important">ยอดยกไป</th>
                    </tr>
                </thead>
            </table>
            <div class="ui six column centered grid">
            <div class="column">
                <button class="ui mini yellow button"  (click)="export()">
                <i class="print icon"></i>
                ส่งออก
                </button>
                <button class="ui mini button"    (click)="backPage()" >
                    <i class="remove icon"></i>
                    ยกเลิก
                  </button>
            </div>
            </div>
        </div>
    </div>
  </div>
  <!-- table -->