<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">วิเคราะห์ข้อมูลเบื้องต้น</h2>

        <div class="ui top attached header">
            <span>เงื่อนไข</span>
        </div>

        <div class="ui attached segment">
            <div id="userManagementForm" class="ui form">
                <div class="inline fields">
                    <div class="eight wide field required">
                        <label class="custom-label-w-25">เลขทะเบียนสรรพสามิต</label>
                        <input type="text" value="2560-00178-5">
                    </div>
                    <div class="eight wide field">
                        <label class="custom-label-w-20">เลขประจำตัวผู้เสียภาษีอากร</label>
                        <input type="text" value="1-5599-00168-99-6">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field required">
                        <label class="custom-label-w-25">รอบระยะเวลาการตรวจสอบ</label>
                        <div class="eight wide field">
                            <div class="ui icon input">
                                <input type="text" placeholder="MM/YYYY" value="11/2560">
                                <i class="add to calendar icon"></i>
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>-</label>
                            <div class="ui icon input">
                                <input type="text" placeholder="MM/YYYY" value="12/2560">
                                <i class="add to calendar icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field required">
                        <label class="custom-label-w-25">ประเภท</label>
                        <select id="selectCatagory" class="ui dropdown" (change)="selectCatagory()">
                            <option value="0">- เลือกประเภท -</option>
                            <option value="1">สินค้า</option>
                            <option value="2">บริการ</option>
                        </select>
                    </div>
                </div>

                <div class="inline fields" *ngIf="showSelectCoordinate">
                    <div class="eight wide field required">
                        <label class="custom-label-w-25">พิกัด</label>
                        <select class="ui dropdown">
                            <option *ngFor="let item of coordinateList; index as i;" value="{{i}}">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <div class="fields">
                    <div class="sixteen wide field">
                        <div class="ui grid">
                            <div class="center aligned row">
                                <div class="column">
                                    <div class="ui mini primary button" [routerLink]="['/result-analysis']">
                                        <i class="table icon"></i> วิเคราะห์ข้อมูลเบื้องต้น
                                    </div>
                                    <div class="ui mini button" (click)="resetSearch()">
                                        <i class="refresh icon"></i> ล้างข้อมูล
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>