<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>รายงานผลการตรวจสอบภาษี </span>
    </div>
    <div class="ui attached segment">
      <div id="userManagementForm" class="ui form">
        <div class="inline fields">
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">ทะเบียนสรรพสามิต :</label>
            <input typep="text" value="2560-00178-5">
          </div>
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">เลขประจำตัวผู้เสียภาษี : </label>
            <input typep="text" value="1-5599-00168-99-6">
          </div>
        </div>
        <div class="inline fields">
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">ผู้ประกอบการ :</label>
            <input typep="text" value="บริษัท สุวรรณภูมิ เวสต์ รีคัฟเวอรี่ จำกัด">
          </div>
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">เลขที่วิเคราะห์ : </label>
            <input typep="text" value="25610717-01-00723">
          </div>
        </div>        
        <div class="inline fields">&nbsp;&nbsp;&nbsp;
          <div class="three wide  field">
            <label>ระยะเวลาที่ตรวจสอบ</label>
          </div>
          <div class="ui calendar" id="calendar">
            <div class="ui input left icon">
              <i class="time icon"></i>
              <input type="text" name="date-raw" placeholder="ดด/ปปปป" autocomplete="off">
            </div>
          </div>
          <div class="two wide  field">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>ถึง</label>
          </div>
          <div class="ui calendar" id="calendar1">
            <div class="ui input left icon">
              <i class="time icon"></i>
              <input type="text" name="date-raw" autocomplete="off" placeholder="ดด/ปปปป" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>ผลการตรวจสอบภาษี</span>
    </div>
    <div class="ui attached segment">
      <div class="ui grid">
        <div class="ui centered eleven wide column">
          <div class="ui form">
            <div class="inline fields">
              <div class="three wide field ">
                <label>เรื่องที่ตรวจสอบ</label>
              </div>
              <div class="six wide field ">
                <input type="text" placeholder="" value="">
              </div>
              <div class="three wide field ">
                <label>ภาษีจากการประเมิน</label>
              </div>
              <div class="five wide field ">
                <input type="number" placeholder="" [(ngModel)]="a">
              </div>
            </div>

            <div class="inline fields">
              <div class="three wide field ">
                <label>ประเด็นความผิด</label>
              </div>
              <div class="six wide field ">
                <input type="text" placeholder="" value="">
              </div>
              <div class="three wide field ">
                <label>เบี้ยปรับ</label>
              </div>
              <div class="five wide field ">
                <input type="number" placeholder="" [(ngModel)]="b" ng-change="updateTotal();">
              </div>
            </div>

            <div class="inline fields">
              <div class="three wide field ">
                <label>ผู้ตรวจสอบ</label>
              </div>
              <div class="six wide field ">
                <input type="text" placeholder="" value="">
              </div>
              <div class="three wide field ">
                <label>เงินเพิ่ม
                </label>
              </div>
              <div class="five wide field ">
                <input type="number" placeholder="" [(ngModel)]="c">
              </div>
            </div>

            <div class="inline fields">
              <div class="three wide field ">
                <label></label>
              </div>
              <div class="six wide field ">                
              </div>
              <div class="three wide field ">
                <label>รวม
                </label>
              </div>
              <div class="five wide field ">
                <input type="number" placeholder="" value="{{a+b+c}}">              
              </div>
            </div>
          <br>

            <div class="inline fields ui center aligned grid">
              <button class="ui mini primary button" >บันทึกผลการตรวจ</button>
              <div class="one wide field "></div>
              <button class="ui mini button">ยกเลิก</button>
          </div>

          </div>
        </div>
      </div>
    </div>




  </div>
</div>