<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">สร้างกระดาษทำการ</h2>

        <div class="ui top attached header">
            <span>Criteria</span>
        </div>

        <div class="ui attached segment">


            <div class="ui form">
                <div class="inline fields">
                    <div class="eight wide field ">
                        <label class="custom-label-w-25">ทะเบียนสรรพสามิต</label>
                        <input type="text" class="custom-readonly" placeholder="ทะเบียนสรรพสามิต" readonly="" value="2560-00178-5">
                    </div>
                    <div class="eight wide field ">
                        <label class="custom-label-w-20">เลขประจำตัวผู้เสียภาษี</label>
                        <input type="text" class="custom-readonly" placeholder="เลขประจำตัวผู้เสียภาษี" readonly="" value="1-5599-00168-99-6">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field">
                        <label class="custom-label-w-25">ผู้ประกอบการ </label>
                        <input type="text" class="custom-readonly" placeholder="ผู้ประกอบการ" readonly="" value="น้ำหอมเทสเตอร์ BB ราคาส่ง 30">
                    </div>
                    <div class="eight wide field ">
                        <label class="custom-label-w-20">เลขที่วิเคราะห์</label>
                        <input type="text" class="custom-readonly" placeholder="เลขที่วิเคราะห์" readonly="" value="000000000000">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field required">
                        <label class="custom-label-w-25">รอบระยะเวลาการตรวจสอบ</label>
                        <div class="eight wide field">
                            <div class="ui icon input">
                                <input type="text" class="custom-readonly" placeholder="MM/YYYY" value="12/2017" readonly="">
                                <i class="add to calendar icon"></i>
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>-</label>
                            <div class="ui icon input">
                                <input type="text" class="custom-readonly" placeholder="MM/YYYY" value="12/2017" readonly="">
                                <i class="add to calendar icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="seven wide column">

                    <div class="ui list">
                        <div class="item">
                            <i class="folder icon"></i>
                            <div class="content">
                                <div class="header">ประเภทกระดาษทำการ</div>
                                <!-- <div class="description">Compiled CSS and JS files</div> -->
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">กระดาษทำการรับ-จ่ายวัตถุดิบ</div>
                                            <!-- <div class="description">Individual component CSS and JS</div> -->
                                            <div class="list">
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">การะดาษทำการเบิกใช้วัตถุดิบ</div>
                                                        <!-- <div class="description">Individual component CSS and JS</div> -->
                                                    </div>
                                                </div>
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">กระดาษทำการรับสินค้าสำเร็จรูป</div>
                                                        <!-- <div class="description">Individual component CSS and JS</div> -->
                                                    </div>
                                                </div>
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">กระดาษทำการตรวจสอบการลดหย่อนภาษี</div>
                                                        <!-- <div class="description">Individual component CSS and JS</div> -->
                                                    </div>
                                                </div>
                                                <div class="item hand-click">
                                                    <i class="file text outline icon"></i>
                                                    <div class="content">
                                                        <div class="header">กระดาษทำการส่งออกรถยนต์เพื่อจำหน่าย</div>
                                                        <!-- <div class="description">Individual component CSS and JS</div> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="nine wide column">

                    <table class="ui small celled table">
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>กระดาษทำการจำหน่ายสินค้าสำเร็จรูป</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/create-form"> กระดาษทำการเปรียบเทียบปริมาณการจำหน่ายสินค้าสำเร็จรูปภายในประเทศ </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <a href="javascript:;" routerLink="/create-form"> กระดาษทำการเปรียบเทียบปริมาณการจำหน่ายสินค้าสำเร็จรูปต่างประเทศ </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>


            </div>

        </div>
    </div>