<div class="ui grid">
  <div class="sixteen wide column">
      <div class="ui large ordered steps" style="width: 280px;">
          <div class=" step">
            <div class="content">
              <div class="title"> ประเมินความเสี่ยง	
                </div>
              <div class="description">ผลการปราบปรามด้านค่าปรับคดี		</div>
            </div>
          </div>
          <div class="  step">
            <div class="content">
              <div class="title">ประเมินความเสี่ยง		
                </div>
              <div class="description"> ผลการปราบปรามด้านจำนวณคดี</div>
            </div>
          </div>
          <div class="active step">
            <div class="content">
              <div class="title">  ประเมินความเสี่ยง		
                </div>
              <div class="description">ผลการปราบปราม</div>              
            </div>
          </div>         
        </div>

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>ประเมินความเสี่ยงโครงการรวม	 </span>
      </div>

    <div class="ui attached segment">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="popupWeightData()">
            <i class="setting icon"></i>
            กำหนด %
          </button>
          <button class="ui mini primary button" (click)="popupEditData()">
            <i class="setting icon"></i>
            กำหนด RL
          </button>
          <button class="ui mini primary button">
            <i class=" save icon"></i>
            บันทึก
          </button>
          <button class="ui mini primary button">
            <i class="print icon"></i>
            พิมพ์
          </button>
          <div class="ui mini primary button">
            <div class="ui simple dropdown item">
              ส่งออก
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">PDF</div>
                <div class="item">Excel</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          กระดาษทำการประเมินความเสี่ยงผลการปราบปรามเปรียบเทียบประมาณการฯเพื่อพิจารณาคัดเลือกหน่วยงานรับตรวจสำนักงานสรรพสามิตภาค พื้นที่
          และสาขา
          <br> ปีงบประมาณ พ.ศ. 2561
          <br> กลุ่มตรวจสอบภายใน กรมสรรพสามิต
        </div>
      </div>
      <div class="ui eight column grid">
        <div class="column right aligned">
          ปัจจัยเสี่ยง:
        </div>

        <div class="column" style="width: 30%;">
          6. ผลการจับกุมผู้กระทำผิด
          <br> 6.1 จำนวนคดี และ 6.2 จำนวนค่าปรับ
          <br> ค่าเปรียบเทียบปรับและจำนวนผลคดี
          <br> ค่าเปรียบเทียบปรับและจำนวนผลคดี
          <br> ค่าเปรียบเทียบปรับและจำนวนผลคดี
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br>
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
        </div>

        <div class="column" style="width: 10%;" align="right">
          &nbsp;
          <br>
          <br>0 - 1
          <br>1.1 - 2
          <br>
          <span style="margin-right:3%">2.1 - 3</span>
        </div>

        <div class="column right aligned" style="width: 10%;">
          &nbsp;
          <br>
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br>
          <br> 1
          <br> 2
          <br> 3
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br>
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br>
          <br> ต่ำ
          <br> กลาง
          <br> สูง
        </div>
      </div>

      <br>

      <table id="tableData" class="ui small celled table">
        <thead>
          <tr style="text-align: center;">
            <th rowspan="2">ลำดับ</th>
            <th rowspan="2">หน่วยงาน</th>
            <th colspan="2">1. ค่าเปรียบเทียบปรับ</th>
            <th colspan="2">2. จำนวนผลคดี</th>
            <th colspan="1">ค่าความเสี่ยงเฉลี่ย</th>
            <th rowspan="2">แปลค่า</th>
          </tr>
          <tr style="text-align: center;">
            <th style="border-left: 1px solid rgba(34,36,38,.1); width: 8%;">RL</th>
            <th style="width: 8%;">แปลค่า</th>
            <th style="width: 8%;">RL</th>
            <th style="width: 8%;">แปลค่า</th>
            <th style="width: 8%;">(1+2)/2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>สสพ. สิงห์บุรี</td>
            <td>3</td>
            <td>สูง</td>
            <td>3</td>
            <td>สูง</td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>2</td>
            <td>สสพ.ตราด</td>
            <td>3</td>
            <td>สูง</td>
            <td>3</td>
            <td>สูง</td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>3</td>
            <td>สสพ.กาฬสินธุ์</td>
            <td>3</td>
            <td>สูง</td>
            <td>2</td>
            <td>กลาง</td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>4</td>
            <td>สสพ.ลำปาง</td>
            <td>3</td>
            <td>สูง</td>
            <td>2</td>
            <td>กลาง</td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>5</td>
            <td>สสพ.กาญจนบุรี</td>
            <td>3</td>
            <td>สูง</td>
            <td>3</td>
            <td>สูง</td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>6</td>
            <td>สสพ. ชัยนาท</td>
            <td>3</td>
            <td>สูง</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>7</td>
            <td>สสพ. ปทุมธานี 1</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>3</td>
            <td>สูง</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>8</td>
            <td>สสพ. สระบุรี</td>
            <td>3</td>
            <td>สูง</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>9</td>
            <td>สสพ. อ่างทอง</td>
            <td>3</td>
            <td>สูง</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>10</td>
            <td>สสพ.ชลบุรี 1*</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>2</td>
            <td>กลาง</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>11</td>
            <td>สสพ. นนทบุรี</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>12</td>
            <td>สสพ. ปทุมธานี 2</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>13</td>
            <td>สสพ. ลพบุรี</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>14</td>
            <td>สสพ. พระนครศรีอยุธยา 1</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>15</td>
            <td>สสพ. พระนครศรีอยุธยา 2</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/int08-3-3-2">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
        <button class="ui mini button" routerLink="/int08-3-4">
          ถัดไป
          <i class="arrow right icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalInt08333" class="ui modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดเงื่อนไข RL และแปลงค่าประเมินความเสี่ยงคดี
  </div>

  <div class="content">
    <div class="ui form">
      
      <table id="tableSetting" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr class="center aligned">
            <th>เงื่อนไขที่</th>
            <th>เงื่อนไข</th>
            <th>ค่าที่ 1</th>
            <th>ถึง</th>
            <th>ค่าที่ 2</th>
            <th>ค่า RL</th>
            <th>แปลงค่า</th>
            <th>สี</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <select id="selectCondition1" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="2">More Than</option>
              </select>
            </td>
            <td>0</td>
            <td>ถึง</td>
            <td>1</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>
              <select id="selectColor1" class="ui dropdown">
                <option value="0">เขียว</option>
                <option value="1">เหลือง</option>
                <option value="2">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <select id="selectCondition2" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="2">More Than</option>
              </select>
            </td>
            <td>1.1</td>
            <td>ถึง</td>
            <td>2</td>
            <td>2</td>
            <td>กลาง</td>
            <td>
              <select id="selectColor2" class="ui dropdown">
                <option value="0">เหลือง</option>
                <option value="1">เขียว</option>
                <option value="2">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <select id="selectCondition3" class="ui dropdown">
                <option value="1">Between</option>
                <option value="0">More Than</option>
                <option value="2">Less Than</option>
              </select>
            </td>
            <td>2.1</td>
            <td>ถึง</td>
            <td>3</td>
            <td>3</td>
            <td>สูง</td>
            <td>
              <select id="selectColor3" class="ui dropdown">
                <option value="0">แดง</option>
                <option value="1">เหลือง</option>
                <option value="2">เขียว</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
          <button class="ui mini primary button">
              <i class="add icon"></i>
              เพิ่ม
            </button>
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="closePopupEdit()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalInt08333-weight-data" class="ui small modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดค่าน้ำหนัก (%) ประเมินความเสี่ยงคดี
  </div>

  <div class="content">
    <div class="ui form">    

      <div class="inline fields">
        <div class="eight wide field">
          <label class="custom-label-w-20">จำนวนค่าปรับ</label>
          <input type="text" value="60%">
        </div>
        <div class="eight wide field">
          <label class="custom-label-w-20">จำนวนคดี</label>
          <input type="text" value="40%">
        </div>
      </div>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="clearPopupWeightData()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>