<div class="ui grid">
    <div class="sixteen wide column">        
        <div class="ui ordered steps ">
            <div class="active step">
              <div class="content">
                <div class=" title">ขั้นตอนที่ 1</div>
                <div class="description">ตรวจสอบการรับเงินค่าปรับ<br>เปรียบเทียบคดี</div>
              </div>
            </div>
            <div class=" step">
              <div class="content">
                <div class="title">ขั้นตอนที่ 2</div>
                <div class="description">ตรวจสอบการรับ-ส่งเงินค่าปรับ<br>เปรียบเทียบคดี</div>
              </div>
            </div>
            <div class=" step">
                <div class="content">
                  <div class="title">ขั้นตอนที่ 3</div>
                  <div class="description">ตรวจสอบการบันทึกบัญชี<br>รายได้แผ่นดิน</div>
                </div>
              </div>
              <div class=" step">
                <div class="content">
                  <div class="title">ขั้นตอนที่ 4</div>
                  <div class="description">ตรวจสอบการบันทึกบัญชีเงินสินบน - รางวัล</div>
                </div>
              </div>
            <div class=" step">
              <div class="content">
                <div class="title">ขั้นตอนที่ 5</div>
                <div class="description">ตรวจสอบการเบิก -  จ่ายเงินสินบน -  รางวัล</div>
              </div>
            </div>
          </div>
    <div class="sixteen wide column">
        <div class="ui segment">   
            <div style="overflow-x: scroll;">
                <table id="table1" class="ui small celled table striped selectable" style="width: 120%;">
                    <thead>
                        <tr class="center aligned">                            
                            <th rowspan="2">ลำดับที่</th>
                            <th rowspan="2">วันที่คดี </th>
                            <th rowspan="2">เลขที่คดี</th>
                            <th rowspan="2">วันที่ออกใบเสร็จ</th>
                            <th rowspan="2">เลขที่ใบเสร็จ</th>
                            <th rowspan="2">จำนวนเงินค่าปรับ</th>
                            <th colspan="3">การแบ่งเงินค่าปรับ</th>
                            <th rowspan="2">ข้อหา</th>
                            <th rowspan="2">มาตรา/บทกำหนดโทษ</th>
                            <th rowspan="2">ปริมาณของกลาง</th>
                            <th rowspan="2">สินค้า</th>
                            <th rowspan="2">สถานะของกลาง</th>
                            <th rowspan="2">ผู้กระทำผิด</th>
                            <th rowspan="2">จำนวนครั้งที่กระทำผิด</th>
                            <th rowspan="2">หมายเหตุ</th>
                        </tr>
                        <tr style="text-align: center">
                            <th >รายได้แผ่นดิน 60%</th>
                            <th>สินบน 20%</th>
                            <th>รางวัล 20%</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                    <td>1</td>
                                    <td>01/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>01/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>03/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>04/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>04/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>04/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>1,000.00</td>
                                    <td>600.00</td>
                                    <td>200.00</td>
                                    <td>200.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>04/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>06/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>08/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>08/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10,000.00</td>
                                    <td>6,000.00</td>
                                    <td>2,000.00</td>
                                    <td>2,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>08/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>08/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>1,000.00</td>
                                    <td>600.00</td>
                                    <td>200.00</td>
                                    <td>200.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>08/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10,000.00</td>
                                    <td>6,000.00</td>
                                    <td>2,000.00</td>
                                    <td>2,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>13/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>17/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>30,000.00</td>
                                    <td>18,000.00</td>
                                    <td>6,000.00</td>
                                    <td>6,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>13/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>17/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>16/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>17/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>16/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>17/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>10,000.00</td>
                                    <td>6,000.00</td>
                                    <td>2,000.00</td>
                                    <td>2,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>16/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>17/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>1,000.00</td>
                                    <td>600.00</td>
                                    <td>200.00</td>
                                    <td>200.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>19/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>17/11/60</td>
                                    <td>&nbsp;</td>
                                    <td>5,000.00</td>
                                    <td>3,000.00</td>
                                    <td>1,000.00</td>
                                    <td>1,000.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>06/12/60</td>
                                    <td>&nbsp;</td>
                                    <td>07/12/60</td>
                                    <td>&nbsp;</td>
                                    <td>1,000.00</td>
                                    <td>600.00</td>
                                    <td>200.00</td>
                                    <td>200.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>06/12/60</td>
                                    <td>&nbsp;</td>
                                    <td>07/12/60</td>
                                    <td>&nbsp;</td>
                                    <td>1,000.00</td>
                                    <td>600.00</td>
                                    <td>200.00</td>
                                    <td>200.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>06/12/60</td>
                                    <td>&nbsp;</td>
                                    <td>07/12/60</td>
                                    <td>&nbsp;</td>
                                    <td>1,000.00</td>
                                    <td>600.00</td>
                                    <td>200.00</td>
                                    <td>200.00</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>     
                                    <td>&nbsp;</td>                              
                                </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui form">
                <div class="ui center aligned grid">
                    <div class="eight wide column">
                        <a class="ui mini primary button widtd-100" routerLink='/int01/3/1'>
                            <i class="arrow circle left icon"></i>กลับหน้าหลัก
                        </a>
                        <a class="ui mini button widtd-100">
                                <i class="print icon"></i>
                           ส่งออก
                        </a>
                        <a class="ui mini primary button widtd-100"  routerLink='/int01/3/3'>
                                ขั้นตอนที่ 2 <i class="arrow circle right icon"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
