
<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">

  <div class="sixteen wide column">
    <h2 class="ui header">รายงานผลการตรวจปฏิบัติการ
    </h2>
    <div class="ui top attached header">
      <span>รายงานผลการตรวจปฏิบัติการ </span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field ">
            <label>เลขทะเบียนสรรพสามิต :</label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
          <div class="two wide field ">
            <label>วันที่ตรวจ :
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <br>
        <div class="inline fields ui center aligned grid">
          <button class="ui mini primary button" routerLink="/cop05/1/1">ค้นหา</button>
          <div class="one wide field "></div>
          <button class="ui mini button">ยกเลิก</button>
        </div>
        <br>
        <br>
      </div>
    </div>