<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ตรวจแสตมป์เปรียบเทียบรวมทั้งปีงบประมาณ</h2>

    <div class="ui top attached header">
      <span>ตรวจสแตมป์ปีงบปะมาณ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">สำนักงานสรรพสามิตภาค</label>
            <select name="selectZone" id="selectZone" class="ui dropdown">
              <option *ngFor="let item of zoneList; index as i;" value="{{i+1}}">{{item.value}}</option>
            </select>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">สำนักงานสรรพสามิตพื้นที่</label>
            <select name="selectArea" id="selectArea" class="ui dropdown">
              <option *ngFor="let item of areaList; index as i;" value="{{i+1}}">{{item.value}}</option>
            </select>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">พื้นที่ลำปางสาขาเมืองลำปาง</label>
            <input type="file" />
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">พื้นที่ลำปางสาขาสบปราบ</label>
            <input type="file" />
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">พื้นที่ลำปางสาขาแจ้งห่ม</label>
            <input type="file" />
          </div>
        </div>

        <div class="ui center aligned grid">
          <div class="eight wide column">
            <button class="ui mini primary button " (click)="uploadData()">
              <i class="upload icon"></i>
              อัพโหลด
            </button>
            <button class="ui mini button " (click)="clearData()">
              <i class="refresh icon"></i>
              ล้างข้อมูล
            </button>
            <button class="ui mini primary button">
              <i class="add icon"></i>
              เพิ่มข้อมูล
            </button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="showData">        
      <div class="ui attached segment">
        <div class="ui right aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button">
              <i class="print icon"></i>
              พิมพ์
            </button>
            <button class="ui mini primary button">
              <i class="save icon"></i>
              บันทึก
            </button>
            <div id="export" class="ui primary buttons">
              <div class="ui mini button">ส่งออก</div>
              <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">
                    <i class="file pdf outline icon"></i> PDF</div>
                  <div class="item">
                    <i class="file excel outline icon"></i>Excel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="ui grid center aligned">
          <div class="sixteen wide column">
            บันทึกการรับ-จ่ายแสตมป์
            <br> สำนักงานสรรพสามิตภาคที่ 5 พื้นที่ลำปาง
            <br> งบประมาณปี 2560
          </div>
        </div>
        <div style="overflow-x: scroll">
          <table class="ui small celled table" style="width: 200%">
            <thead>
              <tr style="text-align: center;">
                <th rowspan="2">ลำดับ</th>
                <th rowspan="2">เดือน</th>
                <th rowspan="2">ว.ด.ป
                  <br>รับจ่าย
                </th>
                <th rowspan="2">สถานะ
                  <br>รับ-จ่าย
                </th>
                <th rowspan="2">หน่วยงาน</th>
                <th colspan="2">หนังสือขอเบิกแสตมป์</th>
                <th colspan="2">หนังสือส่งแสตมป์</th>
                <th rowspan="2">ว.ด.ป
                  <br>ตรวจนับ
                </th>
                <th rowspan="2">รหัส
                  <br>ชนิดแสตมป์
                </th>
                <th rowspan="2">ชนิดแสตมป์/
                  <br>ขนาดบรรจุ
                </th>
                <th rowspan="2">จำนวน
                  <br>(เล่ม)
                </th>
                <th rowspan="2">จำนวน
                  <br>(ดวง)
                </th>
                <th rowspan="2">มูลที่พิมพ์
                  <br>(บาทต่อดวง)
                </th>
                <th rowspan="2">รวมค่าพิมพ์
                  <br>(บาท)
                </th>
                <th rowspan="2">เลขที่ประจำ เล่มแสตมป์
                </th>
                <th rowspan="2">หมายเหตุ</th>
                <th rowspan="2">Action</th>

              </tr>
              <tr style="text-align: center;">
                <th style="border-left: 1px solid rgba(34,36,38,.1);">เลขที่หนังสือ</th>
                <th>ว.ด.ป</th>

                <th style="border-left: 1px solid rgba(34,36,38,.1);">เลขที่หนังสือ</th>
                <th>ว.ด.ป</th>
              </tr>
            </thead>
            <tr>
              <td>1</td>
              <td>ตุลาคม</td>
              <td>10/2/2560</td>
              <td>รับ</td>
              <td>กรมสรรพสามิต</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>9</td>
              <td>90000</td>
              <td>1.25</td>
              <td>112500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td style="text-align: center;">
                <a class="update" href="javascript:;" (click)="popupEditData()">
                  แก้ไข
                </a>
                <strong> / </strong>
                <a class="delete" href="javascript:;">
                  ลบ
                </a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>ตุลาคม</td>
              <td>10/2/2560</td>
              <td>รับ</td>
              <td>กรมสรรพสามิต</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>9</td>
              <td>90000</td>
              <td>0.5</td>
              <td>45000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td style="text-align: center;">
                <a class="update" href="javascript:;" (click)="popupEditData()">
                  แก้ไข
                </a>
                <strong> / </strong>
                <a class="delete" href="javascript:;">
                  ลบ
                </a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>ตุลาคม</td>
              <td>10/2/2560</td>
              <td>รับ</td>
              <td>กรมสรรพสามิต</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>9</td>
              <td>90000</td>
              <td>3.75</td>
              <td>337500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td style="text-align: center;">
                <a class="update" href="javascript:;" (click)="popupEditData()">
                  แก้ไข
                </a>
                <strong> / </strong>
                <a class="delete" href="javascript:;">
                  ลบ
                </a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td style="text-align: center;">
                <a class="update" href="javascript:;" (click)="popupEditData()">
                  แก้ไข
                </a>
                <strong> / </strong>
                <a class="delete" href="javascript:;">
                  ลบ
                </a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>6</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>7</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>8</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>9</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>10</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาแจ้งห่ม</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>11</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาแจ้งห่ม</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>12</td>
              <td>ตุลาคม</td>
              <td>10/10/2560</td>
              <td>จ่าย</td>
              <td>สาขาแจ้งห่ม</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>13</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>14</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>15</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>16</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>17</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>18</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>19</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาแจ้งห่ม</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>20</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาแจ้งห่ม</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>21</td>
              <td>พฤศจิกายน</td>
              <td>11/5/2560</td>
              <td>จ่าย</td>
              <td>สาขาแจ้งห่ม</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>22</td>
              <td>ธันวาคม</td>
              <td>12/6/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>23</td>
              <td>ธันวาคม</td>
              <td>12/6/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>24</td>
              <td>ธันวาคม</td>
              <td>12/6/2560</td>
              <td>จ่าย</td>
              <td>สาขาเมืองลำปาง</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>25</td>
              <td>ธันวาคม</td>
              <td>12/6/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1.11</td>
              <td>เบียร์</td>
              <td>1</td>
              <td>10000</td>
              <td>1.25</td>
              <td>12500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>26</td>
              <td>ธันวาคม</td>
              <td>12/6/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2.11</td>
              <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>
              <td>1</td>
              <td>10000</td>
              <td>0.5</td>
              <td>5000</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
            </tr>
            <tr>
              <td>27</td>
              <td>ธันวาคม</td>
              <td>12/6/2560</td>
              <td>จ่าย</td>
              <td>สาขาสบปราบ</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3.11</td>
              <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>              
              <td>1</td>
              <td>10000</td>
              <td>3.75</td>
              <td>37500</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>แก้ไข / ลบ</td>
          </tr>
          <tr>
            <td>28</td>
            <td>ธันวาคม</td>
            <td>12/6/2560</td>
            <td>จ่าย</td>
            <td>สาขาแจ้งห่ม</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1.11</td>
            <td>เบียร์</td>           
            <td>1</td>
            <td>10000</td>
            <td>1.25</td>
            <td>12500</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>แก้ไข / ลบ</td>
        </tr>
        <tr>
          <td>29</td>
          <td>ธันวาคม</td>
          <td>12/6/2560</td>
          <td>จ่าย</td>
          <td>สาขาแจ้งห่ม</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>2.11</td>
          <td>สุรากลั่นชุมชน 40 ดีกรี ขนาด 0.330 ลิตร</td>         
          <td>1</td>
          <td>10000</td>
          <td>0.5</td>
          <td>5000</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>แก้ไข / ลบ</td>
      </tr>
      <tr>
        <td>30</td>
        <td>ธันวาคม</td>
        <td>12/6/2560</td>
        <td>จ่าย</td>
        <td>สาขาแจ้งห่ม</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>3.11</td>
        <td>สุราผสม 40 ดีกรี ขนาด 0.330 ลิตร</td>
        <td>1</td>
        <td>10000</td>
        <td>3.75</td>
        <td>37500</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>แก้ไข / ลบ</td>
    </tr>
          </table>
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <button class="ui mini primary button " routerLink="/int07-5-4">
                <i class="arrow left icon"></i>
                กลับ
              </button>        
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
   
