<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ตรวจสอบภายใน</h2>

    <div class="ui top attached header">
      <span>แบบสอบทานระบบการควบคุมภายใน</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">

        <div class="inline fields">
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">ชื่อหน่วยงาน</label>
            <input [(ngModel)]="departmentName" class="custom">
          </div>
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">หน่วยรับตรวจ</label>
            <input [(ngModel)]="departmentNameChecking" class="custom">
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">วันที่</label>
            <input [(ngModel)]="departmentName" class="custom">
          </div>
          <div class="eight wide field">&nbsp;&nbsp;&nbsp;
            <label class="custom-label-w-20">ด้าน</label>
            <select class="ui search selection dropdown full" name="sideName" id="sideName" [(ngModel)]="sideName">
              <option value="">ด้าน</option>
              <option *ngFor="let list of sideNameArr" ng-value="list.value">{{list.description}}</option>
            </select>
          </div>
        </div>

        <div class="inline fields">
          <div class="eleven wide field"></div>
          <div class="five wide field">
            <button type="button" style="margin-left: auto" class="ui mini primary button right floated">
              <i class="search icon"></i>
              ค้นหา
            </button>
            <button type="button" style="margin-left: auto" class="ui mini primary button right floated">
              <i class="delete icon"></i>
              ล้างข้อมูล
            </button>
            <button type="button" style="margin-left: auto" class="ui mini primary button right floated" [routerLink]="['/int02/2']">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="ui segment">
      <div class="ui grid">
        <div class="sixteen wide column">
          <table id="datatable" style="width: 100%;" class="ui small collapsing celled table aligned hover">
            <thead>
              <tr>
                <th style="text-align: center !important">#</th>
                <th style="text-align: center !important">ลำดับ</th>
                <th style="text-align: center !important">ชื่อหน่อยงาน</th>
                <th style="text-align: center !important">หน่วยรับตรวจ</th>
                <th style="text-align: center !important">วันที่</th>
                <th style="text-align: center !important">ด้าน</th>
                <th style="text-align: center !important">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>1</td>
                <td>หน่วยงาน ก</td>
                <td>หน่วยรับตรวจ a</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>2</td>
                <td>หน่วยงาน ข</td>
                <td>หน่วยรับตรวจ b</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>3</td>
                <td>หน่วยงาน ค</td>
                <td>หน่วยรับตรวจ c</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>4</td>
                <td>หน่วยงาน ง</td>
                <td>หน่วยรับตรวจ d</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>5</td>
                <td>หน่วยงาน จ</td>
                <td>หน่วยรับตรวจ e</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>6</td>
                <td>หน่วยงาน ก</td>
                <td>หน่วยรับตรวจ a</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>7</td>
                <td>หน่วยงาน ข</td>
                <td>หน่วยรับตรวจ b</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>8</td>
                <td>หน่วยงาน ค</td>
                <td>หน่วยรับตรวจ c</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>9</td>
                <td>หน่วยงาน ง</td>
                <td>หน่วยรับตรวจ d</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>10</td>
                <td>หน่วยงาน จ</td>
                <td>หน่วยรับตรวจ e</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>11</td>
                <td>หน่วยงาน ก</td>
                <td>หน่วยรับตรวจ a</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>12</td>
                <td>หน่วยงาน ข</td>
                <td>หน่วยรับตรวจ b</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>13</td>
                <td>หน่วยงาน ค</td>
                <td>หน่วยรับตรวจ c</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>14</td>
                <td>หน่วยงาน ง</td>
                <td>หน่วยรับตรวจ d</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
              <tr>
                <td class="aligned center">
                  <div class="ui fitted checkbox">
                    <input type="checkbox">
                    <label></label>
                  </div>
                </td>
                <td>15</td>
                <td>หน่วยงาน จ</td>
                <td>หน่วยรับตรวจ e</td>
                <td>6/6/2561</td>
                <td>ด้าน1</td>
                <td>
                  <a>Export</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="two wide column centered column" style="margin-top: -59px;">
          <button class="fluid ui red mini button">ลบ</button>
        </div>
      </div>
    </div>
  </div>
</div>