<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    
    <div class="ui top attached header">
      <span>แบบสอบถามระบบการควบคุมภายใน</span>
    </div>

    <div class="ui bottom attached segment">
      <form class="ui form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="ui center aligned grid">
          <div class="column fourteen wide">
            <div class="inline fields">
              <div class="three wide field">
                <label>สรรพสามิตภาค</label>
              </div>
              <div class="five wide field {{ checkValid('sector', f) ? 'error' : ''  }} ">
                <div class="ui input">
                  <select class="ui selection dropdown ai" id="sector" name="sector" (change)="onSectorChange($event)"
                    ngModel>
                    <option value="">เลือกภาค</option>
                    <option value="{{sector.lovId}}" *ngFor="let sector of sectors">{{sector.subTypeDescription}}</option>
                  </select>
                </div>
              </div>
              <div class="three wide field">
                <label>สรรพสามิตพื้นที่</label>
              </div>
              <div class="five wide field">
                <div class="ui input">
                  <select class="ui selection dropdown ai" id="area" name="area" ngModel>
                    <option value="">เลือกพื้นที่</option>
                    <option value="{{area.lovId}}" *ngFor="let area of areas">{{area.subTypeDescription}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="inline fields">
              <div class="three wide field">
                <label>ปีงบประมาณ</label>
              </div>
              <div class="five wide field {{ checkValid('calendar_data', f) ? 'error' : ''  }} ">
                <div class="ui input">
                  <div class="ui calendar" id="calendar">
                    <div class="ui input {{ checkValid('calendar_data', f) ? 'error' : ''  }} ">
                      <input type="calendar" readonly="" placeholder="ปี" id="calendar_data" name="calendar_data"
                        autocomplete="off" ngModel>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column fourteen wide center aligned">
            <button type="submit" class="ui mini primary button">
              <i class="search icon"></i>
              ค้นหา
            </button>
            <button type="reset" (click)="clear()" class="ui mini button">
              <i class="refresh icon"></i>
              ล้างข้อมูล
            </button>
            <button type="button" [routerLink]="'/int02/2'" class="ui mini primary button">
              <i class="add icon"></i>
              รายการใหม่
            </button>
          </div>
        </div>
      </form>
      <div class="ui grid">
        <div class="sixteen wide column">
          <table id="datatable" style="width: 100%;" class="ui small collapsing celled table aligned hover nowrap striped selectable">
            <thead>
              <tr style="text-align: center !important;">
                <th>ลำดับ</th>
                <th>สรรพสามิตภาค/พื้นที่</th>
                <th>ผู้สร้างแบบสอบถาม</th>
                <th>ปีงบประมาณ</th>
                <th style="width: 40px">จัดการ</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>