<div class="ui grid">
  <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
    <span>กำหนดปัจจัยเสี่ยงประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
  </div>
  <div class="ui attached segment">
    <div class="ui form">
      <div class="inline fields">
        <div class="four wide field "></div>
        <div class="two wide field ">
          <label>ปัจจัยเสี่ยง</label>
        </div>
        <div class="four wide field ">
          <input type="text" placeholder="ปัจจัยเสี่ยง" class="custom">
        </div>

        <div class="four wide field ">
          <button class="ui mini primary button" (click)="Create()">
            <i class="add icon"></i>
            เพิ่ม
          </button>
        </div>
      </div>

    </div>

  </div>
</div>