<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดหัวกระดาษทำการ
  </span>
</div>
<div class="ui form center aligned" id="int09-1" (submit)="onSubmitt()" ngNativeValidate>
  <div class="ui attached  segment">
    <div class="ui grid center aligned">
      <div class="ui two wide column">&nbsp;</div>
      <div class="ui center aligned thirteen wide  column">

        <div class="inline fields">
          <div class="three wide field">
            <label>ชื่อกระดาษทำการ :</label>
          </div>
          <div class="eight wide field">
            <input type="text" maxlength="1000" name="workSheetHeaderName">
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label>
              หน่วยงาน :
            </label>
          </div>
          <div class="eight  wide field">
            <input type="text" name="departmentName">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <label>วันที่ :</label>
          </div>
          <div class="ui calendar" id="example2">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date" name="startDate">
            </div>
          </div>

          <div class="one wide field">
            &nbsp; &nbsp; &nbsp;
            <label>
              ถึง :
            </label>
          </div>
          <div class="ui calendar" id="example3">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date" name="endDate">
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label>รายละเอียด :</label>
          </div>
          <div class="eight wide field">
            <input type="text" class="disabled" (ngModel)="data.detail" name="description">
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="ui top centered attached header segment" id="create" style="background: #1e83db;color: white">
      <span>สร้างกระดาษทำการประมาณการค่าใช้จ่ายในการเดินทางไปราชการ </span>
    </div>
    <br>
    <div class="ui grid center aligned">
      <div class="ui two wide column">&nbsp;</div>
      <div class="ui center aligned thirteen wide  column">

        <div class="inline fields">
          <div class="two wide field">
            <label>ชื่อ :</label>
          </div>
          <div class="four wide field">
            <input type="text" [(ngModel)]="data.fname" name="name" required>
          </div>
          <div class="two wide field">
            <label>
              นามสกุล :
            </label>
          </div>
          <div class="four wide field">
            <input type="text" [(ngModel)]="data.lname" name="lastName" required>
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <label>
              ตำแหน่ง :
            </label>
          </div>
          <div class="four  wide field">
            <input type="text" [(ngModel)]="data.position" name="position">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field">
            <label>ประเภท</label>
          </div>
          <div class="five wide field">
            <select style="width: 100%" id="category" name="category" class="ui search dropdown" [(ngModel)]="data.typeOf" required>
              <option value="" style="color: grey">เลือกประเภท</option>
              <option value="1">1</option>
            </select>
          </div>
          <div class="two wide field">
            <label>ระดับ</label>
          </div>
          <div class="five wide field">
            <select style="width: 100%" id="degree" name="degree" class="ui search dropdown" [(ngModel)]="data.levelOf" required>
              <option value="" style="color: grey">เลือกระดับ</option>
              <option value="1">1</option>
            </select>
          </div>
          <div class="five wide field"></div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <label>ค่าเบี้ยเลี้ยง (วัน):</label>
          </div>
          <div class="four wide field">
            <input type="text" [(ngModel)]="data.allowance" name="allowanceDate">
          </div>
          <div class="two wide field">
            <label>
              ค่าเช่าที่พัก (วัน):
            </label>
          </div>
          <div class="four wide field">
            <input type="text" [(ngModel)]="data.accommodation" name="rentDate">
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <label>ค่าพาหนะ :</label>
          </div>
          <div class="four wide field">
            <input type="text" [(ngModel)]="data.passage" name="travelCost">
          </div>
          <div class="two wide field">
            <label>
              ค่าใช้จ่ายอื่น ๆ :
            </label>
          </div>
          <div class="four wide field">
            <input type="text" [(ngModel)]="data.outgoings" name="otherCost">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field">
            <label>
              หมายเหตุ :
            </label>
          </div>
          <div class="ten wide field">
            <textarea name="" id="" rows="2" [(ngModel)]="data.note" style="resize: none" maxLength="2000" name="note"></textarea>
          </div>
        </div>
      </div>
    </div>


    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui mini green button" type="button" (click)="addData()">
          เพิ่ม
        </button>
        <button class="ui mini red button" type="button" (click)="clearData()">
          ล้างข้อมูล
        </button>
      </div>
    </div>
    <br>


    <br>
    <div style="overflow-x: scroll;">
      <table id="tableData" class="ui small celled table" style="width: 120%">
        <thead>
          <tr style="text-align: center;">
            <th rowspan="2"></th>
            <th rowspan="2">ที่</th>
            <th rowspan="2">ชื่อ</th>
            <th rowspan="2">ตำแหน่ง</th>
            <th colspan="2">ค่าเบี้ยเลี้ยง</th>
            <th colspan="2">ค่าเช่าที่พัก</th>
            <th rowspan="2">ค่าพาหนะ</th>
            <th rowspan="2">ค่าใช้จ่ายอื่น</th>
            <th rowspan="2">รวมเป็นเงิน</th>
            <th rowspan="2">หมายเหตุ</th>
            <th rowspan="2">Action</th>
          </tr>
          <tr style="text-align: center;">
            <th>วัน</th>
            <th>จำนวนเงิน</th>
            <th>วัน</th>
            <th>จำนวนเงิน</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of allData; let i = index">
            <td>
              <div class="ui fitted checkbox">
                <input (change)="selectedBox($event, i)" name="checked{{i}}" type="checkbox">
                <label></label>
              </div>
            </td>
            <td>{{i+1}}</td>
            <td>{{d.fname}} {{d.lname}}</td>
            <td>{{d.position}}</td>
            <td>2</td>
            <td>{{d.allowance}}</td>
            <td>2</td>
            <td>{{d.accommodation}}</td>
            <td>{{d.passage}}</td>
            <td>{{d.outgoings}}</td>
            <td>{{total(i)}}</td>
            <td>???</td>
            <td>
              <button class="ui mini button" type="button" (click)="editData(i)">แก้ไข</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui mini red button" (click)="deleteData()">
          ลบ
        </button>
        <button class="ui mini primary button" type="submit" (click)="onSubmit()">
          บันทึก
        </button>
        <button class="ui mini primary button">
          ส่งออก
        </button>
        <button class="ui mini primary button" routerLink="/int09-2">
          สัญญาการยืมเงิน
        </button>
      </div>
    </div>
  </div>
</div>