<div class="ui grid" style="margin: 2%">
    <div class="sixteen wide column segments">
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>รายละเอียดด้านการเงิน</span>
        </div>

        <div class="ui attached segment">
            <div class="ui form">
                <div class="field">
                    <div class="inline fields">
                        <div class="two wide field">
                            &nbsp;
                        </div>

                        <div class="one wide field">
                            <label class="custom-label-w-10">ข้อหลัก</label>
                        </div>

                        <div class="eleven wide field" style="width:100%">
                            <input type="text" name="mainDetail" id="mainDetail" placeholder="กรูณากรอกข้อหลัก">
                        </div>

                        <div class="two wide field">
                            <a style="cursor: pointer;color: red">
                                <i class="close icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="inline fields">
                        <div class="four wide field">
                            &nbsp;
                        </div>

                        <div class="one wide field">
                            <label class="custom-label-w-10">ข้อย่อย</label>
                        </div>

                        <div class="nine wide field">
                            <input type="text" name="minorDetail" id="minorDetail" placeholder="กรูณากรอกข้อย่อย">
                        </div>

                        <div class="two wide field">
                            <a style="cursor: pointer;color: red">
                                <i class="close icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="inline fields">
                        <div class="four wide field">
                            &nbsp;
                        </div>

                        <div class="one wide field">
                            <a style="cursor: pointer;color: blue">
                                <i class="plus icon"></i>
                            </a>
                        </div>

                        <div class="nine wide field">
                            &nbsp;
                        </div>

                        <div class="two wide field">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <div class="ui center aligned grid">
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <button class="ui small black button" type="button" routerLink="/int02/m3">
                                <i class=" backward icon "></i> กลับ
                            </button>

                            <button class="ui small green button " type="button " id="showList ">
                                <i class="add icon "></i> เพิ่มข้อหลัก
                            </button>

                            <button class="ui small blue button " type="button ">
                                <i class="save icon "></i> บันทึก
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="ui center aligned grid ">
            <div class="inline fields ">
               
            </div>
        </div> -->

    </div>
</div>