<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui large steps">
      <div class="active step">
        <i class="upload icon"></i>
        <div class="content">
          <div class="title">นำเข้างบทดลอง&nbsp;&nbsp;&nbsp;</div>
        </div>
      </div>
      <div class="step">
        <i class="list layout icon"></i>
        <div class="content">
          <div class="title">เลือกงบสรุปยอดเงินค่าภาษี</div>
        </div>
      </div>
      <div class="step">
        <i class="table icon"></i>
        <div class="content">
          <div class="title">แสดงผลการตรวจสอบ</div>
        </div>
      </div>
    </div>

    <div class="ui top attached header">
      <span>อัพโหลดงบทดลอง</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">ไฟล์งบทดลอง</label>
            <input type="file" />
          </div>
        </div>
      </div>

      <div class="ui center aligned grid">
        <div class="four wide column">
          <button class="ui mini primary button" routerLink='/select-inc-summary'>
            <i class="upload icon"></i>
            อัพโหลด
          </button>
          <button class="ui mini button">
            <i class="trash outline icon"></i>
            ลบไฟล์
          </button>
        </div>
      </div>
    </div>

  </div>
</div>