
<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">แบบคำขอจดทะเบียนสรรพสามิต (ภส. 01 - 01)	
    </h2>

    <div class="ui top attached header">
      <span>แบบคำขอจดทะเบียนสรรพสามิต (ภส. 01 - 01)	
      </span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field ">
            <label>ทะเบียนสรรพสามิต: </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
          <div class="one wide field "></div>
          <div class="three wide field ">
            <label>ชื่อผู้ประกอบการ : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <div class="inline fields">
            <div class="three wide field ">
              <label>วันที่: </label>
            </div>
            <div class="five wide field ">
              <input type="text" placeholder="" value="14/05/2560">
            </div>
            <div class="one wide field "></div>
            <div class="three wide field ">
              <label>ถึง : </label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="12/05/2560">
            </div>
          </div>

          <div class="inline fields ui center aligned grid">          
          <button class="ui mini primary button">ดาวน์โหลดข้อมูล </button>
          <div class="one wide field "></div>
          <button class="ui mini button">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>