<div class="ui grid">
  <div class="sixteen wide column">
  
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>ข้อมูลกระดาษทำการค่าปรับเปรียบเทียบคดี</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field"></div>
          <div class="two wide field">
            <label>สรรพสามิตภาค</label>
          </div>
          <div class="four wide field">
            <select class="ui dropdown search selection" style="width: 100%;" id="travelTo1" (change)="travelTo2Dropdown($event)">
              <option value="">เลือก</option>
              <option *ngFor="let data of travelTo1List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
            </select>
          </div>
          <div class="two wide field">
            <label>สรรพสามิตพื้นที่</label>
          </div>
          <div class="four wide field">
            <select class="ui dropdown search selection" style="width: 100%;" id="travelTo2" (change)="travelTo3Dropdown($event)">
              <option value="">เลือก</option>
              <option *ngFor="let data of travelTo2List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
            </select>
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field"></div>
          <div class="two wide field">
            <label>สรรพสามิตสาขา</label>
          </div>
          <div class="four wide field">
            <select class="ui dropdown search selection" style="width: 100%;" id="travelTo3">
              <option value="">เลือก</option>
              <option *ngFor="let data of travelTo3List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
            </select>
          </div>
          <div class="two wide field ">
            <label>วันที่
            </label>
          </div>
          <div class="two wide field">
            <div class="ui calendar" id="calendar1" style="width:100%">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" name="endDate" id="endDate">
              </div>
            </div>
          </div>
          <label>ถึง</label>
          <div class="two wide field">
            <div class="ui calendar" id="calendar2" style="width:100%">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" name="endDate" id="endDate">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="eight wide column">
            <button class="ui mini primary button width-100"  routerLink='/int01/3/2'>
              <i class="search icon"></i>
              ค้นหา
            </button>
            <button class="ui mini  button width-100"  >
              <i class="trash alternate icon"></i>
             ล้างข้อมูล
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>