<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">สร้างกระดาษทำการเงินฝากคลัง</h2>

    <div class="ui top attached header">
      <span>สร้างกระดาษทำการ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">กระดาษทำการเงินฝากคลัง</label>
            <button class="ui mini primary button" routerLink="/int07-7-1">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">กระดาษทำการเงินฝากคลัง 1</label>
            <button class="ui mini primary button" routerLink="/int07-7-2">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">กระดาษทำการเจ้าหนี้ อปท.</label>
            <button class="ui mini primary button" routerLink="/int07-7-3">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">กระดาษทำการเงินประกันอื่น</label>
            <button class="ui mini primary button" routerLink="/int07-7-4">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">กระดาษทำการเงินรับฝาก</label>
            <button class="ui mini primary button" routerLink="/int07-7-5">
              <i class="add icon"></i>
              สร้าง
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>