<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายงานประมาณการค่าใช้จ่ายในการเดินทาง</span>
</div>
<div class="ui form center aligned" id="int09-1"  ngNativeValidate>
  <div class="ui attached  segment">

    <input type="hidden" id="searchFlag">
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="two wide column"><label>ปีงบประมาณ</label></div>
        <div class="four wide column">
          <div class="ui calendar" id="year">
            <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" name="date-raw" id="year1" autocomplete="off" [attr.readonly]="null" placeholder="yyyy" [attr.required]="true">
            </div>
        </div></div>
        <div class="two wide column"><label>หน่วยงาน</label></div>
        <div class="four wide column">
          <div class="ui form">
            <div class="field">
              <select class="ui search dropdown" id="department">
                <option value="0">หน่วยงาน</option>
                <!-- <option *ngFor="let data of deparmentList" value="{{data.value}}">{{data.label}}</option> -->
              </select>
            </div>
          </div>
        </div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
      </div>

    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui  primary button" type="button" (click)="clickSearch()">
          ค้นหา
        </button>
        <button class="ui  grey button" type="button" (click)="clickClear()">
          ล้างข้อมูล
        </button>
        <button class="ui  green button" type="button" routerLink="/int09/2-1-2">
          สร้าง
        </button>
      </div>
    </div>
    <br>


    <br>
      <table id="tableData" class="ui small celled table" style="width: 100%">
        <thead>
          <tr style="text-align: center;">
            <th ><input id="checkAllSap" type="checkbox" (click)="clickCheckAll($event)"/></th>
            <th>ลำดับที่</th>
            <th>หน่วยงาน</th>
            <th>วันที่</th>
            <th>ผู้สร้าง</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
      <br><br>
    <div class="ui form center aligned grid">
        <button class="ui red button" (click)="clickDelete()">ลบ</button>
    </div>  
    <br>  
    </div>        
        
  </div>