<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">จัดทำแผนการตรวจปฏิบัติการ</h2>

    <div class="ui top attached header">
      <span>จัดทำแผนการตรวจปฏิบัติการ</span>

    </div>

    <div class="ui attached segment">

      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field ">
            <label>แผนตรวจปฏิบัติการเลขที่ :</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="61-00187">
          </div>
          <div class="three wide field "> </div>
          <div class="field">
            <label>วันที่จัดทำแผน :</label>
          </div>
          <div class="four ui action input">
            <input type="text" placeholder="dd/mm/yyyy">
            <button class="ui icon button">
              <i class="add to calendar icon"></i>
            </button>
          </div>
        </div>
        <br>
        <div class="ui grid center aligned">
          <div class="sixteen wide column">
            <b> แผนปฏิบัติการ ประจำปีงบประมาณ พ.ศ. 2561</b>
          </div>
        </div>
        <br>

        <div class="inline fields">
          <div class="three wide field ">
            <label>เป้าหมายกระทรวงการคลัง :</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="การรักษาความยั่งยืนทางการคลัง">
          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ผู้รับผิดชอบหลัก : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field ">
            <label>ยุทธศาสตร์กระทรวงการคลัง : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="การปฏิรูปกฏหมายการคลังและการบริหารการคลัง ">
          </div>
          <div class="two  wide field "> </div>
          <div class="three  wide field ">
            <label>ชื่อ :</label>
          </div>

          <div class="four wide field ">
            <input type="text" placeholder="" value="นางสุภา เยี่ยมโอภาส">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field ">
            <label>ยุทธศาสตร์กรมสรรพสามิต : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="บูรณาการการจัดเก็บภาษีอย่างมีเสถียรภาพ">

          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ตำแหน่ง : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="นักวิชาการสรรพสามิตชำนสญการพิเศษ">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field ">
            <label>กลยุทธ์ :</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="จัดเก็บภาษีเพื่อฐานะทางการคลังอย่างยั่งยืน">
          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ผู้อนุมัติ :</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="นักวิชาการสรรพสามิตชำนสญการพิเศษ">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field ">
            <label>วัตถุประสงค์ : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="เพื่อเพิ่มพูนประสิทธิภาพในการบริหารการจัดเก็บภาษี ">

          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ชื่อ :</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="นายธิบดี วัฒนากุล">
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="three wide field ">
            <label>เพิ่มวัตถุประสงค์ : </label>
          </div>
          <div class="three wide field ">
          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ชื่อ :</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="นายธิบดี วัฒนากุล">
          </div>
        </div>


        <div class="inline fields">
          <div class="one wide field "></div>
          <div class="three wide field ">
          </div>
          <div class="three wide field ">
          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ตำแหน่ง:</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field ">
            <label>ตัวชี้วัดหลัก : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="จำนวนราย">
          </div>
          <div class="two wide field "> </div>
          <div class="three wide field ">
            <label>ระยะเวลาของแผนงานโครงการ : </label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="" value="1 ตุลาคม 2561 - 30 กันยายน 2561">
          </div>
        </div>

        <div class="inline fields">
            <div class="three wide field ">
              <label>ผู้จัดทำแผนงาน/โครงการ : </label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="จำนวนราย">
            </div>          
            <div class="one wide field ">
              <label>โทรศัพท์: </label>
            </div>
            <div class="four wide field ">
              <input type="text" placeholder="" value="52513">
            </div>
          </div>
          <div class="ui grid center aligned">
              <div class="sixteen wide column">
                <b>เนื้อหาแผนการตรวจปฏิบัติการ </b>	
              </div>
            </div>
            <br>
            
          <div class="inline fields">
              <div class="four wide field "></div>
              <div class="eleven wide field">               
                <textarea></textarea>
              </div>
              <div class="four wide field "></div>
            </div>

            <div class="inline fields">
                <div class="eleven wide field "></div>
                <button class="negative ui button">แสดงตัวอย่าง</button>
            </div>

            <div class="inline fields">
                <div class="eleven wide field "></div>
                <button class="negative ui button "style="width: 130px;">บันทึก</button>
                <div class="one wide field "></div>
                <button class="negative ui button" style="width: 130px;">ยกเลิก</button>
            </div>
      </div>
    </div>