<div class="ui grid">
  <div class="sixteen wide column" *ngIf="!getConditionShow()">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>รายละเอียดปัจจัยเสี่ยงแบบสอบทานระบบการควบคุมภายใน</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label class="ui right ">ชื่อกระดาษทำการ</label>
          </div>
          <div class="ten wide field ">
            <input type="text" placeholder="ชื่อกระดาษทำการ" maxlength="100" class="custom" name="riskHrdPaperName" id="riskHrdPaperName"
              [(ngModel)]="riskHrdPaperName">
          </div>

        </div>
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field">
            <label>ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="ปีงบประมาณ" class="custom" name="budgetYear" id="budgetYear" [(ngModel)]="budgetYear" disabled="disabled">
          </div>
          <div class="two wide field ">
            <label>ผู้ตรวจ</label>
          </div>
          <div class="four wide field ">
            <input type="text" placeholder="ผู้ตรวจ" class="custom" name="userCheck" id="userCheck" [(ngModel)]="userCheck">
          </div>
        </div>

        <div class="inline fields"></div>

      </div>

    </div>


  </div>
  <div class="sixteen wide column ">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>เพิ่มข้อมูลปัจจัยเสี่ยงแบบสอบทานระบบการควบคุมภายใน</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">

        <table id="dataTable" class="ui small celled table">
          <thead>
            <tr>
              <th rowspan="2" style="text-align: center !important">ลำดับ</th>
              <th rowspan="2" style="text-align: center !important" class="four wide field ">หน่วยงาน</th>
              <th rowspan="2" style="text-align: center !important">ค่าความเสี่ยง</th>
              <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
            </tr>
            <tr>
              <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">RL</th>
              <th style="text-align: center !important">แปลค่า</th>
            </tr>
          </thead>
        </table>
        <div class="inline fields "></div>
        <div class="inline fields ">
          <div class="sixteen wide field ">
            <div class="six wide field "></div>
            <button class="ui mini primary button" (click)="saveRiskAssRiskWsDtl()">
              <i class="save icon"></i>
              บันทึก
            </button>
            <button class="ui mini primary button" (click)="modalConditionRL()">
              กำหนดเงื่อนไข RL
            </button>
            <button class="ui mini primary button" (click)="addRiskAssRiskWsHdr()">
              Export
            </button>
            <button class="ui mini primary button" (click)="cancelFlow()">
              ยกเลิก
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column" *ngIf="getConditionShow()">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>กำหนดเงื่อนไข RL ปัจจัยเสี่ยงอื่นๆ</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <condition [riskId]="id" [riskType]="'OTHER'" [page]="'int08-3-4'" (out)="closeConditionRL($event)"></condition>
      </div>
      <br/>
    </div>
  </div>

</div>