<app-breadcrumb [route]=breadcrumb></app-breadcrumb>

<div class="ui grid" >
    <div class="sixteen wide column">
        <div class="ui top attached header">
            <span>อัพโหลดไฟล์ตรวจสอบค่าใช้จ่าย</span>
        </div>
        <!-- form upload -->
        <div class="ui attached center {{loading ? 'loading' : ''}} segment">
            <form class="ui form" id="upload-form"(submit)="onSubmit($event)" ngNativeValidate>
                <input type="hidden" id="searchFlag" name="searchFlag">
                <div class="inline fields ui centered grid">
                    <div class="one wide field "></div>
                    <div class="three wide field ">
                        <label class="text-right full-width">รายงานงบทดลอง</label>
                    </div>
                    <div class="four wide field ">
                        <input class="inputfile" type="file" name="fileName" id="fileName" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onChangeUpload($event)" required>                    
                    </div>
                    <div class="one wide field "></div>
                </div><br>
                <div class="ui stackable center aligned page grid">
                    <button class="ui mini primary button" type="submit"> อัปโหลด</button>
                </div><br>
            </form>
        </div>
    </div>
</div>

<!--table-->
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui top attached header">
            <span>ข้อมูลการอัปโหลด</span>
        </div>
        <!-- form upload -->
        <div class="ui attached center segment {{tableLoading ? 'loading' : ''}} ">
            <table id="dataTable" class="ui small celled table nowrap" style="width: 100%">
                <thead>
                    <tr style="text-align: center;">        
                      <th rowspan="2">ลำดับ</th>
                      <th colspan="2">บัญชีแยกประเภท</th>
                      <th rowspan="2">ยอดยกมา</th>
                      <th rowspan="2">เดบิต</th>
                      <th rowspan="2">เครดิต</th>
                      <th rowspan="2">ยอดยกไป</th>         
                      <th rowspan="2">Action</th>  
                    </tr>
                    <tr>
                      <th></th>
                      <th></th>
              
                    </tr>
                  </thead>
            </table>   
        </div>
    </div>
</div>
<!-- table -->
<!-- {{loading ? 'loading' : ''}} -->