<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">เพิ่มข้อมูลภายนอก</h2>

        <div class="ui top attached header">
            <span>เพิ่มข้อมูลภายนอก</span>
        </div>

        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="ten wide field">
                    </div>
                    <div class="six wide field">
                        <label class="custom-label-w-20">เลขที่วิเคราะห์ข้อมูล</label>
                        <input value="{{analysNumber}}" readonly="" class="custom-readonly">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="thirteen wide field">
                        <label class="custom-label-w-35">ระยะเวลาที่ตรวจสอบ</label>
                        <div class="four ui action input">
                            <input type="text" placeholder="MM/YYYY" value="{{before}}" readonly="" class="custom-readonly">
                            <button class="ui icon button">
                                <i class="add to calendar icon"></i>
                            </button>
                        </div>
                        <div class="one">
                            <label>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="four ui action input">
                            <input type="text" placeholder="MM/YYYY" value="{{last}}" readonly="" class="custom-readonly">
                            <button class="ui icon button">
                                <i class="add to calendar icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="eight wide field">&nbsp;&nbsp;&nbsp;
                        <label class="custom-label-w-20">เลขที่กระดาษทำการ</label>
                        <input readonly="" value="{{workSheetNumber}}" class="custom-readonly">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="fourteen wide field"></div>
                    <div class="two wide field">
                        <input type="hidden" id="exciseId" value="EX" />
                        <button type="button" id="exciseBtn" style="margin-left: auto" class="ui mini primary button right floated" (click)="linkToDetail()">
                            <i class="add icon"></i>
                            เพิ่มข้อมูล
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="seven wide column">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="sixteen wide field">
                                <label style="width: 5em;">ภาค</label>
                                <select class="ui dropdown ai" name="sector" id="sector" (change)="changeSector()">
                                    <option value="">ทั้งหมด</option>
                                    <option *ngFor="let list of sectorArr">{{list.value1}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="sixteen wide field">
                                <label style="width: 5em;">พิกัด</label>
                                <select class="ui dropdown ai" name="coordinates" id="coordinates" (change)="changeCoordinates()">
                                    <option value="">ทั้งหมด</option>
                                    <option *ngFor="let list of coordinatesArr">{{list.value1}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form ngNativeValidate (submit)="onSend($event)">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div style="overflow-x: scroll;overflow-y: hidden;padding-bottom: 14px;">
                            <table id="sendLineUser" class="ui small celled table aligned hover" style="width: 5000px;">
                                <thead id="trDrinamic">


                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="ui center aligned grid">
                    <div class="sixteen wide column">
                        <button type="submit" class="ui mini primary button">
                            <i class="add icon"></i>
                            สร้างกระดาษทำการคัดเลือกราย
                        </button>
                        <button type="button" class="ui mini button" routerLink="/add-external-data">
                            <i class="refresh icon"></i>
                            ล้างข้อมูล
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>