.modal {
    top: 15% !important;
    position: absolute !important;
}

.mini.modal {
    left: 50% !important;
    margin-left: -12.5% !important;
}

.large.modal {
    top: 20% !important;
}

.hidden {
    display: none !important;
}