<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
    <span>รายงานประมาณการค่าใช้จ่ายในการเดินทาง</span>
  </div>
  <form (submit)="saveAndNext($event)" ngNativeValidate>
  <div class="ui form center aligned" id="int09-1"   >
    <div class="ui attached  segment">
        
        <div class="ui two column centered grid">
            <div class="two wide column"><label>สรรพสามิตภาค</label></div>
            <div class="five wide column field" >
                <select class="ui dropdown search selection" id="sector" name="sector" (change)="sectorOnchange($event)">
                    <option value="">เลือก</option>
                    <option *ngFor="let data of sectorList" value="{{data.value}}">{{data.label}}</option>
                </select>
            </div>           
        </div>
        <div class="ui two column centered grid">       
            <div class="two wide column"><label>สรรพสามิตพื้นที่</label></div>
            <div class="five wide column field">
                <select class="ui dropdown search selection" id="area" name="area" (change)="areaOnChange($event)">
                    <option value="">เลือก</option>
                    <option *ngFor="let data of areaDropdown" value="{{data.value}}">{{data.label}}</option>
                </select>
            </div> 
        </div>
        <div class="ui two column centered grid">       
            <div class="two wide column"><label>สรพพสามิตสาขา</label></div>
            <div class="five wide column field">
                <select class="ui dropdown search selection" id="branch" name="branch" >
                    <option value="">เลือก</option>
                    <option *ngFor="let data of branchDropdown" value="{{data.value}}">{{data.label}}</option>
                </select>
            </div>
        </div>
        <div class="ui two column centered grid">       
            <div class="two wide column"><label>หน่วยงานผู้ตรวจ</label></div>
            <div class="five wide column field"><input type="text" id="department" name="department" ></div>
        </div>     
      <div class="ui grid">
          <div class="three wide column"></div>
          <div class="two wide column right aligned"><label>ตั้งแต่วันที่</label></div>
          <div class="three wide column">
            <div class="ui calendar" id="startDate">
              <div class="ui input left icon">
                  <i class="time icon"></i>
                  <input type="text" id="startDateInput" name="startDateInput" autocomplete="off" [attr.readonly]="null" placeholder="dd/MM/yyyy" [attr.required]="true" >
              </div>
            </div>
        </div>
          <div class="one wide column right aligned"><label>ถึง</label></div>
          <div class="three wide column">
              <div class="ui calendar" id="endDate">
                  <div class="ui input left icon">
                      <i class="time icon"></i>
                      <input type="text"id="endDateInput"  name="endDateInput" autocomplete="off" [attr.readonly]="null" placeholder="dd/MM/yyyy" [attr.required]="true" >
                  </div>
              </div>
          </div>
          <div class="two wide column"></div>
          <div class="three wide column"></div>
      </div>
  
      <div class="ui form center aligned grid">
          <button class="ui  primary button" type="submit" ><i class="file outline icon"></i> บันทึก</button>
      </div>  
      <br>    
    </div>
  </div>
</form>