<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ตรวจสอบแสตมป์
    </h2>

    <div class="ui top attached header">
      <span>ตรวจสอบแสตมป์
      </span>
    </div>

    <div class="ui attached segment">
      <div class="ui three column center aligned grid">
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int05-1" style="width: 205px;">
            <i class="line chart icon"></i>
            ตรวจแสตมป์พื้นที่
          </button>
        </div>

        <div class="column ">
          <button class="ui mini primary button" routerLink="/int05-2" style="width: 205px;">
            <i class="line chart icon"></i>
            ตรวจแสตมป์พื้นที่ สาขา
          </button>
        </div>
      </div>