<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">การคัดเลือกราย</h2>

    <div class="ui top attached header segment" style="background: #1e83db;color: white">
      <span>กำหนดเงื่อนไขคัดเลือกรายผู้ประกอบการ</span>
    </div>
    <div class="ui attached segment {{loading ? 'loading' : ''}}">
      <form class="ui form" [formGroup]="formControl" (submit)="save()">
        <!-- row 1 -->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="three wide field"></div>
          <div class="four wide field required">
            <label>ช่วงเวลาที่ตรวจสอบข้อมูล(ตามปีปฏิทิน)</label>
          </div>
          <div class="three wide field" [ngClass]="{ 'error': submitted && f.dateFrom.invalid }">
            <div class="ui calendar full-width" id="dateF">
              <div class="ui input left icon">
                <i class="clock icon"></i>
                <input type="text" id="dateFrom" name="dateFrom" formControlName="dateFrom" autocomplete="off"
                  [attr.readonly]="null" placeholder="ปปปป" [attr.required]="true">
              </div>
            </div>
          </div>
          <!-- <div class="one wide field required">
            <label >ถึง</label>
          </div> -->
          <!-- <div class="three wide field " [ngClass]="{ 'error': submitted && f.dateTo.invalid }">
            <div class="ui calendar full-width" id="dateT">
              <div class="ui input left icon">
                <i class="clock icon"></i>
                <input type="text" id="dateTo" name="dateTo" formControlName="dateTo" autocomplete="off"
                  [attr.readonly]="null" placeholder="ดด/ปปปป" [attr.required]="true">
              </div>
            </div>
          </div> -->
        </div>
        <!-- row 2 -->
        <br><br>
        <div class="inline fields  ui grid">
            <div class="three wide field"></div>
          <div class="two wide field">
            <label class="text-center full-width">เงื่อนไขที่ 1 </label>
          </div>
          <div class="six wide field">
            <b>ความถี่ของเดือนที่ชำระภาษี</b>
          </div>
        </div>
        <!-- row 3 -->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="four wide field"></div>
          <div class="three wide field">
            <label>จำนวนเดือนที่ไม่ชำระภาษีติดต่อกัน</label>
          </div>
          <div class="two wide field">
            <input type="text" id="monthNonPay" name="monthNonPay" formControlName="monthNonPay" numberOnly>
          </div>
          <div class="three wide field ">
            <label>เดือน</label>
          </div>
          <div class="four wide field ">

          </div>
        </div>
        <!-- row 4 -->
        <br><br>
        <div class="inline fields  ui grid">
            <div class="three wide field"></div>
          <div class="two wide field">
            <label class="text-center full-width">เงื่อนไขที่ 2</label>
          </div>
          <div class="six wide field ">
            <b>เปรียบเทียบจำนวนภาษีระหว่างเดือน</b>
          </div>
        </div>
        <!-- row 5 -->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="two wide field"></div>
          <div class="five wide field ">
            <label class="text-right full-width">ความแตกต่างของภาษีระหว่างเดือนมากกว่าหรือเท่ากับร้อยละ</label>
          </div>
          <div class="two wide field">
            <input type="number" id="percent1" name="percent1" formControlName="percent1">
          </div>
          <div class="three wide field ">

          </div>
          <div class="four wide field ">

          </div>
        </div>

        <!-- row 6 -->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="two wide field"></div>
          <div class="five wide field ">
            <label class="text-right full-width">ความแตกต่างของภาษีระหว่างเดือนน้อยกว่าหรือเท่ากับร้อยละ</label>
          </div>
          <div class="two wide field">
            <input type="number" id="percent2" name="percent2" formControlName="percent2">
          </div>
          <div class="three wide field required">

          </div>
          <div class="four wide field ">

          </div>
        </div>

        <!-- row 7-->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="two wide field"></div>
          <div class="five wide field ">
            <label class="text-right full-width">ความแตกต่างของภาษีระหว่างเดือนเท่ากับร้อยละ</label>
          </div>
          <div class="two wide field">
            <input type="number" id="percent3" name="percent3" formControlName="percent3">
          </div>
          <div class="three wide field ">
          </div>
          <div class="four wide field ">

          </div>
        </div>
        <br><br>
        <!-- row 8 -->
        <div class="inline fields  ui grid">
            <div class="three wide field"></div>
          <div class="two wide field">
            <label class="text-center full-width">เงื่อนไขที่ 3</label>
          </div>
          <div class="seven wide field ">
            <b>เปรียบเทียบความแต่งต่างการชำระภาษีระหว่างปี</b>
          </div>
        </div>
        <!-- row 9 -->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="two wide field"></div>
          <div class="five wide field ">
            <label class="text-right full-width">ความแตกต่างของภาษีระหว่างเดือนมากกว่าหรือเท่ากับร้อยละ</label>
          </div>
          <div class="two wide field">
            <input type="number" id="" name="" >
          </div>
          <div class="three wide field ">

          </div>
          <div class="four wide field ">

          </div>
        </div>

        <!-- row 10 -->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="two wide field"></div>
          <div class="five wide field ">
            <label class="text-right full-width">ความแตกต่างของภาษีระหว่างเดือนน้อยกว่าหรือเท่ากับร้อยละ</label>
          </div>
          <div class="two wide field">
            <input type="number" id="" name="">
          </div>
          <div class="three wide field required">

          </div>
          <div class="four wide field ">

          </div>
        </div>

        <!-- row 11-->
        <div class="inline fields  ui grid">
            <div class="two wide field"></div>
          <div class="two wide field"></div>
          <div class="five wide field ">
            <label class="text-right full-width">ความแตกต่างของภาษีระหว่างเดือนเท่ากับร้อยละ</label>
          </div>
          <div class="two wide field">
            <input type="number" id="" name="" >
          </div>
          <div class="three wide field ">
          </div>
          <div class="four wide field ">

          </div>
        </div>


        <!-- button -->
        <div class="ui center aligned grid">
          <div class="six wide column">
            <button class="ui mini primary button" type="submit">
              <i class="file icon"></i>
              ค้นหาความเสี่ยง
            </button>
            <button class="ui mini button" (click)="clear()">
              <i class="refresh icon"></i>
              ล้างข้อมูล
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>