<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ประเมินคดีด้านจำนวนคดี</h2>

    <div class="ui top attached header">
      <span>ประเมินคดีด้านจำนวนคดี</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="nine wide field ">
            <label style="width: 40em">ประเมินคดีด้านจำนวนคดี</label>
            <input type="file" />
          </div>
        </div>
      </div>

      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="uploadData()">
            <i class="upload icon"></i>
            อัพโหลด
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
        </div>
      </div>

    </div>

    <div class="ui segment" *ngIf="showData">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button">
            <i class="print icon"></i>
            พิมพ์
          </button>
        </div>
      </div>

      <br>
      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          กระดาษทำการประเมินความเสี่ยงผลการปราบปรามเปรียบเทียบประมาณการฯเพื่อพิจารณาคัดเลือกหน่วยงานรับตรวจสำนักงานสรรพสามิตภาค พื้นที่
          และสาขา
          <br> ปีงบประมาณ พ.ศ. 2561
          <br> กลุ่มตรวจสอบภายใน กรมสรรพสามิต
        </div>
      </div>
      <div class="ui eight column grid">
        <div class="column">
          ปัจจัยเสี่ยง:
        </div>

        <div class="column" style="width: 30%;">
          6. ผลการจับกุมผู้กระทำผิด
          <br> 6.2 จำนวนค่าปรับ
          <br> ผลการจับกุมผู้กระทำผิด (จำนวนค่าปรับ)
          <br> ผลการจับกุมผู้กระทำผิด (จำนวนค่าปรับ)
          <br> ผลการจับกุมผู้กระทำผิด (จำนวนค่าปรับ)
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br>
          <br> น้อยกว่า
          <br> เท่ากับ
          <br> มากกว่า
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br>
          <br>0
          <br>0-100
          <br>100
        </div>

        <div class="column right aligned" style="width: 10%;">
          &nbsp;
          <br>
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br>
          <br> 1
          <br> 2
          <br> 3
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br>
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br>
          <br> ต่ำ
          <br> กลาง
          <br> สูง
        </div>
      </div>

      <br>

      <table id="tableData" class="ui small celled table">
        <thead>
          <tr style="text-align: center;">
            <th rowspan="2">ลำดับ</th>
            <th rowspan="2" style="width: 40%">หน่วยงาน</th>
            <th colspan="4">ผลการปราบปรามเปรียบเทียบประมาณการ</th>
            <th colspan="2">ความเสี่ยง</th>
          </tr>
          <tr style="text-align: center;">
            <th style="border-left: 1px solid rgba(34,36,38,.1); width:8%;">จำนวนค่าปรับ</th>
            <th style="width:8%;">ประมาณการ</th>
            <th style="width:8%;">ผลต่าง</th>
            <th style="width:8%;">อัตราสูงต่ำ</th>
            <th style="width:8%;">
              <a href="javascript:;" (click)="popupEditData()">
                RL
              </a>
            </th>
            <th style="width:8%;">
              <a href="javascript:;" (click)="popupEditData()">
                แปลค่า
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>สส.พท.อำนาจเจริญ</td>
            <td>116</td>
            <td>177</td>
            <td>
              <font style="color: red;">-61</font>
            </td>
            <td>
              <font style="color: red;">-34.46</font>
            </td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>2</td>
            <td>สส.พท.ร้อยเอ็ด</td>
            <td>113</td>
            <td>144</td>
            <td>
              <font style="color: red;">-31</font>
            </td>
            <td>
              <font style="color: red;">-21.53</font>
            </td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>3</td>
            <td>สุราษฎร์ธานี</td>
            <td>760</td>
            <td>1,077</td>
            <td>
              <font style="color: red;">-317</font>
            </td>
            <td>
              <font style="color: red;">-29.43</font>
            </td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>4</td>
            <td>สส.พท.ศรีสะเกษ</td>
            <td>232</td>
            <td>270</td>
            <td>
              <font style="color: red;">-38</font>
            </td>
            <td>
              <font style="color: red;">-14.07</font>
            </td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>5</td>
            <td>สสพ.พะเยา</td>
            <td>188</td>
            <td>214</td>
            <td>
              <font style="color: red;">-26</font>
            </td>
            <td>
              <font style="color: red;">-12.15</font>
            </td>
            <td class="bg-red">3</td>
            <td class="bg-red">สูง</td>
          </tr>
          <tr>
            <td>6</td>
            <td>สสพ.ภูเก็ต</td>
            <td>240</td>
            <td>229</td>
            <td>11</td>
            <td>4.8</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>7</td>
            <td>สสพ.พัทลุง</td>
            <td>226</td>
            <td>217</td>
            <td>9</td>
            <td>4.15</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>8</td>
            <td>สสพ. นนทบุรี</td>
            <td>683</td>
            <td>675</td>
            <td>8</td>
            <td>1.19</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>9</td>
            <td>สสพ. ปทุมธานี 1</td>
            <td>441</td>
            <td>436</td>
            <td>5</td>
            <td>1.15</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>10</td>
            <td>สสพ. ปทุมธานี 2</td>
            <td>181</td>
            <td>180</td>
            <td>1</td>
            <td>0.56</td>
            <td class="bg-yellow">2</td>
            <td class="bg-yellow">กลาง</td>
          </tr>
          <tr>
            <td>11</td>
            <td>สสพ. ลพบุรี</td>
            <td>169</td>
            <td>48</td>
            <td>121</td>
            <td>252.08</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>12</td>
            <td>สสพ. พระนครศรีอยุธยา 1</td>
            <td>565</td>
            <td>288</td>
            <td>277</td>
            <td>96.18</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>13</td>
            <td>สสพ. พระนครศรีอยุธยา 2</td>
            <td>558</td>
            <td>360</td>
            <td>198</td>
            <td>55</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
          <tr>
            <td>14</td>
            <td>สสพ.จันทบุรี</td>
            <td>184</td>
            <td>168</td>
            <td>16</td>
            <td>9.52</td>
            <td class="bg-green">1</td>
            <td class="bg-green">ต่ำ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/int08-3-3">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
      </div>
    </div>

  </div>
</div>

<div id="modalInt08332" class="ui modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดเงื่อนไข RL และแปลงค่า
  </div>

  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="sixteen wide field">
          <button class="ui mini primary button">
            <i class="add icon"></i>
            เพิ่ม
          </button>
        </div>
      </div>

      <table id="tableSetting" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr class="center aligned">
            <th>เงื่อนไขที่</th>
            <th>เงื่อนไข</th>
            <th>ค่าที่ 1</th>
            <th>ถึง</th>
            <th>ค่าที่ 2</th>
            <th>ค่า RL</th>
            <th>แปลงค่า</th>
            <th>สี</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <select id="selectCondition1" class="ui dropdown">
                <option value="1">Less Than</option>
                <option value="0">Between</option>
                <option value="2">More Than</option>
              </select>
            </td>
            <td>0</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>
              <select id="selectColor1" class="ui dropdown">
                <option value="0">เขียว</option>
                <option value="1">เหลือง</option>
                <option value="2">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <select id="selectCondition2" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="2">More Than</option>
              </select>
            </td>
            <td>0</td>
            <td>ถึง</td>
            <td>100</td>
            <td>2</td>
            <td>กลาง</td>
            <td>
              <select id="selectColor2" class="ui dropdown">
                <option value="0">เหลือง</option>
                <option value="1">เขียว</option>
                <option value="2">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <select id="selectCondition3" class="ui dropdown">
                <option value="0">More Than</option>
                <option value="1">Between</option>
                <option value="2">Less Than</option>
              </select>
            </td>
            <td>100</td>
            <td></td>
            <td></td>
            <td>3</td>
            <td>สูง</td>
            <td>
              <select id="selectColor3" class="ui dropdown">
                <option value="0">แดง</option>
                <option value="1">เหลือง</option>
                <option value="2">เขียว</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="closePopupEdit()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>