<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br />
<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>ตารางผลการคัดเลือกรายประจำปี (ปีปฏิทิน) พ.ศ.2561</span>
</div>

<input type="hidden" id="searchFlag" name="searchFlag">

<!-- Datatable -->
<div class="ui segment" style="width: 100%;">
  <table id="dataTable" class="ui small celled table nowrap striped selectable" style="width: 100%;">
    <thead>
      <tr>
        <th style="text-align: center !important;"></th>
        <th style="text-align: center !important;">เลขทะเบียนสรรพสามิต</th>
        <th style="text-align: center !important;">ชื่อผู้ประกอบการ/โรงอุตสาหกรรม</th>
        <th style="text-align: center !important;">ที่อยู่สถานบริการ/โรงอุตสาหกรรม</th>
        <th style="text-align: center !important;">สรรพสามิตภาค</th>
        <th style="text-align: center !important;">สรรพสามิตพื้นที่</th>
        <th style="text-align: center !important;">สินค้า</th>
        <th style="text-align: center !important;">ด้านความเสี่ยง</th>
        <th style="text-align: center !important;">สถานการตรวจสอบ</th>
      </tr>
    </thead>
  </table>
</div>

<!-- Modal -->
<div class="ui dimmer modals page top aligned transition" [ngClass]="{'visible active block-ui-modal-fw': activeModal}">
  <div class="ui modal " [ngClass]="{'active': activeModal}" id="modalTsl111" style="width: 400px;">
    <div class="header">เลือกเดือนที่ต้องการตรวจสอบข้อมูล</div>
    <div class="content">
      <div class="ui calendar full-width" id="date" style="text-align: center;">
        <div class="ui input left icon">
          <i class="clock icon"></i>
          <input id="dateCalendar" name="dateCalendar" type="text" autocomplete="off" [readonly]="true" placeholder="ดด/ปปปป">
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="ui primary button" (click)="onClickOK()">
        <i class="edit icon"></i>
        ตรวจสอบ
      </button>
      <button class="ui icon deny button" type="button" (click)="onCancel()">
        <i class="close icon"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>

<!-- onReport -->
<form id="onReport" method="POST">
  <input type="hidden" name="dataJson" id="dataJson">
</form>
<!-- onReport -->