<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ประเมินความเสี่ยงภาคพื้นที่รวม</h2>

    <div class="ui top attached header">
      <span>ประเมินความเสี่ยงภาคพื้นที่รวม</span>
    </div>

    <div class="ui attached segment">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button">
            <i class="print icon"></i>
            พิมพ์
          </button>
          <button class="ui mini default button" (click)="popupWeightData()">
            <i class="setting icon"></i>
            กำหนด %
          </button>
          <button class="ui mini default button" (click)="popupEditData()">
            <i class="setting icon"></i>
            กำหนด RL
          </button>
        </div>
      </div>

      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          กระดาษทำสรุปการประเมินความเสี่ยงภาค พื้นที่ เพื่อพิจารณาคัดเลือกหน่วยงานรับตรวจสำนักงานสรรพสามิตภาค พื้นที่ และสาขา
          <br> ปีงบประมาณ พ.ศ. 2561
          <br> กลุ่มตรวจสอบภายใน กรมสรรพสามิต
        </div>
      </div>

      <div class="ui nine column grid">
        <div class="column">
          ปัจจัยเสี่ยง:
        </div>

        <div class="column" style="width: 25%;">
          4. ความถี่การเข้าตรวจสอบ
          <br> 5. ประสิทธิภาพของการจัดเก็บรายได้
          <br> 6. ผลการจับกุมผู้กระทำผิด
          <br> 7. ความเสี่ยงด้านการเงินและบัญชี
          <br> 8. ระบบการควบคุมภายใน
        </div>

        <div class="column">
          &nbsp;
          <br> &nbsp;
          <br> ระดับความเสี่ยง
          <br> ระดับความเสี่ยง
          <br> ระดับความเสี่ยง
        </div>

        <div class="column" style="width: 10%;">
          &nbsp;
          <br> &nbsp;
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
        </div>

        <div class="column right aligned" style="width: 6%;">
          &nbsp;
          <br> &nbsp;
          <br> 0 - 1
          <br> 1.1 - 2
          <br> 2.1 - 3
        </div>

        <div class="column">
          &nbsp;
          <br> &nbsp;
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br> &nbsp;
          <br> 1
          <br> 2
          <br> 3
        </div>

        <div class="column">
          &nbsp;
          <br> &nbsp;
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br> &nbsp;
          <br> ต่ำ
          <br> กลาง
          <br> สูง
        </div>
      </div>
      <br>
      <div style="overflow-x: scroll;">
        <table id="tableData" class="ui small celled table" style="width: 150%;">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="2">ลำดับ</th>
              <th rowspan="2">โครงการตามยุทธศาสตร์</th>
              <th rowspan="2" style="width: 8%;">1.ระยะเวลาการ
                <br>ตรวจสอบ (ปี)</th>
              <th colspan="2">ความเสี่ยง</th>
              <th colspan="1">2.ประสิทธิภาพการจัดเก็บรายได้</th>
              <th colspan="2">ความเสี่ยง</th>
              <th colspan="2">3.ประสิทธิภาพการปราบปราม (อัตราสูง/ต่ำเทียบกับประมาณการ)</th>
              <th colspan="2">ความเสี่ยง</th>
              <th rowspan="2" style="width: 8%;">4.ความเสี่ยงด้านการเงินและบัญชี</th>
              <th colspan="2">ความเสี่ยง</th>
              <th rowspan="2" style="width: 8%;">5. ควบคุมภายใน</th>
              <th colspan="2">ความเสี่ยง</th>
              <th colspan="1">ค่าความเสี่ยงเฉลี่ย</th>
              <th rowspan="2">แปลค่า</th>
            </tr>
            <tr style="text-align: center;">
              <th style="border-left: 1px solid rgba(34,36,38,.1); width: 8%;">ระดับ</th>
              <th style="width: 5%;">แปลค่า</th>
              <th style="width: 5%;">ผลการจัดเก็บ (อัตราสูง/ต่ำเทียบกับประมาณการ)</th>
              <th style="width: 5%;">ระดับ</th>
              <th style="width: 5%;">แปลค่า</th>
              <th style="width: 5%;">จำนวนคดี</th>
              <th style="width: 5%;">จำนวนค่าปรับ</th>
              <th style="width: 5%;">ระดับ</th>
              <th style="width: 5%;">แปลค่า</th>
              <th style="width: 5%;">ระดับ</th>
              <th style="width: 5%;">แปลค่า</th>
              <th style="width: 5%;">ระดับ</th>
              <th style="width: 5%;">แปลค่า</th>
              <th style="width: 5%;">(1+2+3)/3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>สสพ.แม่ฮ่องสอน</td>
              <td>9</td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-1.63</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>10.43</td>
              <td>
                <font style="color: red">-10.84</font>
              </td>
              <td>2</td>
              <td>กลาง</td>
              <td>6</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>3</td>
              <td>3</td>
              <td>สูง</td>
              <td class="bg-red">2.4</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>2</td>
              <td>สสพ. นนทบุรี</td>
              <td>9</td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-4.67</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>96.18</td>
              <td>212.96</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>7</td>
              <td>2</td>
              <td>กลาง</td>
              <td>2</td>
              <td>2</td>
              <td>กลาง</td>
              <td class="bg-red">2.2</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>3</td>
              <td>สสพ.ลำปาง</td>
              <td>4</td>
              <td>2</td>
              <td>กลาง</td>
              <td>
                <font style="color: red">-17.57</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>1.19</td>
              <td>
                <font style="color: red">-58.02</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>5</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>2</td>
              <td>2</td>
              <td>กลาง</td>
              <td class="bg-red">2.2</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>4</td>
              <td>สสพ.อุทัยธานี</td>
              <td>9</td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-21.88</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>56.48</td>
              <td>
                <font style="color: red">-5.33</font>
              </td>
              <td>2</td>
              <td>กลาง</td>
              <td>8</td>
              <td>2</td>
              <td>กลาง</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td class="bg-red">2.2</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>5</td>
              <td>สสพ.กาญจนบุรี</td>
              <td>3</td>
              <td>2</td>
              <td>กลาง</td>
              <td>
                <font style="color: red">-16.11</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-34.46</font>
              </td>
              <td>
                <font style="color: red">-21.46</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>7</td>
              <td>2</td>
              <td>กลาง</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td class="bg-red">2.2</td>
              <td class="bg-red">สูง</td>
            </tr>
            <tr>
              <td>6</td>
              <td>สสพ.ราชบุรี</td>
              <td>9</td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-7.02</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>29.08</td>
              <td>131.84</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>7</td>
              <td>2</td>
              <td>กลาง</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>7</td>
              <td>สสพ.ชุมพร</td>
              <td>4</td>
              <td>2</td>
              <td>กลาง</td>
              <td>
                <font style="color: red">-1.91</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-9.88</font>
              </td>
              <td>
                <font style="color: red">-22.08</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>3</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>8</td>
              <td>สุราษฎร์ธานี</td>
              <td>7</td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-12.14</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-11.15</font>
              </td>
              <td>
                <font style="color: red">-79.07</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>-</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>0</td>
              <td>0</td>
              <td>ต่ำ</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>9</td>
              <td>สสพ.ปัตตานี</td>
              <td>5</td>
              <td>2</td>
              <td>กลาง</td>
              <td>
                <font style="color: red">-46.74</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>
                <font style="color: red">-0.4</font>
              </td>
              <td>
                <font style="color: red">-64.54</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>5</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>10</td>
              <td>สสพ.ตราด</td>
              <td>3</td>
              <td>2</td>
              <td>กลาง</td>
              <td>41.34</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>
                <font style="color: red">-14.07</font>
              </td>
              <td>
                <font style="color: red">-17.15</font>
              </td>
              <td>3</td>
              <td>สูง</td>
              <td>8</td>
              <td>2</td>
              <td>กลาง</td>
              <td>2</td>
              <td>2</td>
              <td>กลาง</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>11</td>
              <td>สสพ. ลพบุรี</td>
              <td>5</td>
              <td>2</td>
              <td>กลาง</td>
              <td>27.81</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>9.52</td>
              <td>11.21</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>-</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>0</td>
              <td>0</td>
              <td>ต่ำ</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>12</td>
              <td>สสพ. อ่างทอง</td>
              <td>3</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>28.1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>36</td>
              <td>
                <font style="color: red">-2.67</font>
              </td>
              <td>2</td>
              <td>กลาง</td>
              <td>-</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>0</td>
              <td>0</td>
              <td>ต่ำ</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>13</td>
              <td>สส.พท.อุบลราชธานี</td>
              <td>3</td>
              <td>2</td>
              <td>กลาง</td>
              <td>1.24</td>
              <td>1</td>
              <td>กลาง</td>
              <td>8,883.33</td>
              <td>33.85</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>-</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>0</td>
              <td>0</td>
              <td>ต่ำ</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>14</td>
              <td>สสพ.กำแพงเพชร</td>
              <td>4</td>
              <td>2</td>
              <td>กลาง</td>
              <td>1.25</td>
              <td>1</td>
              <td>กลาง</td>
              <td>100</td>
              <td>361.07</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>4</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td class="bg-green">1.2</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>15</td>
              <td>สสพ.ขอนแก่น</td>
              <td>1</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>4.08</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>221</td>
              <td>216.11</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>-</td>
              <td>1</td>
              <td>ต่ำ</td>
              <td>0</td>
              <td>0</td>
              <td>ต่ำ</td>
              <td class="bg-green">0.8</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/int08-3">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalInt0836" class="ui modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดเงื่อนไข RL และแปลงค่าประเมินความเสี่ยงภาคพื้นที่
  </div>

  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="sixteen wide field">
          <button class="ui mini primary button">
            <i class="add icon"></i>
            เพิ่ม
          </button>
        </div>
      </div>

      <table id="tableSetting" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr class="center aligned">
            <th>เงื่อนไขที่</th>
            <th>เงื่อนไข</th>
            <th>ค่าที่ 1</th>
            <th>ถึง</th>
            <th>ค่าที่ 2</th>
            <th>ค่า RL</th>
            <th>แปลงค่า</th>
            <th>สี</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <select id="selectCondition1" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="1">More Than</option>
              </select>
            </td>
            <td>0</td>
            <td>ถึง</td>
            <td>1</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>
              <select id="selectColor1" class="ui dropdown">
                <option value="0">เขียว</option>
                <option value="1">เหลือง</option>
                <option value="1">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <select id="selectCondition2" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="1">More Than</option>
              </select>
            </td>
            <td>1.1</td>
            <td>ถึง</td>
            <td>2</td>
            <td>2</td>
            <td>กลาง</td>
            <td>
              <select id="selectColor2" class="ui dropdown">
                <option value="0">เหลือง</option>
                <option value="1">เขียว</option>
                <option value="1">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <select id="selectCondition3" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Less Than</option>
                <option value="1">More Than</option>
              </select>
            </td>
            <td>2.1</td>
            <td>ถึง</td>
            <td>3</td>
            <td>3</td>
            <td>สูง</td>
            <td>
              <select id="selectColor3" class="ui dropdown">
                <option value="0">แดง</option>
                <option value="1">เหลือง</option>
                <option value="1">เขียว</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="closePopupEdit()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalInt0836-weight-data" class="ui small modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดค่าน้ำหนัก (%) ประเมินความเสี่ยงภาคพื้นที่
  </div>

  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="eight wide field">
          <label class="custom-label-w-35">ระยะเวลาการตรวจสอบ</label>
          <input type="text" value="20%">
        </div>
        <div class="eight wide field">
          <label class="custom-label-w-35">ประสิทธิภาพการจัดเก็บรายได้</label>
          <input type="text" value="20%">
        </div>
      </div>

      <div class="inline fields">
        <div class="eight wide field">
          <label class="custom-label-w-35">ประสิทธิภาพการปราบปราม</label>
          <input type="text" value="20%">
        </div>
        <div class="eight wide field">
          <label class="custom-label-w-35">ด้านการเงินและบัญชี</label>
          <input type="text" value="20%">
        </div>
      </div>

      <div class="inline fields">
        <div class="eight wide field">
          <label class="custom-label-w-35">ควบคุมภายใน</label>
          <input type="text" value="20%">
        </div>
      </div>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="clearPopupWeightData()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>