<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>ประเมินค่าใช้จ่ายในการเดินทาง
  </span>
</div>
<div class="ui form center aligned" id="int09-1" (submit)="onSubmitt()" ngNativeValidate>
  <div class="ui attached  segment">
    <div class="ui grid center aligned">
      <div class="ui two wide column">&nbsp;</div>
      <div class="ui center aligned thirteen wide  column">

        <div class="inline fields">
          <div class="three wide field">
            <label>ชื่อกระดาษทำการ :</label>
          </div>
          <div class="eight wide field">
            <input type="text" maxlength="1000" name="workSheetHeaderName">
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label>
              ชื่อ (ผู้สร้าง) :
            </label>
          </div>
          <div class="eight  wide field">
            <input type="text" name="departmentName">
          </div>
        </div>


        <div class="inline fields">
          <div class="three wide field">
            <label>วันที่ทำการ</label>
          </div>
          <div class="eight wide field">
            <input type="text" class="disabled" name="description">
          </div>
        </div>
      </div>
    </div>

    <br>


    <div class="ui grid center aligned">
      <div class="ui two wide column">&nbsp;</div>
      <div class="ui center aligned thirteen wide  column">
      </div>
    </div>



    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui mini green button" type="button" (click)="uploadData()">
        ค้นหา
        </button>
        <button class="ui mini red button" type="button" (click)="clearData()">
        ล้างข้อมูล
          </button>
        <button class="ui mini green button" type="button"  routerLink="/int09-1-1" >
        เพิ่มข้อมูล
        </button>
       
      </div>
    </div>
    <br>


    <br>
    <div style="overflow-x: scroll;">
      <table id="tableData" class="ui small celled table">
        <thead>
          <tr style="text-align: center;">
            <th rowspan="2">ลำดับที่</th>
            <th rowspan="2">ชื่อกระดาษทำการ</th>
            <th rowspan="2">หน่วยงาน</th>
            <th rowspan="2">วันที่</th>
            <th rowspan="2">Action</th>
          </tr>

        </thead>
        <tbody>


        </tbody>
      </table>
    </div>
    <br>  
  </div>
</div>