<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">ตรวจสอบสถิติการต่ออายุใบอนุญาต</h2>

        <div class="ui top attached header">
            <span>สถิติการต่ออายุใบอนุญาต</span>
        </div>

        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="eight wide field">
                        <label class="custom-label-w-25">สำนักงานสรรพสามิตภาค</label>
                        <select name="selectZone" id="selectZone" class="ui dropdown ai">
                            <option *ngFor="let item of zoneList; index as i;" value="{{i+1}}">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field">
                        <label class="custom-label-w-25">สำนักงานสรรพสามิตพื้นที่</label>
                        <select name="selectArea" id="selectArea" class="ui dropdown ai">
                            <option *ngFor="let item of areaList; index as i;" value="{{i+1}}">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field">
                        <label class="custom-label-w-25">สำนัักงานสรรพสามิตพื้นที่สาขา</label>
                        <select name="selectSubArea" id="selectSubArea" class="ui dropdown ai">
                            <option *ngFor="let item of subAreaList; index as i;" value="{{i+1}}">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="eight wide field">
                        <label class="custom-label-w-25">ผู้ประกอบการ</label>
                        <select name="selectCompany" id="selectCompany" class="ui dropdown ai">
                            <option *ngFor="let item of companyList; index as i;" value="{{i+1}}">{{item.value}}</option>
                        </select>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="nine wide field">
                        <label class="custom-label-w-20" style="margin-right: 5%;">วันที่</label>
                        <div class="seven wide field">
                            <div class="ui icon input">
                                <input type="text" placeholder="ดด/ปปปป" value="09/2560">
                                <i class="add to calendar icon"></i>
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>ถึง</label>
                            <div class="ui icon input">
                                <input type="text" placeholder="ดด/ปปปป" value="12/2560">
                                <i class="add to calendar icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui center aligned grid">
                <div class="eight wide column">
                    <button class="ui mini primary button width-100" (click)="searchData()">
                        <i class="search icon"></i>
                        ค้นหา
                    </button>
                    <button class="ui mini button width-100" (click)="clearData()">
                        <i class="refresh icon"></i>
                        ล้างข้อมูล
                    </button>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <table id="table1" class="ui small celled table striped selectable">
                <thead>
                    <tr style="text-align: center;">
                        <th>ผู้ประกอบการ</th>
                        <th>ประเภทใบอนุญาต</th>
                        <th>2557</th>
                        <th>2558</th>
                        <th>2559</th>
                        <th>2560</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="ui segment" *ngIf="showData">
            <img src="assets/images/chart-check-company-renew.JPG" style="width: 100%;">
        </div>
    </div>
</div>