<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">ตรวจสอบใบเสร็จรับเงินภาษีสรรพสามิต</h2>

        <div class="ui top attached header">
            <span> ข้อมูลกระดาษทำการภาษีสรรพสามิต</span>
        </div>


        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="two wide field">
                        <label>สรรพสามิตภาค</label>
                    </div>
                    <div class="four wide field">
                        <select class="ui dropdown search selection" style="width: 100%;" id="travelTo1" (change)="travelTo2Dropdown($event)">
                            <option value="">เลือก</option>
                            <option *ngFor="let data of travelTo1List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
                        </select>
                    </div>
                    <div class="two wide field">
                        <label>สรรพสามิตพื้นที่</label>
                    </div>
                    <div class="four wide field">
                        <select class="ui dropdown search selection" style="width: 100%;" id="travelTo2" (change)="travelTo3Dropdown($event)">
                            <option value="">เลือก</option>
                            <option *ngFor="let data of travelTo2List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="two wide field">
                        <label>สรพพสามิตสาขา</label>
                    </div>
                    <div class="four wide field">
                        <select class="ui dropdown search selection" style="width: 100%;" id="travelTo3">
                            <option value="">เลือก</option>
                            <option *ngFor="let data of travelTo3List" value="{{data.lovId}}">{{data.subTypeDescription}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>