<div class="ui grid">
    <div class="sixteen wide column">
        <!-- <h2 class="ui header">รายงานผลการจัดซื้อจัดจ้าง</h2> -->
        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>กำหนดวันเวลาเปิดปิดระบบบันทึกข้อมูลการเบิกค่าสาธารณูปโภค</span>
        </div>

        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="one wide field">
                        &nbsp;
                    </div>

                    <div class="six wide field ">
                        <label class="custom-label-w-20" style="text-align: right">วันเวลาที่เปิดระบบ</label>
                        <div class="ui calendar" id="start">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" readonly="" name="startDate" id="startDate">
                            </div>
                        </div>
                    </div>

                    <div class="one wide field">
                        &nbsp;
                    </div>

                    <div class="six wide field">
                        <label class="custom-label-w-20" style="text-align: right">วันเวลาที่ปิดระบบ</label>
                        <div class="ui calendar" id="end">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" readonly="" name="endDate" id="endDate">
                            </div>
                        </div>
                    </div>

                    <div class="two wide field">
                        &nbsp;
                    </div>
                </div>

                <div class="ui center aligned grid">
                    <div class="sixteen wide column">
                        <button class="ui small green button" (click)="onSave()">
                          <i class="save icon"></i> บันทึก
                        </button>
                    </div>
                </div>
            </div>

            <div class="ui segment" id="showData">
                <table id="dataTable" class="ui small celled table" style="width: 100%;">
                    <thead>
                        <tr style="text-align: center">
                            <th>ลำดับ</th>
                            <th>วันที่ทำรายการ</th>
                            <th>ผู้ทำรายการ</th>
                            <th>วันเวลาที่เปิดระบบ</th>
                            <th>วันเวลาที่ปิดระบบ</th>
                            <th>สถานะ</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>