<div class="ui grid">
    <div class="sixteen wide column">
        <h2 class="ui header">สร้างกระดาษทำการคัดเลือกราย</h2>

        <div class="ui top attached header">
            <span>สร้างกระดาษทำการคัดเลือกราย</span>
        </div>

        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="ten wide field">
                    </div>
                    <div class="six wide field">
                        <label class="custom-label-w-20">เลขที่วิเคราะห์ข้อมูล</label>
                        <input value="{{analysNumber}}" readonly="" class="custom-readonly">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="thirteen wide field">
                        <label class="custom-label-w-35">ระยะเวลาที่ตรวจสอบ</label>
                        <div class="four ui action input">
                            <input type="text" placeholder="MM/YYYY" value="{{before}}" readonly="" class="custom-readonly">
                            <button class="ui icon button">
                <i class="add to calendar icon"></i>
              </button>
                        </div>
                        <div class="one">
                            <label>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="four ui action input">
                            <input type="text" placeholder="MM/YYYY" value="{{last}}" readonly="" class="custom-readonly">
                            <button class="ui icon button">
                <i class="add to calendar icon"></i>
              </button>
                        </div>
                    </div>
                    <div class="eight wide field">&nbsp;&nbsp;&nbsp;
                        <label class="custom-label-w-20">เลขที่กระดาษทำการ</label>
                        <input value="" readonly="" class="custom-readonly">
                    </div>
                </div>

                <div class="inline fields" *ngFor="let num of _num1; let i = index" [attr.data-index]="i">
                    <div class="two wide field">
                        <label>เงื่อนไขที่ &nbsp;&nbsp;{{i+1}}</label>
                    </div>
                    <div class="two wide field" style="padding-right: 0px;">
                        <label>จำนวนเดือนที่ชำระภาษี</label>
                    </div>
                    <div class="one wide field" style="padding-left: 10px; padding-right: 0px;">
                        <input type="number" name="_num1{{i}}" [(ngModel)]="_num1[i]" readonly="" class="custom-readonly">
                    </div>
                    <div class="one wide field">
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถึง</label>
                    </div>
                    <div class="one wide field">
                        <input type="number" name="_num2{{i}}" [(ngModel)]="_num2[i]" readonly="" class="custom-readonly">
                    </div>
                    <div class="four wide field">
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ช่วงร้อยละที่ต้องการแยกกลุ่มข้อมูล</label>
                    </div>
                    <div class="two wide field">
                        <input type="number" name="_percent1{{i}}" [(ngModel)]="_percent1[i]" readonly="" class="custom-readonly">
                    </div>
                    <div class="one wide field">
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถึง</label>
                    </div>
                    <div class="two wide field">
                        <input type="number" name="_percent2{{i}}" [(ngModel)]="_percent2[i]" readonly="" class="custom-readonly">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <div class="ui grid">
                <div class="three wide column" style="padding-bottom: 0"></div>
                <div class="six wide column" style="padding-bottom: 0">
                    <button class="ui mini primary button" routerLink="/working-paper-1-trader">
            <i class="list icon"></i>
            แสดงข้อมูลฉบับย่อ
          </button>
                    <button class="ui mini primary button" routerLink="/working-paper-1-full-trader">
            <i class="list icon"></i>
            แสดงข้อมูลฉบับเต็ม
          </button>
                </div>
                <div class="seven wide column" style="padding-bottom: 0">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="sixteen wide field">
                                <label style="width: 5em;">พิกัด</label>
                                <select class="ui dropdown">
                  <option *ngFor="let item of listItem" value="{{item}}">{{item}}</option>
                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui grid" style="margin-top: 0">
                <div class="three wide column" style="padding-right: 0;">
                    <div class="ui vertical menu" style="width: auto">
                        <div class="item">
                            <div class="header">แยกข้อมูลตามกลุ่มของการชำระภาษี</div>
                        </div>
                        <div class="item">
                            <div class="menu" *ngFor="let num of _num1; let i = index">
                                <a class="item">-เงื่อนไขที่ {{i+1}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thirteen wide column" style="padding-top: 0">
                    <div style="overflow-x: scroll;overflow-y: hidden;padding-bottom: 14px;">
                        <table id="userManagementDt" class="ui small celled table aligned hover" style="width: 5000px;">
                            <thead id="trDrinamic">
                                <tr>
                                    <th rowspan="2" style="text-align: center !important">ลำดับ</th>
                                    <th rowspan="2" style="text-align: center !important">ทะเบียนสรรพสามิต เดิม/ใหม่</th>
                                    <th rowspan="2" style="text-align: center !important">ชื่อผู้ประกอบการ</th>
                                    <th rowspan="2" style="text-align: center !important">ชื่อโรงอุตสาหกรรม/สถานบริการ</th>
                                    <th rowspan="2" style="text-align: center !important">พื้นที่</th>
                                    <th colspan="2" style="text-align: center !important">การชำระภาษีในสภาวะปกติ (บาท)</th>
                                    <th rowspan="2" style="text-align: center !important">เปลี่ยนแปลง (ร้อยละ)</th>
                                    <th rowspan="2" style="text-align: center !important">ชำระภาษี(เดือน)</th>
                                    <th colspan="3" style="text-align: center !important">การตรวจสอบภาษีย้อนหลัง 3 ปีงบประมาณ</th>
                                    <th rowspan="2" style="text-align: center !important">ภาค</th>
                                    <th rowspan="2" style="text-align: center !important">พิกัด</th>
                                    <th rowspan="2" style="text-align: center !important">ที่อยู่โรงอุตสาหกรรม/สถานบริการ</th>
                                    <th rowspan="2" style="text-align: center !important">ทุนจดทะเบียน</th>
                                    <th rowspan="2" style="text-align: center !important">สถานะ/วันที่</th>
                                    <th colspan="12" style="text-align: center !important">การชำระภาษี {{ month/2 }} เดือนแรก</th>
                                    <th colspan="12" style="text-align: center !important">การชำระภาษี {{ month/2 }} เดือนหลัง </th>
                                    <th rowspan="2" style="text-align: center !important">เพิ่มข้อมูลภายนอก</th>
                                </tr>
                                <tr>
                                    <th style="border-left: 1px solid rgba(34,36,38,.1);">{{ month/2 }} เดือนแรก</th>
                                    <th style="text-align: center !important">{{ month/2 }} เดือนหลัง </th>
                                    <th style="text-align: center !important">2558</th>
                                    <th style="text-align: center !important">2559</th>
                                    <th style="text-align: center !important">2560</th>
                                    <th style="text-align: center !important">พ.ค. 58</th>
                                    <th style="text-align: center !important">มิ.ย. 58</th>
                                    <th style="text-align: center !important">ก.ค. 58</th>
                                    <th style="text-align: center !important">ส.ค. 58</th>
                                    <th style="text-align: center !important">ก.ย. 58</th>
                                    <th style="text-align: center !important">ต.ค. 58</th>
                                    <th style="text-align: center !important">พ.ย. 58</th>
                                    <th style="text-align: center !important">ธ.ค. 58</th>
                                    <th style="text-align: center !important">ม.ค. 59</th>
                                    <th style="text-align: center !important">ก.พ. 59</th>
                                    <th style="text-align: center !important">มี.ค. 59</th>
                                    <th style="text-align: center !important">เม.ย. 59 </th>
                                    <th style="text-align: center !important">พ.ค. 58</th>
                                    <th style="text-align: center !important">มิ.ย. 58</th>
                                    <th style="text-align: center !important">ก.ค. 58</th>
                                    <th style="text-align: center !important">ส.ค. 58</th>
                                    <th style="text-align: center !important">ก.ย. 58</th>
                                    <th style="text-align: center !important">ต.ค. 58</th>
                                    <th style="text-align: center !important">พ.ย. 58</th>
                                    <th style="text-align: center !important">ธ.ค. 58</th>
                                    <th style="text-align: center !important">ม.ค. 59</th>
                                    <th style="text-align: center !important">ก.พ. 59</th>
                                    <th style="text-align: center !important">มี.ค. 59</th>
                                    <th style="text-align: center !important">เม.ย. 59 </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="ui center aligned grid">
                        <div class="sixteen wide column">
                            <button class="ui mini primary button">
                <i class="print icon"></i>
                พิมพ์กระดาษทำการคัดเลือกราย
              </button>
                            <button class="ui mini primary button" routerLink="/add-external-data">
                <i class="save icon"></i>
                บันทึกข้อมูล
              </button>
                            <button class="ui mini button">
                <i class="refresh icon"></i>
                ล้างข้อมูล
              </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>