<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ตารางแสดงผลการคัดเลือกราย</h2>

    <div class="ui top attached header segment" style="background: #1e83db;color: white">
      <span>ตารางแสดงผลการคัดเลือกราย</span>
    </div>
    <div class="ui attached segment {{loading ? 'loading' : ''}}">
      <br>
      <div class="ui grid">
        <button (click)="toggleBar()" class="ui button custom-menu" type="button"><i class="bars icon"></i>เมนู</button>
      </div><br>
      <div class="ui grid" style="margin-top: 0">
        <div style="padding-right: 0;" [ngClass]="{'three wide column': !toggle, 'transition-left' : toggle}">
          <div class="ui vertical menu" style="width: auto" name="coordinates" id="coordinates" (change)="changeCoordinates()">            
            <div class="item">
              <div class="header">เงื่อนไข</div>
            </div>
            <div class="item">
              <div class="menu">
                <a class="item hover">เงื่อนไขที่ 1 ความถี่ของเดือนที่ชำระภาษี ตั้งแต่ เดือน {{dispaly.dateFrom}} ถึง
                    {{dispaly.dateTo}}<br> จำนวนเดือนที่ไม่ชำระภาษีติดต่อกัน {{form.monthNonPay}}</a>
                <a class="item hover"> เงื่อนไขที่ 2 เปรียบเทียบจำนวนภาษีระหว่างเดือน</a>
                <a class="item hover">เงื่อนไขที่ 3 เปรียบเทียบความแต่งต่างการชำระภาษีระหว่างปี เทียบกับ ปี</a>
              </div>
            </div>
          </div>
        </div>

        <div style="padding-top: 0" [ngClass]="{'thirteen': !toggle, 'sixteen': toggle,'wide': true, 'column': true, 'transition-left-2': toggle}">

          <table id="datatable1" class="ui small celled table aligned hover striped selectable nowrap" style="width: 100%;">
            <thead id="tableOne">
              <tr>
                <th rowspan="2" style="text-align: center !important"><input type="checkbox" class="ui checkbox " name="select-all" id="select-all"></th>
                <th class="text-center" rowspan="2">เลขทะเบียนสรรพสามิต</th>
                <th class="text-center" rowspan="2">ชื่อผู้ประกอบการ/โรงอุตสาหกรรม</th>
                <th class="text-center" rowspan="2">ที่อยู่สถานบริการ/โรงอุตสาหกรรม</th>
                <th class="text-center" rowspan="2">พิกัดสินค้า/บริการ</th>
                <th class="text-center" rowspan="2">สรรพสามิตภาค</th>
                <th class="text-center" rowspan="2">สรรพสามิตพื้นที่</th>
                <th class="text-center" colspan="12">การชำระภาษี (บาท)</th>
              </tr>
              <tr>
                <th class="text-center">ม.ค.</th>
                <th class="text-center">ก.พ.</th>
                <th class="text-center">มี.ค.</th>
                <th class="text-center">เม.ย.</th>
                <th class="text-center">พ.ค.</th>
                <th class="text-center">มิ.ย.</th>
                <th class="text-center">ก.ค.</th>
                <th class="text-center">ส.ค.</th>
                <th class="text-center">ก.ย.</th>
                <th class="text-center">ต.ค.</th>
                <th class="text-center">พ.ย.</th>
                <th class="text-center">ธ.ค.</th>
              </tr>
              <!-- table details-->
            </thead>
          </table>
          <br>
          <table id="datatable2" class="ui small celled table aligned hover striped selectable nowrap" style="width: 100%;">
              <thead id="tableOne">
                <tr>
                 
                  <th class="text-center">เลขทะเบียนสรรพสามิต</th>
                  <th class="text-center">ชื่อผู้ประกอบการ/โรงอุตสาหกรรม</th>
                  <th class="text-center">ที่อยู่สถานบริการ/โรงอุตสาหกรรม</th>
                  <th class="text-center">พิกัดสินค้า/บริการ</th>
                  <th class="text-center">สรรพสามิตภาค</th>
                  <th class="text-center">สรรพสามิตพื้นที่</th>
                  
                </tr>
                <!-- <tr>
                  <th class="text-center">ม.ค.</th>
                  <th class="text-center">ก.พ.</th>
                  <th class="text-center">มี.ค.</th>
                  <th class="text-center">เม.ย.</th>
                  <th class="text-center">พ.ค.</th>
                  <th class="text-center">มิ.ย.</th>
                  <th class="text-center">ก.ค.</th>
                  <th class="text-center">ส.ค.</th>
                  <th class="text-center">ก.ย.</th>
                  <th class="text-center">ต.ค.</th>
                  <th class="text-center">พ.ย.</th>
                  <th class="text-center">ธ.ค.</th>
                </tr> -->
                <!-- table details-->
              </thead>
            </table>
          <!-- button -->
          <div class="ui center aligned grid">
            <div class="six wide column">
              <button class="ui mini primary button" (click)="save()">
                <i class="file icon"></i>
                บันทึก
              </button>
              <button class="ui mini button" routerLink="/tax-audit-select-line/tsl0101-00">
                <i class="refresh icon"></i>
                ยกเลิก
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>