<div class="ui grid">
  <div class="sixteen wide column segments">

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>ตรวจสอบข้อมูลสินทรัพย์</span>
    </div>

    <div id="assetDtPage" class="ui attached segment">
      <div id="assetDtForm" class="ui form">
        <input type="hidden" id="indexValue" name="indexValue">
        <div class="inline fields">
          <div class="two wide field"></div>

          <div class="two wide field">
            <label>ประเภทสินทรัพย์</label>
          </div>

          <div class="four wide field">
            <select class="ui search dropdown asset-dt-dropdown" id="assetType" name="assetType" [(ngModel)]="assetType">
              <option value="">กรุณาเลือก </option>
              <option *ngFor="let type of assetTypeList; index as i;" value="{{type.value}}">{{type.label}}</option>

            </select>
          </div>

          <div class="two wide field">
            <label>รหัสสินทรัพย์</label>
          </div>

          <div class="four wide field">
            <input type="text" id="assetCode" name="assetCode">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field"></div>

          <div class="two wide field">
            <label>วันที่เอกสารได้รับสินทรัพย์</label>
          </div>

          <div class="four wide field">
            <div class="ui calendar asset-dt-calendar" style="width: 100%;">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" id="sheetDateForm" name="sheetDateForm" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
                  [attr.required]="true">
              </div>
            </div>
          </div>

          <div class="two wide field">
            <label>ถึง</label>
          </div>

          <div class="four wide field">
            <div class="ui calendar asset-dt-calendar" style="width: 100%;">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" id="sheetDateTo" name="sheetDateTo" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป"
                  [attr.required]="true">
              </div>
            </div>
          </div>
        </div>

        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini primary button" (click)="searchData()">
              <i class="search icon"></i>
              ค้นหา
            </button>
            <button class="ui mini button" (click)="clearData()">
              <i class="refresh icon"></i>
              ล้างข้อมูล
            </button>
            <button class="ui mini primary button" (click)="addData()">
              <i class="add icon"></i>
              เพิ่มข้อมูล
            </button>
          </div>
        </div>

      </div>
      <br>
      <table id="dataTable" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr>
            <th style="text-align: center !important;">
              <div class="ui checkbox check-all">
                <input type="checkbox" (click)="clickCheckAll($event)">
                <label></label>
              </div>
            </th>
            <th style="text-align: center !important;">รหัสสินทรัพย์</th>
            <th style="text-align: center !important;">ประเภทสินทรัพย์</th>
            <th style="text-align: center !important;">คำอธิบายสินทรัพย์</th>
            <th style="text-align: center !important;">จำนวนสินทรัพย์</th>
            <th style="text-align: center !important;">อัตราค่าเสื่อมราคาสินทรัพย์</th>
            <th style="text-align: center !important;">ค่าเสื่อมราคาสะสม</th>
            <th style="text-align: center !important;">มูลค่าสุทธิ</th>
            <th style="text-align: center !important;">จัดการ</th>
          </tr>
        </thead>
      </table>
      <br>
      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="deleteData()">
            <i class="trash icon"></i>
            ลบ
          </button>
        </div>
      </div>
    </div>

  </div>

</div>