<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ประเมินความเสี่ยงภาคพื้นที่</h2>

    <div class="ui top attached header">
      <span>ประเมินความเสี่ยงภาคพื้นที่</span>
    </div>

    <div class="ui attached segment">
      <div class="ui three column center aligned grid">
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-3-1" style="width: 205px;">
            <i class="line chart icon"></i>
            ประเมินความถี่การตรวจ
          </button>
        </div>
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-3-2" style="width: 205px;">
            <i class="line chart icon"></i>
            ประเมินการจัดเก็บรายได้
          </button>
        </div>
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-3-3" style="width: 205px;">
            <i class="line chart icon"></i>
            ประเมินคดี
          </button>
        </div>
      </div>
      <div class="ui three column center aligned grid">
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-3-4" style="width: 205px;">
            <i class="line chart icon"></i>
            ประเมินเจ้าหน้าที่บัญชี
          </button>
        </div>
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-3-5" style="width: 205px;">
            <i class="line chart icon"></i>
            ประเมินควบคุมภายใน
          </button>
        </div>
        <div class="column ">
          <button class="ui mini primary button" routerLink="/int08-3-6" style="width: 205px;">
            <i class="line chart icon"></i>
            ประเมินความเสี่ยงภาคพื้นที่รวม
          </button>
        </div>
      </div>
    </div>

  </div>
</div>