<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br>
<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดใบเบิกค่าใช้จ่ายในการเดินทางไปราชการ</span>
</div>
<div class="ui attached  segment">
  <br>
  <br>
  <br>
  <div class="ui form">
    <div class="ui grid">
      <div class="two wide column">
        <label>สัญญาเงินยืมเลขที่</label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>วันที่</label>
      </div>
      <div class="four wide column">
        <div class="ui calendar" id="date1">
          <div class="ui input left icon" style="width: 100%">
            <i class="time icon"></i>
            <input type="text" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป" [attr.required]="true">
          </div>
        </div>
      </div>
      <div class="three wide column"></div>
      <div class="two wide column" style="text-align: center !important;">
        <label>ส่วนที่ ๑</label>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>ชื่อผู้ยืม</label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>จำนวนเงิน</label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">บาท</div>
      <div class="two wide column"></div>
      <div class="two wide column" style="text-align: center !important;">
        <label>แบบ ๘๗๐๘</label>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="ui grid">
      <div class="sixteen wide column" style="text-align: center !important;">
        <h1>ใบเบิกค่าใช้จ่ายในการเดินทางไปราชการ</h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="ui grid">
      <div class="ten wide column"></div>
      <div class="five wide column">ที่ทำการ กลุ่มตรวจสอบภายใน กรมสรรพสามิต</div>
    </div>
    <div class="ui grid">
      <div class="ten wide column"></div>
      <div class="one wide column">วันที่</div>
      <div class="three wide column">
        <div class="ui calendar" id="date1">
          <div class="ui input left icon" style="width: 100%">
            <i class="time icon"></i>
            <input type="text" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป" [attr.required]="true">
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>
          เรื่อง
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>
          เรียน
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>ตามคำสั่ง/บันทึก ที่</label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>ลงวันที</label>
      </div>
      <div class="four wide column">
        <div class="ui calendar" id="date1">
          <div class="ui input left icon" style="width: 100%">
            <i class="time icon"></i>
            <input type="text" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป" [attr.required]="true">
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>ได้อนุมัติให้ ข้าพเจ้า</label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>ตำแหน่ง</label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column">
        <label>พร้อมด้วย</label>
      </div>
      <div class="nine wide column">
        <textarea rows="10" id="remark"></textarea>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>รายละเอียดการเดินทาง</label>
      </div>
      <div class="nine wide column">
        <textarea rows="5" id="remark"></textarea>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>ราชการครั้งนี้</label>
      </div>
      <div class="one wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>วัน</label>
      </div>
      <div class="one wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">ชั่วโมง</div>
    </div>
    <div class="ui grid">
      <div class="two wide column">
        <label>ออกเดินทางจาก</label>
      </div>
      <div class="one wide column ">
        <div class="ui radio checkbox departureFrom1">
          <input type="radio" name="departureFrom" id="departureFrom1" value="1179" (click)="getDepartureFrom($event)">
          <label>
            <b>บ้านพัก</b>
          </label>
        </div>
      </div>
      <div class="one wide column ">
        <div class="ui radio checkbox departureFrom2">
          <input type="radio" name="departureFrom" id="departureFrom2" value="1180" (click)="getDepartureFrom($event)">
          <label>
            <b>สำนักงาน</b>
          </label>
        </div>
      </div>
      <div class="one wide column ">
        <div class="ui radio checkbox departureFrom3">
          <input type="radio" name="departureFrom" id="departureFrom3" value="1181" (click)="getDepartureFrom($event)">
          <label>
            <b>ประเทศไทย</b>
          </label>
        </div>
      </div>
      <div class="two wide column ui right aligned">
        <label>ตั่งแต่วันที่ เวลา</label>
      </div>
      <div class="three wide column">
        <div class="ui calendar" id="modalDate5" style="width: 100%">
          <div class="ui input left icon">
            <i class="time icon"></i>
            <input type="text" name="date-raw" id="departureDate" autocomplete="off" [attr.readonly]="null" placeholder="dd/MM/yyyy"
              [attr.required]="true">
          </div>
        </div>
      </div>
    </div>

    <div class="ui grid">
      <div class="two wide column ui">
        <label>กลับถึง</label>
      </div>
      <div class="one wide column ">
        <div class="ui radio checkbox departureTo1">
          <input type="radio" name="departureTo" id="departureTo1" value="1179" (click)="getDepartureTo($event)">
          <label>
            <b>บ้านพัก</b>
          </label>
        </div>
      </div>
      <div class="one wide column ">
        <div class="ui radio checkbox departureTo2">
          <input type="radio" name="departureTo" id="departureTo2" value="1180" (click)="getDepartureTo($event)">
          <label>
            <b>สำนักงาน</b>
          </label>
        </div>
      </div>
      <div class="one wide column ">
        <div class="ui radio checkbox departureTo3">
          <input type="radio" name="departureTo" id="departureTo3" value="1181" (click)="getDepartureTo($event)">
          <label>
            <b>ประเทศไทย</b>
          </label>
        </div>
      </div>
      <div class="two wide column ui right aligned">
        <label>กลับถึงวันที่ เวลา</label>
      </div>
      <div class="three wide column">
        <div class="ui calendar" id="modalDate6" style="width: 100%">
          <div class="ui input left icon">
            <i class="time icon"></i>
            <input type="text" name="date-raw" id="returnDate" autocomplete="off" [attr.readonly]="null" placeholder="dd/MM/yyyy" [attr.required]="true">
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="four wide column">
        <label>ข้าพเจ้าขอเบิกค่าใช้จ่ายในการเดินทางไปราชการสำหรับ</label>
      </div>
      <div class="two wide column">
        <div class="ui radio checkbox">
          <input type="radio" name="radio1">
          <label>ข้าพเจ้า</label>
        </div>

      </div>
      <div class="two wide column">
        <div class="ui radio checkbox">
          <input type="radio" name="radio1">
          <label>คณะเดินทาง</label>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="three wide column">
        <label>
          ค่าเบี้ยเลี้ยงเดินทาง
        </label>
      </div>
      <div class="three wide column"></div>
      <div class="one wide column">
        <label>
          จำนวน
        </label>
      </div>
      <div class="one wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          วัน
        </label>
      </div>
      <div class="one wide column">
        <label>
          รวม
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          บาท
        </label>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="two wide column">
        <label>
          ค่าเช่าที่พักประเภท
        </label>
      </div>
      <div class="two wide column">
        <select class="ui dropdown search selection" style="width: 100%;" id="sector" (change)="sectorOnchange($event)">
          <option value="">เลือก</option>
          <option value="1">ปกติ</option>
          <option value="2">เหมาจ่าย</option>
        </select>
      </div>
      <div class="two wide column"></div>
      <div class="one wide column">
        <label>
          จำนวน
        </label>
      </div>
      <div class="one wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          วัน
        </label>
      </div>
      <div class="one wide column">
        <label>
          รวม
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          บาท
        </label>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="two wide column">
        <label>
          ค่าพาหนะ
        </label>
      </div>
      <div class="seven wide column"></div>
      <div class="one wide column">
        <label>
          รวม
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          บาท
        </label>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="one wide column">
        <label>
          ค่าใช้จ่ายอื่น
        </label>
      </div>
      <div class="one wide column" style="text-align:right !important;">(</div>
      <div class="five wide column">
        <input type="text" name="text" required>
      </div>
      <div class="two wide column">)</div>
      <div class="one wide column">
        <label>
          รวม
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          บาท
        </label>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>

      <div class="nine wide column"></div>

      <div class="one wide column">
        <label>
          รวมเงินทั้งสิ้น
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
      <div class="one wide column">
        <label>
          บาท
        </label>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="two wide column">
        <label>
          จำนวนเงิน(ตัวอักษร)
        </label>
      </div>
      <div class="five wide column">
        <input type="text" name="text" required>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="seven wide column">
        <label>
          ข้าพเจ้าขอรับรองว่ารายการที่กล่าวมาข้างต้นเป็นความจริง &nbsp; และหลักฐานการจ่ายที่ส่งมาด้วย &nbsp; &nbsp; &nbsp; จำนวน
        </label>
      </div>
      <div class="one wide column">
        <input type="text" name="text" required>
      </div>
      <div class="seven wide column">
        <label>
          ชุด &nbsp; &nbsp; &nbsp; ข้าพเจ้าขอรับรองว่ารายการที่กล่าวมาข้างต้นเป็นความจริง และหลักฐานการจ่ายที่ส่งมาด้วย
        </label>
      </div>
    </div>
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="four wide column">
        <label>ลงชื่อ...........................................................................ผู้ขอรับเงิน</label>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="two wide column">
        <label>
          ชื่อผู้ขอรับเงิน
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
    </div>
    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="two wide column">
        <label>
          ตำแหน่ง
        </label>
      </div>
      <div class="four wide column">
        <input type="text" name="text" required>
      </div>
    </div>

  </div>


  <br>
  <br>
  <br>

  <br>
</div>
<br>
<br>
<br>
<div class="ui attached  segment">
  <br>
  <br>
  <br>
  <div class="ui form">
    <div class="ui grid" style="text-align:center !important;">
      <div class="sixteen wide column">-๒-</div>
    </div>
    <div class="ui grid">
        <div class="eight wide column">
          <label>ได้ตรวจสอบหลักฐานการเบิกจ่ายเงินที่แนบถูกต้องแล้วเห็นควรอนมุัติให้เบิกจ่ายได้</label>
        </div>
        <div class="eight wide column">
          <label>อนุมัติให้จ่ายได้</label>
        </div>
      </div>
    <div class="ui grid">
        <div class="five wide column" style="text-align:center !important;">
          <label>ลงชื่อ...........................................................................</label>
        </div>
        <div class="three wide column"></div>
        <div class="five wide column" style="text-align:center !important;">
          <label>ลงชื่อ...........................................................................</label>
        </div>
      </div>
      <div class="ui grid">
          <div class="five wide column" style="text-align:center !important;">
            <label>(............................................................................................)</label>
          </div>
          <div class="three wide column"></div>
          <div class="five wide column" style="text-align:center !important;">
            <label>(............................................................................................)</label>
          </div>
        </div>
        <div class="ui grid">
            <div class="five wide column" style="text-align:center !important;">
              <label>ตำแหน่ง...........................................................................</label>
            </div>
            <div class="three wide column"></div>
            <div class="five wide column" style="text-align:center !important;">
              <label>ตำแหน่ง...........................................................................</label>
            </div>
          </div>
          <div class="ui grid">
              <div class="five wide column" style="text-align:center !important;">
                <label>วันที่...........................................................................</label>
              </div>
              <div class="three wide column"></div>
              <div class="five wide column" style="text-align:center !important;">
                <label>วันที่...........................................................................</label>
              </div>
            </div>
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="three wide column">
                  <label>
                      ได้รับเงินค่าใช้จ่ายในการเดินทางไปราชการ
                  </label>
                </div>
                <div class="two wide column">
                    <input type="text" name="text" required>
                  </div>
                <div class="one wide column" style="text-align:right !important;">ตัวอักษร</div>
                <div class="six wide column">
                  <input type="text" name="text" required>
                </div>
                <div class="two wide column">ไว้เป็นการถูกต้องแล้ว</div>
              
              </div>
              <div class="ui grid">
                  <div class="one wide column"></div>
                  <div class="five wide column" style="text-align:center !important;">
                    <label>ลงชื่อ...........................................................................ผู้รับเงิน</label>
                  </div>
                  <div class="three wide column"></div>
                  <div class="five wide column" style="text-align:center !important;">
                    <label>ลงชื่อ...........................................................................ผู้จ่ายเงิน</label>
                  </div>
                </div>
                
                <div class="ui grid">
                    <div class="two wide column">
                        <label>
                          ชื่อผู้ขอรับเงิน
                        </label>
                      </div>
                      <div class="four wide column">
                        <input type="text" name="text" required>
                      </div>
                    <div class="three wide column"></div>
                    <div class="five wide column" style="text-align:center !important;">
                      <label>(............................................................................................)</label>
                    </div>
                  </div>
                  <div class="ui grid">
                         <div class="two wide column">
                          <label>
                              ตำแหน่ง
                          </label>
                        </div>
                        <div class="four wide column">
                          <input type="text" name="text" required>
                        </div>
                      <div class="three wide column"></div>
                      <div class="five wide column" style="text-align:center !important;">
                        <label>ตำแหน่ง...........................................................................</label>
                      </div>
                    </div>
                    <div class="ui grid">
                        <div class="two wide column">
                            <label>
                                วันที่
                            </label>
                          </div>
                        <div class="four wide column">
                            <div class="ui calendar" id="date1">
                              <div class="ui input left icon" style="width: 100%">
                                <i class="time icon"></i>
                                <input type="text" name="date-raw" autocomplete="off" [attr.readonly]="null" placeholder="วว/ดด/ปปปป" [attr.required]="true">
                              </div>
                            </div>
                        </div>
                        <div class="three wide column"></div>
                        <div class="five wide column" style="text-align:center !important;">
                          <label>วันที่...........................................................................</label>
                        </div>
                      </div>
                      <div class="ui grid">
                          <div class="two wide column">
                            <label>รายละเอียดการเดินทาง</label>
                          </div>
                          <div class="nine wide column">
                            <textarea rows="5" id="remark"></textarea>
                          </div>
                        </div>
                        <div class="ui grid">
                            <div class="sixteen wide column" style="text-align:center !important;">
                             <label>
                                ขอรับรองว่าหลักฐานการจ่าย &nbsp; รวมทั้งจำนวนที่ขอเบิกถูกต้องตามกฎหมายทุกประการ
                             </label>
                           </div>
                           
                       </div>
                       <div class="ui grid">
                          <div class="sixteen wide column" style="text-align:center !important;">
                            <label>ลงชื่อ............................................................................ผู้บังคับบัญชา</label>
                          </div>
                        </div>
                        <div class="ui grid">
                            <div class="sixteen wide column" style="text-align:center !important;">
                              <label>(..................................................................................................)</label>
                            </div>
                          </div>
                          <div class="ui grid">
                              <div class="two wide column">คำชี้แจง</div>
                              <div class="twelve wide column">
                                  ๑. กรณีเดินทางเป็นหมู่คณะและจัดทำใบเบิกค่าใช้จ่ายรวมฉบับเดียวกัน หากระยะเวลาในการเริ่มต้นและ สิ้นสุดการเดินทาง ของแต่ละบุคคลแตกต่างกัน ให้แสดงรายละเอียดของวันเวลาที่แตกต่างกันของบุคคลนั้นในช่องหมายเหตุ 
                              </div>
                            </div>
                            <div class="ui grid">
                                <div class="two wide column"></div>
                                <div class="twelve wide column">
                                    ๒. กรณียื่นขอเบิกค่าใช้จ่ายรายบุคคล ให้ผู้ขอรับเงินเป็นผู้ลงลายมือชื่อผู้รับเงินและวันเดือนปีที่รับ เงิน กรณีที่มีการยืม เงิน ให้ระบุวันที่ที่ได้รับเงินยืม เลขที่สัญญายืมและวันที่อนุมัติเงินยืมด้วย 
                                </div>
                              </div>
                              <div class="ui grid">
                                  <div class="two wide column"></div>
                                  <div class="twelve wide column">
                                      ๓. กรณีที่ยื่นขอเบิกค่าใช้จ่ายรวมเป็นหมู่คณะ ผู้ขอรับเงินมิต้องลงลายมือชื่อในช่องผู้รับเงิน ทั้งนี้   ให้ผู้มีสิทธิแต่ละคน ลงลายมือชื่อผู้รับเงินในหลักฐานการจ่ายเงิน (ส่วนที่ ๒) 
                                  </div>
                                </div>
                                <br> <br>
    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui  grey button" type="button" (click)="clickBack()">กลับ</button>
        <button class="ui  primary button" type="button" (click)="save()">บันทึก</button>
      </div>
    </div>
  </div>
</div>