<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดใบเบิกเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล (แบบ 7131)</span>
</div>
<div class="ui attached  segment">
  <br>
  <div class="inline fields" style="text-align: center !important;">
    <h2>ใบเบิกเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล โปรดทำเครื่องหมาย
      <i class="check icon"></i> ลงในช่อง &nbsp;
      <input type="checkbox" disabled> &nbsp; พร้อมทั้งกรอกข้อความเท่าที่จำเป็น</h2>
  </div>
  <br>
  <div class="ui form">

    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>1.</label>
        </div>
        <div class="two wide field">
          <label>ข้าพเจ้า</label>
        </div>
        <div class="four wide field">
          <input type="text" value="นางสาวปริษา  ยังมีสุข ">
        </div>
        <div class="two wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="four wide field">
          <input type="text" value="นักวิชาการตรวจสอบภายในชำนาญการพิเศษ">
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>สังกัด</label>
        </div>
        <div class="four wide field">
          <input type="text" value="กลุ่มตรวจสอบภายใน">
        </div>
        <div class="two wide field">
          <label>เบอร์โทรศัพท์</label>
        </div>
        <div class="four wide field">
          <input type="text" value="087 - 5671994">
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>2.</label>
        </div>
        <div class="three wide field">
          <label>ขอเบิกเงินค่ารักษาของ</label>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="" checked>
        </div>
        <div class="two wide field">
          <label>ตนเอง</label>
        </div>
      </div>

      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>คู่สมรส</label>
        </div>
        <div class="one wide field">
          <label>ชื่อ</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="three wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>

      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>บิดา</label>
        </div>
        <div class="one wide field">
          <label>ชื่อ</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="three wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>มารดา</label>
        </div>
        <div class="one wide field">
          <label>ชื่อ</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="three wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="" checked>
        </div>
        <div class="one wide field">
          <label>บุตร</label>
        </div>
        <div class="one wide field">
          <label>ชื่อ</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="three wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>เกิดเมื่อ</label>
        </div>
        <div class="one wide field">
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="three wide field">
          <label>เป็นบุตรลำดับที่</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="four wide field"></div>

        <div class="one wide field">
          <input type="checkbox" name="" id="" checked>
        </div>

        <div class="two wide field">
          <label>ยังไม่บรรลุนิติภาวะ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="" checked>
        </div>
        <div class="five wide field">
          <label>เป็นบุตรไร้ความสามารถ หรือเสมือนไร้ความสามารถ</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ป่วยเป็นโรค</label>
        </div>
        <div class="twelve wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="five wide field">
          <label>และได้เข้ารับการตรวจรักษาพยาบาลจาก(ชื่อสถานพยาบาล)</label>
        </div>
        <div class="nine wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="three wide field">
          <label>ซึ่งเป็นสถานพยาบาลของ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="two wide field">
          <label>ทางราชการ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>เอกชน</label>
        </div>
        <div class="one wide field">
          <label>ตั้งแต่วันที่</label>
        </div>
        <div class="five wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>ถึงวันที่</label>
        </div>
        <div class="three wide field">
          <input type="text" name="" id="">
        </div>
        <div class="two wide field">
          <label>เป็นเงินรวมทั้งสิ้น</label>
        </div>
        <div class="three wide field">
          <input type="text" value="12000.00">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="four wide field">
          <label>( &nbsp; หนึ่งหมื่นสองพันบาทถ้วน &nbsp; )</label>
        </div>
        <div class="three wide field">
          <label>ตามใบเสร็จรับเงินที่แนบ จำนวน</label>
        </div>
        <div class="two wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          <label>ฉบับ</label>
        </div>
      </div>
    </div>

    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>3.</label>
        </div>
        <div class="ten wide field">
          <label>ข้าพเจ้ามีสิทธิได้รับเงินค่ารักษาพยาบาล ตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล</label>
        </div>
      </div>
      <br>

      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="one wide field">
          <label>ตามสิทธิ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>เฉพาะส่วนที่ขาดอยู่จากสิทธิที่ได้รับจากหน่วยงานอื่น</label>
        </div>
      </div>

      <div class="inline fields ">
        <div class="five wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>เฉพาะส่วนที่ขาดอยู่จากสัญญาประกันภัย</label>
        </div>
      </div>


      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>เป็นเงิน</label>
        </div>
        <div class="three wide field">
          <input type="text" name="" id="">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
        <div class="three wide field">
          <label>( หนึ่งหมื่นสองพันบาทถ้วน )</label>
        </div>
        <div class="one wide field">
          <label>และ</label>
        </div>
      </div>

      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>(1) ข้าพเจ้า</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>ไม่มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่น</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่นแต่เลือกใช้สิทธิจากทางราชการ</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>มีสิทธิได้รับค่ารักษาพยาบาลตามสัญญาประกันภัย</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>เป็นผู้ใช้สิทธิเบิกค่ารักษาพยาบาลสำหรับบุตรแต่เพียงฝ่ายเดียว</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>(2) ข้าพเจ้า</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>ไม่มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่น</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="ten wide field">
          <label>มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่น แต่ค่ารักษาพยาบาลที่ได้รับต่ำกว่าสิทธิตามพระราชกฤษฎีกาฯ</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>มีสิทธิได้รับค่ารักษาพยาบาลตามสัญญาประกันภัย</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="six wide field">
          <label>มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่นในฐานะเป็นผู้อาศัยสิทธิของผู้อื่น</label>
        </div>
      </div>





    </div>


    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>4.</label>
        </div>
        <div class="two wide field">
          <label>เสนอ</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>        
      </div>

      <div class="inline fields ">
          <div class="three wide field"></div>         
          <div class="fourteen wide field">
            <label>ข้าพเจ้าขอรับรองว่า ข้าพเจ้ามีสิทธิเบิกค่ารักษาพยาบาลสำหรับตนเองและบุคคลในครอบครัวตามจำนวนที่ขอเบิก ซึ่งกำหนดไว้ในกฎหมาย </label>
          </div>        
        </div>        
      <div class="inline fields ">
        <div class="two wide field"></div>         
        <div class="fourteen wide field">
          <label>และข้อความข้างต้นเป็นจริงทุกประการ </label>
        </div>     
      </div>
      <br>     
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้ขอรับเงินสวัสดิการ

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div> 
    </div>
    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>5.</label>
        </div>
        <div class="two wide field">
          <label>คำอนุมัติ</label>
        </div>             
      </div>
      <div class="inline fields ">
        <div class="three wide field"></div>
        <div class="three wide field">
          <label>อนุมัติให้เบิกได้</label>
        </div>                 
      </div>

      <br>     
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="iy four wide field">
          <label>ตำแหน่ง...........................................................................
          </label>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <label>6.</label>
        </div>
        <div class="two wide field">
          <label>ใบรับเงิน</label>
        </div>             
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="fourteen wide field">
          <label>ได้รับเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล จำนวน...............................................................................................................................บาท</label>
        </div>                 
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="fourteen wide field">
          <label>(......................................................................................................................................) ไว้ถูกต้องแล้ว</label>
        </div>                 
      </div>

      <br>     
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้รับเงิน

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้จ่ายเงิน

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div> 
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(ลงชื่อต่อเมื่อได้รับเงินแล้วเท่านั้น)</label>
        </div>
      </div>


      
    </div>

    <br>

    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui  primary button" type="button">
          <i class="save icon"></i>บันทึก</button>
        <button class="ui yellow button" type="button">
          <i class="print icon"></i>ส่งออก</button>
          <button class="ui button" type="button" routerLink='/int06/11'>
            <i class="close icon"></i>ยกเลิก</button>
      </div>
    </div>



  </div>