<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<br>
<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>บันทึกคำขอเบิกเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล (แบบ 7131)</span>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="medicalWelfareForm">
  <div class="ui attached segment">
    <div class="ui form">
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ข้าพเจ้า</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="fullName">
        </div>
        <div class="two wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="position">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>สังกัด</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="affiliation">
        </div>
        <div class="two wide field">
          <label>เบอร์โทรศัพท์</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="phoneNumber">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ขอเบิกเงินค่ารักษาพยาบาลของ</label>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <div class="ui checkbox">
            <input type="checkbox" id="" name="">
            <label>ตนเอง</label>
          </div>
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <div class="ui checkbox">
            <input type="checkbox" id="" name="">
            <label>คู่สมรส</label>
          </div>
        </div>
        <div class="one wide field">
          <label class="text-right full-width">ชื่อ</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="mateName">
        </div>
        <div class="two wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="mateCitizenId">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <div class="ui checkbox">
            <input type="checkbox" id="" name="">
            <label>บิดา</label>
          </div>
        </div>
        <div class="one wide field">
          <label class="text-right full-width">ชื่อ</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="fatherName">
        </div>
        <div class="two wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="fatherCitizenId">
        </div>
      </div>
      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="one wide field">
          <div class="ui checkbox">
            <input type="checkbox" id="" name="">
            <label>มารดา</label>
          </div>
        </div>
        <div class="one wide field">
          <label class="text-right full-width">ชื่อ</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="motherName">
        </div>
        <div class="two wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="motherCitizenId">
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="one wide field">
          <div class="ui checkbox">
            <input type="checkbox" id="" name="">
            <label>บุตร</label>
          </div>
        </div>
        <div class="one wide field">
          <label class="text-right full-width">ชื่อ</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="childName">
        </div>
        <div class="two wide field">
          <label>เลขประจำตัวประชาชน</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="childCitizenId">
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>เกิดเมื่อ</label>
        </div>
        <div class="four wide field">
          <div class="ui calendar full-width" id="dateBirth">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="text" formControlName="birthDate" autocomplete="off" [readonly]="true" placeholder="วว/ดด/ปปปป">
            </div>
          </div>
        </div>
        <div class="two wide field">
          <label>เป็นบุตรลำดับที่</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="siblingsOrder">
        </div>
      </div>
      <div class="inline fields ">
        <div class="four wide field"></div>
        <div class="two wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="status" value="0" [checked]="true">
            <label>ยังไม่บรรลุนิติภาวะ</label>
          </div>
        </div>
        <div class="four wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="status" value="1">
            <label>เป็นบุตรไร้ความสามารถ หรือเสมือนไร้ความสามารถ</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ป่วยเป็นโรค</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="disease">
        </div>
        <div class="four wide field">
          <label>และได้เข้ารับการตรวจรักษาพยาบาลจาก</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ชื่อสถานพยาบาล</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="hospitalName">
        </div>
        <div class="two wide field">
          <label>ซึ่งเป็นสถานพยาบาลของ</label>
        </div>
        <div class="two wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="hospitalOwner" value="GOVERNMENT" [checked]="true">
            <label>ทางราชการ</label>
          </div>
        </div>
        <div class="two wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="hospitalOwner" value="INDIVIDUAL">
            <label>เอกชน</label>
          </div>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ตั้งแต่วันที่</label>
        </div>
        <div class="four wide field">
          <div class="ui calendar full-width" id="dateFrom">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="text" formControlName="treatedDateFrom" autocomplete="off" [readonly]="true" placeholder="วว/ดด/ปปปป">
            </div>
          </div>
        </div>
        <div class="two wide field">
          <label>ถึงวันที่</label>
        </div>
        <div class="four wide field">
          <div class="ui calendar full-width" id="dateTo">
            <div class="ui input left icon">
              <i class="calendar alter nate outline icon"></i>
              <input type="text" formControlName="treatedDateTo" autocomplete="off" [readonly]="true" placeholder="วว/ดด/ปปปป">
            </div>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>เป็นเงินรวมทั้งสิ้น</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="totalMoney">
        </div>
        <div class="six wide field">
          <label>บาท</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>ตามใบเสร็จรับเงินที่แนบ จำนวน</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="receiptQt">
        </div>
        <div class="six wide field">
          <label>ฉบับ</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="one wide field"></div>
        <div class="eight wide field">
          <label>ข้าพเจ้ามีสิทธิได้รับเงินค่ารักษาพยาบาล ตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล</label>
        </div>
      </div>
      <br>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="claimStatus" value="0" [checked]="true">
            <label>ตามสิทธิ</label>
          </div>
        </div>
        <div class="four wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="claimStatus" value="1">
            <label>เฉพาะส่วนที่ขาดอยู่จากสิทธิที่ได้รับจากหน่วยงานอื่น</label>
          </div>
        </div>
        <div class="four wide field">
          <div class="ui radio checkbox">
            <input type="radio" formControlName="claimStatus" value="2">
            <label>เฉพาะส่วนที่ขาดอยู่จากสัญญาประกันภัย</label>
          </div>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>เป็นเงิน</label>
        </div>
        <div class="four wide field">
          <input type="text" formControlName="claimMoney">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>(1) &nbsp; ข้าพเจ้า</label>
        </div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="ownerClaim" value="0">
            <label>ไม่มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่น</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="ownerClaim" value="1">
            <label>มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่นแต่เลือกใช้สิทธิจากทางราชการ</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="ownerClaim" value="2">
            <label>มีสิทธิได้รับค่ารักษาพยาบาลตามสัญญาประกันภัย</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="ownerClaim" value="3">
            <label>เป็นผู้ใช้สิทธิเบิกค่ารักษาพยาบาลสำหรับบุตรแต่เพียงฝ่ายเดียว</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="two wide field">
          <label>(2) &nbsp; .......... ข้าพเจ้า</label>
        </div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="otherClaim" value="0">
            <label>ไม่มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่น</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="otherClaim" value="1">
            <label>มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่น แต่ค่ารักษาพยาบาลที่ได้รับต่ำกว่าสิทธิตามพระราชกฤษฎีกาฯ</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="otherClaim" value="2">
            <label>มีสิทธิได้รับค่ารักษาพยาบาลตามสัญญาประกันภัย</label>
          </div>
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field"></div>
        <div class="ten wide field">
          <div class="ui checkbox">
            <input type="checkbox" formControlName="otherClaim" value="3">
            <label>มีสิทธิได้รับค่ารักษาพยาบาลจากหน่วยงานอื่นในฐานะเป็นผู้อาศัยสิทธิของผู้อื่น</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="ui top centered attached header segment" style="background: #1e83db;color: white;">
    <label>เอกสารหลักฐานประกอบคำขอเบิก</label>
  </div>
  <div class="ui form">
    <div class="ui attached segment" [ngClass]="{ 'loading': loadingUL }">
      <div class="inline fields">
        <div class="five wide field"></div>
        <div class="ten wide field">
          <label style="color:red">*รับรองไฟล์นามสกุล &nbsp;&nbsp;เอกสาร xls, xlsx, doc, docx, ppt, pptx &nbsp;&nbsp;รูป gif, jpeg, jpg, png, bmp
            &nbsp;&nbsp;ขนาดไม่เกิน 25 MB</label>
        </div>
      </div>
      <div class="inline fields ">
        <div class="two wide field"></div>
        <div class="three wide field">
          <label class="full-width text-right">หลักฐานประกอบคำขอเบิก</label>
        </div>
        <div class="six wide field upload-panel">
          <input type="file" id="files" name="files" accept=".pdf, image/*, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
    application/vnd.ms-excel,.doc,.docx" (change)="onFilesAdded()" />
        </div>
        <div class="three wide field">
          <button class="ui mini yellow button" type="button" (click)="onUpload($event)" [ngClass]="{ 'disabled': flag }">
            <i class="upload icon"></i>อัพโหลด</button>
        </div>
      </div>
      <table class="ui small celled table nowrap striped selectable" style="width: 100%;">
        <thead>
          <tr>
            <th style="text-align: center !important;">ลำดับที่</th>
            <th style="text-align: center !important;">วันที่</th>
            <th style="text-align: center !important;">ชื่อเอกสาร</th>
            <!-- <th style="text-align: center !important;">ขนาด (MB)</th> -->
            <th style="text-align: center !important;">จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="arrayUpload.length < 1">
            <td colspan="5" class="text-center">ไม่มีข้อมูล</td>
          </tr>
          <tr *ngFor="let file of arrayUpload; let i = index">
            <td class="container" style="text-align: center !important;">{{i+1}}</td>
            <td class="container" style="text-align: center !important;">
              {{file.date}}
            </td>
            <td class="container" style="text-align: center !important;">{{file.name}}</td>
            <td class="container" style="text-align: center !important;">
              {{file.size}}
            </td>
            <td class="container" style="text-align: center !important;">
              <button type="button" class="ui mini negative button" (click)="onDeleteRow(i)">
                <i class="trash alternate outline icon"></i>ลบ</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui primary mini button" type="submit" [disabled]="!medicalWelfareForm.valid" [ngClass]="{ 'disabled': arrayUpload.length < 1 }">
            <i class="save icon"></i>บันทึก</button>
          <!-- <button class="ui yellow button" type="button">
        <i class="print icon"></i>ส่งออก</button> -->
          <button class="ui mini button" type="button" routerLink='/int06/11'>
            <i class="close icon"></i>ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</form>