
<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">รายงานการตรวจปฏิบัติการสัมพันธ์การเบิกใช้วัตถุดิบกับการรับสินค้าสำเร็จรูป</h2>

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>Criteria</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">ทะเบียนสรรพสามิต</label>
            <input type="text" class="custom-readonly" placeholder="ทะเบียนสรรพสามิต" readonly="" value="2560-00178-5">
          </div>
          <div class="eight wide field ">
            <label class="custom-label-w-20">เลขประจำตัวผู้เสียภาษี</label>
            <input type="text" class="custom-readonly" placeholder="เลขประจำตัวผู้เสียภาษี" readonly="" value="1-5599-00168-99-6">
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">ผู้ประกอบการ </label>
            <input type="text" class="custom-readonly" placeholder="ผู้ประกอบการ" readonly="" value="บ. ฮอนด้า มอเตอร์ ประเทศไทย">
          </div>
          <div class="eight wide field ">
            <label class="custom-label-w-20">เลขที่วิเคราะห์</label>
            <input type="text" class="custom-readonly" placeholder="เลขที่วิเคราะห์" readonly="" value="256000000001">
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field required">
            <label class="custom-label-w-25">รอบระยะเวลาการตรวจสอบ</label>
            <div class="eight wide field">
              <div class="ui icon input">
                <input type="text" class="custom-readonly" placeholder="ดด/ปปปป" value="11/2560" readonly="">
                <i class="add to calendar icon"></i>
              </div>
            </div>
            <div class="eight wide field">
              <label>-</label>
              <div class="ui icon input">
                <input type="text" class="custom-readonly" placeholder="ดด/ปปปป" value="11/2560" readonly="">
                <i class="add to calendar icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="inline fields">
          <div class="eight wide field">
            <label class="custom-label-w-25">ประเภท </label>
            <input type="text" class="custom-readonly" placeholder="ประเภท" readonly="" value="สินค้า">
          </div>
          <div class="eight wide field ">
            <label class="custom-label-w-20">พิกัด</label>
            <input type="text" class="custom-readonly" placeholder="พิกัด" readonly="" value="รถยนต์">
          </div>
        </div>
      </div>
    </div>

    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>อัพโหลด Template ข้อมูลปริมาณการเบิกใช้วัตถุดิบกับการรับสินค้าสำเร็จรูป</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">เลือกไฟล์ Template ข้อมูล</label>
            <input type="file" />
          </div>
        </div>
      </div>

      <div class="ui center aligned grid">
        <div class="four wide column">
          <button class="ui mini primary button" (click)="uploadData()">
            <i class="upload icon"></i>
            อัพโหลด
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="trash outline icon"></i>
            ลบไฟล์
          </button>
        </div>
      </div>
    </div>

    <div class="ui segment" *ngIf="showData">
      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          บ. ฮอนด้า มอเตอร์ ประเทศไทย
          <br> กระดาษทำการสัมพันธ์การเบิกใช้วัตถุดิบกับการรับสินค้าสำเร็จรูป
          <br> เดือน พ.ย. 2559 - ส.ค. 2559
        </div>
      </div>
      <br>
      <div style="overflow-x: scroll;">
        <table class="ui small celled table striped selectable" style="width: 140%;">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="2">ว/ด/ป.</th>
              <th rowspan="2">เลขที่ใบสำคัญ</th>
              <th rowspan="2">รายการ</th>
              <th rowspan="2">จำนวนรับตามบัญชี ภส 07-02</th>
              <th rowspan="2">สูตรการจากผลิต</th>
              <th rowspan="2">เบิกตามสูตร</th>
              <th rowspan="2">เบิกใช้จริง</th>
              <th rowspan="2">ผลต่างวัตถุดิบ</th>
              <th colspan="2">ผลิตได้ตามสูตร</th>
              <th rowspan="2">ผลต่างสินค้าสำเร็จรูป</th>
              <th colspan="2">หักสูญเสีย</th>
              <th rowspan="2">คงเหลือ</th>
            </tr>
            <tr style="text-align: center;">
              <th style="border-left: 1px solid rgba(34,36,38,.1);">แยกตามวัตถุดิบ</th>
              <th>จำนวนสินค้าสำเร็จรูป</th>
              <th>เปอร์เซ็นต์</th>
              <th>จำนวน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1/4/2560</td>
              <td></td>
              <td>เครื่องยนต์</td>
              <td>90</td>
              <td>1</td>
              <td>90</td>
              <td>100</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">10</span>
              </td>
              <td>100</td>
              <td>90</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">0</span>
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td>1/4/2560</td>
              <td></td>
              <td>ล้อ</td>
              <td>90</td>
              <td>4</td>
              <td>360</td>
              <td>360</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">0</span>
              </td>
              <td>90</td>
              <td>90</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">0</span>
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td>3/4/2560</td>
              <td></td>
              <td>เครื่องยนต์</td>
              <td>90</td>
              <td>1</td>
              <td>90</td>
              <td>100</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">10</span>
              </td>
              <td>100</td>
              <td>100</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">10</span>
              </td>
              <td>10</td>
              <td>10</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">0</span>
              </td>
            </tr>
            <tr>
              <td>3/4/2560</td>
              <td></td>
              <td>ล้อ</td>
              <td>90</td>
              <td>4</td>
              <td>360</td>
              <td>400</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">40</span>
              </td>
              <td>100</td>
              <td>100</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">10</span>
              </td>
              <td>10</td>
              <td>10</td>
              <td>
                <span class="ui green horizontal label right aligned" style="float: right;">0</span>
              </td>
            </tr>
            <tr>
              <td>7/4/2560</td>
              <td></td>
              <td>เครื่องยนต์</td>
              <td>60</td>
              <td>1</td>
              <td>60</td>
              <td>66</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">6</span>
              </td>
              <td>66</td>
              <td>66</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">6</span>
              </td>
              <td>10</td>
              <td>4</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">2</span>
              </td>
            </tr>
            <tr>
              <td>7/4/2560</td>
              <td></td>
              <td>ล้อ</td>
              <td>60</td>
              <td>4</td>
              <td>240</td>
              <td>264</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">24</span>
              </td>
              <td>66</td>
              <td>66</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">6</span>
              </td>
              <td>10</td>
              <td>4</td>
              <td>
                <span class="ui red horizontal label right aligned" style="float: right;">2</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>

      <div class="ui center aligned grid">
        <div class="six wide column">
          <button class="ui mini primary button">
            <i class="print icon"></i>
            บันทึกข้อมูล
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
        </div>
      </div>
    </div>

    <br>
    <div class="ui grid center aligned">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/select-form/สินค้า/สินค้าน้ำมันและผลิตภัณฑ์น้ำมัน">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
      </div>
    </div>
  </div>
</div>