<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">กระดาษทำการเจ้าหนี้ อปท.</h2>

    <div class="ui top attached header">
      <span>กระดาษทำการเจ้าหนี้ อปท.</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="ten wide field">
            <label class="custom-label-w-20">กระดาษทำการ</label>
            <input type="text" style="margin-left: 14px;" value="ตรวจสอบสำนักงานสรรพสามิตพื้นที่ระยอง 1">
          </div>
        </div>
        <br>
        <div class="inline fields">
          <div class="seven wide field"></div>
          <div class="nine wide field">
            <label>บัญชีเจ้าหนี้ อปท. (2101020101)</label>
          </div>
        </div>
        <br>
        <div class="inline fields">
          <div class="ten wide field">
            <label class="custom-label-w-20">ประจำเดือน</label>
            <input type="text" style="margin-left: 14px;" value="ตุลาคม 2559">
          </div>
        </div>
        <br>
        <div class="inline fields">
          <h3>วิเคราะห์เปรียบเทียบเจ้าหนี้ อปท.</h3>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <span>ยอดคงเหลือบัญชีเจ้าหนี้ อปท. ตามงบทดลองในระบบ GFMIS</span>
          </div>
          <div class="three wide field">
            <span>-1,946,257.47</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <span>ยอดคงเหลือเงินฝากคลัง 10778 ตามรายงานเคลื่อนไหวเงินฝากคลัง (ZGL_RPT013)</span>
          </div>
          <div class="three wide field">
            <u>2,008,230.77</u>
          </div>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <h4>ผลต่าง</h4>
          </div>
          <div class="three wide field">
            <u>61,973.30</u>
          </div>
        </div>
        <br>
        <div class="inline fields">
          <h3>วิเคราะห์รายละเอียดบัญชีย่อยเจ้าหนี้ อปท.</h3>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <span>ยอดคงเหลือตามรายงานเคลื่อนไหวเงินฝากคลัง รหัส 10778</span>
          </div>
          <div class="three wide field">
            <span>2,008,230.77</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <span>ยอดคงเหลือเจ้าหนี้ อปท. ในทะเบียนคุม</span>
          </div>
          <div class="three wide field">
            <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </u>
          </div>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <h4>ผลต่าง</h4>
          </div>
          <div class="three wide field">
            <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </u>
          </div>
        </div>

        <div class="ui center aligned grid">
          <div class="four wide column">
            <button class="ui mini primary button width-100">
              <i class="print icon"></i>
              พิมพ์
            </button>
            <button class="ui mini button width-100" routerLink="/int07-7">
              <i class="arrow left icon"></i>
              ย้อนหลับ
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>