<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">บันทึกผลการตรวจปฏิบัติการ </h2>

    <div class="ui top attached header">
      <span>จัดการข้อมูลต้นทาง</span>
    </div>
    <div class="ui attached segment">

        <div class="ui grid center aligned">
            <div class="sixteen wide column">
              <h3>เชื่อมโยงข้อมูลใบขน (ภส.05-01)  </h3>              
            </div>
          </div>
          <br>
          <br>

          
      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field ">
            <label>เลขทะเบียนสรรพสามิต :	
            </label>
          </div>
          <div class="six wide field ">
            <input type="text" placeholder="" value="">

          </div>
          <br>

          <div class="two wide field ">
            <label>วันที่ขนสินค้าออก :	
            </label>
          </div>
          <div class="six wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <br>
        <br>
        <div class="ui center aligned grid">
            <div class="four wide column">
              <button class="ui mini primary button" routerLink="/epa01-1-1" style="width: 100px;" >
                <i class="search icon"></i>              
              ค้นหา
              </button>
              <button class="ui mini button" style="width: 100px;">            
               ยกเลิก
              </button>
            </div>
          </div>
        <br>
        <br>
       
      </div>
    </div>