.ui.calendar, .ui.input, input[type=calendar] {
    width: 100% !important;
}

label {
    width: 100% !important;
    text-align: right;
}

.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}

.head {
    background: whitesmoke;
}
.border {
    border-left: 1px solid rgba(34,36,38,.1) !important;
}
.save-btn {
    margin-top: 1em;
}

.loading {
    height: calc(100vh - 164px);
}

.icon.exclamation {
    font-size: 4em;
    font-stretch: inherit;
    margin-top: 0.2em;
}

.nodata {
    margin: 5% auto !important;
}

.nodata .header .content .sub.header::after {
    content: "*";
} 

.full-height {
    min-height: calc(100vh - 164px);
}