<div class="ui centered grid">

    <div class="row" *ngIf="loading">
        <div class="column">
            <div class="ui segment loading">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">กำลังโหลด</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!loading">
        <form class="column" *ngIf="questionnaire.length > 0" (submit)="save($event)" ngNativeValidate>
            <div class="ui styled fluid accordion" id="acc">
                <div *ngFor="let qtn of questionnaire; let i = index">
                    <div class="{{ i==0 ? 'active' : ''}} title">
                        <h4 class="text-center">{{ qtn.title }}</h4>
                    </div>
                    <div class="{{ i==0 ? 'active' : ''}} content">
                        <table class="ui celled table">
                            <thead class="text-center">
                                <tr>
                                    <th rowspan="2">ที่</th>
                                    <th rowspan="2">รายการ</th>
                                    <th>มี / ใช่</th>
                                    <th>ไม่มี / ไม่ใช่</th>
                                </tr>
                                <tr>
                                    <th class="border">สมบูรณ์</th>
                                    <th>ไม่สมบูรณ์</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of qtn.detail; let j = index" class="{{ detail.headerId ? 'head' : '' }}">
                                    <td *ngIf="detail.headerId" class="text-center">{{detail.order}}</td>
                                    <td *ngIf="detail.headerId" colspan="3">{{detail.content}}</td>

                                    <td *ngIf="detail.detailId" class="text-right">{{detail.order}}</td>
                                    <td *ngIf="detail.detailId">{{detail.content}}</td>
                                    <td *ngIf="detail.detailId" class="text-center">
                                        <div class="ui checkbox">
                                            <input type="radio" name="point{{i+1}}{{j+1}}" [(ngModel)]="questionnaire[i].detail[j].point" value="yes" id="chk{{i+1}}{{j+1}}"
                                                required>
                                            <label></label>
                                        </div>
                                    </td>
                                    <td *ngIf="detail.detailId" class="text-center">
                                        <div class="ui checkbox">
                                            <input type="radio" name="point{{i+1}}{{j+1}}" [(ngModel)]="questionnaire[i].detail[j].point" value="no" id="chk{{i+1}}{{j+1}}"
                                                required>
                                            <label></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ui form" *ngIf="qtn.conclusion">
                            <div class="field">
                                <label class="text-left">สรุปผลการสอบทาน</label>
                                <div class="ui input">
                                    <textarea name="" id="" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="save-btn center aligned column">
                    <button class="ui mini primary button" type="submit">บันทึก</button>
                </div>
            </div>
        </form>
    </div>
</div>