<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui grid">

  <!-- form 1 -->
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>ประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field "></div>
          <div class="two wide field ">
            <label>ปีงบประมาณ</label>
          </div>
          <div class="four wide field ">
            <div class="ui calendar" style="width:100%" id="year">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" id="budgetYear" placeholder="ปปปป" maxlength="4" name="budgetYear" [(ngModel)]="budgetYear" readonly=""
                  autocomplete="off">
              </div>
            </div>
          </div>
          <div class="two wide field ">
            <label class="text-right full-width">ปัจจัยเสี่ยง</label>
          </div>
          <div class="four wide field ">
            <select class="ui search dropdown ai" id="riskType" name="riskType" [(ngModel)]="riskType">
              <option value="0">ปัจจัยเสี่ยงงบประมาณทั้งหมด</option>
              <option *ngFor="let risk of riskList; index as i;" value="{{risk.value}}">{{risk.description}}</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="searchDataTable()">
            <i class="search icon"></i>
            ค้นหา
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
          <button class="ui mini green button" (click)="createBudgetYear()">
            <i class="add icon"></i>
            รายการใหม่
          </button>
        </div>
      </div>

      <!-- table -->
      <table id="dataTable" class="ui small celled table striped selectable" style="width: 100%;">
        <thead>
          <tr>
            <th style="text-align: center !important">ลำดับที่</th>
            <th style="text-align: center !important" class="four wide field ">ชื่อกระดาษทำการ</th>
            <th style="text-align: center !important" class="four wide field ">ปัจจัยเสี่ยง</th>
            <th style="text-align: center !important">ปีงบประมาณ</th>
            <th style="text-align: center !important">วันที่สร้าง</th>
            <th style="text-align: center !important">ผู้สร้าง</th>
            <th style="text-align: center !important">จัดการ</th>
          </tr>
        </thead>
      </table>
      <div class="ui five column centered grid" *ngIf="buttonFullYear">
        <div class="column">
          <button class="ui mini primary button" (click)="renderForm4()">
            <i class="table icon"></i>
            รายละเอียดปัจจัยเสี่ยงรวมประจำปี
          </button>
        </div>
      </div>
    </div>
    <br>

    <!-- form 2 -->
    <div class="sixteen wide column" *ngIf="showForm==1">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr.budgetYear}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr.riskHdrName}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="four wide field ">
                <label>{{riskAssRiskWsHdr.riskHdrName}}</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="two wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition -->
        <div class="inline fields">
          <table id="dataTableF1" class="ui small celled table nowrap striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">โครงการตามยุทธศาสตร์</th>
                <th colspan="4" style="text-align: center !important">งบประมาณที่ใช้ตามแผนยุทธศาสตร์</th>
                <th rowspan="2" style="text-align: center !important">เงินงบประมาณที่กรมอนุมัติ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important ;border-left: 1px solid rgba(34,36,38,.1) !important">เงินงบประมาณ</th>
                <th style="text-align: center !important">เงินท้องถิ่น</th>
                <th style="text-align: center !important">เงินอื่น ๆ </th>
                <th style="text-align: center !important">รวม</th>
                <th style="text-align: center !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearDataForm1() ">
              <i class="close  icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 3 -->
    <div class="sixteen wide column" *ngIf="showForm==2">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr.budgetYear}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : {{riskAssRiskWsHdr.riskHdrName}}</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 2 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="four wide field ">
                <label>{{riskAssRiskWsHdr.riskHdrName}}</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="two wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 2 -->
        <div class="inline fields">
          <table id="dataTableF2" class="ui small celled table nowrap striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">โครงการตามยุทธศาสตร์</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">ค่าความเสี่ยง</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important ;border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearDataForm2() ">
              <i class="close icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 4 -->
    <div class="sixteen wide column" *ngIf="showForm==3">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.budgetYear : ''}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง :{{riskAssRiskWsHdr != null ?riskAssRiskWsHdr.riskHdrName : ''}} </label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 3 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="four wide field ">
                <label> ประสิทธิภาพในการดำเนินงานโครงการ</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="two wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 3 -->
        <div class="inline fields">
          <table id="dataTableF3" class="ui small celled table nowrap striped selectable" style="width: 100%;">
            <thead>
              <tr>
                <th rowspan="2" style="text-align: center !important">ลำดับที่</th>
                <th rowspan="2" style="text-align: center !important">โครงการตามยุทธศาสตร์</th>
                <th rowspan="2" style="text-align: center !important">หน่วยงาน</th>
                <th rowspan="2" style="text-align: center !important">สถานะ</th>
                <th colspan="2" style="text-align: center !important">ประเมินความเสี่ยง</th>
              </tr>
              <tr>
                <th style="text-align: center !important ;border-left: 1px solid rgba(34,36,38,.1) !important">อัตราความเสี่ยง</th>
                <th style="text-align: center !important">แปลค่าความเสี่ยง</th>
              </tr>
            </thead>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearDataForm3() ">
              <i class=" close icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- form 5 -->
    <div class="sixteen wide column" *ngIf="showForm==4">
      <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>กระดาษทำการประเมินความเสี่ยงโครงการยุทธศาสตร์ของกรมสรรพสามิต</span>
      </div>
      <div class="ui attached segment">
        <div class="ui form">
          <div class="ui center aligned grid">
            <div class="sixteen wide column">
              <label>ปีงบประมาณ {{budgetYear}}</label>
            </div>
          </div>
          <div class="inline fields">
            <label>ปัจจัยเสี่ยง : โครงการยุทธศาสตร์ของกรมสรรพสามิต</label>
          </div>
          <div class="inline fields">
            <label>เงื่อนไขความเสี่ยง :</label>
          </div>
        </div>
        <!-- row condition 4 -->
        <div *ngFor="let con of condition; let i=index">
          <div class="ui form">
            <div class="inline fields">
              <div class="two wide field "></div>
              <div class="four wide field ">
                <label> โครงการยุทธศาสตร์ของกรมสรรพสามิต</label>
              </div>
              <div class="one wide field ">
                <label>
                  {{con.condition == '
                  <>' ? 'ระหว่าง' : con.condition == '>' ? 'มากกว่า':'น้อยกว่า'}}
                </label>
              </div>
              <div class="one wide field ">
                <label>{{con.value1}}</label>
              </div>
              <div class="one wide field ">
                <label>ถึง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.value2 == null ? '-' : con.value2 }}</label>
              </div>
              <div class="two wide field ">
                <label>ระดับความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.convertValue}}</label>
              </div>
              <div class="two wide field ">
                <label>คะแนนความเสี่ยง</label>
              </div>
              <div class="one wide field ">
                <label>{{con.valueRl}}</label>
              </div>
            </div>
          </div>
        </div>
        <!-- table condition 4 -->
        <div class="inline fields">
          <table id="dataTableF3" class="ui small celled table nowrap striped selectable" style="width: 100%;">
            <thead id="trColumn">
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button">
              <i class=" print icon "></i>
              ส่งออก
            </button>
            <button class="ui mini button " (click)="clearDataForm3() ">
              <i class="close icon"></i>
              ยกเลิก
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>