<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">สถานะการตรวจสอบภาษี</h2>

    <div class="ui top attached header">
      <span>เพิ่มข้อมูลภายนอก</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="six wide field">
            <label class="custom-label-w-20">เลขที่วิเคราะห์ข้อมูล</label>
            <input value="{{analysNumber}}" readonly="" class="custom-readonly">
          </div>
        </div>
      </div>
    </div>

    <div class="ui segment">

      <form ngNativeValidate (submit)="onSend($event)">
        <div class="ui grid">
          <div class="sixteen wide column">

            <table id="sendLineUser" class="ui small celled table">
              <thead>
                <tr>
                  <th style="text-align: center">หน่วยงาน</th>
                  <th style="text-align: center">การส่งราย</th>
                  <th style="text-align: center">การรับราย</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center">ภาคที่1</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่2</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่3</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่4</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่5</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่6</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่7</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่8</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่9</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ภาคที่10</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
                <tr>
                  <td style="text-align: center">ส่วนกลาง</td>
                  <td style="text-align: center"></td>
                  <td style="text-align: center"></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>