<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div class="ui grid">
    <div class="sixteen wide column">

        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>ค้นหาข้อมูลการจัดซื้อจัดจ้าง</span>
        </div>

        <div class="ui attached segment">
            <form>
                <div class="ui form">
                    <div class="inline fields">
                        <div class="four wide field ">
                            &nbsp;
                        </div>

                        <div class="two wide field ">
                            <label class="custom-label-w-20">ปีงบประมาณ</label>
                        </div>

                        <div class="five wide field">
                            <div class="ui calendar" id="budgetYear">
                                <div class="ui input left icon">
                                    <i class="calendar alter nate outline icon"></i>
                                    <input type="text" readonly="" name="budgetYearData" id="budgetYearData">
                                </div>
                            </div>
                        </div>

                        <div class="five wide field ">
                            &nbsp;
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="four wide field ">
                            &nbsp;
                        </div>

                        <div class="two wide field ">
                            <label class="custom-label-w-20">วิธีการจัดซื้อจัดจ้าง</label>
                        </div>

                        <div class="five wide field">
                            <select class="ui search dropdown ai search" name="supplyChoice" id="supplyChoice" [(ngModel)]="supplyChoice">
                            <option value=""></option>
                            <option *ngFor="let item of supplyChoiceList" value="{{item}}">{{item}}</option>
                        </select>
                        </div>

                        <div class="five wide field ">
                            &nbsp;
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="four wide field ">
                            &nbsp;
                        </div>

                        <div class="two wide field ">
                            <label class="custom-label-w-20">ประเภทงบรายจ่าย</label>
                        </div>

                        <div class="five wide field">
                            <select class="ui search dropdown ai search" name="budgetType" id="budgetType" [(ngModel)]="budgetType">
                            <option value=""></option>
                            <option *ngFor="let item of budgetTypeList" value="{{item}}">{{item}}</option>
                          </select>
                        </div>

                        <div class="five wide field ">
                            &nbsp;
                        </div>
                    </div>


                    <div class="ui center aligned grid">
                        <div class="sixteen wide column">
                            <button class="ui mini primary button" (click)="uploadFile()">
                          <i class="search icon"></i> ค้นหา
                        </button>

                            <button class="ui mini button" type="reset" (click)="clearFile()">
                          <i class="sync icon"></i> ล้างข้อมูล
                        </button>

                            <button class="ui mini green button" (click)="addData()">
                          <i class="plus icon"></i> เพิ่มข้อมูล
                        </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="ui segment" id="showData">
                <table id="dataTable" class="ui small celled table striped selectable" style="width: 100%;">
                    <thead>
                        <tr style="text-align: center">
                            <th rowspan="2"><input type="checkbox" (change)="clickCheckAll($event)"></th>
                            <th rowspan="2">ปีงบประมาณ</th>
                            <th rowspan="2">เลขทีหนังสืออนุมัติเบิกจ่าย</th>
                            <th rowspan="2">เลข EGP</th>
                            <th rowspan="2">ชื่อโครงการ</th>
                            <th rowspan="2">จำนวนเงิน ซื้อ/จ้าง/เช่า</th>
                            <th rowspan="2">สถานะ</th>
                            <th rowspan="2">อัพเดท</th>
                            <th rowspan="1" colspan="2">จัดการ</th>
                        </tr>
                        <tr style="display:none">
                            <td>ลบ</td>
                            <td>เพิ่ม</td>
                        </tr>
                    </thead>
                </table>
                <div class="ui center aligned grid">
                    <div class="sixteen wide column">
                        <!-- <button *ngIf="dataTable.length > 0" class="ui disabled small red button" (click)="onDelete()">
                          <i class="trash icon"></i> ลบ
                        </button> -->
                        <button class="ui mini red button" (click)="onDelete()">
                            <i class="trash alternate icon"></i> ลบ
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>