<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">ประเมินการเงินและบัญชี</h2>

    <div class="ui top attached header">
      <span>ประเมินการเงินและบัญชี</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="nine wide field ">
            <label style="width: 40em">ประเมินการเงินและบัญชี</label>
            <input type="file" />
          </div>
        </div>
      </div>

      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button" (click)="uploadData()">
            <i class="upload icon"></i>
            อัพโหลด
          </button>
          <button class="ui mini button" (click)="clearData()">
            <i class="refresh icon"></i>
            ล้างข้อมูล
          </button>
        </div>
      </div>

    </div>

    <div class="ui segment" *ngIf="showData">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button">
            <i class="print icon"></i>
            พิมพ์
          </button>
          <button class="ui mini default button" (click)="popupEditData()">
            <i class="setting icon"></i>
            กำหนด RL
          </button>
        </div>
      </div>

      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          กระดาษทำการประเมินความเสี่ยงการเงินและบัญชีเพื่อพิจารณาคัดเลือกหน่วยงานรับตรวจสำนักงานสรรพสามิตภาค พื้นที่ และสาขา
          <br> ปีงบประมาณ พ.ศ. 2561
          <br> กลุ่มตรวจสอบภายใน กรมสรรพสามิต
        </div>
      </div>

      <div class="ui nine column grid">
        <div class="column">
          ปัจจัยเสี่ยง:
        </div>

        <div class="column" style="width: 20%;">
          7. ความเสี่ยงด้านการเงินและบัญชี
        </div>

        <div class="column" style="width: 14%; margin-left: -8%;">
          &nbsp;
          <br> ระดับคะแนน
          <br> ระดับคะแนน
          <br> ระดับคะแนน
        </div>

        <div class="column" style="width: 8%;">
          &nbsp;
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
          <br> อยู่ระหว่าง
        </div>

        <div class="column right aligned" style="width: 10%;">
          &nbsp;
          <br> 4 - 6
          <br> 7 - 9
          <br> <span style="margin-right: 1%;">10 - 12</span>
        </div>

        <div class="column" style="width: 12%;">
          &nbsp;
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 6%;">
          &nbsp;
          <br> 1
          <br> 2
          <br> 3
        </div>

        <div class="column" style="width: 12%;">
          &nbsp;
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
          <br> กำหนดค่าเป็น
        </div>

        <div class="column" style="width: 5%;">
          &nbsp;
          <br> ต่ำ
          <br> กลาง
          <br> สูง
        </div>
      </div>
      <br>
      <div style="overflow-x: scroll;">
        <table id="tableData" class="ui small celled table" style="width: 120%;">
          <thead>
            <tr style="text-align: center;">
              <th rowspan="3">ลำดับ</th>
              <th rowspan="3">หน่วยงาน</th>
              <th colspan="12">ความรู้ความสามารถ</th>
              <th rowspan="3">รวม</th>
              <th colspan="2" rowspan="2">ความเสี่ยง</th>
            </tr>
            <tr style="text-align: center;">
              <th colspan="3" style="border-left: 1px solid rgba(34,36,38,.1);">ปสก.</th>
              <th colspan="3">โยกย้าย</th>
              <th colspan="3">ทักษะความรู้ความเข้าใจ</th>
              <th colspan="3">การสอบทาน</th>
            </tr>
            <tr style="text-align: center;">
              <th style="border-left: 1px solid rgba(34,36,38,.1); width:8%;">&gt;3 ปี</th>
              <th style="width:8%;">1-2ปี</th>
              <th style="width:8%;">&lt;1ปี</th>
              <th style="width:8%;">ไม่มีภายใน 2 ปี</th>
              <th style="width:8%;">1-2 ปี</th>
              <th style="width:8%;">6-12 ด</th>
              <th style="width:8%;">5 ครั้งขึ้นไป</th>
              <th style="width:8%;">3-4 ครั้ง</th>
              <th style="width:8%;">1-2 ครั้ง</th>
              <th style="width:8%;">ประจำทุกเดือน</th>
              <th style="width:8%;">รายไตรมาส</th>
              <th style="width:8%;">ไม่มี</th>
              <th style="width:8%;">RL</th>
              <th style="width:8%;">แปลค่า</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>สสพ.นครนายก</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>9</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>2</td>
              <td>สสพ.ตราด</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>8</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>3</td>
              <td>สสพ.ระยอง 2*</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>8</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>4</td>
              <td>สสพ. ปทุมธานี 2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>8</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>5</td>
              <td>สสพ.พิษณุโลก</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>8</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>6</td>
              <td>สสพ.เพชรบูรณ์</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>8</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>7</td>
              <td>สสพ.สกลนคร</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>7</td>
              <td class="bg-yellow">2</td>
              <td class="bg-yellow">กลาง</td>
            </tr>
            <tr>
              <td>8</td>
              <td>สสพ.ฉะเชิงเทรา</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>9</td>
              <td>สสพ.ชลบุรี 1*</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>10</td>
              <td>สสพ.ชลบุรี 2*</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>11</td>
              <td>สสพ.สมุทรปราการ 2*</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>12</td>
              <td>สส.พท.ชัยภูมิ</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>2</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>13</td>
              <td>สส.พท.นครราชสีมา</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
            <tr>
              <td>14</td>
              <td>สสพ.มหาสารคาม</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>1</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>3</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>5</td>
              <td class="bg-green">1</td>
              <td class="bg-green">ต่ำ</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <br>
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini button" routerLink="/int08-3">
          <i class="arrow left icon"></i>
          ย้อนกลับ
        </button>
      </div>
    </div>

  </div>
</div>

<div id="modalInt0834" class="ui modal hidden transition">
  <i class="close icon"></i>
  <div class="header">
    กำหนดเงื่อนไข RL และแปลงค่าประเมินความเสี่ยงการเงินและบัญชี
  </div>

  <div class="content">
    <div class="ui form">
      <div class="inline fields">
        <div class="sixteen wide field">
          <button class="ui mini primary button">
            <i class="add icon"></i>
            เพิ่ม
          </button>
        </div>
      </div>

      <table id="tableSetting" class="ui small celled table" style="width: 100%;">
        <thead>
          <tr class="center aligned">
            <th>เงื่อนไขที่</th>
            <th>เงื่อนไข</th>
            <th>ค่าที่ 1</th>
            <th>ถึง</th>
            <th>ค่าที่ 2</th>
            <th>ค่า RL</th>
            <th>แปลงค่า</th>
            <th>สี</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <select id="selectCondition1" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Equal</option>
                <option value="1">Not Equal</option>
              </select>
            </td>
            <td>4</td>
            <td>ถึง</td>
            <td>6</td>
            <td>1</td>
            <td>ต่ำ</td>
            <td>
              <select id="selectColor1" class="ui dropdown">
                <option value="0">เขียว</option>
                <option value="1">เหลือง</option>
                <option value="1">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <select id="selectCondition2" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Equal</option>
                <option value="1">Not Equal</option>
              </select>
            </td>
            <td>7</td>
            <td>ถึง</td>
            <td>9</td>
            <td>2</td>
            <td>กลาง</td>
            <td>
              <select id="selectColor2" class="ui dropdown">
                <option value="0">เหลือง</option>
                <option value="1">เขียว</option>
                <option value="1">แดง</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <select id="selectCondition3" class="ui dropdown">
                <option value="0">Between</option>
                <option value="1">Equal</option>
                <option value="1">Not Equal</option>
              </select>
            </td>
            <td>10</td>
            <td>ถึง</td>
            <td>12</td>
            <td>3</td>
            <td>สูง</td>
            <td>
              <select id="selectColor3" class="ui dropdown">
                <option value="0">แดง</option>
                <option value="1">เหลือง</option>
                <option value="1">เขียว</option>
              </select>
            </td>
            <td>
              <a href="javascript:;">
                ลบ
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="actions">
    <div class="ui center aligned grid">
      <div class="sixteen wide column">
        <button class="ui mini primary button width-100">
          <i class="save icon"></i>
          บันทึก
        </button>
        <button class="ui mini button width-100" (click)="closePopupEdit()">
          <i class="close icon"></i>
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>