<app-breadcrumb [route]="breadcrumb" ></app-breadcrumb>


<div class="ui grid ">
  <div class="sixteen wide column" id="boxUpload">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>อัพโหลดไฟล์ตรวจสอบการนำส่งเงินบัญชีเจ้าหนี้ อปท.</span>
    </div>

    <div class="ui attached segment ">
      <form id="upload-form" class="ui form" (submit)="onUpload($event)" ngNativeValidate>
        <div class="inline fields ui centered grid">
           <div class="one wide field "></div>
          <div class="three wide field required">
              <label class="text-right full-width">รายงานเคลื่อนไหวเงินฝากคลัง</label>
          </div>
          <div class="five wide field">
            <input id="fileExel" type="file" name="fileExel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" (change)="onChangeUpload($event)" required>
          </div>
          <div class="three wide field"></div>
        </div>

        <div class="ui center aligned grid">
          <div class="sixteen wide column">
            <button class="ui mini yellow button" type="submit">
              <i class="upload icon"></i>
              อัปโหลด
            </button>
            <button class="ui mini button" type="reset" (click)="clearData()" >
              <i class="refresh icon"></i>
              ล้างข้อมูล
            </button>
            <button class="ui mini green button" [disabled]="dataList.length==0" (click)="checkData()" >
              <i class="clipboard check icon"></i>
              ตรวจสอบข้อมูล
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- table upload -->
  
  <div class="sixteen wide column " id="boxEdit">
      <div class="ui top centered attached header segment " style="background: #1e83db;color: white">
          <span>ข้อมูลการอัปโหลด</span>
      </div>
      <div class="ui attached segment {{loading? 'loading': ''}}">
        <table id="dataTable"  class="ui small celled table striped selectable" style="width: 100%;">
          <thead>
            <tr>
              <th  rowspan="2" style="text-align: center !important">วันที่ลงรายการ</th>
              <th  rowspan="2" style="text-align: center !important" >เลขที่เอกสาร</th>
              <th  rowspan="2" style="text-align: center !important" >ประเภทเอกสาร</th>
              <th  rowspan="2" style="text-align: center !important" >เอกสารอ้างอิง</th>
              <th  rowspan="2" style="text-align: center !important" >ผู้ทำแทน</th>
              <th  rowspan="2" style="text-align: center !important" >การกำหนด</th>
              <th  rowspan="2" style="text-align: center !important" >หน่วยเบิกจ่าย</th>
              <th  colspan="2" style="text-align: center !important">ผ่านรายการ</th>
              <th  rowspan="2" style="text-align: center !important" >ยกยอดไป</th>
              <!-- <th  rowspan="2" style="text-align: center !important">แก้ไข</th> -->
            </tr>
            <tr>
              <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">เดบิต</th>
              <th style="text-align: center !important">เครดิต</th>
            </tr>
          </thead>
        </table>
      </div>
      <!-- modal Edit -->
      <!-- <div class="ui modal" id="editData" >
        <div class="header">แก้ไขข้อมูล</div>
        <div class="content">
          
            <div class="ui form grid">
              <div class="three column row fields">
                <div class="column">
                    <label>วันที่ลงรายการ</label>
                    <input type="text" name="datePosted" [(ngModel)]="dataEdit.datePosted">
                </div>
                <div class="column">
                    <label>เลขที่เอกสาร</label>
                    <input type="text" name="docNumber" [(ngModel)]="dataEdit.docNumber">
                </div>
                <div class="column">
                    <label>ประเภทเอกสาร</label>
                    <input type="text" name="docType" [(ngModel)]="dataEdit.docType">
                </div>
              </div>
              <div class="three column row fields">
                  <div class="column">
                      <label>เอกสารอ้างอิง</label>
                      <input type="text" name="docRefer" [(ngModel)]="dataEdit.docRefer">
                  </div>
                  <div class="column">
                      <label>ผู้ทำแทน</label>
                      <input type="text" name="actor" [(ngModel)]="dataEdit.actor">
                  </div>
                  <div class="column">
                      <label>การกำหนด</label>
                      <input type="text" name="determination" [(ngModel)]="dataEdit.determination">
                  </div>
                </div>
                <div class="three column row fields">
                    <div class="column">
                        <label>หน่วยเบิกจ่าย</label>
                        <input type="text" name="payUnit" [(ngModel)]="dataEdit.payUnit">
                    </div>
                    <div class="column">
                        <label>เดบิต</label>
                        <input type="text" name="debit" [(ngModel)]="dataEdit.debit">
                    </div>
                    <div class="column">
                        <label>เครดิต</label>
                        <input type="text" name="credit" [(ngModel)]="dataEdit.credit">
                    </div>
                </div>
                <div class="three column row fields">
                    <div class="column">
                        <label>ยกยอดไป</label>
                        <input type="text" name="liftUp" [(ngModel)]="dataEdit.liftUp">
                    </div>
           
                </div>
            </div>
          
        </div>
        <div class="actions">
            <div class="ui  deny button">
              ยกเลิก
            </div>
              <div class="ui positive right labeled icon button" (click)="editData()" >
                  ยืนยันการแก้ไข
                  <i class="checkmark icon"></i>
              </div>
        </div>
      </div> -->

      <!-- modal del -->
      <!-- <div class="ui mini modal" id="delData" >
        <div class="header">ลบข้อมูล</div>
        <div class="content"> 
            <label>คุณต้องการลบข้อมูลหรือไม่ ?</label>
        </div>
        <div class="actions">
            <div class="ui  deny button">
              ยกเลิก
            </div>
            <div class="ui positive right labeled icon button" (click)="delData()" >
                ตกลง
                <i class="checkmark icon"></i>
            </div>
        </div>
      </div> -->

  </div>
     
  <!-- table datatableCheck -->
  <div class="sixteen wide column" id="boxCheck">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
        <span>ตรวจสอบการนำส่งเงินบัญชีเจ้าหนี้ อปท.</span>
    </div>
    <div class="ui attached segment {{loading? 'loading': ''}}">
      <table id="datatableCheck"  class="ui small celled table striped selectable" style="width: 100%;">
        <thead>
          <tr>
            <th  rowspan="2" style="text-align: center !important">วันที่ลงรายการ</th>
            <th  rowspan="2" style="text-align: center !important" >เลขที่เอกสาร</th>
            <th  rowspan="2" style="text-align: center !important" >ประเภทเอกสาร</th>
            <th  rowspan="2" style="text-align: center !important" >เอกสารอ้างอิง</th>
            <th  rowspan="2" style="text-align: center !important" >ผู้ทำแทน</th>
            <th  rowspan="2" style="text-align: center !important" >การกำหนด</th>
            <th  rowspan="2" style="text-align: center !important" >หน่วยเบิกจ่าย</th>
            <th  colspan="2" style="text-align: center !important">ผ่านรายการ</th>
            <th  rowspan="2" style="text-align: center !important" >ยกยอดไป</th>
          </tr>
          <tr>
            <th style="text-align: center !important; border-left: 1px solid rgba(34,36,38,.1) !important">เดบิต</th>
            <th style="text-align: center !important">เครดิต</th>
          </tr>
        </thead>
      </table>

      <div class="ui six column centered grid">
        <div class="column">
          <button class="ui mini yellow button"  (click)="export()">
            <i class="print icon"></i>
            ส่งออก
          </button>
          <button class="ui mini button"    (click)="backPage()" >
            <i class="remove icon"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div> 



</div>

