<div id="int02-2" class="ui grid">
  <div class="sixteen wide column">

    <h2 class="ui header">ตรวจสอบภายใน</h2>
    <div class="ui top attached header">
      <span>แบบสอบทานระบบการควบคุมภายใน</span>
    </div>

    <div class="ui attached segment">
      <form class="ui form" (submit)="onAdd($event)" ngNativeValidate>
        <div class="inline three fields">
          <div class="field">
            <label>ด้านที่ตรวจ (เดิม)</label>
            <select class="ui search selection dropdown ai" name="departmentName" id="departmentName" (change)="setDepartmentName('old')"
              [(ngModel)]="departmentName">
              <option value="">ด้านที่ตรวจ (เดิม)</option>
              <option *ngFor="let list of departmentNameArr" value="{{list.description}}">{{list.description}}</option>
            </select>
          </div>
          <div class="field">
            <label>ด้านที่ตรวจ (ใหม่)</label>
            <input type="text" style="width: 100%" placeholder="หน่วยรับตรวจ" name="departmentNameNew" id="departmentNameNew" (keyup)="setDepartmentName('new')"
              [(ngModel)]="departmentNameNew">
          </div>
          <div class="field">
            <label></label>
            <div class="ui input" style="margin-top: 1.25em;">
              <button type="submit" style="margin-left: auto;" class="ui mini primary button">
                <i class="add icon"></i>
                เพิ่ม
              </button>
              <button type="button" style="margin-left: auto;" class="ui mini {{ chk.length == 0 && 'disabled' }} red button" (click)="onDelete()">
                <i class="delete icon"></i>
                ลบ
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="ui segment dimmable">
      <div class="ui active inverted dimmer" *ngIf="datatable == undefined">
        <div class="ui loader"></div>
      </div>
      <div class="ui grid">
        <div class="sixteen wide column">
          <table id="datatable" class="ui celled table">
            <thead>
              <tr>
                <th style="text-align: center !important">
                  <input type="checkbox" name="chk" id="chk" (click)="clickChkAll($event)">
                </th>
                <th style="text-align: center !important">ลำดับ</th>
                <th style="text-align: center !important">แบบสอบทานด้าน</th>
                <th style="text-align: center !important">สร้างโดย</th>
                <th style="text-align: center !important">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="datatable != undefined && datatable.length == 0">
                <td colspan="5">ยังไม่มีข้อมูล</td>
              </tr>
              <tr *ngFor="let obj of datatable; let i = index" class="{{ obj.status === 'NEW' && 'positive' }}">
                <td class="center">
                  <input type="checkbox" name="chk{{i}}" id="chk{{i}}" (click)="clickChk($event, i)">
                </td>
                <td class="center">{{i+1}}</td>
                <td class="center">{{obj.qtnReportHdrName}}</td>
                <td class="center">{{obj.createdBy}}</td>
                <td class="center" *ngIf="obj.status === 'NEW'">-</td>
                <td class="center" *ngIf="obj.status === undefined">
                  <button class="ui mini icon button" type="button" (click)="linkToDetail(obj.qtnReportHdrId)">
                    <i class="edit icon"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui grid">
        <div class="sixteen wide column">
          <table class="ui small celled table aligned hover">
            <thead>
              <tr>
                <th style="text-align: center">ที่</th>
                <th style="text-align: center">เงื่อนไข</th>
                <th style="text-align: center">ค่าที่ 1</th>
                <th style="text-align: center">ถึง</th>
                <th style="text-align: center">ค่าที่ 2</th>
                <th style="text-align: center">ระดับความเสียง</th>
                <th style="text-align: center">คะแนนความเสียง</th>
                <th style="text-align: center">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of datas; let i=index">
                <td class="aligned center">{{i+1}}</td>
                <td class="aligned center">
                  <select class="ui fluid dropdown">
                    <option value="ระหว่าง">ระหว่าง</option>
                    <option value="มากกว่า">มากกว่า</option>
                    <option value="น้อยกว่า">น้อยกว่า</option>
                    <option value="เท่ากับ">เท่ากับ</option>
                  </select>
                </td>
                <td class="aligned center">
                  <div class="ui input">
                    <input type="text">
                  </div>
                </td>
                <td class="aligned center">-</td>
                <td class="aligned center">
                  <div class="ui input">
                    <input type="text">
                  </div>
                </td>
                <td class="aligned center">
                  <select class="ui fluid dropdown">
                    <option value="ต่ำมาก">ต่ำมาก</option>
                    <option value="ต่ำ">ต่ำ</option>
                    <option value="ปานกลาง">ปานกลาง</option>
                    <option value="สูง">สูง</option>
                    <option value="สูงมาก">สูงมาก</option>
                  </select>
                </td>
                <td class="aligned center">
                  <div class="ui input">
                    <input type="text">
                  </div>
                </td>
                <td class="aligned center">
                  <button class="ui icon red mini button" type="button" (click)="delRow(i)">
                    <i class="times icon"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="ui icon green left floated mini button" type="button" (click)="addRow()">
            <i class="plus icon"></i>
          </button>
        </div>
        <div class="sixteen wide column">
          <div class="ui centered grid inline fields" style="padding-bottom: 1em">
            <div class="ui mini buttons">
              <button type="button" (click)="onCancel()" style="margin-left: auto" class="ui mini grey button center floated">
                <i class="angle left icon"></i>
                กลับ
              </button>
              <button class="ui primary {{ saving && 'loading' }} mini button {{!unsave && 'disabled'}} " type="button" (click)="onSave()">บันทึก</button>
              <button type="button" style="margin-left: auto" (click)="onSaved()" class="ui mini green button center floated {{(!finished && !unsave) ? 'disabled' : ''}} ">
                <i class="save icon"></i>
                ส่งแบบสอบทาน
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>