<div id="int02-2" class="ui grid">



  <div class="sixteen wide column">
    <h2 class="ui header">ตรวจสอบภายใน</h2>

    <div class="ui top attached header">
      <span>แบบสอบทานระบบการควบคุมภายใน</span>
    </div>


    <div class="ui attached segment">
      <div class="ui form">

        <div class="inline fields">
          <div class="field">
            <label>ด้านที่ตรวจ (เดิม)</label>
            <select class="ui dropdown" name="departmentName" id="departmentName" [(ngModel)]="departmentName">
              <option aria-placeholder="ด้านที่ตรวจ (เดิม)"></option>
              <option *ngFor="let list of departmentNameArr" ng-value="list.value">{{list.description}}</option>
            </select>

          </div>
          <div class="field">
            <label>ด้านที่ตรวจ (ใหม่)</label>
            <input type="text" placeholder="หน่วยรับตรวจ" class="custom" name="departmentNameNew" id="departmentNameNew" [(ngModel)]="departmentNameNew">
          </div>
          <div class="field">
            <button type="button" style="margin-left: auto" class="ui mini primary button right floated" (click)="addHeaderQuestionnaire()">
              <i class="add icon"></i>
              เพิ่ม
            </button>
          </div>
          <div class="field">
            <button type="button" style="margin-left: auto" class="ui mini primary button right floated" [routerLink]="['/int02/3']">
              <i class="delete icon"></i>
              ลบ
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="ui segment">

      <div class="ui grid">

        <div class="sixteen wide column ">

          <table id="datatable" class="ui small celled table aligned hover">
            <thead>
              <tr>
                <th style="text-align: center !important">ลำดับ</th>
                <th style="text-align: center !important">แบบสอบทานด้าน</th>
                <th style="text-align: center !important">สร้างโดย</th>
                <th style="text-align: center !important">Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="inline fields">


            <button type="button" style="margin-left: auto" class="ui mini primary button center floated">
              <i class="angle left icon"></i>
              กลับ
            </button>


            <button type="button" style="margin-left: auto" class="ui mini primary button center floated">
              <i class="save icon"></i>
              ส่งแบบสอบทาน
            </button>

            <div class="inline fields"></div>

          </div>

        </div>
      </div>
    </div>
  </div>