<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>
<div id="int02-2" class="ui grid">
  <div class="sixteen wide column">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>แบบสอบถามระบบการควบคุมภายใน</span>
    </div>
    <div class="ui bottom attached segment">
      <form class="ui form" (submit)="onAdd($event)" ngNativeValidate>
        <div class="inline three fields">
          <div class="field">
            <label>ด้านที่ตรวจ (เดิม)</label>
            <select class="ui search selection dropdown ai" name="departmentName" id="departmentName" (change)="setDepartmentName('old')"
              [(ngModel)]="departmentName">
              <option value="">ด้านที่ตรวจ (เดิม)</option>
              <option *ngFor="let list of departmentNameArr" value="{{list.description}}">{{list.description}}</option>
            </select>
          </div>
          <div class="field">
            <label>ด้านที่ตรวจ (ใหม่)</label>
            <input type="text" style="width: 100%" placeholder="หน่วยรับตรวจ" name="departmentNameNew" id="departmentNameNew"
              (keyup)="setDepartmentName('new')" [(ngModel)]="departmentNameNew">
          </div>
          <div class="field">
            <label></label>
            <div class="ui input" style="margin-top: 1.25em;">
              <button type="submit" style="margin-left: auto;" class="ui mini green button {{ notNullDepartment() ? 'disabled' : '' }}">
                <i class="add icon"></i>
                เพิ่ม
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="ui grid">
        <div class="sixteen wide column">
          <table id="datatable" class="ui celled table striped selectable">
            <thead>
              <tr>
                <th style="text-align: center !important">
                  <div class="ui checkbox">
                    <input type="checkbox" name="chk" id="chk" (click)="clickChkAll($event)">
                    <label></label>
                  </div>
                </th>
                <th style="text-align: center !important">ลำดับ</th>
                <th style="text-align: center !important">แบบสอบถามด้าน</th>
                <th style="text-align: center !important">สร้างโดย</th>
                <th style="text-align: center !important">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="datatable != undefined && datatable.length == 0">
                <td class="center" colspan="5">ยังไม่มีข้อมูล</td>
              </tr>
              <tr *ngFor="let obj of datatable; let i = index" class="{{ obj.status === 'NEW' ? 'positive' : '' }}">
                <td class="center">
                  <div class="ui checkbox">
                    <input type="checkbox" name="chk{{i}}" id="chk{{i}}" (click)="clickChk($event, i)">
                    <label></label>
                  </div>
                </td>
                <td class="center">{{i+1}}</td>
                <td class="center">{{obj.qtnReportHdrName}}</td>
                <td class="center">{{obj.createdBy}}</td>
                <td class="center" *ngIf="obj.status === 'NEW'">-</td>
                <td class="center" *ngIf="obj.status === undefined">
                  <button *ngIf="obj.hasChild == 'FALSE'" class="ui mini green icon button" type="button" (click)="linkToDetail(obj.qtnReportHdrId)">
                    <i class="plus icon"></i>
                    รายการใหม่
                  </button>
                  <button *ngIf="obj.hasChild == 'TRUE'" class="ui mini yellow icon button" type="button" (click)="linkToDetail(obj.qtnReportHdrId)">
                    <i class="edit icon"></i>
                    แก้ไข
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5">
                  <pagination [step]="table.step" [class]="'right floated'" [active]="(table.start/5) + 1" [disabled]="chkDel.length !== 0"
                    [pages]="table.recordsTotal" (length)="pageChange($event)">
                  </pagination>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="sixteen wide center aligned column">
          <button class="ui primary {{ saving && 'loading' }} mini button {{!unsave && 'disabled'}} " type="button"
            (click)="onSave()">
            <i class="save icon"></i>
            บันทึก
          </button>
          <button type="button" style="margin-left: auto;" class="ui mini {{ chk.length == 0 && 'disabled' }} red button"
            (click)="onDelete()">
            <i class="trash alternate icon"></i>
            ลบ
          </button>
          <button type="button" (click)="setRL(0)" class="ui mini primary button">
            <!-- {{rl && rlLen > 0 ? 'disabled' : ''}} -->
            <i class="setting icon"></i>
            กำหนดเงื่อนไขความเสี่ยง
          </button>
          <button type="button" style="margin-left: auto" (click)="onSaved()" class="ui mini green button {{(!finished && !rl && rlLen == 0)|| unsave || datatable == undefined || datatable.length == 0 ? 'disabled' : ''}} ">
            <i class="paper plane icon"></i>
            ส่งแบบสอบถาม
          </button>
          <button type="button" (click)="onCancel()" style="margin-left: auto" class="ui mini button">
            <i class="remove icon"></i>
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sixteen wide column" *ngIf="toggleRL">
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>กำหนดเงื่อนไขความเสี่ยงประเมินระบบการควบคุมภายใน</span>
    </div>
    <div class="ui attached segment">
      <condition class="ui form" (has)="chkRL($event)" (out)="setRL($event)" [riskId]="qtnMasterId" [riskType]="RISK_TYPE"
        [page]="PAGE"></condition>
    </div>
  </div>
</div>