<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
    <span>รายละเอียดแบบขอเบิกเงินค่าเช่าบ้าน (แบบ 6006)</span>
</div>
<form [formGroup]="rentHouseForm" (submit)="save($event)" id="upload-form">
    <div class="ui attached  segment">
        <br>
        <div class="inline fields" style="text-align: center !important;">
            <h1>แบบขอเบิกเงินค่าเช่าบ้าน (แบบ ๖๐๐๖)</h1>
        </div>
        <br>

        <div class="ui form">
            <div class="ui attached  segment">
                <div class="inline fields hd">
                    <div class="one wide field"></div>
                    <div class="four wide field">
                        <h4>๑. การขอเบิกและการรับรอง</h4>
                    </div>
                </div>
            </div>
            <div class="ui attached  segment">
                <div class="inline fields">
                    <div class="two wide field">
                    </div>

                    <div class="one wide field">
                        <label>ข้าพเจ้า</label>
                    </div>
                    <div class="four wide field" [ngClass]="{ 'error': validateField('name') }">
                        <input type="text" class="custom-readonly disabled" formControlName="name">
                    </div>
                    <div class="one wide field">
                        <label>ตำแหน่ง</label>
                    </div>
                    <div class="three wide field" [ngClass]="{ 'error': validateField('position') }">
                        <input type="text" class="custom-readonly disabled" formControlName="position">
                    </div>

                    <div class="one wide field">
                        <label>สังกัด</label>
                    </div>
                    <div class="three wide field" [ngClass]="{ 'error': validateField('affiliation') }">
                        <input type="text" class="custom-readonly disabled" formControlName="affiliation">
                    </div>

                </div>

                <br>

                <div class="inline fields hd">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>๑. ขอยื่นเบิกเงินค่าเช่าบ้าน ดังนี้ </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="three wide field">
                        <label>๑.๑ ข้าพเจ้าได้จ่ายเงิน</label>
                    </div>

                    <div class="three wide field" [ngClass]="{ 'error': validateField('paymentCost') }">
                        <div class="ui radio checkbox">
                            <input type="radio" formControlName="paymentCost" value="ค่าเช่าบ้าน">
                            <label>
                            <b>ค่าเช่าบ้าน</b>
                          </label>
                        </div>
                    </div>

                    <div class="three wide field" [ngClass]="{ 'error': validateField('paymentCost') }">
                        <div class="ui radio checkbox">
                            <input type="radio" formControlName="paymentCost" value="ค่าเช่าซื้อ">
                            <label>
                            <b>ค่าเช่าซื้อ</b>
                          </label>
                        </div>
                    </div>

                    <div class="three wide field" [ngClass]="{ 'error': validateField('paymentCost') }">
                        <div class="ui radio checkbox">
                            <input type="radio" formControlName="paymentCost" value="ค่าผ่อนชำระเงินกู้">
                            <label>
                            <b>ค่าผ่อนชำระเงินกู้</b>
                          </label>
                        </div>
                    </div>
                </div>

                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label>ให้แก่</label>
                    </div>
                    <div class="six wide field" [ngClass]="{ 'error': validateField('paymentFor') }">
                        <input type="text" formControlName="paymentFor">
                    </div>
                    <div class="two wide field">
                        <label>ประจำเดือน</label>
                    </div>
                    <div class="three wide field" [ngClass]="{ 'error': validateField('period') }">
                        <div class="ui calendar" id="periodCld" style="width:100%;">
                            <div class="ui input left icon">
                                <i class="calendar alter nate outline icon"></i>
                                <input type="text" placeholder="เดือน" formControlName="period" autocomplete="off" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label>ตามใบเสร็จรับเงิน</label>
                    </div>
                    <div class="one wide field" [ngClass]="{ 'error': validateField('refReceipts') }">
                        <input type="text" formControlName="refReceipts" (keypress)="typeNumber($event)">
                    </div>
                    <div class="one wide field">
                        <label>ฉบับ</label>
                    </div>
                    <div class="one wide field">
                        <label>เป็นจำนวน</label>
                    </div>
                    <div class="three wide field" [ngClass]="{ 'error': validateField('billAmount') }">
                        <input type="text" formControlName="billAmount" (keypress)="typeNumber($event)">
                    </div>
                    <div class="two wide field">
                        <label>บาท</label>
                    </div>
                    <!-- <div class="three wide field">
                        ( หนึ่งหมื่นสองพันบาทถ้วน )
                    </div> -->
                </div>
                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>๑.๒ ข้าพเจ้าได้รับเงินเดือน เดือนละ</label>
                    </div>

                    <div class="three wide field" [ngClass]="{ 'error': validateField('salary') }">
                        <input type="text" formControlName="salary" (keypress)="typeNumber($event)">
                    </div>
                    <div class="two wide field">
                        <label>บาท</label>
                    </div>
                    <!-- <div class="three wide field">
                        ( หนึ่งหมื่นสองพันบาทถ้วน )
                    </div> -->
                </div>

                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="seven wide field">
                        <label>มีสิทธิได้รับค่าเช่าบ้านตามที่ได้รับอนุมัติในแบบขอรับค่าเช่าบ้าน (แบบ 6005) เลขที่</label>
                    </div>
                    <div class="six wide field" [ngClass]="{ 'error': validateField('requestNo') }">
                        <input type="text" formControlName="requestNo">
                    </div>
                </div>
                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label>ไม่เกินเดือนละ</label>
                    </div>
                    <div class="three wide field" [ngClass]="{ 'error': validateField('notOver') }">
                        <input type="text" formControlName="notOver" (keypress)="typeNumber($event)">
                    </div>
                    <div class="one wide field">
                        <label>บาท</label>
                    </div>
                    <!-- <div class="three wide field">( หนึ่งหมื่นสองพันบาทถ้วน )</div> -->
                </div>

                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>๑.๓ ข้าพเจ้าขอเบิกเงินค่าเช่าบ้านประจำเดือน</label>
                    </div>

                    <div class="three wide field" [ngClass]="{ 'error': validateField('periodWithdraw') }">
                        <div class="ui calendar" id="periodWithdrawCld" style="width:100%;">
                            <div class="ui input left icon">
                                <i class="calendar alter nate outline icon"></i>
                                <input type="text" placeholder="เดือน" formControlName="periodWithdraw" autocomplete="off" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="one wide field">
                        <label>รวม</label>
                    </div>
                    <div class="two wide field" [ngClass]="{ 'error': validateField('totalMonth') }">
                        <input type="text" formControlName="totalMonth" (keypress)="typeNumber($event)">
                    </div>
                    <div class="two wide field">
                        <label>เดือน</label>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="one wide field"></div>
                    <div class="two wide field">
                        <label>เป็นเงิน</label>
                    </div>
                    <div class="three wide field" [ngClass]="{ 'error': validateField('totalWithdraw') }">
                        <input type="text" formControlName="totalWithdraw" (keypress)="typeNumber($event)">
                    </div>
                    <div class="one wide field">
                        <label>บาท</label>
                    </div>
                    <!-- <div class="three wide field">( หนึ่งหมื่นสองพันบาทถ้วน )</div> -->
                </div>
                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="four wide field">
                        <label>๑.๔ พร้อมนี้ข้าพเจ้าได้แนบใบเสร็จรับเงินจำนวน</label>
                    </div>

                    <div class="three wide field" [ngClass]="{ 'error': validateField('receipts') }">
                        <input type="text" formControlName="receipts" (keypress)="typeNumber($event)">
                    </div>
                    <div class="one wide field">
                        <label>ฉบับ</label>
                    </div>
                    <div class="two wide field">
                        <label>มาด้วยแล้ว</label>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="two wide field"></div>
                    <div class="ten wide field">
                        <label>๒.ข้าพเจ้าขอรับรองว่าข้อความที่ให้ไว้ข้างต้นเป็นความจริงทุกประการ และข้าพเจ้ามีสิทธิได้รับเงินค่าเช่าบ้านตามพระราชกฤษฎีกา
            <br> ค่าเช่าบ้านข้าราชการ พ.ศ.2547 และได้ดำเนินการถูกต้องตามระเบียบทุกประการแล้ว</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white;">
        <span>เอกสารหลักฐานประกอบคำเบิก</span>
    </div>
    <div class="ui form">
        <div class="ui attached segment" [ngClass]="{ 'loading': loadingUL }">
            <div class="inline fields ">
                <div class="two wide field">

                </div>
                <div class="ten wide field">
                    <label style="color:red">*รับรองไฟล์นามสกุล &nbsp;&nbsp;เอกสาร xls, xlsx, doc, docx, ppt, pptx &nbsp;&nbsp;รูป gif, jpeg, jpg, png, bmp &nbsp;&nbsp;ขนาดไม่เกิน 25 MB</label>
                </div>
            </div>
            <div class="inline fields ">
                <div class="two wide field">

                </div>
                <div class="three wide field">
                    <label>หลักฐานประกอบคำเบิก</label>
                </div>
                <div class="six wide field upload-panel">
                    <input type="file" name="files" id="files" accept=".pdf, image/*, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                    application/vnd.ms-excel,.doc,.docx" (change)="onChangeFile()">
                </div>
                <div class="three wide field">
                    <button class="ui mini yellow button" type="button" (click)="onUpload($event)" [ngClass]="{ 'disabled': flgOnLoad }"><i class="upload icon"></i>อัพโหลด</button>
                </div>
            </div>

            <table id="dataTable" class="ui small celled table striped selectable" style="width: 100%;">
                <thead>
                    <tr style="text-align: center">
                        <th>ลำดับที่</th>
                        <th>วันที่</th>
                        <th>ชื่อเอกสาร</th>
                        <!-- <th>ขนาด (MB)</th> -->
                        <th>จัดการ</th>
                    </tr>
                    <tr *ngIf="tableUpload.length < 1">
                        <td colspan="5" class="text-center">ไม่มีข้อมูล</td>
                    </tr>
                    <tr *ngFor="let ul of tableUpload; let i = index">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{ul.date}}</td>
                        <td class="text-center">{{ul.name}}</td>
                        <!-- <td class="text-right">{{ul.size}}</td> -->
                        <td class="text-center">
                            <button class="ui mini red button" type="button" (click)="onDel(i)"><i class="trash icon"></i>ลบ</button>
                        </td>
                    </tr>
                </thead>
            </table>

            <div class="ui center aligned grid">
                <div class="sixteen wide column">
                    <button class="ui mini primary button" type="submit" [ngClass]="{ 'disabled': tableUpload.length < 1 }"><i class="save icon"></i>บันทึก</button>
                    <button class="ui mini yellow button" type="button"><i class="print icon"></i>ส่งออก</button>
                    <button class="ui mini button" type="button" routerLink='/int06/11'><i class="close icon"></i>ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</form>