<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดแบบขอเบิกเงินค่าเช่าบ้าน (แบบ 6006)</span>
</div>
<div class="ui attached  segment">
  <br>
  <div class="inline fields" style="text-align: center !important;">
    <h1>แบบขอเบิกเงินค่าเช่าบ้าน (แบบ ๖๐๐๖)</h1>
  </div>
  <br>
  <div class="ui form">

    <div class="ui attached  segment">
      <div class="inline fields hd">
        <div class="one wide field"></div>
        <div class="four wide field">
          <h4>๑. การขอเบิกและการรับรอง</h4>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="one wide field">
          <label>ข้าพเจ้า</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          <label>ตำแหน่ง</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          <label>สังกัด</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="inline fields hd">
        <div class="two wide field"></div>
        <div class="four wide field">
          <label>๑. ขอยื่นเบิกเงินค่าเช่าบ้าน ดังนี้ </label>
        </div>
      </div>
      <br>
      <br>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="three wide field">
          <label>๑.๑ ข้าพเจ้าได้จ่ายเงิน</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="" checked="true">
        </div>
        <div class="two wide field">
          <label>ค่าเช่าบ้าน</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="two wide field">
          <label>ค่าเช่าซื้อ</label>
        </div>
        <div class="one wide field">
          <input type="checkbox" name="" id="">
        </div>
        <div class="two wide field">
          <label>ค่าผ่อนชำระเงินกู้</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ให้แก่</label>
        </div>
        <div class="six wide field">
          <input type="text">
        </div>
        <div class="two wide field">
          <label>ประจำเดือน</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ตามใบเสร็จรับเงิน</label>
        </div>
        <div class="one wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          <label>ฉบับ</label>
        </div>
        <div class="one wide field">
          <label>เป็นจำนวน</label>
        </div>
        <div class="three wide field">
          <input type="text" value="12000">
        </div>
        <div class="two wide field">
          <label>บาท</label>
        </div>
        <div class="three wide field">
          ( หนึ่งหมื่นสองพันบาทถ้วน )
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="four wide field">
          <label>๑.๒ ข้าพเจ้าได้รับเงินเดือน เดือนละ</label>
        </div>

        <div class="three wide field">
          <input type="text" value="12000">
        </div>
        <div class="two wide field">
          <label>บาท</label>
        </div>
        <div class="three wide field">
          ( หนึ่งหมื่นสองพันบาทถ้วน )
        </div>
      </div>

      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="seven wide field">
          <label>มีสิทธิได้รับค่าเช่าบ้านตามที่ได้รับอนุมัติในแบบขอรับค่าเช่าบ้าน (แบบ 6005) เลขที่</label>
        </div>
        <div class="six wide field">
          <input type="text">
        </div>
      </div>
      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>ไม่เกินเดือนละ</label>
        </div>
        <div class="three wide field">
          <input type="text">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
        <div class="three wide field">( หนึ่งหมื่นสองพันบาทถ้วน )</div>
      </div>

      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="four wide field">
          <label>๑.๓ ข้าพเจ้าขอเบิกเงินค่าเช่าบ้านประจำเดือน</label>
        </div>

        <div class="three wide field">
          <input type="text" value="กันยายน">
        </div>
        <div class="one wide field">
          <label>รวม</label>
        </div>
        <div class="two wide field">
          <input type="text" value="">
        </div>
        <div class="two wide field">
          <label>บาท</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="two wide field">
          <label>เป็นเงิน</label>
        </div>
        <div class="three wide field">
          <input type="text" value="12000">
        </div>
        <div class="one wide field">
          <label>บาท</label>
        </div>
        <div class="three wide field">( หนึ่งหมื่นสองพันบาทถ้วน )</div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="four wide field">
          <label>๑.๓ ข้าพเจ้าขอเบิกเงินค่าเช่าบ้านประจำเดือน</label>
        </div>

        <div class="three wide field">
          <input type="text" value="1">
        </div>
        <div class="one wide field">
          <label>ฉบับ</label>
        </div>
        <div class="two wide field">
          <label>มาด้วยแล้ว</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="ten wide field">
          <label>๒.ข้าพเจ้าขอรับรองว่าข้อความที่ให้ไว้ข้างต้นเป็นความจริงทุกประการ และข้าพเจ้ามีสิทธิได้รับเงินค่าเช่าบ้านตามพระราชกฤษฎีกา
            <br> ค่าเช่าบ้านข้าราชการ พ.ศ.2547 และได้ดำเนินการถูกต้องตามระเบียบทุกประการแล้ว</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้ขอเบิก

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="iy four wide field">
          <label>ตำแหน่ง..........................................................................................
          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields hd">
        <div class="one wide field"></div>
        <div class="four wide field">
          <h4>๒. การอนุมัติ</h4>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="six wide field">
          <label>อนุมัติให้เบิกจ่ายเงินค่าเช่าบ้านได้ตามสิทธิ</label>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="two wide field"></div>
        <div class="ten wide field">
          <label>ตั้งแต่วันที่...............................เดือน......................................................พ.ศ. ............................................</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)..........................................................................

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="iy four wide field">
          <label>ตำแหน่ง..........................................................................................
          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <div class="inline fields hd">
        <div class="one wide field"></div>
        <div class="four wide field">
          <h4>๓. การรับเงิน</h4>
        </div>
      </div>
    </div>
    <div class="ui attached  segment">
      <br>
      <div class="inline fields">
        <div class="one wide field"></div>
        <div class="ten wide field">
          <label>ได้รับเงินค่าเช่าบ้าน จำนวน.........................................................................บาท (...........................................................................................................)
            ไว้ถูกต้องแล้ว</label>
        </div>
      </div>
   
    <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="four wide field">
          <label>(ลงชื่อ)...................................................................ผู้รับเงิน

          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class=" ic four wide field ">
          <label>(......................................................................)</label>
        </div>
      </div>

      <div class="inline fields">
        <div class="ten wide field"></div>
        <div class="iy four wide field">
          <label>ตำแหน่ง..........................................................................................
          </label>
        </div>
      </div>
      <div class="inline fields">
        <div class="eight wide field"></div>
        <div class="ir six wide field ">
          <label>วันที่..............................เดือน............................................พ.ศ. ...................................
          </label>
        </div>
      </div>
      <div class="inline fields">
          <div class="ten wide field"></div>
          <div class="four wide field">
            <label>(ลงชื่อ)...................................................................ผู้จ่ายเงิน
  
            </label>
          </div>
        </div>
        <div class="inline fields">
          <div class="ten wide field"></div>
          <div class=" ic four wide field ">
            <label>(......................................................................)</label>
          </div>
        </div>
  
        <div class="inline fields">
          <div class="ten wide field"></div>
          <div class="iy four wide field">
            <label>ตำแหน่ง..........................................................................................
            </label>
          </div>
        </div>
        <div class="inline fields">
          <div class="eight wide field"></div>
          <div class="ir six wide field ">
            <label>วันที่..............................เดือน............................................พ.ศ. ...................................
            </label>
          </div>
        </div>
      </div>
        <br>
        <div class="ui center aligned grid">
            <div class="sixteen wide column">
              
              <button class="ui  grey button" type="button" ><i class="close icon"></i>ยกเลิก</button>
              <button class="ui  primary button" type="button"><i class="save icon"></i>บันทึก</button>
              <button class="ui  primary button" type="button"><i class="print icon"></i>ส่งออก</button>
            </div>
          </div>



  </div>