<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui ordered steps ">
            <div class=" step">
                <div class="content">
                    <div class=" title">ขั้นตอนที่ 1</div>
                    <div class="description">ตรวจสอบการรับเงินค่าปรับ
                        <br>เปรียบเทียบคดี</div>
                </div>
            </div>
            <div class=" step">
                <div class="content">
                    <div class="title">ขั้นตอนที่ 2</div>
                    <div class="description">ตรวจสอบการรับ-ส่งเงินค่าปรับ
                        <br>เปรียบเทียบคดี</div>
                </div>
            </div>
            <div class=" step">
                <div class="content">
                    <div class="title">ขั้นตอนที่ 3</div>
                    <div class="description">ตรวจสอบการบันทึกบัญชี
                        <br>รายได้แผ่นดิน</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">ขั้นตอนที่ 4</div>
                    <div class="description">ตรวจสอบการบันทึกบัญชีเงินสินบน - รางวัล</div>
                </div>
            </div>
            <div class=" step">
                <div class="content">
                    <div class="title">ขั้นตอนที่ 5</div>
                    <div class="description">ตรวจสอบการเบิก - จ่ายเงินสินบน - รางวัล</div>
                </div>
            </div>
        </div>


        <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
            <span>เพิ่มข้อมูลตรวจสอบการบันทึกบัญชีเงินสินบน - รางวัล</span>
        </div>
        <div class="ui attached segment">
            <div class="ui form">
                <div class="inline fields">
                    <div class="five wide field"></div>
                    <div class="two wide field">เลขที่ใบเสร็จ</div>
                    <div class="five wide field">
                        <input type="text">
                    </div>
                </div>

                <div class="inline fields">
                    <div class="three wide field"></div>                    
                    <div class="two wide field">นส.01 RA</div>
                    <div class="three wide field">
                        <input type="text">
                    </div>
                    <div class="two wide field">ว.ด.ป ผ่านรายการ</div>
                    <div class="three wide field">
                        <input type="text">
                    </div>
                </div>
                <div class="inline fields">
                    <div class="three wide field"></div>                    
                    <div class="two wide field">ว.ด.ป ผ่านรายการ</div>
                    <div class="three wide field">
                        <input type="text">
                    </div>
                    <div class="two wide field">ว.ด.ป ผ่านรายการ</div>
                    <div class="three wide field">
                        <input type="text">
                    </div>
                </div>
                <div class="inline fields">
                    <div class="three wide field"></div>                    
                    <div class="two wide field">รหัสรายได้</div>
                    <div class="three wide field">
                        <input type="text">
                    </div>
                    <div class="two wide field">แหล่งเงิน</div>
                    <div class="three wide field">
                        <input type="text">
                    </div>
                </div><br>
                <div class="ui form">
                    <div class="ui center aligned grid">
                        <div class="one wide field"></div>   
                        <div class="ten wide column">
                            <a class="ui mini primary button widtd-100" >
                                <i class="add icon"></i>เพิ่ม
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="sixteen wide column">
            <div class="ui  segment">
                <div style="overflow-x: scroll;">
                    <table id="table1" class="ui small celled table" style="width: 120%;">
                        <thead>
                            <tr class="center aligned">
                                <th rowspan="2">ลำดับที่</th>
                                <th rowspan="2">เลขที่คดี </th>
                                <th rowspan="2">เลขที่ใบเสร็จ</th>
                                <th rowspan="2">วันที่ออกใบเสร็จ</th>
                                <th rowspan="2">ว.ด.ป ใบ Pay in</th>
                                <th rowspan="2">หน่วยต้นทุน</th>
                                <th rowspan="2">รายได้แผ่นดิน 60%</th>
                                <th colspan="4">การบันทึกบัญชีรับเงินรายได้แผ่นดินผ่าน GFMIS web online</th>
                                <th rowspan="2">รหัสรายได้ 804</th>
                                <th rowspan="2">แหล่งเงิน XX19200</th>

                            </tr>
                            <tr style="text-align: center">
                                <th>นส.01 RA</th>
                                <th>ว.ด.ป ผ่านรายการ</th>
                                <th>นส.02-1 R 1</th>
                                <th>ว.ด.ป ผ่านรายการ</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;	</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;	</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                             
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>600.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                             
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>06/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>10/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>10/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>6,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>10/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>10/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>600.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                             
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>10/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>6,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>17/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>18,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>17/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>17/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>17/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>6,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>17/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>600.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>17/11/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>3,000.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>07/12/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>600.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>07/12/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>600.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>07/12/60</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>600.00</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui form">
                    <div class="ui center aligned grid">
                        <div class="eight wide column">
                            <a class="ui mini primary button widtd-100" routerLink='/int01/3/4'>
                              <i class="arrow circle left icon"></i>ขั้นตอนที่3 
                          </a>
                            <a class="ui mini primary button widtd-100" routerLink='/int01/3/1'>
                              <i class="home icon"></i>กลับหน้าหลัก
                            </a>

                            <a class="ui mini button widtd-100">
                                <i class="print icon"></i>
                                ส่งออก
                            </a>
                            <a class="ui mini button widtd-100">
                                    <i class="save icon"></i>
                                   บันทึก
                                </a>
                            <a class="ui mini primary button widtd-100" routerLink='/int01/3/6'>
                                ขั้นตอนที่ 5
                                <i class="arrow circle right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    