<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">บันทึกผลการตรวจปฏิบัติการ </h2>

    <div class="ui top attached header">
      <span>บันทึกผลการตรวจปฏิบัติการ </span>
    </div>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field ">
            <label>เลขทะเบียนสรรพสามิต:
            </label>
          </div>
          <div class="six wide field ">
            <input type="text" placeholder="" value="2559 03154 9">

          </div>

          <div class="two wide field ">
            <label>วันที่ตรวจ :</label>
          </div>
          <div class="six wide field ">
            <input type="text" placeholder="" value="21 มิถุนายน 2560">
          </div>
        </div>
        <div class="inline fields">
          <div class="ten wide field "></div>
          <button class="ui mini primary button">ร้างบันทึกผลการตรวจปฏิบัติการ</button>
          <div class="one wide field "></div>
          <button class="ui mini button">ยกเลิก</button>
        </div>
        <br>
        <br>
        <div class="ui center aligned grid">
          <button class="ui mini primary button" routerLink="/cop04/1/1">บันทึกผลการตรวจปฏิบัติการ
            <i class="arrow right icon"></i>
          </button>
        </div>
        <br>
      </div>
    </div>