<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายละเอียดหัวกระดาษทำการ
  </span>
</div>
<form class="ui form center aligned" (submit)="manageDate($event)" id="int09-1" ngNativeValidate>
  <div class="ui attached  segment">
    <div class="ui grid center aligned">
      <div class="ui two wide column">&nbsp;</div>
      <div class="ui center aligned thirteen wide  column">

        <div class="inline fields">
          <div class="three wide field">
            <label>ชื่อกระดาษทำการ :</label>
          </div>
          <div class="eight wide field">
            <input type="text" maxlength="1000" [(ngModel)]="hdr.workSheetHeaderName" name="workSheetHeaderName" required>
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label>
              หน่วยงาน :
            </label>
          </div>
          <div class="eight  wide field">
            <input type="text" [(ngModel)]="hdr.departmentName" name="departmentName" required>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <label>วันที่ :</label>
          </div>
          <div class="ui calendar" id="example2">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="วว/ดด/ปปปป" [(ngModel)]="hdr.startDate" autocomplete="off" [attr.readonly]="null" id="startDate"
                name="startDate" [attr.required]="true">
            </div>
          </div>

          <div class="one wide field">
            &nbsp; &nbsp; &nbsp;
            <label>
              ถึง :
            </label>
          </div>
          <div class="ui calendar" id="example3">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="วว/ดด/ปปปป" [(ngModel)]="hdr.endDate" autocomplete="off" [attr.readonly]="null" id="endDate"
                name="endDate" [attr.required]="true">
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field">
            <label>รายละเอียด :</label>
          </div>
          <div class="eight wide field">
            <input type="text" class="disabled" [(ngModel)]="hdr.description" name="description">
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="ui top centered attached header segment" id="create" style="background: #1e83db;color: white">
      <span>สร้างกระดาษทำการประมาณการค่าใช้จ่ายในการเดินทางไปราชการ </span>
    </div>
    <br>
    <div class="ui grid center aligned">
      <div class="ui two wide column">&nbsp;</div>
      <div class="ui center aligned thirteen wide  column">

        <div class="inline fields">
          <div class="two wide field">
            <label>ชื่อ :</label>
          </div>
          <div class="four wide field">
            <input type="text" [ngModel]="data.name" id="name" name="name" required>
          </div>
          <div class="two wide field">
            <label>นามสกุล :</label>
          </div>
          <div class="four wide field">
            <input type="text" [ngModel]="data.lastName" id="lastName" name="lastName" required>
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <label>ตำแหน่ง :</label>
          </div>
          <div class="four  wide field">
            <input type="text" [ngModel]="data.position" id="position" name="position" required>
          </div>
        </div>

        <div class="inline fields">
          <div class="six wide field">
            <label class="custom-label-w-19" style="text-align: right">ประเภท</label>
            <select style="width: 100%" id="category" name="category" class="ui search dropdown" [ngModel]="data.category" (change)="onSelectDoc($event)"
              required>
              <option value="" style="color: grey">เลือกประเภทเอกสาร</option>
              <option *ngFor="let typeDoc of typeDocs; let i = index" value="{{i}}">
                {{typeDoc}}
              </option>
            </select>
          </div>
          <div class="six wide field">
            <label class="custom-label-w-19" style="text-align: right">ระดับ</label>
            <select style="width: 100%" id="degree" name="degree" class="ui search dropdown" [ngModel]="data.degree" (change)="onSelectTop($event)"
              required>
              <option value="" style="color: grey">เลือกระดับ</option>
              <option *ngFor="let top of topic; let i = index" value="{{i}}">
                {{top}}
              </option>
            </select>
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <label>ค่าเบี้ยเลี้ยง (วัน):</label>
          </div>
          <div class="four wide field">
            <input type="number" [ngModel]="data.allowanceDate" id="allowanceDate" name="allowanceDate" required>
          </div>
          <div class="two wide field">
            <label>ค่าเช่าที่พัก (วัน):</label>
          </div>
          <div class="four wide field">
            <input type="number" [ngModel]="data.rentDate" id="rentDate" name="rentDate" required>
          </div>
        </div>
        <div class="inline fields">
          <div class="inline fields">
            <label>ห้องเดี่ยว</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" [ngModel]="data.restType" id="restType" name="restType" value="rest-single" checked="checked" required>
              </div>
            </div>
            <label>ห้องคู่</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" [ngModel]="data.restType" id="restType" name="restType" value="rest-double" required>
              </div>
            </div>
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <label>ค่าพาหนะ :</label>
          </div>
          <div class="four wide field">
            <input type="number" [ngModel]="data.travelCost" id="travelCost" name="travelCost" required>
          </div>
          <div class="two wide field">
            <label>ค่าใช้จ่ายอื่น ๆ :</label>
          </div>
          <div class="four wide field">
            <input type="number" [ngModel]="data.otherCost" id="otherCost" name="otherCost" required>
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field">
            <label>หมายเหตุ :</label>
          </div>
          <div class="ten wide field">
            <textarea name="note" id="note" rows="2" [ngModel]="data.note" style="resize: none" maxLength="2000" name="note"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui mini yellow button" type="submit" *ngIf="status === 'edit'">
          แก้ไข
        </button>
        <button class="ui mini green button" type="submit" *ngIf="status === 'create'">
          เพิ่ม
        </button>
        <button class="ui mini red button" type="button" (click)="clearData()">
          {{ status === 'create' ? 'ล้างข้อมูล' : 'ยกเลิก' }}
        </button>
      </div>
    </div>
    <br>
    <br>

    <table id="tableData" class="ui small celled table" style="width: 100%">
      <thead>
        <tr style="text-align: center;">
          <th rowspan="2"></th>
          <th rowspan="2">ที่</th>
          <th rowspan="2">ชื่อ</th>
          <th rowspan="2">ตำแหน่ง</th>
          <th colspan="2">ค่าเบี้ยเลี้ยง</th>
          <th colspan="2">ค่าเช่าที่พัก</th>
          <th rowspan="2">ค่าพาหนะ</th>
          <th rowspan="2">ค่าใช้จ่ายอื่น</th>
          <th rowspan="2">รวมเป็นเงิน</th>
          <th rowspan="2">หมายเหตุ</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr style="text-align: center;">
          <th style=" border-left: 1px solid rgba(34,36,38,.1);">วัน</th>
          <th>จำนวนเงิน</th>
          <th>วัน</th>
          <th>จำนวนเงิน</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of detail; let i = index">
          <td>
            <div class="ui fitted checkbox">
              <input (change)="selectedBox($event, i)" name="checked{{i}}" type="checkbox">
              <label></label>
            </div>
          </td>
          <td>{{i+1}}</td>
          <td>{{d.name}} {{d.lastName}}</td>
          <td>{{d.position}}</td>
          <td>{{d.allowanceDate}}</td>
          <td>{{d.allowanceCost ? d.allowanceCost : getPrice(i, 'allowance')}}</td>
          <td>{{d.rentDate}}</td>
          <td>{{d.rentCost ? d.rentCost : getPrice(i, d.restType)}}</td>
          <td>{{d.travelCost}}</td>
          <td>{{d.otherCost}}</td>
          <td>{{totalCost(i)}}</td>
          <td>{{d.note}}</td>
          <td>
            <button class="ui mini red button" type="button" (click)="editData(i)">แก้ไข</button>

          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui mini red button" type="button" (click)="deleteData()">
          ลบ
        </button>
        <button class="ui {{detail.length==0&&'disabled'}} mini primary button" type="button" (click)="onSubmit()">
          บันทึก
        </button>
        <button class="ui mini primary button" type="button">
          ส่งออก
        </button>
        <button class="ui mini primary button" type="button" routerLink="/int09/2">สัญญาการยืมเงิน</button>
      </div>
    </div>
  </div>
</form>