<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">กระดาษทำการเงินฝากคลัง</h2>

    <div class="ui top attached header">
      <span>กระดาษทำการเงินฝากคลัง</span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="ten wide field">
            <label class="custom-label-w-20">กระดาษทำการ</label>
            <input type="text" style="margin-left: 14px;" value="ตรวจสอบสำนักงานสรรพสามิตพื้นที่ระยอง 1">
          </div>
        </div>
        <br>
        <div class="inline fields">
          <div class="seven wide field"></div>
          <div class="nine wide field">
            <label>บัญชีเงินฝากคลัง (1101020501)</label>
          </div>
        </div>
        <br>
        <div class="inline fields">
          <div class="ten wide field">
            <label class="custom-label-w-20">ประจำเดือน</label>
            <input type="text" style="margin-left: 14px;" value="ตุลาคม 2559">
          </div>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field"></div>
          <div class="three wide field">
            <label>บาท</label>
          </div>
        </div>

        <div class="inline fields">
          <div class="thirteen wide field">
            <label>ยอดยกมา</label>
          </div>
          <div class="three wide field">
            <span>1,965,704.18</span>
          </div>
        </div>
        <br>
        <div class="inline fields">
          <div class="three wide field">
            <label>บวก</label>
          </div>
          <div class="thirteen wide field">
            <span>รายการปรับเพิ่มเงินฝากคลัง</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- การนำฝากเงิน (RX)</span>
          </div>
          <div class="three wide field">
            <span>244,274.10</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- การโอนขายบิล (RI / RJ)</span>
          </div>
          <div class="three wide field">
            <span>295,534.78</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- การเบิกหักผลักส่ง (JK)</span>
          </div>
          <div class="three wide field">
            <span>64,737.80</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- ระบบไม่เพิ่มเงินฝากคลัง (ไม่มี RX)</span>
          </div>
          <div class="three wide field"></div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- ระบบตัดเงินฝากคลังซ้ำ (JO ซ้ำ)</span>
          </div>
          <div class="three wide field">
            <span>604,546.68</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <label>หัก</label>
          </div>
          <div class="thirteen wide field">
            <span>รายการปรับลดเงินฝากคลัง</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- การขอเบิกเงิน (JO)</span>
          </div>
          <div class="three wide field">
            <span>-2,523,227.19</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- การโอนขายบิล (RI / RJ)</span>
          </div>
          <div class="three wide field"></div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- การเบิกหักผลักส่ง (JK)</span>
          </div>
          <div class="three wide field">
            <span>-2,279.50</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- ระบบเพิ่มเงินฝากคลังซ้ำ (RX ซ้ำ)</span>
          </div>
          <div class="three wide field">
            <span>-41,900.00</span>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field"></div>
          <div class="ten wide field ">
            <span>- ระบบไม่ตัดเงินฝากคลัง (ไม่มี JO)</span>
          </div>
          <div class="three wide field">
            <u>-2,567,406.69</u>
          </div>
        </div>
        <br>
        <div class="inline fields">
          <div class="thirteen wide field">
            <label>ยอดเงินฝากคลังที่ถูกต้อง</label>
          </div>
          <div class="three wide field">
            <u>2,844.17</u>
          </div>
        </div>

      </div>

      <div class="ui center aligned grid">
        <div class="four wide column">
          <button class="ui mini primary button width-100">
            <i class="print icon"></i>
            พิมพ์
          </button>
          <button class="ui mini button width-100" routerLink="/int07-7">
            <i class="arrow left icon"></i>
            ย้อนหลับ
          </button>
        </div>
      </div>

    </div>
  </div>