<div class="ui grid">
    <div class="sixteen wide column">
      <h2 class="ui header">จัดทำแผนการตรวจปฏิบัติการ</h2>  
      <div class="ui top attached header">
        <span>จัดทำแผนการตรวจปฏิบัติการ</span>  
      </div>  
      <div class="ui attached segment">  
          <div class="ui form">
      <div class="inline fields">
          <div class="four wide field "></div>
          <div class="two wide field ">
              <label>ปีงบประมาณ </label>
            </div>
          <div class="seven wide field ">
              <input type="text" placeholder="" value="">
            </div>
          <div class="four wide field "></div>
      </div>     
      <div class="inline fields">
          <div class="four  wide field "></div>
          <button class="negative ui button" style="width: 190px;">ค้นหา</button>
          <div class="three wide field "></div>
          <button class="negative ui button" style="width: 190px;">ยกเลิก</button>
      </div>
      <br>
      <br>
      <div class="ui center aligned grid">
      <button class="blue ui button"  routerLink="/cop01-3">ผลการแผนการตรวจปฏิบัติการ									

          <i class="arrow right icon"></i>
        </button></div><br>
    </div>
  </div>