<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">จัดการข้อมูลต้นทาง
    </h2>
    <div class="ui top attached header">
      <span>จัดการข้อมูลต้นทาง</span>
    </div>
    <div class="ui attached segment">
      <div class="ui grid center aligned">
        <div class="sixteen wide column">
          <h3>เชื่อมโยงข้อมูลใบขน (ภส.05-01) </h3>
        </div>
      </div>
      <br>
      <br>
      <div class="inline fields">
        <div class="one wide field ">
          <h4>ข้อมูลผู้ส่งออก</h4>
        </div>
      </div>
      <br>


      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field ">
            <label>ชื่อพนักงานขับรถ
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
          <div class="four wide field ">
            <label>นามสกุลพนักงานขับรถ</label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>

        <div class="inline fields">
          <div class="two  wide field ">
            <label>ทะเบียนรถ
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
          <div class="four wide field ">
            <label>ทะเบียนพ่วง

            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>

        <div class="inline fields">
          <div class="two wide field ">
            <label>หมายเลขชีล
            </label>
          </div>
          <div class="five wide field ">
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <br>

      </div>
    </div>
    <br>
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui top attached header">
          <span>รูปภาพ</span>
        </div>
        <div class="ui attached segment">
          <div class="ui form">

            <div class="inline fields">
              <div class="eight wide field ">
                <label class="custom-label-w-25">
                  รูปภาพที่ 1
                </label>
                <input type="file" />
              </div>
              <button class="ui mini primary button" style="width: 100px;">
                ถ่ายใหม่
              </button>
            </div>
            <div class="inline fields">
              <div class="eight wide field ">
                <label class="custom-label-w-25">
                  รูปภาพที่ 2
                </label>
                <input type="file" />
              </div>
              <button class="ui mini primary button" style="width: 100px;">
                ถ่ายใหม่
              </button>
            </div>
            <div class="inline fields">
              <div class="eight wide field ">
                <label class="custom-label-w-25">
                  รูปภาพที่ 3
                </label>
                <input type="file" />
              </div>
              <button class="ui mini primary button" style="width: 100px;">
                ถ่ายใหม่
              </button>
            </div>
            <br>
            <div class="ui center aligned grid">
              <div class="four wide column">
                <button class="ui mini primary button" routerLink="/epa01-1-2" style="width: 100px;">
                  <i class="search icon"></i>
                  บันทึก
                </button>
                <button class="ui mini button" style="width: 100px;">
                  ยกเลิก
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>