.frame-file{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 44px;
    padding: 0;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
}
.frame-file > p {
    cursor: pointer;
    line-height: 44px;
    margin: 0;
    padding: 0 11px 0 11px;
}
.file{
    cursor: pointer;
    display: block;
    font-size: 44px;
    filter: alpha(opacity=0);
    min-height: 44px;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}