<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>ข้อมูลทั่วไป</span>
</div>

<div class="ui attached segment">
  <div class="ui grid">
    <div class="ui two wide column">&nbsp;</div>
    <div class="ui twelve wide column">
      <div class="ui form">
        <div class="inline fields">
          <div class="two wide field">
            <h4>ข้อมูลบริษัท</h4>
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <p>ชื่อผู้ประกอบการ : </p>
          </div>
          <div class="five wide field">
            <input type="text">
          </div>
          <div class="three wide field">
            <p>เลขทะเบียนสรรพสามิต: </p>
          </div>
          <div class="five wide field">
            <input type="text">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <p>ที่ตั้งโรงอุตสาหกรรม :</p>
          </div>
          <div class="five wide field">
            <input type="text">
          </div>
          <div class="two wide field">
            <p>พื้นที่ / ภาค : </p>
          </div>
          <div class="two wide field">
            <input type="text">
          </div>
          <div class="two wide field">
            <p>พิกัดสินค้า :</p>
          </div>
          <div class="two wide field">
            <input type="text">
          </div>
        </div>

        <div class="inline fields">
          <div class="three wide field">
            <p>ที่ตั้งโรงอุตสาหกรรม :</p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="one wide field">
            <p>ถนน : </p>
          </div>
          <div class="two wide field">
            <input type="text">
          </div>
          <div class="one wide field">
            <p>หมู่ :</p>
          </div>
          <div class="two wide field">
            <input type="text">
          </div>

          <div class="two wide field">
            <p>ตำบล/แขวง :</p>
          </div>
          <div class="two wide field">
            <input type="text">
          </div>
        </div>
        <div class="inline fields">
          <div class="two wide field">
            <p>อำเภอ/เขต : </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
          <div class="one wide field">
            <p>จังหวัด: </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="two wide field">
            <p>รหัสไปรษณีย์ : </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
        </div>

        <div class="inline fields">
          <div class="five wide field">
            <h4>ช้อมูลการชำระภาษี</h4>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="five wide field">
            <h4>การชำระภาษีย้อนหลัง 3 เดือนล่าสุด : </h4>
          </div>
        </div>


        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="two wide field">
            <p>เดือนที่ 1: </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="two wide field">
            <p>มูลค่าภาษี : </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="one wide field">
            <p>บาท : </p>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="two wide field">
            <p>เดือนที่ 3: </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="two wide field">
            <p>มูลค่าภาษี : </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="one wide field">
            <p>บาท : </p>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="two wide field">
            <p>เดือนที่ 3: </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="two wide field">
            <p>มูลค่าภาษี : </p>
          </div>
          <div class="three wide field">
            <input type="text">
          </div>
          <div class="one wide field">
            <p>บาท : </p>
          </div>
        </div>
        <div class="inline fields">
          <div class="five wide field">
            <h4>ข้อมูลการตรวจสอบภาษีครั้งล่าสุด </h4>
          </div>
        </div>

        <div class="inline fields">
            <div class="one wide field"></div>
          <div class="six wide field">
            <p>การตรวจสอบภาษีครั้งล่าสุดเมื่อปีงบประมาณ </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
          <div class="three wide field">
            <p>ผลการตรวจสอบภาษี </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="three wide field">
            <p>ปริมาณภาษีที่ต้องชำระ : </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
          <div class="three wide field">
            <p>บาท</p>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="three wide field">
            <p>ปริมาณเบี้ยปรับ : </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
          <div class="three wide field">
            <p>บาท</p>
          </div>
        </div>

        <div class="inline fields">
          <div class="one wide field"></div>
          <div class="three wide field">
            <p> ปริมาณเงินเพิ่ม : </p>
          </div>
          <div class="four wide field">
            <input type="text">
          </div>
          <div class="three wide field">
            <p>บาท</p>
          </div>
        </div>

        <div class="inline fields">
            <div class="five wide field">
              <h4>เพิ่มข้อมูลภายนอก	</h4>
            </div>
          </div>






      </div>
    </div>
    <div class="ui one wide column">&nbsp;</div>
  </div>
</div>

<div class="ui bottom centered attached segment">
  <div class="ui center aligned grid">
    <div class="eight wide column">
      <button class="ui mini green button" type="button">
        <i class="save icon"></i>
        ตกลง
      </button>
      <button class="ui mini red button" type="button" (click)="onDiscard()">
        <i class="times icon"></i>
        ยกเลิก
      </button>
    </div>
  </div>
</div>