<!-- breadcrumb -->
<app-breadcrumb [route]="breadcrumb"></app-breadcrumb>

<div class="ui grid">
  <div class="sixteen wide column">
    <!-- Form Header Name -->
    <div class="ui top centered attached header segment" style="background: #1e83db;color: white">
      <span>บันทึกรายการขอเบิก </span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <!-- Form row 1 -->
        <div class="inline fields">
          <div class="three wide field required">
            <label class="text-right full-width">เลขที่เอกสารอ้างอิง</label>
          </div>
          <div class="four wide field">
            <input type="text" id="refnum" name="refnum">
          </div>
          <div class="three wide field required">
            <label class="text-right full-width">วันที่ขอเบิก</label>
          </div>
          <div class="four wide field required">
            <div class="ui calendar" id="dateWithdraw" style="width:100%">
              <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" placeholder="วว/ดด/ปปปป" id="withdrawal" name="withdrawal">
              </div>
            </div>
          </div>
        </div>

        <!-- Form row 2 -->
        <div class="inline fields">
          <div class="three wide field required">
            <label class="text-right full-width">กิจกรรม</label>
          </div>
          <div class="four wide field required">
            <select name="activity" id="activity" class="ui dropdown ai search full-width">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of activityList" value="{{item.lovId}}">{{item.value1}}</option>
            </select>
          </div>
          <div class="three wide field required">
            <label class="text-right full-width">งบ</label>
          </div>
          <div class="four wide field required">
            <select name="budged" id="budged" class="ui dropdown ai search full-width" (change)="budgedOnchange($event)">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of budged; index as i;" value="{{item.budgetId}}">{{item.budgetName}}</option>
            </select>
          </div>
        </div>

        <!-- Form row 3 -->
        <div class="inline fields">
          <div class="three wide field required">
            <label class="text-right full-width">หมวด</label>
          </div>
          <div class="four wide field required">
            <select name="category" id="category" class="ui dropdown ai search full-width" (change)="categoryOnchange($event)">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of category" value="{{item.categoryId}}">{{item.categoryName}}</option>
            </select>
          </div>
          <div class="three wide field required">
            <label class="text-right full-width">หมวดย่อย</label>
          </div>
          <div class="four wide field required">
            <select name="list" id="list" class="ui dropdown ai search full-width">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of list" value="{{item.listId}}">{{item.listName}}</option>
            </select>
          </div>
        </div>

        <!-- Form row 4 -->
        <div class="inline fields required">
          <div class="three wide field ">
            <label class="text-right full-width">ประเภทงบประมาณ</label>
          </div>
          <div class="four wide field required">
            <select name="budget" id="budget" class="ui dropdown ai search full-width">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of budgetList" value="{{item.lovId}}">{{item.value1}}</option>
            </select>
          </div>
          <div class="three wide field required">
            <label class="text-right full-width">จำนวนเงินขอเบิก</label>
          </div>
          <div class="four wide field">
            <input type="number" id="amountOfMoney" name="amountOfMoney">
          </div>
        </div>

        <!-- Form row 5 -->
        <div class="inline fields">
          <div class="three wide field ">
            <label class="text-right full-width">หักประกันสังคม</label>
          </div>
          <div class="four wide field">
            <input type="text" id="deductSocial" name="deductSocial">
          </div>
          <div class="three wide field ">
            <label class="text-right full-width">ภาษีหัก ณ ที่จ่าย</label>
          </div>
          <div class="four wide field">
            <input type="number" id="withholding" name="withholding">
          </div>
        </div>

        <!-- Form row 6 -->
        <div class="inline fields">
          <div class="three wide field ">
            <label class="text-right full-width">อื่น ๆ</label>
          </div>
          <div class="four wide field">
            <input type="text" id="other" name="other">
          </div>
          <div class="three wide field ">
            <label class="text-right full-width">จำนวนเงินขอรับ</label>
          </div>
          <div class="four wide field">
            <input type="number" id="amountOfMoney1" name="amountOfMoney1">
          </div>
        </div>

        <!-- Form row 7 -->
        <div class="inline fields">
          <div class="three wide field ">
            <label class="text-right full-width">เลขที่เอกสารขอเบิก</label>
          </div>
          <div class="four wide field">
            <input type="text" id="numberRequested" name="numberRequested">
          </div>
          <div class="three wide field ">
            <label class="text-right full-width">เลขที่เอกสารขอจ่าย</label>
          </div>
          <div class="four wide field">
            <input type="text" id="documentNumber" name="documentNumber">
          </div>
        </div>

        <!-- Form row 8 -->
        <div class="inline fields">
          <div class="three wide field ">
            <label class="text-right full-width">คำอธิบายรายการ</label>
          </div>
          <div class="eleven wide field">
            <input type="text" id="itemDescription" name="itemDescription">
          </div>
        </div>
        <!-- Form row 9 -->
        <div class="inline fields">
          <div class="three wide field ">
            <label class="text-right full-width">หมายเหตุ</label>
          </div>
          <div class="eleven wide field">
            <textarea rows="4" id="note" name="note"></textarea>
          </div>
        </div>
      </div>
      <br>

      <!-- Form Person -->
      <div class="ui form attached segment">    
          <div class="field ">
            <label class="text-center full-width">
              <h3>รายละเอียดการจ่ายเงิน</h3>
            </label>
          </div>
          <br>
          <div class="three fields"  *ngFor="let num of listButton;" >
            <div class="field required">
              <label>วิธีการจ่าย</label>
              <select name="pmmethod" id="pmmethod" class="ai ui dropdown  search full-width">
                <option value="">กรุณาเลือก</option>
                <option *ngFor="let item of pmmethodList" value="{{item.lovId}}">{{item.value1}}</option>
              </select>
            </div>
            <div class="field required">
              <label>เลขที่อ้างอิงการจ่าย</label>
              <input type="text" id="referenceNumber" name="referenceNumber">
            </div>
            <div class="field required">
              <label>วันที่สั่งจ่าย</label>
              <div class="frame ui calendar" id="datePersons" style="width:100%">
                <div class="ui input left icon">
                  <i class="time icon"></i>
                  <input type="text"  id="datePersons1" name="datePersons1">
                </div>
              </div>
            </div>
            <div class="field required">
              <label>จำนวนเงินที่จ่าย</label>
              <input type="number" id="amountPaid" name="amountPaid">
            </div>
            <div class="field required">
              <label>ผู้รับเงิน</label>
              <input type="text" id="payee" name="payee">
            </div>        
            <div class="field">
              <label>&nbsp;</label>
              <div class="eight wide field " *ngIf="num === numberButton; then thenBlock; else elseBlock"></div>
              <ng-template #thenBlock>
                <button class="ui mini  green button" type="button" id="addFile" (click)="onAddButton(num);"  [disabled]="statusSendBackFile"><i class="add icon"></i>เพิ่ม</button>
            </ng-template>
            <ng-template #elseBlock>
                <button class="ui mini  red button" type="button" (click)="deleteButton(num);"><i class="trash alternate icon"></i>ลบ</button>                        
            </ng-template>
          </div>
          </div>
        </div>
     


      <br>
      <!-- Button -->
      <div class="ui center aligned grid ">
        <div class="sixteen wide column">

          <button class="ui mini primary button" (click)="saveData()">
            <i class="save icon"></i>
            บันทึก
          </button>
          <button class="ui mini  button" [routerLink]="[ '/int06/10'] ">
            <i class="close icon"></i>
            ยกเลิก
          </button>
        </div>
      </div>

    </div>
  </div>
</div>