<div class="ui grid">
  <div class="sixteen wide column">
      <h2 class="ui header">กระดาษทำการจ่ายวัตถุดิบ</h2>

      <div class="ui top attached header">
          <span>Criteria</span>
      </div>

      <form ngNativeValidate (submit)="onClickShow($event)">
          <div class="ui attached segment">
              <div class="ui form">
                  <div class="inline fields">
                      <div class="eight wide field ">
                          <label class="custom-label-w-25">ทะเบียนสรรพสามิต</label>
                          <select class="ui search dropdown ope04-1" name="exciseId" id="exciseId" (change)="changeExiseId()" style="width: 100% !important">
                        <option *ngFor="let list of exciseIdArr" value="{{list}}">{{list}}</option>
                    </select>
                      </div>
                      <div class="eight wide field ">
                          <label class="custom-label-w-20">เลขประจำตัวผู้เสียภาษี</label>
                          <input type="text" class="custom-readonly" placeholder="เลขประจำตัวผู้เสียภาษี" readonly="" value="-">
                      </div>
                  </div>

                  <div class="inline fields">
                      <div class="eight wide field">
                          <label class="custom-label-w-25">ผู้ประกอบการ </label>
                          <input type="text" class="custom-readonly" placeholder="ผู้ประกอบการ" name="companyName" id="companyName" readonly="" value="{{firstDataList.companyName}}">
                      </div>
                      <div class="eight wide field ">
                          <label class="custom-label-w-20">เลขที่วิเคราะห์</label>
                          <input type="text" class="custom-readonly" placeholder="เลขที่วิเคราะห์" name="analysNumber" id="analysNumber" readonly="" value="{{firstDataList.analysNumber}}">
                      </div>
                  </div>

                  <div class="inline fields">
                      <div class="eight wide field">
                          <label class="custom-label-w-25">ประเภท </label>
                          <input type="text" class="custom-readonly" placeholder="ประเภท" readonly="" value="-">
                      </div>
                      <div class="eight wide field ">
                          <label class="custom-label-w-20">พิกัด</label>
                          <input type="text" class="custom-readonly" placeholder="พิกัด" name="productType" id="productType" readonly="" value="{{firstDataList.productType}}">
                      </div>
                  </div>

                  <div class="inline fields">
                      <div class="three wide field">
                          <label class="custom-label-w-25">รอบระยะเวลาการตรวจสอบ</label>
                      </div>
                      <div class="four wide field">
                          <div class="ui calendar" id="calendarFront" style="width:100%">
                              <div class="ui input left icon">
                                  <i class="time icon"></i>
                                  <input type="text" name="startDate" id="startDate" autocomplete="off" [attr.readonly]="null" placeholder="MM/YYYY" [attr.required]="true">
                              </div>
                          </div>
                      </div>
                      <div class="four wide field">
                          <label>-</label>
                          <div class="ui calendar" id="calendarLast" style="width:100%">
                              <div class="ui input left icon">
                                  <i class="time icon"></i>
                                  <input type="text" name="endDate" id="endDate" autocomplete="off" [attr.readonly]="null" placeholder="MM/YYYY" [attr.required]="true">
                              </div>
                          </div>
                      </div>
                  </div>

                  <br>
                  <div class="ui center aligned grid">
                      <div class="six wide column">
                          <button class="ui mini primary button" type="submit">
              <i class="file icon"></i>
              แสดงกระดาษทำการ
            </button>
                          <button class="ui mini button" type="reset">
              <i class="close icon"></i>
              ยกเลิก
            </button>
                      </div>
                  </div>
              </div>
          </div>
      </form>

      <div class="ui segment" *ngIf="showData">
        <div class="ui grid center aligned">
            <div class="sixteen wide column">
                {{firstDataList.companyName}}
                <br> กระดาษทำการรับวัตถุดิบ
                <br> เดือน {{startDate}} - {{endDate}}
            </div>
        </div>
        <br>
        <div style="overflow-x: scroll;">
            <table class="ui small celled table" style="width: 120%;">
                <thead>
                    <tr style="text-align: center;">
                        <th>ลำดับ</th>
                        <th>รายการ</th>
                        <th>ใบกำกับภาษี</th>
                        <th>บัญชีประจำวัน</th>
                        <th>งบเดือน</th>
                        <th>{{row[0].column6}}</th>
                        <th>ค่าสูงสุดของข้อมูล</th>
                        <th>ผลต่างของคู่ข้อมูล</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr *ngIf="MonthDataList != null">
                        <td>1</td>
                        <td>{{MonthDataList.product1}}</td>
                        <td>{{row[1].column3}}</td>
                        <td>{{row[1].column4}}</td>
                        <td>{{MonthDataList.monthRecieve1}}</td>
                        <td>{{row[1].column6}}</td>
                        <td>{{max[1]}}</td>
                        <td *ngIf="diff[1] != '0'" style=" background-color: red">
                            <span style="float: right; color: white"><b>{{diff[1]}}</b></span>
                        </td>
                        <td *ngIf="diff[1] == '0'" style="background-color: #00da00">
                            <span style="float: right; color: white"><b>{{diff[1]}}</b></span>
                        </td>
                    </tr>
                    <tr *ngIf="MonthDataList != null">
                        <td>2</td>
                        <td>{{MonthDataList.product2}}</td>
                        <td>{{row[2].column3}}</td>
                        <td>{{row[2].column4}}</td>
                        <td>{{MonthDataList.monthRecieve2}}</td>
                        <td>{{row[2].column6}}</td>
                        <td>{{max[2]}}</td>
                        <td *ngIf="diff[2] != '0'" style=" background-color: red">
                            <span style="float: right; color: white"><b>{{diff[2]}}</b></span>
                        </td>
                        <td *ngIf="diff[2] == '0'" style="background-color: #00da00">
                            <span style="float: right; color: white"><b>{{diff[2]}}</b></span>
                        </td>
                    </tr>
                    <tr *ngIf="MonthDataList != null">
                        <td>3</td>
                        <td>{{MonthDataList.product3}}</td>
                        <td>{{row[3].column3}}</td>
                        <td>{{row[3].column4}}</td>
                        <td>{{MonthDataList.monthRecieve3}}</td>
                        <td>{{row[3].column6}}</td>
                        <td>{{max[3]}}</td>
                        <td *ngIf="diff[3] != '0'" style=" background-color: red">
                            <span style="float: right; color: white"><b>{{diff[3]}}</b></span>
                        </td>
                        <td *ngIf="diff[3] == '0'" style="background-color: #00da00">
                            <span style="float: right; color: white"><b>{{diff[3]}}</b></span>
                        </td>
                    </tr>
                    <tr *ngIf="MonthDataList != null">
                        <td>4</td>
                        <td>{{MonthDataList.product4}}</td>
                        <td>{{row[4].column3}}</td>
                        <td>{{row[4].column4}}</td>
                        <td>{{MonthDataList.monthRecieve4}}</td>
                        <td>{{row[4].column6}}</td>
                        <td>{{max[4]}}</td>
                        <td *ngIf="diff[4] != '0'" style=" background-color: red">
                            <span style="float: right; color: white"><b>{{diff[4]}}</b></span>
                        </td>
                        <td *ngIf="diff[4] == '0'" style="background-color: #00da00">
                            <span style="float: right; color: white"><b>{{diff[4]}}</b></span>
                        </td>
                    </tr>
                    <tr *ngIf="MonthDataList != null">
                        <td>5</td>
                        <td>{{MonthDataList.product5}}</td>
                        <td>{{row[5].column3}}</td>
                        <td>{{row[5].column4}}</td>
                        <td>{{MonthDataList.monthRecieve5}}</td>
                        <td>{{row[5].column6}}</td>
                        <td>{{max[5]}}</td>
                        <td *ngIf="diff[5] != '0'" style=" background-color: red">
                            <span style="float: right; color: white"><b>{{diff[5]}}</b></span>
                        </td>
                        <td *ngIf="diff[5] == '0'" style="background-color: #00da00">
                            <span style="float: right; color: white"><b>{{diff[5]}}</b></span>
                        </td>
                    </tr>
                    <tr *ngIf="MonthDataList != null">
                        <td>6</td>
                        <td>{{MonthDataList.product6}}</td>
                        <td>{{row[6].column3}}</td>
                        <td>{{row[6].column4}}</td>
                        <td>{{MonthDataList.monthRecieve6}}</td>
                        <td>{{row[6].column6}}</td>
                        <td>{{max[6]}}</td>
                        <td *ngIf="diff[6] != '0'" style=" background-color: red">
                            <span style="float: right; color: white"><b>{{diff[6]}}</b></span>
                        </td>
                        <td *ngIf="diff[6] == '0'" style="background-color: #00da00">
                            <span style="float: right; color: white"><b>{{diff[6]}}</b></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="ui center aligned grid">
            <div class="six wide column">
                <button class="ui mini primary button">
        <i class="print icon"></i>
        พิมพ์กระดาษทำการ
      </button>
                <button class="ui mini button" (click)="clearData()" type="reset">
        <i class="refresh icon"></i>
        ล้างข้อมูล
      </button>
            </div>
        </div>
    </div>

      <div class="ui top attached header">
          <span>อัพโหลด Template ข้อมูลสำหรับการรับวัตถุดิบ</span>
      </div>

      <form id="upload-form" ngNativeValidate (submit)="onUpload($event)">
          <div class="ui attached segment">
              <div class="ui form">
                  <div class="inline fields">
                      <div class="eight wide field ">
                          <label class="custom-label-w-25">เลือกไฟล์ Template ข้อมูล</label>
                          <input type="file" name="fileExel" id="fileExel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onChangeUpload($event)" required>
                      </div>
                  </div>
              </div>

              <div class="ui center aligned grid">
                  <div class="four wide column">
                      <button class="ui mini primary button" type="submit">
                          <i class="upload icon"></i>
                          อัพโหลด
                      </button>
                      <button class="ui mini button" type="reset">
                          <i class="trash outline icon"></i>
                          ลบไฟล์
                      </button>
                  </div>
              </div>
          </div>
      </form>

      <br>
      <div class="ui grid center aligned">
          <div class="sixteen wide column">
              <button class="ui mini button" routerLink="/select-form/สินค้า/สินค้าน้ำมันและผลิตภัณฑ์น้ำมัน">
        <i class="arrow left icon"></i>
        ย้อนกลับ
      </button>
          </div>
      </div>
  </div>
</div>