tr td:nth-child(4), td:nth-child(15), td:nth-child(16)
 {
    text-align: right;
}

tr td:nth-child(1), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10)
, td:nth-child(11), td:nth-child(12), td:nth-child(13), td:nth-child(14), td:nth-child(17), td:nth-child(18)
, td:nth-child(19), td:nth-child(20), td:nth-child(21), td:nth-child(22), td:nth-child(23), td:nth-child(24)
{
    text-align: center;
}

tr td:nth-child(2), 
 {
    text-align: left;
}