<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
    <span>รายงานการใช้ใบเสร็จรับเงินค่าปรับเปรียบเทียบคดี</span>
</div>

    <div style="overflow-x: scroll;">      
        <table id="table1" class="ui small celled table striped" style="width: 100%;">
            <thead>
                <tr class="center aligned">
                    <th rowspan="2">ลำดับที่</th>
                    <th rowspan="3">ประเภทคดี </th>
                    <th rowspan="2">จำนวนใบเสร็จ</th>
                    <th rowspan="2">จำนวนเงิน</th>
                    <th rowspan="2">สินบน</th>
                    <th rowspan="2">รางวัล</th>
                    <th rowspan="2">รายได้แผ่นดิน</th>                                           

                </tr>
           
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ภาษีน้ำมันและผลิตภัณฑ์น้ำมัน</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>ภาษีเครื่องดื่ม</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>ภาษีเครื่องไฟฟ้า</td>
                    <td>-</td>
                    <td>-</td>
                    <td> -</td>
                    <td> -</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>ภาษีแบตเตอรี่</td>
                    <td>-</td>
                    <td>-</td>
                    <td> -</td>
                    <td> -</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>ภาษีแก้วเลดคริสตัลและแก้วคริสตัลอื่น ๆ</td>
                    <td>-</td>
                    <td>-</td>
                    <td> -</td>
                    <td> -</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>ภาษีรถยนต์</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>ภาษีรถจักรยานยนต์</td>
                    <td>19</td>
                    <td>766,340.00</td>
                    <td>153,268.00</td>
                    <td>153,268.00</td>
                    <td>459,804.00</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>ภาษีเรือ</td>
                    <td>-</td>
                    <td>-</td>
                    <td> -</td>
                    <td> -</td>
                    <td> -</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>ภาษีเครื่องหอมและเครื่องสำอาง</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>ภาษีพรมและสิ่งทอปูพื้นอื่น ๆ</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>ภาษีหินอ่อนและหินแกรนิต</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>ภาษีสารทำลายชั้นบรรยากาศ</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>ภาษีสุราแช่</td>
                    <td>8</td>
                    <td>53,000.00</td>
                    <td>10,600.00</td>
                    <td>10,600.00</td>
                    <td>31,800.00</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>ภาษีสุราแช่ชุมชน</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>ภาษีสุรากลั่น</td>
                    <td>77</td>
                    <td>343,000.00</td>
                    <td>68,600.00</td>
                    <td>68,600.00</td>
                    <td>205,800.00</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>ภาษีสุรากลั่นชุมชน</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>ภาษียาสูบ</td>
                    <td>5</td>
                    <td>33,814.74</td>
                    <td>6,762.95</td>
                    <td>6,762.95</td>
                    <td>20,288.84</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>ภาษีไพ่</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>ชำรุด</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>รวม</td>
                    <td>&nbsp;</td>
                    <td>109</td>
                    <td>1,196,154.74</td>
                    <td>239,230.95</td>
                    <td>239,230.95</td>
                    <td>717,692.84</td>
                </tr>
            </tbody>
        </table>
    </div>