<div class="ui attached segment">
  <table class="ui  small celled table">
    <thead>
      <tr style="text-align: center;">
        <th rowspan="2">เลขที่บัญชีแยกประเภท</th>
        <th rowspan="2">ชื่อบัญชีแยกประเภท</th>
        <th rowspan="2">ยอดยกมา</th>
        <th rowspan="2">เดบิต</th>
        <th rowspan="2">เครดิต</th>
        <th rowspan="2">ยอดยกไป</th>
        <th colspan="2">แยกประเภท</th>
        <th rowspan="2">ผลต่าง</th>
      </tr>
      <tr style="text-align: center">
          <th>เดบิต</th>
          <th>เครดิต</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>1101010101</td>
        <td>เงินสดในมือ</td>
        <td>2,603,061.29</td>
        <td>1,219,664,529.45</td>
        <td>-1,218,298,224.40</td>
        <td>3,969,366.34</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>3969467.84</td>
      </tr>
      <tr>
        <td>1101010103</td>
        <td>บัตรภาษี</td>
        <td>0</td>
        <td>884,252.06</td>
        <td>-832,817.49</td>
        <td>51,434.57</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101010104</td>
        <td>เงินทดรองราชการ</td>
        <td>20,000.00</td>
        <td>0</td>
        <td>0</td>
        <td>20,000.00</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101010106</td>
        <td>เช็คในมือ</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101010110</td>
        <td>พักเงินสดรับ</td>
        <td>80,266,999.56</td>
        <td>34,355,578,028.69</td>
        <td>-34,220,607,143.57</td>
        <td>215,237,884.68</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101010112</td>
        <td>พักเงินนำส่ง</td>
        <td>0</td>
        <td>16,036.23</td>
        <td>16,036.23</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101010113</td>
        <td>พักรอ Clearing</td>
        <td>0</td>
        <td>15,998.92</td>
        <td>-15,998.92</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101020501</td>
        <td>เงินฝากคลัง</td>
        <td>1,965,704.18</td>
        <td>3,074,624.90</td>
        <td>-2,633,845.11</td>
        <td>2,406,483.97</td>
        <td>3,074,624.90</td>
        <td>-2,633,845.11</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101020603</td>
        <td>ง/ฝ ธนาคาร-ในงปม.</td>
        <td>0</td>
        <td>7,039,914.39</td>
        <td>-7,039,914.39</td>
        <td>0</td>
        <td>7,039,914.39</td>
        <td>-7,039,914.39</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>1101020604</td>
        <td>ง/ฝ ธนาคาร-นอกงปม.</td>
        <td>0</td>
        <td>1,889,511.50</td>
        <td>-1,889,511.50</td>
        <td>0</td>
        <td>1,889,500.00</td>
        <td>-1,889,511.50</td>
        <td>-11.5</td>
      </tr>
      <tr>
        <td>1101030199</td>
        <td>เงินฝากไม่มีรายตัว</td>
        <td>0</td>
        <td>394,171.95</td>
        <td>-394,171.95</td>
        <td>345</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2101010102</td>
        <td>จ/น การค้า-ภายนอก</td>
        <td>-10,776.00</td>
        <td>837,912.04</td>
        <td>-837,912.04</td>
        <td>-10,776.00</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2101010103</td>
        <td>รับสินค้า / ใบสำคัญ</td>
        <td>0</td>
        <td>634,077.63</td>
        <td>-634,077.63</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2101020101</td>
        <td>จ/น อปท.</td>
        <td>-1,720,683.97</td>
        <td>0</td>
        <td>-225,573.50</td>
        <td>-1,946,257.47</td>
        <td>-</td>
        <td>-225,573.50</td>
        <td>61,973.30</td>
      </tr>
      <tr>
        <td>2101020105</td>
        <td>จ/นเช็คขัดข้อง-บก</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2101020106</td>
        <td>จ/น สรก-รับแทนกัน</td>
        <td>-7,477,340.85</td>
        <td>3,187,374,465.37</td>
        <td>-3,199,952,299.04</td>
        <td>-20,055,174.52</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2101020198</td>
        <td>จน.อื่น-หน่วยงานรัฐ</td>
        <td>0</td>
        <td>181,408.72</td>
        <td>-181,408.72</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2111020199</td>
        <td>เงินรับฝากอื่น</td>
        <td>-2,603,840.65</td>
        <td>1,220,144,048.75</td>
        <td>-1,221,510,329.49</td>
        <td>-3,970,121.39</td>
        <td>1,220,144,048.75</td>
        <td>-1,221,510,329.49</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>2112010199</td>
        <td>เงินประกันอื่น</td>
        <td>-1,750.00</td>
        <td>1,750.00</td>
        <td>-9,915.00</td>
        <td>-9,915.00</td>
        <td>1,750.00</td>
        <td>-9,915.00</td>
        <td>-3,165.00</td>
      </tr>
      <tr>
        <td>3101010101</td>
        <td>ร/ดสูงต่ำคชจ.สุทธิ</td>
        <td>33,790,138.34</td>
        <td>0</td>
        <td>-33,790,138.34</td>
        <td>0</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>3102010101</td>
        <td>ร/ดสูงต่ำคชจ.สะสม</td>
        <td>-230,399,485.74</td>
        <td>33,727,680.04</td>
        <td>0</td>
        <td>-196,671,805.70</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>3102010102</td>
        <td>ผลสะสมแก้ไขผิดพลาด</td>
        <td>0</td>
        <td>64,737.80</td>
        <td>64,737.80</td>
        <td>394</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>3105010101</td>
        <td>ทุนของหน่วยงาน</td>
        <td>-3,987,323.78</td>
        <td>0</td>
        <td>0</td>
        <td>-3,987,323.78</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>รวม</td>
        <td>&nbsp;</td>
        <td>-127,555,297.62</td>
        <td>40,031,523,148.44</td>
        <td>-39,908,772,507.06</td>
        <td>-4,965,465.30</td>
        <td>1,232,149,838.04</td>
        <td>-1,233,309,088.99</td>
        <td>4028264.64</td>
      </tr>
    </tbody>
  </table>
  <div class="ui center aligned grid">
    <div class="eight wide column">
      <button class="ui mini primary button width-100">
        <i class="print  icon"></i>
        ส่งออก
      </button>

    </div>
  </div>

</div>