<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui large ordered steps" style="width: 280px;">
      <div class=" step">
        <div class="content">
          <div class="title">ข้อมูล</div>
          <div class="description"> เลขอ้างอิง (ฎีกา)</div>
        </div>
      </div>
      <div class=" step" style="width: 200px;">
        <div class="content">
          <div class="title">ข้อมูล</div>
          <div class="description">เจ้าหน้าที่</div>
        </div>
      </div>
      <div class=" step">
        <div class="content">
          <div class="title">ปฏิทิน</div>
          <div class="description">การเบิกเบี้ยเลี้ยง
          </div>
        </div>
      </div>
      <div class=" step">
        <div class="content">
          <div class="title">กระดาษ</div>
          <div class="description">ทำการตรวจสอบการเบิกค่าเบี้ยเลี้ยง
          </div>
        </div>
      </div>
      <div class="active step">
        <div class="content">
          <div class="title"> เปรียบเทียบ</div>
          <div class="description">สรุปรายการขอเบิก
          </div>
        </div>
      </div>
    </div>


    <div class="ui top attached header">
      <span>ตรวจสอบสรุปรายการขอเบิก

      </span>
    </div>

    <div class="ui attached segment">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field ">
            <label class="custom-label-w-25">รายงานสรุปรายการขอเบิก
            </label>
            <input type="file" />
          </div>
        </div>

        <div class="ui center aligned grid">
          <div class="eight wide column">
            <button class="ui mini primary button" (click)="uploadFile()">
              <i class="upload icon"></i>
              อัพโหลด
            </button>
            <button class="ui mini button" (click)="clearFile()">
              <i class="trash outline icon"></i>
              ล้างข้อมูล
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<div class="ui top attached header">
  <span>เปรียบเทียบสรุปรายการขอเบิก

  </span>
</div>

<div class="ui attached segment">
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="three wide column">
      <b>หมายเลขอ้างอิง (ฎีกา)</b>
    </div>
    <div class="two wide column">P590000022</div>
    <div class="two wide column">
      <b>จำนวนเจ้าหน้าที่</b>
    </div>
    <div class="one wide column">5</div>
    <div class="one wide column">
      <b>เดือน</b>
    </div>
    <div class="two wide column">มกราคม </div>
    <div class="one wide column">
      <b>พ.ศ</b>
    </div>
    <div class="one wide column">2561</div>
  </div>
  <br>
  <table class="ui small celled table">
    <thead>
      <tr style="text-align: center;">
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>ตำแหน่ง</th>
        <th>ประเภท</th>
        <th>เบี้ยเลี้ยง</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>กนกพรรณ </td>
        <td>เกตุสัตบรรณ</td>
        <td>นักวิชาการคอมพิวเตอร์ชำนาญการ</td>
        <td>ข้าราชการ</td>
        <td style="text-align: right;">810</td>

      </tr>
      <tr>
        <td>ดลพร </td>
        <td>แหวนวงษ์</td>
        <td>นักวิชาการคอมพิวเตอร์ปฏิบัติการ</td>
        <td>พนักงานราชการ</td>
        <td style="text-align: right;">960</td>
      </tr>
      <tr>
        <td>ธนธรณ์ </td>
        <td>วงศ์พิทักษ์</td>
        <td>นักวิชาการคอมพิวเตอร์ปฏิบัติการ</td>
        <td>พนักงานราชการ</td>
        <td style="text-align: right;">960</td>

      </tr>
      <tr>
        <td>นภสร </td>
        <td>ศรีสงคราม</td>
        <td>นักวิชาการคอมพิวเตอร์ปฏิบัติการ</td>
        <td>พนักงานราชการ</td>
        <td style="text-align: right;">1200</td>

      </tr>
      <tr>
        <td>ปฐมพร </td>
        <td>เอื้ออารีมิตร</td>
        <td>นักวิชาการคอมพิวเตอร์ปฏิบัติการ</td>
        <td>พนักงานราชการ</td>
        <td>1200</td>

      </tr>
    </tbody>
  </table>
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="three wide column">
      <b>รวม</b>
    </div>
    <div class="two wide column">5130</div>
    <div class="three wide column">
      <b>สรุปรายการขอเบิก</b>
    </div>
    <div class="one wide column">4950</div>
    <div class="three wide column">
      <b>ผลต่าง</b>
    </div>
    <div class="one wide column">180</div>
  </div>
</div>
<br>

<div class="ui center aligned grid">
  <div class="eight wide column">
    <button class="ui mini primary button" routerLink="/int06/3/3">
      <i class="arrow left icon"></i>
      ย้อนกลับ
    </button>
  </div>
</div>