<!-- start step -->
<div class="ui ordered steps" style="width: 100%;">
  <div class="completed  step">
    <div class="content">
      <div class="title"></div>
      <div class="description">รายละเอียดหัวกระดาษทำการ</div>
    </div>
  </div>
  <div class="completed  step">
    <div class="content">
      <div class="title"></div>
      <div class="description">หลักฐานการจ่ายเงิน (แบบ 8708 ส่วนที่ 2)</div>
    </div>
  </div>
  <div class="completed  step">
    <div class="content">
      <div class="title"></div>
      <div class="description">ใบเบิกค่าใช้จ่ายฯ (แบบ 8708 ส่วนที่ 1)</div>
    </div>
  </div>
  <div class="active  step">
      <div class="content">
        <div class="title"></div>
        <div class="description">แนบหลักฐาน</div>
      </div>
    </div>
</div>
<!-- end step -->
<div class="ui top centered attached header segment" style="background: #1e83db;color: white">
  <span>รายงานประมาณการค่าใช้จ่ายในการเดินทาง</span>
</div>
<div class="ui form center aligned" id="int09-1"  ngNativeValidate>
  <div class="ui attached  segment">
   
    <form  (ngSubmit)="onSubmit()">
    <div class="ui two column centered grid">
     
        <div class="four column centered row">        
            <div class="column right aligned"><label>ปีงบประมาณ</label></div>
            <div class="column"><input  type="file" id="avatar" (change)="onFileChange($event)"></div>
            <div class="column"></div>        
        </div>  
      
    </div>

    <div class="ui center aligned grid">
      <div class="eight wide column">
        <button class="ui  primary button" type="submit" >อัปโหลด</button>
        <button class="ui  grey button" type="button" (click)="clickSave()">บันทึก</button>
      </div>
    </div>
  </form>         
    <br>


    <br>
      <table id="tableData" class="ui small celled table" style="width: 100%">
        <thead>
          <tr style="text-align: center;">
            <th>ลำดับที่</th>
            <th>ชื่อเอกสาร</th>
            <th>ขนาด (MB)</th>
            <th>Action</th>
          </tr>
        </thead>
       
      </table>
      <br><br>
    <div class="ui form center aligned grid">
        <button class="ui red button">ลบ</button>
    </div>  
    <br>  
    </div>        
        
  </div>