<div class="ui grid">
  <div class="sixteen wide column">
    <h2 class="ui header">จัดทำแผนการตรวจปฏิบัติการ</h2>

    <div class="ui top attached header">
      <span>จัดทำแผนการตรวจปฏิบัติการ</span>
    </div>


    <div class="ui segment">
      <div class="ui grid">
        <div class="sixteen wide column">
          <table id="dataTable" style="width: 100%;" class="ui small collapsing celled table aligned hover striped selectable">
            <thead>
              <tr>
                <th style="text-align: center">ปีงบประมาณ</th>
                <th style="text-align: center">วันที่จัดทำเเผน</th>
                <th style="text-align: center">เรื่อง</th>
                <th style="text-align: center">เเสดง</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    
   
      <br>


      <div class="ui center aligned grid">
        <div class="sixteen wide column">
          <button class="ui mini primary button " routerLink="/cop01/2">
            <i class="arrow left icon"></i>
            ย้อนกลับ
          </button>
          <button class="ui mini primary button width-115" routerLink="/cop01/1">
            ถัดไป
            <i class="arrow right icon"></i>
          </button>
        </div>
      </div>
    

  </div>
</div>